<%= render 'gobierto_admin/gobierto_people/configuration/navigation' %>

<table class="people-list">
  <tr>
    <th><%= t(".header.key") %></th>
    <th><%= t(".header.value") %></th>
    <th></th>
  </tr>

  <tbody>
    <% @settings.each do |setting| %>
      <%= form_for setting, url: admin_people_configuration_setting_path(setting), method: :patch do |f| %>
        <tr id="setting-item-<%= setting.id %>" class="<%= cycle("odd", "even") %>">
          <td>
            <%= t(".settings.#{f.object.key}") %>
          </td>
          <td>
            <%= f.text_area :value, cols: 50 %>
          </td>
          <td>
            <%= f.submit t(".update") %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
