<div class="breadcrumb stick_ip">
	<div class="column">
		
		<div class="bread_hover">
			<div class="bread_links">
				<%= link_to '2015' %> » <%= link_to 'Gastos' %> » <%= link_to 'Servicios Publicos Basicos' %> »  
			</div>

			<div class="line_browser clearfix">
				
				<div class="bread_links clearfix">
					<%= link_to '2015' %> » <%= link_to 'Gastos' %> » <%= link_to 'Servicios Publicos Basicos' %> »  
				</div>

				<div class="col" data-level="0">
					<table>
					<tr>
						<td><%= link_to '2015' %></td>
					</tr>
					<tr>
						<td><%= link_to '2014' %></td>
					</tr>
					<tr>
						<td><%= link_to '2013' %></td>
					</tr>
					<tr>
						<td><%= link_to '2012' %></td>
					</tr>
					<tr>
						<td><%= link_to '2011' %></td>
					</tr>
					<tr>
						<td><%= link_to '2010' %></td>
					</tr>
					</table>
				</div>

				<div class="col" data-level="1">
					<table>
					<tr>
						<td><%= link_to 'Gastos' %></td>
					</tr>
					<tr>
						<td><%= link_to 'Ingresos' %></td>
					</tr>
					</table>
				</div>

				<div class="col" data-level="2">
					<table>
					<tr>
						<td><%= link_to 'Impuestos directos' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'Impuestos indirectos' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'Tasas y otros ingresos' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'Transferencias corrientes' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'Ingresos patromoniales' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'Enajenación de inv. reales' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'Transferencias de capital' %></td>
						<td class="qty">5,9%</td>
					</tr>
					</table>
				</div>

				<div class="col" data-level="3">
					<table>
					<tr>
						<td><%= link_to 'Impuestos sobre la renta' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'Impuestos sobre el capital' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'Impuesto Actividades Económicas' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'Impuestos directos extinguidos' %></td>
						<td class="qty">5,9%</td>
					</tr>
					</table>
				</div>

				<div class="col" data-level="4">
					<table>
					<tr>
						<td><%= link_to 'IBI Rústico' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'IBI Urbano' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'IBI Especial' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'Vehículos' %></td>
						<td class="qty">5,9%</td>
					</tr>
					<tr>
						<td><%= link_to 'Incremento Valor Terrenos' %></td>
						<td class="qty">5,9%</td>
					</tr>
					</table>
				</div>

			</div>

		</div>

	</div>
</div>

<div class="column">
	<div class="budget_line">

		<header>
			<h1>Servicios Públicos Básicos</h1>		
			<div class="social_links_container">
				<a href="#" class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|XXX"><i class="fa fa-twitter"></i></a>
				<a href="#" class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|XXX"><i class="fa fa-facebook"></i></a>
				<a href="#" class="social_share code" data-share-network="code" data-track-event="Social Share|Click Facebook|XXX"><i class="fa fa-code"></i></a>
			</div>

		</header>

		<div class="separator"></div>

		<div class="pure-g numbers_intro">

			<div class="pure-u-1 pure-u-md-1-2 p_h_l_1">
				<ul>
					<li>Por habitante <strong>nos gastamos <span class="highlight">1.403€</span></strong>.</li>
					<li>En total son <strong><span class="highlight">4442M€</span></strong>.</li>
					<li>El año pasado gastamos un <span class="highlight"><strong>28% más</strong></span> de lo planeado.</li>
					<li>Debemos <strong><span class="highlight">4.567M€</span></strong>, un 10% menos que hace un año.</li>
				</ul>
			</div>

			<div class="pure-u-1 pure-u-md-1-2 p_h_r_1 description">
				<p>Comprende esta área todos aquellos gastos originados por los servicios públicos básicos que, con carácter obligatorio, deben prestar los municipios, por sí o asociados, con arreglo al artículo 26.1 de la Ley 7/1985, de 2 de abril, reguladora de las Bases del Régimen Local, o, en su caso, las provincias con arreglo al artículo 31.2 de la misma Ley, atendiendo a su función de cooperación y asistencia a los municipios. A estos efectos, se incluyen, en los términos que se exponen para cada una de ellas, cuatro políticas de gasto básicas: seguridad y movilidad ciudadana, vivienda y urbanismo, bienestar comunitario y medio ambiente.</p>
			</div>

		</div>

		<div class="separator"></div>

		<div class="pure-g block">

			<div class="pure-u-1 pure-u-md-1-2 p_h_l_1">
				<h2>Partidas</h2>
				wadus
			</div>

			<div class="pure-u-1 pure-u-md-1-2 p_h_r_1">
				<h2>Distribución de los gastos de esta partida</h2>
				wadus
			</div>

		</div>

		<div class="separator"></div>

		<div class="pure-g block">

			<div class="pure-u-1 pure-u-md-1-2 p_h_l_1">
				<h2>Evolución</h2>
				wadus
			</div>

			<div class="pure-u-1 pure-u-md-1-2 p_h_r_1">
				<h2>Contexto</h2>
				wadus
			</div>

			<div class="pure-u-1">

			<div class="filter m_v_2">
			
				<%= link_to 'Por habitante', '', class:'active' %>
				<%= link_to 'En total' %>
				
				<span class="separator_v"></span>

				<span class="label">Visualizar:</span>
				<%= link_to 'Evolución', '', class:'active' %>
				<%= link_to 'Distribución' %>
				
			</div>

		</div>

		</div>

	</div>
</div>