
<div class="column">

	<header class="section clearfix">

		<%= render 'sandbox/1605/share_links' %>
		<h1>Consultas</h1>

		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2 description">
				<p>Espacio del Ayuntamiento de Santander para recopilar la opinión de los vecinos de la ciudad sobre distintos temas. Queremos tus opiniones para que entre todos tomemos mejores deciciones. Participa en las consultas abiertas o envía tus ideas para mejorar la ciudad.</p>

				<ul>
					<li><%= link_to 'Más información' %></li>
					<li><%= link_to 'Cómo participar' %></li>
					<li><%= link_to 'Preguntas frecuentes' %></li>
				</ul>
			</div>
			<div class="pure-u-1 pure-u-md-1-2">
				<%= image_tag('illustrations/cuentas.jpg', class: 'side_50') %>
			</div>
			
		</div>

	</header>

	<div class="block">

		<h2>Consultas abiertas</h2>

		<div class="consultation_list clearfix">

			<div class="consultation">
				<h3><%= link_to '¿Qué opinas sobre las opciones que te da tu municipio a la hora de participar?', 'participation_consultation' %></h3>
				<div class="meta">
					Aporta tu opinión<br>
					hasta el <strong>27 de junio</strong>
				</div>
				<div class="act">
					<%= link_to 'Participa ahora', '', class: 'button' %>
				</div>
			</div>

			<div class="consultation">
				<h3><%= link_to '¿Qué opinas sobre las opciones que te da tu municipio a la hora de participar?' %></h3>
				<div class="meta">
					Aporta tu opinión<br>
					hasta el <strong>27 de junio</strong>
				</div>
				<div class="act">
					<%= link_to 'Participa ahora', '', class: 'button' %>
				</div>
			</div>

			<!-- if user not logged in -->
			<div class="consultation get_lead">
				<h3>Recibe un alerta en tu correo-e sobre los procesos que se pongan en marcha: </h3>
				<form>
					<input type="email" value="" placeholder="Tu correo-e">
					<button>Suscribete</button>
					<div class="disclaimer">No spam, date de baja cuando quieras</div>
				</form>
			</div>

		</div>

	</div>


	<div class="separator"></div>

	<div class="block">

		<h2>Consultas Pasadas</h2>
		<p>Están son algunas de las cosas por las que os hemos preguntado en el pasado. Consulta los resultados.</p>

		<div class="consultation_list clearfix">

			<div class="consultation stats">
				<p>Hemos realizado <span class="highlight">123 consultas</span>. </p>
				<p><span class="highlight">1.234 personas</span> habéis enviado más de <span class="highlight">12.345 respuestas</span>.</p>
			</div>

			<div class="consultation closed">
				<h3><%= link_to '¿Qué opinas sobre las opciones que te da tu municipio a la hora de participar?' %></h3>
				<div class="meta">
					<div class="dates">
						27 de enero<br>
						27 de febrero
					</div>
					<div class="participants">
						1.234 participantes
					</div>
				</div>
				<div class="act">
					<%= link_to 'Ver resultados', '', class: 'button' %>
				</div>
			</div>

			<div class="consultation closed">
				<h3><%= link_to '¿Qué opinas sobre las opciones que te da tu municipio a la hora de participar?' %></h3>
				<div class="meta">
					<div class="dates">
						27 de enero<br>
						27 de febrero
					</div>
					<div class="participants">
						1.234 participantes
					</div>
				</div>
				<div class="act">
					<%= link_to 'Ver resultados', '', class: 'button' %>
				</div>
			</div>

		</div>

	</div>

</div>