<%= render 'gobierto_admin/gobierto_budgets/shared/tabs' %>
<%= link_to update_annual_data_admin_gobierto_budgets_options_path, method: :put, data: { confirm: t(".confirm_update_annual_data") } do %>
  <i class="fas fa-refresh"></i>
  <%= t('.update_annual_data') %>
<% end %>

<div class="pure-g">
<%= form_for @options_form, url: admin_gobierto_budgets_options_path, as: :gobierto_budgets_options, method: :put do |f| %>

  <div class="pure-u-1 pure-u-md-16-24">
    <h2><%= title t('.options') %></h2>

    <div class="form_item">
      <div class="options">

        <div class="option">
          <%= f.check_box :elaboration_enabled %>
          <%= f.label :elaboration_enabled do %>
            <span></span>
            <%= t('.elaboration') %>
            <div class="inline_help">
              <%= t('.elaboration_desc1') %>
              <%= t('.elaboration_desc2_html') %>
            </div>
          <% end %>
        </div>

        <div class="option">
          <%= f.check_box :budget_lines_feedback_enabled, data: {toggle: "feedback_enabled"} %>
          <%= f.label :budget_lines_feedback_enabled do %>
            <span></span>
            <%= t('.feedback') %>
            <div class="inline_help">
              <%= t('.feedback_desc') %>
            </div>
          <% end %>
        </div>

        <div class="form_item input_text" data-toggle-target="feedback_enabled">
          <%= f.label :feedback_emails do %>
            <%= f.object.class.human_attribute_name(:feedback_emails) %>
            <%= attribute_indication_tag required: true %>
          <% end %>
          <%= f.text_field :feedback_emails %>
          <div class="inline_help">
            <%= t('.feedback_emails_desc') %>
          </div>
        </div>

        <div class="option">
          <%= f.check_box :receipt_enabled, data: { toggle: "receipt_enabled" } %>
          <%= f.label :receipt_enabled do %>
            <span></span>
            <%= t('.receipt') %>
            <div class="inline_help">
              <%= t('.receipt_desc1') %>
              <%= t('.receipt_desc2_html') %>
            </div>
          <% end %>
        </div>

        <div class="form_item input_text" data-toggle-target="receipt_enabled">
          <%= f.label :receipt_configuration do %>
            <%= f.object.class.human_attribute_name(:receipt_configuration) %>
            <%= attribute_indication_tag required: true %>
          <% end %>
          <%= f.text_area :receipt_configuration %>
        </div>

        <div class="option">
          <%= f.check_box :comparison_tool_enabled, data: { toggle: "comparison" } %>
          <%= f.label :comparison_tool_enabled  do %>
            <span></span>
            <%= f.object.class.human_attribute_name(:comparison_tool_enabled) %>
            <div class="inline_help">
              <%= t('.comparison_tool_enabled_desc') %>
            </div>
          <% end %>
        </div>

        <div class="option_suboptions">

          <div class="option" data-toggle-target="comparison">
            <%= f.check_box :comparison_context_table_enabled %>
            <%= f.label :comparison_context_table_enabled do %>
              <span></span>
              <%= f.object.class.human_attribute_name(:comparison_context_table_enabled) %>
              <div class="inline_help">
                <%= t('.comparison_context_table_enabled_desc') %>
              </div>
            <% end %>
          </div>

          <div class="option" data-toggle-target="comparison">
            <%= f.check_box :comparison_compare_municipalities_enabled, data: { toggle: "municipalities" } %>
            <%= f.label :comparison_compare_municipalities_enabled do %>
              <span></span>
              <%= f.object.class.human_attribute_name(:comparison_compare_municipalities) %>
              <div class="inline_help">
                <%= t('.comparison_compare_municipalities_desc') %>
              </div>
            <% end %>

            <div class="form_item select_control p_1" data-toggle-target="municipalities">
              <%= f.select :comparison_compare_municipalities, f.object.comparison_compare_municipalities_text, { class: 'form_item' }, {multiple: true} %>
            </div>
          </div>

          <div class="option" data-toggle-target="comparison">
            <%= f.check_box :comparison_show_widget %>
            <%= f.label :comparison_show_widget do %>
              <span></span>
              <%= f.object.class.human_attribute_name(:comparison_show_widget) %>
              <div class="inline_help">
                <%= t('.comparison_show_widget_desc') %>
              </div>
            <% end %>
          </div>

        </div>

        <div class="option">
          <%= f.check_box :providers_enabled %>
          <%= f.label :providers_enabled do %>
            <span></span>
            <%= t('.providers') %>
            <div class="inline_help">
              <%= t('.providers_desc1') %>
            </div>
          <% end %>
        </div>

        <div class="option">
          <%= f.check_box :indicators_enabled %>
          <%= f.label :indicators_enabled do %>
            <span></span>
            <%= t('.indicators') %>
            <div class="inline_help">
              <%= t('.indicators_desc1') %>
            </div>
          <% end %>
        </div>

        <div class="option">
          <%= f.label :budgets_guide_page %>
          <%= f.select :budgets_guide_page, @available_pages.map{ |p| [p.title, p.id] }, { include_blank: true } %>
        </div>

      </div>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-2-24"></div>

  <%= render partial: 'gobierto_admin/shared/save_widget', locals: { f: f, levels: [], custom_submit_text: t('gobierto_admin.shared.save_widget.save') } %>

<% end %>
</div>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.gobierto_budgets_controller.options({
      municipalities_suggestion_url: '<%= @services_config.municipalities_suggestions_endpoint %>'
    });
  <% end %>
<% end %>
