<div class="pure-u-1 pure-u-md-1-3 card_container <%= card_class %>" data-type-first="<%= data_type_one %>" data-type-second="<%= data_type_two %>" data-freq="<%= data_freq %>">
  <div class="indicator_widget padded">
    <div class="front">
      <div class="widget_headline">
      	<h3 class="widget_title"></h3>
      	<i class="fas fa-question-circle fa-pull-right" aria-hidden="true"></i>
      	<a class="fb-sharer">
      		<i class="fab fa-facebook fa-pull-right" aria-hidden="true"></i>
      	</a>
      	<a class="tw-sharer">
      		<i class="fab fa-twitter fa-pull-right" aria-hidden="true"></i>
      	</a>
      </div>
      <div class="widget_body widget_comparison">
        <div class="widget_figure first"><span class="figure figure-first"></span> <span><%= t("gobierto_observatory.cards.#{ card_class }.figure_first", place: @site.organization_name) %></span></div>
        <div class="widget_figure second"><span class="figure figure-second"></span> <span><%= t("gobierto_observatory.cards.#{ card_class }.figure_second", place: @site.organization_name) %></span></div>
        <span class="fa-pull-right widget_pct"></span>
      </div>

      <div class="widget_meta">
        <i class="fas fa-university" aria-hidden="true"></i>
        <div class="widget_src"></div>
        <div class="fa-pull-right">
          <i class="fas fa-clock-o" aria-hidden="true"></i>
          <small class="widget_freq"></small>
          <span class="widget-sep">/</span>
          <i class="fas fa-calendar-o" aria-hidden="true"></i>
          <small class="widget_updated"></small>
        </div>
      </div>
    </div>

    <div class="back">
      <div class="widget_headline">
      	<h3 class="widget_title"></h3>
      	<i class="fas fa-times fa-pull-right" aria-hidden="true"></i>
      	<a class="fb-sharer">
      		<i class="fab fa-facebook fa-pull-right" aria-hidden="true"></i>
      	</a>
      	<a class="tw-sharer">
      		<i class="fab fa-twitter fa-pull-right" aria-hidden="true"></i>
      	</a>
      </div>

      <div class="widget_info">
        <span class="js-data-desc"></span>. <%= t("gobierto_observatory.cards.updated") %> <span class="js-data-freq"></span>.
      </div>

      <div class="widget_meta">
        <i class="fas fa-university" aria-hidden="true"></i>
        <div class="widget_src"></div>
        <div class="fa-pull-right">
          <i class="fas fa-clock-o" aria-hidden="true"></i>
          <small class="widget_updated"></small>
        </div>
      </div>
    </div>
  </div>
</div>
