<% title t('.demography') %>

<div class="column">
  <main>
    <div id="gobierto-observatory-demography-map-app"
         class="pure-g gutters m_b_4"
         <%== gobierto_observatory_js_app_settings %>
         >

    <div id="gobierto_observatory-demography-map-app-container-spinner">
      <div id="gobierto-observatory-demography-map-app-spinner"></div>
    </div>
     <div class="gobierto_observatory-header">
       <div class="gobierto_observatory-header-left">
         <span class="gobierto_observatory-header-title"><%= t("gobierto_observatory.layouts.application.observatory") %> <span class="gobierto_observatory-symbol">/</span> <%= t('.demography') %></span>
         <span class="gobierto_observatory-header-council"><%= @site.organization_name %></span>
       </div>
       <div class="gobierto_observatory-header-right">
         <%= link_to t('.back'), gobierto_observatory_root_path, class: 'gobierto_observatory-header-back', data: { turbolinks: false }  %>
       </div>
     </div>

     <aside class="pure-u-1 pure-u-lg-7-24 gobierto_observatory-sidebar">
       <span class="gobierto_observatory-date-update"><%= t('.data_updated', date: I18n.l(Date.today.beginning_of_month, format: '%d de %B de %Y')) %></span>
       <div id="container-inhabitants" class="gobierto_observatory-container-charts">
         <div class="filter-close">
           <i class="fas fa-times"></i>
         </div>
         <div id="inhabitants"></div>
       </div>

       <div id="container-bar-nationality" class="gobierto_observatory-container-charts">
         <div class="filter-close">
           <i class="fas fa-times"></i>
         </div>
         <div id="bar-nationality"></div>
       </div>

       <div id="container-bar-sex" class="gobierto_observatory-container-charts">
         <div class="filter-close">
           <i class="fas fa-times"></i>
         </div>
         <div id="bar-sex"></div>
       </div>

       <div id="container-piramid-age-sex" class="gobierto_observatory-container-charts">
         <div class="filter-close">
           <i class="fas fa-times"></i>
         </div>
         <h3 class="mt1 graph-title"><%= t('.age_distribution') %></h3>
         <div id="piramid-age-sex"></div>
       </div>

       <div id="container-bar-by-studies" class="gobierto_observatory-container-charts">
         <div class="filter-close">
           <i class="fas fa-times"></i>
         </div>
         <h3 class="mt1 graph-title"><%= t('.studies_level') %></h3>
         <div id="bar-by-studies"></div>
       </div>

       <div id="container-bar-by-origin-spaniards" class="gobierto_observatory-container-charts">
         <div class="filter-close">
           <i class="fas fa-times"></i>
         </div>
         <h3 class="mt1 graph-title"><%= t('.origin_locals') %></h3>
         <div id="bar-by-origin-spaniards"></div>
         <span class="gobierto_observatory-legend">* <%= t('.born_in', place: @site.organization_name) %></span>
       </div>

       <div id="container-bar-by-origin-others" class="gobierto_observatory-container-charts">
         <div class="filter-close">
           <i class="fas fa-times"></i>
         </div>

         <h3 class="mt1 graph-title"><%= t('.origin_remote') %></h3>
         <div id="bar-by-origin-others"></div>
       </div>
     </aside>

     <div class="pure-u-1 pure-u-lg-17-24 gobierto_observatory-container-map">
       <div id="map">
         <button id="reset-filters" class="disabled">
           <i class="fas fa-trash-alt"></i>
           <span class="reset-filters-text"><%= t('.remove_selection') %></span>
         </button>
       </div>
     </div>
    </div>
  </main>
</div>
