<% title t('gobierto_observatory.layouts.application.observatory') %>

<div class="intro_section clearfix column">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-5">
      <p class="intro_desc"><%= t("gobierto_observatory.intro", place: @site.organization_name) %></p>
    </div>
    <div class="pure-u-1 pure-u-md-3-5">
      <%= image_tag('illustrations/integra.jpg', class: 'img-fluid side_50 pb1', alt: '') %>
    </div>
  </div>
</div>

<div class="column graphics">
  <nav class="sections-nav desktop_only_reset">
    <ul>
      <% %W{ poblacion empleo economia }.each do |subsection| %>
        <li><%= link_to t("gobierto_observatory.layouts.menu_subsections.#{subsection}"), "##{subsection}" %></li>
      <% end %>
    </ul>
  </nav>

  <div class="sections">
    <section id="poblacion" class="block">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1">
          <h2 class="with_description"><%= t("gobierto_observatory.layouts.menu_subsections.poblacion") %></h2>

          <% if observatory_map_enabled? %>
            <%= link_to gobierto_observatory_map_path, class: "gobierto-observatory-container-banner", data: { turbolinks: false } do %>
            <div class="gobierto-observatory-banner mb1 mt1">
              <%= image_tag('illustrations/background_observatory_map.png', class: 'gobierto-observatory-image side_100', alt: '') %>
              <div class="gobierto-observatory-footer">
                <p class="gobierto-observatory-footer--text">
                  <%= t("gobierto_observatory.layouts.menu_subsections.banner_map", place: @site.organization_name) %>
                </p>
                <div class="gobierto-observatory-footer--button">
                <span class="gobierto-observatory-footer--button-text"><%= t("gobierto_observatory.layouts.menu_subsections.demographic_observatory") %></span>
                <i class="fas fa-external-link-square-alt"></i>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>

          <div class="main_graphic">
            <p class="description"><%= t("gobierto_observatory.graphics.age_distribution.title") %></p>
            <!-- Filters -->
            <div class="m_t_1">
              <div class="inline_filter">
                <div id="population_pyramid-filters" class="button-group ib" role="group">
                  <button class="button-grouped active sort-G" data-toggle="0"><%= @site.place.name %></button>
                  <button class="button-grouped sort-G" data-toggle="1"><%= @site.place.province.autonomous_region.name(I18n.locale) %></button>
                  <button class="button-grouped sort-G" data-toggle="2"><%= t("gobierto_observatory.graphics.population_pyramid.country") %></button>
                </div>
              </div>
            </div>

            <!-- Chart -->
            <div id="population_pyramid"></div>
          </div>
        </div>
      </div>

      <div class="pure-g padded_cols">
        <%= render 'card_simple', {card_class: 'population_card', data_type: 'figure'} %>
        <%= render 'card_sparkline_table', {card_class: 'births', data_trend: 'up', data_type: 'percentage_by_thousand', data_freq: 'annual'} %>
        <%= render 'card_sparkline_table', {card_class: 'deaths', data_trend: 'down', data_type: 'percentage_by_thousand', data_freq: 'annual'} %>
        <%= render 'card_comparison', {card_class: 'active_pop', data_type_one: 'percentage', data_type_two: 'figure', data_freq: 'daily' } %>
        <%= render 'card_comparison', {card_class: 'houses', data_type_one: 'figure', data_type_two: 'figure', data_freq: 'daily' } %>
        <%= render 'card_bars', {card_class: 'cars', data_type: 'per_inhabitant', data_freq: 'annual' } %>
      </div>
    </section>

    <section id="empleo" class="block">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-3">
          <h2 class="with_description"><%= t("gobierto_observatory.layouts.menu_subsections.empleo") %></h2>
        </div>
      </div>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
          <p class="description"><%= t("gobierto_observatory.graphics.unemployment_rate.title") %></p>
          <div id="unemployment_rate" class="small_graphic"></div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
          <p class="description"><%= t("gobierto_observatory.graphics.unemployment_sex.title") %></p>
          <div id="unemployment_sex" class="small_graphic"></div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
          <p class="description"><%= t("gobierto_observatory.graphics.unemployment_age.title") %></p>
          <div id="unemployment_age" class="small_graphic"></div>
        </div>
      </div>

      <div class="pure-g padded_cols">
        <%= render 'card_simple', {card_class: 'ss_members', data_type: 'figure'} %>
        <%= render 'card_sparkline_table', {card_class: 'unemployed_sector', data_trend: 'down', data_type: 'figure', data_freq: 'daily'} %>
        <%= render 'card_sparkline_table', {card_class: 'contracts_sector', data_trend: 'up', data_type: 'figure', data_freq: 'daily'} %>
        <%= render 'card_simple', {card_class: 'freelancers', data_type: 'figure'} %>
        <%= render 'card_simple', {card_class: 'companies', data_type: 'figure'} %>
        <%= render 'card_comparison', {card_class: 'contracts_comparison', data_type_one: 'figure', data_type_two: 'figure', data_freq: 'daily' } %>
      </div>
    </section>

    <section id="economia" class="block">
      <div class="pure-g">
        <div class="pure-u-1">
          <h2 class="with_description"><%= t("gobierto_observatory.layouts.menu_subsections.economia") %></h2>

          <div id="rent_distribution" class="main_graphic">
            <div class="annotations">
              <p class="description"><%= t("gobierto_observatory.graphics.rent_distribution.title") %></p>
              <div class="rent-anno"><%= t("gobierto_observatory.graphics.rent_distribution.gross_income") %> <span class="arrow">↑</span></div>
              <div class="pop-anno"><%= t("gobierto_observatory.graphics.rent_distribution.inhabitants") %> <span class="arrow">→</span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="pure-g padded_cols">
        <%= render 'card_comparison', {card_class: 'income_overview', data_type_one: 'currency', data_type_two: 'currency', data_freq: 'daily'} %>
        <%= render 'card_table', {card_class: 'income', data_type_one: 'currency', data_type_two: 'currency', data_freq: 'daily'} %>
        <%= render 'card_sparkline_table', {card_class: 'investment_by_inhabitant', data_trend: 'up', data_type: 'currency', data_freq: 'daily'} %>
        <%= render 'card_bars', {card_class: 'debt_by_inhabitant', data_type: 'currency_per_person', data_freq: 'daily' } %>
        <%= render 'card_table', {card_class: 'ibi', data_type_one: 'percentage', data_type_two: 'percentage', data_freq: 'daily'} %>
        <%= render 'card_simple', {card_class: 'budget_by_inhabitant', data_type: 'currency'} %>
        <%= render 'card_comparison', {card_class: 'construction_tax', data_type_one: 'percentage', data_type_two: 'percentage', data_freq: 'daily'} %>
        <%= render 'card_comparison', {card_class: 'cars_tax', data_type_one: 'currency', data_type_two: 'currency', data_freq: 'daily'} %>
        <%= render 'card_simple', {card_class: 'economic_tax', data_type: 'percentage'} %>
      </div>
    </section>
  </div>
</div>
