<% calculated_values ||= {} %>
<% editable = local_assigns.fetch(:editable, true) %>
<div class="v_container">

  <div class="v_heading">
    <div>
      <%= t("gobierto_admin.gobierto_common.ordered_terms.index.explore") %>
      <i class="fas fa-caret-square-right" title="<%= t("gobierto_admin.gobierto_common.ordered_terms.index.collapse_all") %>"></i>
      <i class="fas fa-caret-square-down" title="<%= t("gobierto_admin.gobierto_common.ordered_terms.index.open_all") %>"></i>
    </div>

    <% if @terms.try(:decorated_values?) %>
      <div class="v_el_decorated">
        <%= render_decorator_template(@terms, :decorated_header_template) %>
      </div>
    <% end %>

    <div class="v_el_actions"></div>
  </div>

  <%= content_tag(:div, data: editable ? { behavior: "sortable", sortable_target: admin_common_vocabulary_terms_sort_path(vocabulary_id: @vocabulary.id) } : {}) do %>
    <%= content_tag(:div, data: @calculated_values_path.present? ? { behavior: "calculated-values", calculated_values_target: @calculated_values_path } : {}) do %>
      <%= render partial: "gobierto_admin/gobierto_common/ordered_terms/terms_tree", locals: { terms: @terms, calculated_values:, editable: } %>
    <% end %>
  <% end %>

</div>

<div class="admin_new_el">
  <%= link_to({ action: :new }, { class: "open_remote_modal p_1 border-el" }) do %>
    <i class="fa fa-plus-circle"></i>
    <%= t("gobierto_admin.gobierto_common.ordered_terms.index.new") %>
  <% end %>
</div>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.terms_controller.index();
  <% end %>
<% end %>
