<% editable = local_assigns.fetch(:editable, true) %>

<div class="list-group" data-sortable-enabled="<%= editable ? 'true' : 'false' %>">

  <% decorator = terms.try(:decorated_values?) ? terms.decorator : nil %>
  <% terms.each do |term, subterms| %>
    <% has_subterms = subterms.present? || decorator && term.decorated_resources.present? %>
    <div class="v_el v_el_level list-group-item<%= editable ? ' custom_handle' : '' %>" data-id="<%= term.id %>" data-class="<%= term.class.name %>">
      <div class="v_el_cont ">
        <div class="v_el_icon_tree">
          <% if has_subterms %>
            <%= link_to "", data: { disabled: true } do %>
              <i class="fas icon-caret fa-caret-right"></i>
            <% end %>
          <% end %>
        </div>

        <div class="v_el_title">
          <%= term.name %>
        </div>

        <% if decorator.present? %>
          <div class="v_el_decorated values" id="<%= term.id %>">
            <% if calculated_values[term.id].present? %>
              <% calculated_values[term.id].each do |key, value| %>
                <%= content_tag :div, value,  class: key %>
              <% end %>
            <% else %>
              <%= render_decorator_template(decorator, :decorated_values_template, term.decorated_values) %>
            <% end %>
          </div>
        <% end %>

        <% if editable %>
          <div class="v_el_actions" id="<%= "v_el_actions_#{term.id}" %>">
            <%= link_to({ action: :edit, id: term.id }, { class: "open_remote_modal", title: t("views.edit") })  do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to({ action: :destroy, id: term.id },
                        { method: :delete, title: t("views.delete"), data: { confirm: t("gobierto_admin.gobierto_common.ordered_terms.terms_tree.delete_confirm") } }) do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if has_subterms %>
        <%= render partial: "gobierto_admin/gobierto_common/ordered_terms/terms_tree", locals: { terms: subterms, calculated_values:, editable: } %>
      <% end %>

      <% if decorator && term.decorated_resources.present? %>
        <div class="list-group">
          <%= render_decorator_template(decorator, :decorated_resources_template, term.decorated_resources) %>
        </div>
      <% end %>

    </div>
  <% end %>

</div>
