<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_common.vocabularies.index.title"), admin_common_vocabularies_path %> »
  <%= @vocabulary.name %>
</div>

<h1><%= t(".title", vocabulary: @vocabulary.name) %></h1>

<div class="admin_tools right">
  <%= link_to t(".new"), new_admin_common_vocabulary_term_path, class: 'button open_remote_modal' %>
</div>

<table>
  <tr>
    <th class="icon_col"></th>
    <th><%= t('.header.name') %></th>
    <th><%= t('.header.created_at') %></th>
    <th></th>
    <th class="icon_col"></th>
  </tr>
  <tbody data-behavior="sortable" data-sortable-target="<%= admin_common_vocabulary_terms_sort_path %>">
    <% @terms.each do |term| %>
      <tr id="term-item-<%= term.id %>" data-id="<%= term.id %>" class="<%= cycle("odd", "even") %>">
        <td>
          <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_admin_common_term_path(term), class: 'open_remote_modal', title: t('views.edit') %>
        </td>
        <td>
          <%= link_to term.name, edit_admin_common_term_path(term), class: 'open_remote_modal', style: "padding-left: #{term.level * 2}em;" %>
        </td>
        <td>
          <%= time_ago_in_words(term.created_at) %>
        </td>
        <td>
          <i class="sort-handler fas fa-bars tipsit custom_handle" title="<%= t('.drag_to_sort') %>"></i>
        </td>
        <td>
          <%= link_to "<i class='fas fa-trash'></i>".html_safe, admin_common_term_path(term), method: :delete, title: t('views.delete'), data: { confirm: t(".delete_confirm") } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.terms_controller.index();
  <% end %>
<% end %>
