<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_common.vocabularies.index.title"), admin_common_vocabularies_path %> »
  <%= @vocabulary.name %>
</div>

<h1><%= t(".title", vocabulary: @vocabulary.name) %></h1>

<%= render "decorated_index", editable: current_admin.can_edit_vocabularies? %>
