<!-- item template -->
<script type="text/x-template" id="item-tree-template">
  <li :class="getLevelClass(model.level)" @click="viewDetail">
    <div @click="toggle" class="item-title">
      <div class="item-toggle p_h_r_1" v-if="hasChildren">
        <div class="toggle-container">
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
      <div class="item-id p_h_r_1" v-else>{{model.id}}</div>

      <div class="item-text" v-if="hasChildren">
        {{model.attributes.title}}
      </div>
      <div class="item-text" v-else>
        {{model.attributes.title}}
      </div>

      <div class="item-check" v-if="!hasChildren && type == 'boolean'">
        <div class="check-container" :class="(model.attributes.checked) ? 'check-container--true' : 'check-container--false'">
          <i class="fas fa-check" v-if="model.attributes.checked"></i>
          <i class="fas fa-times" v-else></i>
        </div>
      </div>
      <div class="item-check" v-if="!hasChildren && type == 'numeric'">
        {{ value }}
      </div>
    </div>
    <ul v-show="open" v-if="hasChildren">
      <item-tree class="item" v-for="model in model.children" :model="model" :key="model.id" ref="inode"></item-tree>
    </ul>
  </li>
</script>

<!-- item view template -->
<script type="text/x-template" id="item-view-template">
  <li class="item item-lvl-2">
    <div class="item-title">
      <div class="item-id p_h_r_1">{{ model.id }}</div>
      <div class="item-text">
        <span>{{ model.attributes.title }}</span>
        <p v-if="model.attributes.description">{{ model.attributes.description }}</p>
      </div>
      <div class="item-check" v-if="type == 'boolean'">
        <div class="row">
          <div class="check-container check-container--true" :class="{ 'check-container--unchecked' : !model.attributes.checked }">
            <i class="fas fa-check"></i>
          </div>
          <div class="check-container check-container--false" :class="{ 'check-container--unchecked' : model.attributes.checked }">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="row">
          <div class="check-container" :class="{ 'check-container--unchecked' : !model.attributes.checked }">
            <%= t(".true") %>
          </div>
          <div class="check-container" :class="{ 'check-container--unchecked' : model.attributes.checked }">
            <%= t(".false") %>
          </div>
        </div>
      </div>
      <div class="item-check" v-if="type == 'numeric'">
        <div class="row">
          <strong class="check-value">{{ value }}</strong>
        </div>
      </div>
    </div>
    <div class="item-extrainfo p_h_2 mt3" v-if="type == 'boolean' && model.attributes.links.length > 0">
      <%= t(".more") %>
      <a v-for="item in model.attributes.links" :href="item.link.url" target="_blank">
        {{ item.link.title }} <i class="fas fa-share-square-o"></i>
      </a>
    </div>
    <div class="item-extrainfo p_h_2 mt3" v-if="type == 'numeric'">
      <div class="extrainfo-content">
        <div class="extrainfo-block">
          <div class="extrainfo-title"><%= t(".calculation") %></div>
          <div class="extrainfo-value">{{ model.attributes.calculation }}</div>
        </div>
        <div class="extrainfo-block">
          <div>
            <div class="extrainfo-title"><%= t(".methodology") %></div>
            <div class="extrainfo-value">{{ model.attributes.methodology }}</div>
          </div>
          <div>
            <div class="extrainfo-title"><%= t(".source") %></div>
            <div class="extrainfo-value">{{ model.attributes.source }}</div>
          </div>
        </div>
      </div>
    </div>
  </li>
</script>

<!-- item view wrap template -->
<script type="text/x-template" id="item-view-wrap-template">
  <li class="item item-lvl-1">
    <div class="item-title" @click="unselect">
      <div class="item-toggle p_h_r_1">
        <div class="toggle-container">
          <i class="fas fa-caret-left"></i>
        </div>
      </div>
      <div class="item-text">
        {{ title }}
      </div>
    </div>
    <ul>
      <item-view :model="model" v-if="!hasAncestors"></item-view>
      <item-view-wrap :model="model" v-else></item-view-wrap>
    </ul>
  </li>
</script>
