<%= render "gobierto_admin/shared/validation_errors", resource: @plan_form %>

<%= form_for(@plan_form, as: :plan, url: @plan_form.persisted? ? admin_plans_plan_path(@plan_form) : admin_plans_plans_path(@plan), data: { 'globalized-form-container' => true }) do |f| %>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">
      <div class="form_item select_control">
        <%= label_tag "plan_type[plan_type_id]" do %>
          <%= f.object.class.human_attribute_name(:plan_type_id) %>
          <%= attribute_indication_tag required: true %>
        <% end %>
        <%= f.select(:plan_type_id, @plan_types, { include_blank: '-' }) %>
      </div>

      <div class="globalized_fields">
        <%= render "gobierto_admin/shared/form_locale_switchers" %>

        <% current_site.configuration.available_locales.each do |locale| %>
          <div class="form_item input_text" data-locale="<%= locale %>">
            <%= label_tag "plan[title_translations][#{locale}]" do %>
              <%= f.object.class.human_attribute_name(:title) %>
              <%= attribute_indication_tag required: true %>
            <% end %>
            <%= text_field_tag "plan[title_translations][#{locale}]", f.object.title_translations && f.object.title_translations[locale], placeholder: t('.placeholders.title', locale: locale) %>
          </div>

          <div class="form_item textarea" data-locale="<%= locale %>">
            <%= label_tag "plan[introduction_translations][#{locale}]" do %>
              <%= f.object.class.human_attribute_name(:introduction) %>
              <%= attribute_indication_tag required: true %>
            <% end %>
            <%= text_area_tag "plan[introduction_translations][#{locale}]", f.object.introduction_translations && f.object.introduction_translations[locale], placeholder: t('.placeholders.introduction', locale: locale) %>
          </div>

          <div class="form_item textarea" data-locale="<%= locale %>">
            <%= label_tag "plan[footer_translations][#{locale}]", f.object.class.human_attribute_name(:footer) %>
            <%= text_area_tag "plan[footer_translations][#{locale}]", f.object.footer_translations && f.object.footer_translations[locale], placeholder: t('.placeholders.footer', locale: locale) %>
          </div>
        <% end %>
      </div>

      <div class="form_item input_text">
        <%= label_tag :year do %>
          <%= f.object.class.human_attribute_name(:year) %>
          <%= attribute_indication_tag required: true %>
        <% end %>
        <%= f.text_field :year, placeholder: t('.placeholders.year') %>
      </div>

      <div class="form_item textarea">
        <%= f.label :configuration_data %>
        <%= f.text_area :configuration_data, placeholder: t('.placeholders.configuration_data') %>
      </div>

      <div class="form_item textarea code">
        <%= f.label :css %>
        <%= f.text_area :css, placeholder: t('.placeholders.css') %>
      </div>

      <div class="form_item input_text">
        <%= f.label :slug %>
        <%= f.text_field :slug, placeholder: t('.placeholders.slug') %>
      </div>

      <div class="form_item select_control">
        <%= label_tag :vocabulary_id do %>
          <%= f.object.class.human_attribute_name(:vocabulary_id) %>
          <%= attribute_indication_tag required: f.object.persisted? %>
        <% end %>
        <%= f.select :vocabulary_id,
            options_from_collection_for_select(@vocabularies, :id, :name, f.object.vocabulary_id),
            include_blank: true %>
      </div>

      <div class="form_item select_control">
        <%= label_tag :statuses_vocabulary_id do %>
          <%= f.object.class.human_attribute_name(:statuses_vocabulary_id) %>
        <% end %>
        <%= f.select :statuses_vocabulary_id,
            options_from_collection_for_select(@vocabularies, :id, :name, f.object.statuses_vocabulary_id),
            include_blank: true %>
      </div>
      <div class="form_item site-module-check-boxes">
        <div class="options compact">
          <div class="option">
            <%= f.check_box :publish_last_version_automatically %>
            <%= f.label :publish_last_version_automatically do %>
              <span></span>
              <%= t(".publish_last_version_automatically")  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 ">

      <div class="stick_in_parent">

        <div class="widget_save ">

          <div class="form_item person-visibility-level-radio-buttons">

            <div class="options compact">
              <%= f.collection_radio_buttons(:visibility_level, @plan_visibility_levels, :first, :first) do |b| %>
                <div class="option">
                  <%= b.radio_button %>
                  <%= b.label do %>
                    <span></span>
                    <%= t("gobierto_admin.shared.save_widget.visibility_level.#{b.text}") %>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>

          <%= f.submit class: "button" %>
        </div>

        <% if @plan_form.persisted? %>
          <div class="admin_side_actions">
            <div class="m_v_1">
              <%= link_to admin_plans_plan_import_csv_path(@plan) do %>
                <i class="fas fa-table"></i>
                <%= t(".import_csv") %>
              <% end %>
            </div>
            <div class="m_v_1">
              <%= link_to admin_plans_plan_export_csv_path(@plan), target: "_blank" do %>
                <i class="fas fa-table"></i>
                <%= t(".export_csv") %>
              <% end %>
            </div>
            <div class="m_v_1">
              <%= link_to admin_plans_plan_export_indicator_csv_path(@plan), target: "_blank" do %>
                <i class="fas fa-table"></i>
                <%= t(".export_indicators_csv") %>
              <% end %>
            </div>
          </div>
          <div class="m_v_1">
            <%= link_to admin_plans_plan_delete_contents_path(@plan),
                        title: t(".delete_contents"),
                        method: :delete,
                        data: { confirm: t(".delete_contents_confirm") } do %>
              <i class="fas fa-undo"></i>
              <%= t(".delete_contents") %>
            <% end %>
          </div>
        <% end %>

      </div>

    </div>

  </div>
<% end %>
