<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_plans.plans.index.title"), admin_plans_plans_path %> »
  <%= t(".title") %>
</div>

<h1><%= @plan.title %></h1>

<%= render 'gobierto_admin/gobierto_plans/shared/navigation' %>

<div id="jsGrid"></div>
<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.gobierto_plans_plan_nodes_controller = new GobiertoAdmin.GobiertoPlansPlanNodesController;
    window.GobiertoAdmin.gobierto_plans_plan_nodes_controller.index({
      collection_path: "<%= admin_plans_api_plan_nodes_path(@plan) %>",
      item_path: "<%= admin_plans_api_plan_node_path(@plan, "") %>",
      locales: <%== current_site.configuration.available_locales.to_json %>,
      categories_list: <%== @categories_list.to_json %>
    });
  <% end %>
<% end %>
