<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_plans.welcome.index.title"), admin_plans_path %> »
  <%= t(".title") %>
</div>

<h1><%= @plan.title %></h1>

<%= render 'gobierto_admin/gobierto_plans/shared/navigation' %>

<% if @plan.categories || @plan.nodes %>
  <%= t(".there_are", info: @plan.to_s) %>
  <br>
  <%= t(".latest_update", datetime: l(@plan.updated_at, format: :long)) %>
<% else %>
  <%= t(".no_data") %>
<% end %>
