<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_plans.plans.index.title"), admin_plans_plans_path %> »
  <%= t(".title") %>
</div>

<h1><%= @plan.title %></h1>

<%= render 'gobierto_admin/gobierto_plans/shared/navigation' %>

<div class="admin_tools right">
  <%= link_to admin_plans_plan_import_csv_path(@plan) do %>
    <i class="fas fa-table"></i>
    <%= t(".import_csv") %>
  <% end %>
  <%= link_to admin_plans_plan_export_csv_path(@plan), target: "_blank" do %>
    <i class="fas fa-table"></i>
    <%= t(".export_csv") %>
  <% end %>
  <%= link_to t(".new"), "#", class: "button", data: { insert: true } %>
</div>

<% if @categories_list.present? %>
  <div id="jsGrid"></div>
  <% content_for :javascript_hook do %>
    <%= javascript_tag do %>
      window.GobiertoAdmin.gobierto_plans_plan_nodes_controller = new GobiertoAdmin.GobiertoPlansPlanNodesController;
      window.GobiertoAdmin.gobierto_plans_plan_nodes_controller.index({
      collection_path: "<%= admin_plans_api_plan_nodes_path(@plan) %>",
      item_path: "<%= admin_plans_api_plan_node_path(@plan, "") %>",
      locales: <%== current_site.configuration.available_locales.to_json %>,
      categories_list: <%== @categories_list.to_json %>,
      categories_vocabulary: <%== @categories_vocabulary.to_json %>
    });
  <% end %>
<% end %>
<% else %>
  <%= t(".no_available_categories") %>
<% end %>
