<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_plans.plans.index.title"), admin_plans_plans_path %> »
  <%= link_to @plan.title, admin_plans_plan_plan_path(@plan) %> »
  <%= t(".title") %>
</div>

<h1><%= @plan.title %></h1>

<%= render 'gobierto_admin/gobierto_plans/shared/navigation' %>

<%= render 'form' %>
