<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_plans.plans.index.title"), admin_plans_plans_path %> »
  <%= link_to @plan.title, admin_plans_plan_categories_path(@plan) %> »
  <%= t(".title") %>
</div>

<h1><%= @plan.title %></h1>

<%= render 'gobierto_admin/gobierto_plans/shared/navigation' %>

<%= link_to "Custom Fields", admin_common_custom_fields_module_resource_instance_level_resource_path("gobierto_plans-plan", @plan.id), target: "_blank" %>

<%= render 'form' %>
