<div class="column consultation desktop hidden">

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="consultation-text mb3">
        <%= image_tag 'illustrations/consultation_2.png', class: 'consultation-img-side' %>

        <p class="consultation-intro-text-1"><%= t('.p1') %></p>
        <p class="consultation-intro-text-2"><%= t('.p2') %></p>
      </div>

      <div class="consultation-step">
        <%= link_to [@consultation, :new_response], class: "consultation-link", role: "button" do %>
          <div class="bottom-info-small">
            <div class="teaser">
              <h2 class="consultation-q inline-block"><%= t('.start') %></h2>
              <div class="arrow-right"><i class="fas fa-arrow-right" aria-hidden="true"></i></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2">
      <div class="consultation-group">
        <% @consultation_items.each do |consultation_item| %>
          <div class="consultation-card">
            <div class="card-title">
              <h3 class="consultation-title"><%= consultation_item.title %></h3>
              <div class="consultation-figure"><%= budget_amount_to_human(consultation_item.budget_line_amount) %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  newConsultationResponsePath = '<%= gobierto_budget_consultations_consultation_new_response_path(@consultation) %>';
<% end %>
