<div class="column consultation">
  <h2 class="consultation-lead"><%= t('.title', amount: '262.370€') %></h2>
  <p id="errors">TODO: maquetar aquí un mensaje de error.</p>
</div>

<div id="consultation-mobile-app"
     data-data-url="<%= gobierto_budget_consultations_consultation_item_summary_path(@consultation, format: :json) %>"
     data-submit-url="<%= gobierto_budget_consultations_consultation_response_path(@consultation) %>">
  <div class="consultation-box">
    <consultation-card v-for="card in cards" :card="card" :active="active" :figures="figures"></consultation-card>
  </div>

  <budget-calculator :active="active" :next="next" :status-text="statusText" :status="status"></budget-calculator>
  <description-modal v-if="modal" :current="current"></description-modal>
</div>

<template id="card">
  <div class="consultation-card" :class="{ active: card.toggleDesc }">
    <div class="card-title" @click="setActive(card, $event)">
      <div class="consultation-title">{{card.title}}</div>
      <div class="consultation-figure"><i class="fa" :class="iconForChoice" aria-hidden="true"></i> {{card.figure}}</div>
    </div>

    <transition name="card" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave" v-bind:css="false">
      <div class="pure-u-5-5 card-content" v-show="card.toggleDesc">
        <div class="card-description" :class="{ absolute: card.hidden }">
          <div class="sep"></div>
          <div>
            {{card.description}}
            <div v-if="card.hidden" class="overlay"></div>
          </div>
        </div>

        <budget-box :card="card" :figures="figures"></budget-box>
      </div>
    </transition>
  </div>
</template>

<template id="budget-box">
  <div class="budget-ask" :class="{ absolute: card.hidden }">
    <div v-if="card.hidden" class="read-more" @click="showModal(card)">...</div>
    <div class="pure-g">
      <div class="select-lead pure-u-5-5"><%= t('.what') %></div>

      <div class="pure-u-5-5 select-info" v-if="figures">
        <div class="pure-g">
          <div class="pure-u-1-3"><%= t('.reduce') %></div>
          <div class="pure-u-1-3"><%= t('.keep') %></div>
          <div class="pure-u-1-3"><%= t('.increase') %></div>
        </div>
      </div>

      <div class="pure-u-5-5">
        <div class="pure-g select-pct">
          <div class="pure-u-1-3">
            <div class="border" v-if="card.block_reduction">
              <div class="pct not-allowed" title="<%= t('.reduction_not_allowed_html') %><button class='tip-button' data-tipsy-close>OK</button>">
                <%= t('.reduce') %>
              </div>
            </div>
            <div class="border" v-else>
              <button class="pct" :class="{active: card.choice == -5}" data-value="-5" @click="makeChoice"><%= t('.reduce') %></button>
            </div>
          </div>
          <div class="pure-u-1-3">
            <div class="border">
              <button class="pct equal" :class="{active: card.choice == 0}" data-value="0" @click="makeChoice"><%= t('.keep') %></button>
            </div>
          </div>
          <div class="pure-u-1-3">
            <div class="border">
              <button class="pct" :class="{active: card.choice == 5}" data-value="5" @click="makeChoice"><%= t('.increase') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="visibilityCheck"></span>
  </div>
</template>

<template id="budget-calculator">
  <div class="consultation-info">
    <div class="pure-g wrapper" v-if="active">
      <div class="pure-u-5-6">
        <div class="pure-g">
          <div class="pure-u-1-2">
            <div class="budget-base">
              <div class="budget-lead"><%= t('.base_budget') %></div>
              <div class="budget-figure">TODO: 1.234€</div>
            </div>
          </div>
          <div class="pure-u-1-2">
            <div class="budget-status" title="<%= t('.explain_html') %><button class='tip-button' data-tipsy-close>OK</button>">
              <div class="budget-lead"><%= t('.balance_deficit') %></div>
              <div class="budget-figure">{{statusText}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="pure-u-1-6">
        <a href="#" class="budget-next" @click="nextScreen" v-if="!next"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        <a href="#" class="budget-next consultation-status-error" @click="showConsultationStatusError" v-else-if="status=='deficit'" title="<p><%= I18n.t('gobierto_budget_consultations.consultation_status_error') %></p><button class='tip-button' data-tipsy-close>OK</button>"><i class="fa fa-times" aria-hidden="true"></i></a>
        <a href="#" class="budget-next" @click="submitConsultation" v-else><i class="fa fa-check" aria-hidden="true"></i></a>
      </div>
    </div>

    <h4 v-else><%= t('.open_to_opinate') %></h4>
  </div>
</template>

<template id="description-modal">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <h2 class="modal-header">{{current.title}}</h2>
          <div class="modal-body">{{current.description}}</div>
          <button class="modal-button" @click="hideModal">OK</button>
        </div>
      </div>
    </div>
  </transition>
</template>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoBudgetConsultations.consultation_responses_controller.new();
  <% end %>
<% end %>
