<div id="consultation-mobile-app"
     data-data-url="<%= gobierto_budget_consultations_consultation_item_summary_path(@consultation, format: :json) %>"
     data-submit-url="<%= gobierto_budget_consultations_consultation_response_path(@consultation) %>" style="display:none">

  <div class="column consultation mobile">

    <h2 class="consultation-lead"><%= t('.title', amount: budget_amount_to_human(@consultation.budget_amount)) %></h2>
    <div data-messages-container>
      <% if @consultation.force_responses_balance? %>
        <div id="errors" v-if="next && status=='deficit'">
          <%= I18n.t('gobierto_budget_consultations.consultation_status_error') %>
        </div>
        <div id="notice" v-if="next && status!='deficit'">
          <%= I18n.t('gobierto_budget_consultations.consultation_status_ready') %>
        </div>
      <% else %>
        <div id="notice" v-if="next">
          <%= I18n.t('gobierto_budget_consultations.consultation_status_ready') %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="consultation-box">
    <consultation-card v-for="card in cards" :key="card.id" :card="card" :active="active" :figures="figures"></consultation-card>
  </div>

  <budget-calculator :active="active" :next="next" :status-text="statusText" :status="status" :status-class="statusClass"></budget-calculator>
  <description-modal v-if="modal" :current="current"></description-modal>
</div>

<div class="column consultation desktop" id="consultation-desktop-app"
     data-data-url="<%= gobierto_budget_consultations_consultation_item_summary_path(@consultation, format: :json) %>"
     data-submit-url="<%= gobierto_budget_consultations_consultation_response_path(@consultation) %>" style="display:none">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="consultation-box">

        <h2 class="consultation-lead"><%= t('.title', amount: budget_amount_to_human(@consultation.budget_amount)) %></h2>

        <budget-calculator :active="active" :next="next" :status-text="statusText" :status="status" :status-class="statusClass"></budget-calculator>
        <consultation-card v-for="card in cards" :key="card.id" :card="card" :active="active" :figures="figures"></consultation-card>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 description">

      <% if @consultation.force_responses_balance? %>
        <div v-show="next && status!='deficit'" class="consultation-confirm">
          <%= image_tag 'illustrations/crm.jpg', class: 'pure-img' %>
          <h3><%= I18n.t('gobierto_budget_consultations.consultation_status_ready') %></h3>
          <button class="expanded" @click="submitConsultation"><%= t('.submit') %></button>
        </div>

        <div v-show="next && status=='deficit'" class="consultation-confirm deficit">
          <i class="fas fa-times fa-4x"></i>
          <h3><%= I18n.t('gobierto_budget_consultations.consultation_status_error') %></h3>
        </div>
      <% else %>
        <div v-show="next" class="consultation-confirm">
          <%= image_tag 'illustrations/crm.jpg', class: 'pure-img' %>
          <h3><%= I18n.t('gobierto_budget_consultations.consultation_status_ready') %></h3>
          <button class="expanded" @click="submitConsultation"><%= t('.submit') %></button>
        </div>
      <% end %>

      <card-description v-for="card in cards" :key="card.id" :card="card" :figures="figures"></card-description>
    </div>
  </div>
</div>

<template id="card-mobile">
  <div class="consultation-card" :class="{ active: card.toggleDesc }" :data-card-id="card.id">
    <div class="card-title" @click="setActive(card, $event)">
      <h3 class="consultation-title">{{card.title}}</h3>
      <div class="consultation-figure"><i class="fa" :class="iconForChoice" aria-hidden="true"></i> <span>{{card.figure}}</span></div>
    </div>

    <card-description :card="card" :figures="figures"></card-description>
  </div>
</template>

<template id="card-desktop">
  <div class="consultation-card" :class="{ active: card.toggleDesc }" :data-card-id="card.id">
    <div class="card-title" @click="setActive(card, $event)">
      <h3 class="consultation-title">{{card.title}}</h3>
      <div class="consultation-figure"><i class="fa" :class="iconForChoice" aria-hidden="true"></i> <span>{{card.figure}}</span></div>
    </div>
  </div>
</template>

<template id="card-description-mobile">
  <transition name="card" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave" v-bind:css="false">
    <div class="pure-u-1 card-content" v-show="card.toggleDesc">
      <div class="card-description" :class="{ absolute: card.hidden }">
        <div class="sep"></div>
        <div>
          {{card.description}}
          <div v-if="card.hidden" class="overlay"></div>
        </div>
      </div>

      <budget-box :card="card" :figures="figures"></budget-box>
    </div>
  </transition>
</template>

<template id="card-description-desktop">
  <div class="card-wrapper card-content" v-show="card.toggleDesc" :data-card-description-id="card.id">
    <div class="card-description" :class="{ absolute: card.hidden }">

      <div class="card-header">
        <h3 class="card-headline">{{card.title}}</h3>

        <div class="card-figure">
          <h4>{{card.figure}}</h4>
        </div>
      </div>

      <div>
        {{card.description}}
      </div>
    </div>

    <budget-box :card="card" :figures="figures"></budget-box>
  </div>
</template>

<template id="budget-box">
  <div class="budget-ask" :class="{ absolute: card.hidden }">
    <div v-if="card.hidden" class="read-more" @click="showModal(card)">...</div>
    <div class="pure-g">
      <div class="select-lead pure-u-1"><%= t('.what') %></div>

      <div class="pure-u-1 select-info" v-if="figures">
        <div class="pure-g">
          <div class="pure-u-1-3"><%= t('.reduce') %></div>
          <div class="pure-u-1-3"><%= t('.keep') %></div>
          <div class="pure-u-1-3"><%= t('.increase') %></div>
        </div>
      </div>

      <div class="pure-u-1">
        <div class="pure-g select-pct">
          <div class="pure-u-1-3">
            <div class="border" v-if="card.block_reduction">
              <div class="pct not-allowed" title="<%= t('.reduction_not_allowed_html') %><button class='tip-button' data-tipsy-close>OK</button>">
                <%= t('.reduce') %>
              </div>
            </div>
            <div class="border" v-else>
              <button class="pct" :class="{active: card.choice == -5}" data-value="-5" @click="makeChoice"><%= t('.reduce') %></button>
            </div>
          </div>
          <div class="pure-u-1-3">
            <div class="border">
              <button class="pct equal" :class="{active: card.choice == 0}" data-value="0" @click="makeChoice"><%= t('.keep') %></button>
            </div>
          </div>
          <div class="pure-u-1-3">
            <div class="border">
              <button class="pct" :class="{active: card.choice == 5}" data-value="5" @click="makeChoice"><%= t('.increase') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="visibilityCheck"></span>
  </div>
</template>

<template id="budget-calculator">
  <div class="consultation-info" :class="[{ active: active }, statusClass]">
    <div class="pure-g wrapper" v-if="active">
      <div class="pure-u-5-6">
        <div class="budget-base">
          <div class="budget-lead"><%= t('.base_budget') %></div>
          <div class="budget-figure"><%= budget_amount_to_human(@consultation.budget_amount) %></div>
        </div>
        <div class="budget-status">
          <div class="budget-lead"><%= t('.balance_deficit') %></div>
          <div data-status-explanation
               class="budget-figure budget-status-figure" title=""
               title_deficit="<%= t('.explain_deficit_html', our_organization_name: @site.determined_organization_name(:our)) %><button class='tip-button' data-tipsy-close>OK</button>"
               title_balance="<%= t('.explain_balance_html', of_the_organization_name: @site.determined_organization_name(:of_the)) %><button class='tip-button' data-tipsy-close>OK</button>"
               title_surplus="<%= t('.explain_surplus_html') %><button class='tip-button' data-tipsy-close>OK</button>"
           >{{statusText}}</div>
        </div>
      </div>
      <div class="pure-u-1-6">
        <a href="#" role="button" class="budget-next" @click="nextScreen" v-if="!next"><i class="fas fa-arrow-right" aria-hidden="true"></i></a>
        <% if @consultation.force_responses_balance? %>
          <a href="#" role="button" class="budget-next consultation-status-error" @click="showConsultationStatusError" v-else-if="status=='deficit'" title="<p><%= I18n.t('gobierto_budget_consultations.consultation_status_error') %></p><button class='tip-button' data-tipsy-close>OK</button>"><i class="fas fa-times" aria-hidden="true"></i></a>
        <% end %>
        <a href="#" role="button" class="budget-next" @click="submitConsultation" v-else><i class="fas fa-check" aria-hidden="true"></i></a>
      </div>
    </div>

    <h3 v-else><%= t('.open_to_opinate') %></h3>
  </div>
</template>

<template id="description-modal">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <h2 class="modal-header">{{current.title}}</h2>
          <div class="modal-body">{{current.description}}</div>
          <button class="modal-button" @click="hideModal">OK</button>
        </div>
      </div>
    </div>
  </transition>
</template>
