<%= render "gobierto_admin/shared/validation_errors", resource: @custom_field_form %>

<%= form_for(@custom_field_form,
             as: :custom_field,
             url: @custom_field_form.persisted? ? admin_common_custom_fields_custom_field_path(@custom_field_form) : admin_common_custom_fields_module_resource_custom_fields_path(module_resource_name: @custom_field_form.resource_name),
             data: { 'globalized-form-container' => true }) do |f| %>
  <%= f.hidden_field :instance_class_name %>
  <%= f.hidden_field :instance_id %>

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">

      <div class="globalized_fields">
        <%= render "gobierto_admin/shared/form_locale_switchers" %>

        <% current_site.configuration.available_locales.each do |locale| %>
          <div class="form_item input_text" data-locale="<%= locale %>">
            <%= label_tag "custom_field[name_translations][#{locale}]" do %>
              <%= f.object.class.human_attribute_name(:name) %>
              <%= attribute_indication_tag required: true %>
            <% end %>
            <%= text_field_tag "custom_field[name_translations][#{locale}]", f.object.name_translations && f.object.name_translations[locale] %>
          </div>
        <% end %>
      </div>

      <div class="form_item input_text">
        <%= f.label :uid do %>
          <%= f.object.class.human_attribute_name(:uid) %>
          <%= attribute_indication_tag required: true %>
        <% end %>
        <%= f.text_field :uid %>
      </div>

      <div class="form_block">
        <div class="form_item site-module-check-boxes">
          <div class="options compact">
            <h4><%= f.object.class.human_attribute_name(:field_type) %></h4>
            <%= f.collection_radio_buttons(:field_type, @custom_field_form.available_field_types, :first, :first) do |b| %>
              <div class="option">
                <%= b.radio_button(
                      data: {
                        type: b.text,
                        has_options: @types_with_options.include?(b.text),
                        has_vocabulary: @types_with_vocabulary.include?(b.text),
                        has_multiple: @types_with_multiple_setting.include?(b.text)
                      }
                    ) %>
                <%= b.label do %>
                  <span></span>
                  <%= f.object.class.human_attribute_name(b.text) %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="configuration">
        <%= content_tag :div, class: "form_block" do %>
          <%= content_tag :div, id: "multiple", class: "form_item", style: @custom_field_form.allow_multiple? ? nil : "display: none;" do %>
            <h4 class="options compact"><%= t(".type") %></h4>
            <%= f.check_box(:multiple) %>
            <%= f.label :multiple do %>
              <span></span>
              <%= t('.multiple') %>
            <% end %>
          <% end %>
        <% end %>
        <%= content_tag :div, class: "form_block" do %>
          <%= content_tag :div, id: "plugin", class: "form_item", style: @custom_field_form.custom_field.plugin? ? nil : "display: none;" do %>
            <%= render partial: "plugin", locals: { f: f } %>
          <% end %>
        <% end %>
        <%= content_tag :div, class: "form_block" do %>
          <%= content_tag :div, id: "vocabulary_type", class: "form_item", style: @custom_field_form.has_vocabulary? ? nil : "display: none;" do %>
            <%= render partial: "vocabulary_type_select", locals: { f: f } %>
          <% end %>
        <% end %>
        <%= content_tag :div, class: "form_block" do %>
          <%= content_tag :div, id: "vocabulary", class: "form_item", style: @custom_field_form.has_vocabulary? ? nil : "display: none;" do %>
            <%= render partial: "vocabulary_select", locals: { f: f } %>
          <% end %>
        <% end %>
        <%= content_tag :div, class: "form_block" do %>
          <%= content_tag :div, id: "options", class: "form_item", style: @custom_field_form.has_options? ? nil : "display: none;" do %>
            <%= render partial: "options_form", locals: { f: f } %>
          <% end %>
        <% end %>
        <%= content_tag :div, class: "form_block" do %>
          <%= content_tag :div, id: "date", class: "form_item", style: @custom_field_form.custom_field.date? ? nil : "display: none;" do %>
            <%= render partial: "date_options", locals: { f: f } %>
          <% end %>
        <% end %>
        <%= content_tag :div, class: "form_block" do %>
          <%= content_tag :div, id: "numeric", class: "form_item", style: @custom_field_form.custom_field.numeric? ? nil : "display: none;" do %>
            <%= render partial: "numeric_options", locals: { f: f } %>
          <% end %>
        <% end %>
        <%= content_tag :div, class: "form_block" do %>
          <%= content_tag :div, id: "configuration", class: "form_item", style: @custom_field_form.plugin&.has_configuration? ? nil : "display: none;", data: {
                defaults: @custom_field_form.plugin_configuration_defaults,
                type: @custom_field_form.plugin_type,
                value: JSON.pretty_generate(@custom_field_form.plugin_configuration) } do %>
            <%= render partial: "plugin_configuration_form", locals: { f: f } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <%= render partial: 'gobierto_admin/shared/save_widget', locals: { f: f, levels: [] } %>
  </div>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.gobierto_common_custom_fields_controller = new GobiertoAdmin.GobiertoCommonCustomFieldsController
    window.GobiertoAdmin.gobierto_common_custom_fields_controller.handleForm();
  <% end %>
<% end %>
