<div class="user_field_container pure-g" data-option="<%= key %>">
  <%= hidden_field_tag("custom_field[options]", value = key) %>

  <div class="pure-u-1 pure-u-md-1-4">
    <span class="field_item">
      <%= translations[I18n.locale.to_s] %>
  </span>
  </div>

  <div class="pure-u-1 pure-u-md-3-4">

    <div class="f_right">
      <%= link_to "#",
        class: "tipsit",
        title: t("views.delete"),
        data: { behavior: "delete_option", index: key } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>

    <div class="field_item_def_cont">
      <% current_site.configuration.available_locales.each do |locale| %>
        <div class="field_item_def field_locale">
          <%= label_tag "custom_field[options_translations][#{ key }][#{locale}]" do %>
            <%= t("locales.#{ locale }") %>
          <% end %>
          <%= text_field_tag "custom_field[options_translations][#{ key }][#{ locale }]", translations && translations[locale] %>
        </div>
      <% end %>
    </div>
  </div>
</div>
