<%= render "gobierto_admin/shared/validation_errors", resource: @plan_type_form %>

<%= form_for(
  @plan_type_form, as: :plan_type,
  url: @plan_type_form.persisted? ? admin_plans_plan_type_path(@plan_type_form) : admin_plans_plan_types_path(@plan_type), data: { 'globalized-form-container' => true }) do |f| %>

  <div class="globalized_fields">
    <%= render "gobierto_admin/shared/form_locale_switchers" %>

    <% current_site.configuration.available_locales.each do |locale| %>
      <div class="form_item input_text" data-locale="<%= locale %>">
        <%= label_tag "plan_type[name_translations][#{locale}]" do %>
          <%= f.object.class.human_attribute_name(:name) %>
          <%= attribute_indication(@plan_type_form.plan_type.class, :name) %>
        <% end %>
        <%= text_field_tag "plan_type[name_translations][#{locale}]", f.object.name_translations && f.object.name_translations[locale], placeholder: t(".placeholders.name", locale: locale.to_sym) %>
      </div>
    <% end %>
  </div>

  <div class="form_item input_text">
    <%= f.label :slug %>
    <%= f.text_field :slug, placeholder: t(".placeholders.slug") %>
  </div>

  <div class="actions right">
    <%= f.submit %>
  </div>

<% end %>
