<div class='admin_breadcrumb'>
  <%= link_to t('gobierto_admin.welcome.index.title'), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_plans.plans.index.title"), admin_plans_plans_path %> »
  <%= t('.title') %>
</div>

<h1><%= t('.title') %></h1>

<div class="admin_tools right">
  <%= link_to t(".new"), new_admin_plans_plan_type_path, class: "button" %>
</div>

<table id="plan_types">
  <thead>
    <tr>
      <th class="icon_col"></th>
      <th><%= t(".header.type") %></th>
      <th class="icon_col"></th>
    </tr>
  </thead>
  <tbody>
  <% @plan_types.each do |plan_type| %>
    <tr id="plan-type-item-<%= plan_type.id %>">
      <td>
        <%= link_to edit_admin_plans_plan_type_path(plan_type) do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </td>
      <td>
        <%= link_to plan_type.name, edit_admin_plans_plan_type_path(plan_type) %>
      </td>
      <td>
        <%= link_to admin_plans_plan_type_path(plan_type.id),
                    title: t(".delete"),
                    method: :delete,
                    data: { confirm: t("gobierto_admin.shared.archive.confirm") } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  $('a[data-toggleplan]').on('click', function(e){
     $("div#archived-plan-list").toggle();
  });
<% end %>
