<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_plans.welcome.index.title"), admin_plans_path %> »
  <%= t(".title") %>
</div>

<h1><%= t('.title') %></h1>

<%= render 'form' %>
