<menu class="sub_sections">
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul>
      <li><%= todo_link_to { link_to t('.about'), '#' } %></li>
      <li><%= link_to t('.issues'), gobierto_participation_issues_path %></li>
      <li><%= link_to t('.processes'), gobierto_participation_processes_path, class: class_if('active', controller_name == 'processes') %></li>
      <li><%= todo_link_to { link_to t('.questions'), '#' } %></li>
      <li><%= todo_link_to { link_to t('.ideas'), '#' } %></li>
    </ul>
  </div>
</menu>
