<% if try(:current_process).nil? %>
  <div class="sub-nav-item">
    <%= link_to t('gobierto_participation.layouts.menu_subsections.about'), '#' %>
  </div>
  <div class="sub-nav-item<%= class_if(' active', controller_name == 'issues') %>">
    <% content_for_if(:current_submodule_link, controller_name == 'issues') do %>
      <%= link_to t('gobierto_participation.layouts.menu_subsections.issues'), gobierto_participation_issues_path, data: { turbolinks: false } %>
    <% end %>
  </div>
  <div class="sub-nav-item<%= class_if(' active', controller_name == 'processes') %>">
    <% content_for_if(:current_submodule_link, controller_name == 'processes') do %>
      <%= link_to t('gobierto_participation.layouts.menu_subsections.processes'), gobierto_participation_processes_path, data: { turbolinks: false } %>
    <% end %>
  </div>
  <div class="sub-nav-item">
    <%= link_to t('gobierto_participation.layouts.menu_subsections.questions'), '#' %>
  </div>
  <div class="sub-nav-item">
    <%= link_to t('gobierto_participation.layouts.menu_subsections.ideas'), '#' %>
  </div>
<% else %>
  <% content_for(:current_submodule_link) do %>
    <%= link_to current_process.title, gobierto_participation_process_path(current_process.slug), data: { turbolinks: false } %>
  <% end %>

  <% current_process.published_stages.each do |stage| %>
    <div class="sub-nav-item">
      <% if !["information", "results"].include?(stage.stage_type) || (["information", "results"].include?(stage.stage_type) && stage.process_stage_page.present?) %>
        <%= link_to stage_url(stage) do %>
          <%= stage.menu %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render "gobierto_participation/layouts/secondary_nav" %>
