<menu class="sub_sections">
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul>
      <li><%= link_to t('.information'), gobierto_participation_process_process_information_path(process_id: @process.slug) %></li>
      <li><%= todo_link_to { link_to t('.meetings'), '#' } %></li>
      <li><%= todo_link_to { link_to t('.polls'), '#' } %></li>
      <li><%= todo_link_to { link_to t('.contributions'), '#' } %></li>
      <li><%= todo_link_to { link_to t('.results'), '#' } %></li>
    </ul>
  </div>
</menu>
