<menu class="secondary_nav">
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul>
      <% path_arguments = @container ? { container_type: @container.container_type, container_id: @container.id } : nil %>

      <% if @process %>
        <li><%= link_to t('.news'), gobierto_participation_process_process_pages_path(process_id: @process.slug) %></li>
      <% elsif @issue %>
        <li><%= link_to t('.news'), gobierto_participation_issue_issue_pages_path(issue_id: @issue.slug) %></li>
      <% else %>
        <li><%= link_to t('.news'), gobierto_cms_pages_path %></li>
      <% end %>

      <li><%= link_to t('.agenda'), gobierto_participation_events_path(path_arguments) %></li>
      <li><%= todo_link_to { link_to t('.documents'), '#' } %></li>
      <li><%= todo_link_to { link_to t('.activity'), '#' } %></li>
    </ul>
  </div>
</menu>
