<menu class="secondary_nav">
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul>
      <% path_arguments = @container ? { container_type: @container.container_type, container_id: @container.id } : nil %>

      <% if try(:current_process).present? && !@issue.present? %>
        <li><%= link_to t('.news'), gobierto_participation_process_pages_path(process_id: current_process.slug) %></li>
        <li><%= link_to t('.agenda'), gobierto_participation_process_events_path(process_id: current_process.slug) %></li>
        <li><%= link_to t('.documents'), gobierto_participation_process_attachments_path(process_id: current_process.slug) %></li>
        <li><%= link_to t('.activity'), gobierto_participation_process_activities_path(process_id: current_process.slug) %></li>
      <% elsif @issue %>
        <li><%= link_to t('.news'), gobierto_participation_issue_pages_path(issue_id: @issue.slug) %></li>
        <li><%= link_to t('.agenda'), gobierto_participation_issue_events_path(issue_id: @issue.slug) %></li>
        <li><%= link_to t('.documents'), gobierto_participation_issue_attachments_path(issue_id: @issue.slug) %></li>
        <li><%= link_to t('.activity'), gobierto_participation_issue_activities_path(issue_id: @issue.slug) %></li>
      <% elsif current_module == "gobierto_participation" %>
        <li><%= link_to t('.news'), gobierto_participation_pages_path %></li>
        <li><%= link_to t('.agenda'), gobierto_participation_events_path %></li>
        <li><%= link_to t('.documents'), gobierto_participation_attachments_path %></li>
        <li><%= link_to t('.activity'), gobierto_participation_activities_path %></li>
      <% end %>
    </ul>
  </div>
</menu>
