<% content_for :javascript_include do %>
  <%= javascript_include_tag 'gobierto_participation/application', 'data-turbolinks-track' => true %>
<% end %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

  <%= render 'layouts/head' %>

  <body class="<%= current_module_body_class %> <%= controller_name %> <%= action_name %> <%= controller_name %>_<%= action_name %>" <%= yield(:body_attributes) %>>

    <div class="container">

      <%= content_for?(:content) ? yield(:content) : yield %>

    </div>

    <% if Rails.env.production? %>
      <%= render 'layouts/analytics_footer_site' %>
    <% end %>

    <%= yield :javascript_hook %>

  </body>

</html>
