<% content_for(:current_submodule_link) do %>
  <% if controller_name == "welcome" %>
    <%= link_to t("layouts.application.start"), gobierto_participation_root_path %>
  <% end %>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoParticipation.poll_teaser_controller.show();
  <% end %>
<% end %>

<% content_for :javascript_module_link do %>
  <!-- load module javascript specifics -->
  <%= javascript_pack_tag 'participation', 'data-turbolinks-track': true %>
<% end %>

<% unless try(:current_process).nil? %>
  <% content_for :breadcrumb_current_item do %>
    <strong>
      <%= link_to t('gobierto_participation.layouts.menu_subsections.processes'), gobierto_participation_processes_path %>
    </strong>

    <span role="separator">/</span>

    <h1>
      <%= link_to current_process.title, gobierto_participation_process_path(current_process.slug) %>
    </h1>
  <% end %>

  <% content_for :subscribable_button do %>
    <%= render 'user/subscriptions/subscribable_button', subscribable: current_process %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
