<% if @activities && @activities.any? %>
<table class="admin-list">
  <tr>
    <th></th>
    <th><%= t(".header.action") %></th>
    <th><%= t(".header.subject") %></th>
    <th><%= t(".header.user") %></th>
    <th><%= t(".header.recipient") %></th>
    <th><%= t(".header.ip") %></th>
    <th><%= t(".header.date") %></th>
  </tr>

  <tbody>
    <% @activities.each do |activity| %>
      <tr id="activity-<%= activity.id %>" class="<%= cycle("odd", "even") %>">
        <td>#<%= activity.id %></td>
        <td><%= activity.translated_action %></td>
        <td>
          <%= activity.subject_name %>
        </td>
        <td>
          <%= activity.author_name %>
        </td>
        <td>
          <%= activity.recipient_name %>
        </td>
        <td>
          <span class="soft ip"><%= activity.subject_ip %></span>
        </td>
        <td>
          <%= time_ago_in_words(activity.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
