<%= render "user/shared/validation_errors", resource: @user_verification_form %>

<%= form_for(@user_verification_form, as: :user_verification, url: :user_census_verifications) do |f| %>

  <div class="form_item input_text">
    <%= f.label :document_number %>
    <%= f.text_field :document_number, placeholder: "11111111A" %>
  </div>

  <div class="form_item select_control selects_inline">
    <%= f.label :date_of_birth %>
    <%= f.date_select(
      :date_of_birth,
      prompt: true,
      end_year: 100.years.ago.year,
      start_year: Date.current.year) %>
  </div>

  <div class="widget_save">
    <%= f.hidden_field :referrer_url %>
    <%= f.submit t('.verify'), class: "button" %>
  </div>

<% end %>
