<% content_for :breadcrumb_current_item do %>
  <strong>
    <%= link_to t('gobierto_people.layouts.menu_subsections.statements'), gobierto_people_statements_path %>
  </strong>
<% end %>

<div class="person_header">
  <h1><%= t(".title", person_name: @person.name) %></h1>
</div>

<h3>
  <%= @statement.title %>
  <small>(<%= l(@statement.published_on, format: :short) %>)</small>
</h3>

<% if @statement.attachment_url.present? %>
  <div class="right">
    <%= link_to @statement.attachment_url, class: "button small" do %>
      <%= t(".download", file_size: number_to_human_size(@statement.attachment_size || 0)) %>
    <% end %>
  </div>
<% end %>

<div class="other-statements">
  <div><%= t(".other_statements.title") %></div>

  <div class="box">
    <ul class="inner">
      <% @other_statements.each do |statement| %>
        <li>
          <%= link_to statement.title, gobierto_people_person_statement_path(@person, statement) %>
          (<%= l(statement.published_on, format: :short) %>)
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="separator"></div>

<%= render "gobierto_common/dynamic_content/table_component", content_blocks: @statement_content_blocks %>

<%= render("user/subscriptions/subscribable_box",
           subscribable: @statement,
           title: t(".subscribable_box.title")) %>
