<div class="person_header">
  <h2><%= title t(".title", person_name: @person.name) %></h2>
</div>

<div class="separator"></div>

<div class="block">

  <% if @statement.attachment_url.present? %>
    <div class="download_file f_right">
      <%= filetype_icon(@statement.attachment_url) %>
      <%= link_to @statement.attachment_url, download: "", role:"button" do %>
        <%= t(".download", file_size: number_to_human_size(@statement.attachment_size || 0)) %>
      <% end %>
    </div>
  <% end %>

  <h3 class="slim">
    <%= @statement.title %>
    <span class="soft">(<%= l(@statement.published_on, format: :short) %>)</span>
  </h3>

  <% if @other_statements.any? %>
    <small><a href="#" class="open-other-statements"><%= t('.view_previous') %></a></small>
    <div class="other-statements soft_hidden">
      <div class="box">
        <ul class="inner">
          <% @other_statements.each do |statement| %>
            <li>
              <%= link_to statement.title, gobierto_people_person_statement_path(@person.slug, statement.slug) %>
              (<%= l(statement.published_on, format: :short) %>)
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

</div>

<%= render "gobierto_common/dynamic_content/table_component", content_blocks: @statement_content_blocks %>

<% description([title, t("gobierto_people.layouts.application.title"), @site.title].compact.join('. ')) %>
