<div style='<%= question_form_builder && question_form_builder.object.answer_type != 2 ? '' : "display: none;" %>' class='question_answer_templates'>

  <h4><%= t('.available_answers') %></h4>

  <%= render 'answer_template', answer_fb: false %>

  <% if question_form_builder %>

    <%= question_form_builder.fields_for :answer_templates do |answer_fb| %>
      <%= render 'answer_template', question_index: question_form_builder.index, answer_fb: answer_fb %>
    <% end %>

  <% end %>

  <div class="m_1 p_h_2" >
    <%= link_to '#', data: { behavior: 'add_answer' } do %>
      <i class='fas fa-plus-circle'></i><%= t('.add_new_answer') %>
    <% end %>
  </div>

</div>
