<%
  if answer_fb
    preview_answer_div_id = "question_#{question_index}_preview_answer_#{answer_fb.index}"
    edit_answer_div_id    = "question_#{question_index}_edit_answer_#{answer_fb.index}"
    answer_template_text  = answer_fb.object.text
    answer_template_image_url = answer_fb.object.image_url
  else
    preview_answer_div_id = ''
    edit_answer_div_id    = ''
    answer_template_text  = ''
    answer_template_image_url = nil
  end
%>

<div class="<%= class_if('answer_template', answer_fb) %> <%= class_if('answer_template_scaffold', !answer_fb) %>">

  <div style='<%= answer_fb ? '' : "display: none;" %>' class='list_item' id='<%= preview_answer_div_id %>'>

    <i class='fas fa-bars custom_handle tipsit' title="<%= t('views.drag_to_sort') %>"></i>

    <div class="main">
      <label><%= answer_template_text %></label>

      <% if answer_template_image_url %>
        <div class="media js-old-image-wrapper">
          <%= image_tag answer_template_image_url, alt: t(".image_file_alt") %>
        </div>
      <% end %>

      <div class="media js-new-image-wrapper" style="display: none">
        <img alt="<%= t(".image_file_alt") %>">
      </div>
    </div>

    <div class='tools'>

      <%= link_to '#', title: t('.edit'), class: 'tipsit edit_link' do %>
        <i class="fas fa-edit"></i>
      <% end %>

      <%= link_to "javascript:void(0)", title: t(".add_image"), class: "tipsit" do %>
        <% if answer_fb %>
          <%= answer_fb.label :image_file do %>
            <i class="fas fa-paperclip"></i>
          <% end %>
        <% else %>
          <label for="new_answer_image_file_scaffold_input">
            <i class="fas fa-paperclip"></i>
          </label>
        <% end %>
      <% end %>

      <%= link_to '#', title: t('.delete'), class: 'tipsit', data: { behavior: 'delete_answer' } do %>
        <i class='fas fa-trash'></i>
      <% end %>

    </div>

  </div>

  <div class='list_item_with_editable_content' style='display: none;' id='<%= edit_answer_div_id %>'>

    <i class='fas fa-bars custom_handle tipsit' title="<%= t('views.drag_to_sort') %>"></i>

     <div class="main">
      <% if answer_fb %>
        <%= answer_fb.text_field :text %>
        <%= answer_fb.file_field :image_file, class: "hidden js-file-input" %>
        <%= answer_fb.hidden_field :order %>
        <%= answer_fb.hidden_field :_destroy, value: '0' %>
      <% else %>
        <input type='text' value='' id='new_answer_text_scaffold_input'>
        <input type="file" value="" id="new_answer_image_file_scaffold_input" class="hidden js-file-input">
        <input type='hidden' value='' name='' id='new_answer_order_scaffold_input'>
        <input type='hidden' value='0' name='' id='new_answer_destroy_scaffold_input'>
      <% end %>

      <% if answer_template_image_url %>
        <div class="media js-old-image-wrapper">
          <%= image_tag answer_template_image_url %>
        </div>
      <% end %>

      <div class="media js-new-image-wrapper" style="display: none">
        <img alt="<%= t(".image_file_alt") %>">
      </div>
    </div>

    <div class='tools'>
      <%= link_to '#', title: t('.confirm'), class: 'tipsit', data: { behavior: 'confirm_edit_answer' } do %>
        <i class="fas fa-check"></i>
      <% end %>

      <%= link_to '#', title: t('.cancel'), class: 'tipsit', data: { behavior: 'cancel_edit_answer' } do %>
        <i class='fas fa-undo'></i>
      <% end %>
    </div>

  </div>

</div>
