<%= render 'gobierto_admin/shared/validation_errors', resource: @poll_form %>

<%= form_for(@poll_form, as: :poll, url: @poll_form.persisted? ? admin_participation_process_poll_path(current_process, @poll_form) : admin_participation_process_polls_path(current_process), data: { 'globalized-form-container' => true }, html: { multipart: true }) do |f| %>
  <div class='pure-g'>
    <div class='pure-u-1 pure-u-md-16-24'>

      <% if @poll_form.results_available? %>
        <div class='flash notice' data-behavior='disable_editable_components'>
          <p><%= t('.poll_ended_html', link_url: admin_participation_process_poll_answers_path(@poll_form.process, @poll_form)) %></p>
        </div>
      <% elsif !@poll_form.editable? %>
        <div class='flash notice' data-behavior='disable_editable_components'>
          <p><%= t('.poll_has_votes') %><p>
          <p><%= t('.received_answers_html', answers: @poll_form.unique_answers_count, predicted_answers: @poll_form.predicted_unique_answers_count, link_url: new_gobierto_participation_process_poll_answer_path(@poll_form.process.slug, @poll_form)) %><p>
          <p><%= t('.results_info') %><p>
        </div>
      <% end %>

      <div class='globalized_fields'>
        <%= render 'gobierto_admin/shared/form_locale_switchers' %>

        <% current_site.configuration.available_locales.each do |locale| %>
          <div class='form_item input_text' data-locale='<%= locale %>'>
            <%= label_tag "poll[title_translations][#{locale}]" do %>
              <%= f.object.class.human_attribute_name(:title) %>
              <%= attribute_indication_tag required: true, max_length: 140 %>
            <% end %>
            <%= text_field_tag "poll[title_translations][#{locale}]", f.object.title_translations && f.object.title_translations[locale], placeholder: t('.placeholders.title', locale: locale) %>
          </div>

          <div class='form_item textarea' data-locale='<%= locale %>'>
            <%= label_tag "poll[description_translations][#{locale}]", f.object.class.human_attribute_name(:description) %>
            <%= text_area_tag "poll[description_translations][#{locale}]", f.object.description_translations && f.object.description_translations[locale], placeholder: t('.placeholders.description', locale: locale) %>
          </div>
        <% end %>

        <div class="form_item select_control">
          <%= f.label :visibility_user_level %>
          <%= f.select(:visibility_user_level, [[t('.registered'), 'registered'], [t('.verified'), 'verified']]) %>
        </div>
        <%= render 'poll_questions', questions: @poll_form.questions, poll_form_builder: f %>
      </div>

      <div class='pure-g'>

        <div class='pure-u-1 pure-u-md-1-2 p_h_r_1'>
          <div class='form_item input_text'>
            <%= f.label :starts_at %>
            <%= f.text_field :starts_at, data: {
                'language': I18n.locale,
                'date-format': 'yyyy-mm-dd',
                'startDate': microseconds_since_epoch(f, :starts_at)
              },
              class: 'air-datepicker',
              readonly: !Rails.env.test?
            %>
          </div>
        </div>

        <div class='pure-u-1 pure-u-md-1-2'>
          <div class='form_item input_text'>
            <%= f.label :ends_at %>
            <%= f.text_field :ends_at, data: {
                'language': I18n.locale,
                'date-format': 'yyyy-mm-dd',
                'startDate': microseconds_since_epoch(f, :ends_at)
              },
              class: 'air-datepicker',
              readonly: !Rails.env.test?
            %>
          </div>
        </div>

      </div>

    </div>

    <div class='pure-u-1 pure-u-md-2-24'></div>

    <%= render partial: 'gobierto_admin/shared/save_widget', locals: { f: f, levels: poll_visibility_levels } %>

  </div>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.process_polls_controller.edit();
  <% end %>
<% end %>
