<div class='modal mfp-hide' id='<%= (question_form_builder ? "edit_question_#{question_form_builder.index}" : 'edit_question_modal_scaffold') %>'>

  <h2><%= t('.edit_question') %></h2>

  <!-- destroy flag -->
  <% if question_form_builder %>
    <%= question_form_builder.hidden_field :_destroy, value: '0' %>
  <% else %>
    <input type='hidden' value='0' name='' id='new_question_destroy_scaffold_input'>
  <% end %>
  <!-- ./ destroy flag -->

  <!-- question order -->
  <% if question_form_builder %>
    <%= question_form_builder.hidden_field :order %>
  <% else %>
    <input type='hidden' name='' id='new_question_order_scaffold_input'>
  <% end %>
  <!-- ./ question order -->

  <!-- globalized title -->
  <div class="globalized_fields">

    <%= render "gobierto_admin/shared/form_locale_switchers" %>

    <% current_site.configuration.available_locales.each do |locale| %>
      <div class="form_item input_text" data-locale="<%= locale %>">

        <% intput_name = question_form_builder ? "poll[questions_attributes][#{question_form_builder.index}][title_translations][#{locale}]" : "poll[questions_attributes][scaffold][title_translations][#{locale}]" %>
        <% input_value = question_form_builder ? (question_form_builder.object.title_translations && question_form_builder.object.title_translations[locale]) : '' %>

        <%= label_tag intput_name do %>
          <%= ::GobiertoParticipation::PollQuestion.human_attribute_name(:title) %>
          <%= attribute_indication_tag required: true %>
        <% end %>

        <%= text_field_tag intput_name, input_value %>

      </div>
    <% end %>

  </div>
  <!-- ./ gobalized title -->

  <!-- answer_type selector -->
  <div class="form_item">

    <h4><%= t('.question_type') %></h4>

    <div class="options compact">

      <% GobiertoParticipation::PollQuestion.answer_types.each do |type_name, type_index| %>

        <div class="option">

          <% if question_form_builder %>

            <%= question_form_builder.radio_button(
                  :answer_type,
                  type_name,
                  checked: (question_form_builder.object.answer_type == type_index),
                  data: { behavior: (type_index == ::GobiertoParticipation::PollQuestion.answer_types[:open] ? 'hide_answer_templates' : 'show_answer_templates') }
            ) %>
            <%= question_form_builder.label :answer_type, value: type_name do %>
              <span></span><%= translate_enum_value(GobiertoParticipation::PollQuestion, :answer_type, type_name) %>
            <% end %>

          <% else %>

            <input type="radio" value='<%= type_name %>' id='<%= "poll_questions_attributes_scaffold_answer_type_#{type_name}" %>' data-behavior='<%= type_index == ::GobiertoParticipation::PollQuestion.answer_types[:open] ? 'hide_answer_templates' : 'show_answer_templates' %>'>
            <label>
              <span></span><%= translate_enum_value(GobiertoParticipation::PollQuestion, :answer_type, type_name) %>
            </label>

          <% end %>

        </div>

      <% end %>

    </div>

  </div>
  <!-- ./ answer_type selector -->

  <%= render 'answer_templates', question_form_builder: question_form_builder %>

  <div class="actions right">
    <%= button_tag t('.cancel'), class: 'light close_poll_modal', data: { behavior: 'cancel_save_question' } %>
    <%= button_tag t('.save'), class: 'close_poll_modal', data: { behavior: 'save_question' } %>
  </div>

</div>
