<%
  if question && index
    question_summary_id = "question_summary_#{index}"
    mfp_link = "#edit_question_#{index}"
    question_title = question.title
  else
    question_summary_id = 'question_summary_scaffold'
    mfp_link = "#edit_question_scaffold"
    question_title = ''
  end
%>

<div style='<%= (question && index) ? '' : "display: none;" %>' class="list_item <%= class_if('poll_question_summary', question && index) %>" id='<%= question_summary_id %>'>

  <i class='fas fa-bars custom_handle tipsit' title="<%= t('views.drag_to_sort') %>"></i>

  <label class="main"><%= question_title %></label>

  <div class="tools">

    <%= link_to mfp_link, title: t('.edit'), class: 'tipsit open_poll_modal', data: { behavior: 'edit_record' } do %>
      <i class="fas fa-edit"></i>
    <% end %>

    <%= link_to '#', title: t('.delete'), class: 'tipsit', data: { behavior: 'delete_record' } do %>
      <i class="fas fa-trash"></i>
    <% end %>

  </div>

</div>
