<h2><%= t('.poll_questions') %></h2>

<div id='poll_questions_summaries'>

  <%= render 'poll_question_summary', question: nil, index: nil %>

  <% questions.each_with_index do |question, index| %>

    <%= render 'poll_question_summary', question: question, index: index %>

  <% end %>

</div>

<%= render 'poll_question_modal', question_form_builder: nil %>

<%= poll_form_builder.fields_for :questions do |question_form_builder| %>

  <%= render 'poll_question_modal', question_form_builder: question_form_builder %>

<% end %>

<div class="m_1 p_h_2" >
  <%= link_to '#', data: { behavior: 'add_question' } do %>
    <i class='fas fa-plus-circle'></i><%= t('.add_question') %>
  <% end %>
</div>
