<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to calendar.url_for_previous_view, id: "previous-month-link", "aria-label": 'previous-month-link' do %>
      <i class="fas fa-chevron-left f_left"></i>
    <% end %>
    <span class="calendar-title"><%= t('date.month_names')[start_date.month].capitalize %>, <%= start_date.year %></span>
    <%= link_to calendar.url_for_next_view, id: "next-month-link", "aria-label": 'next-month-link' do %>
      <i class="fas fa-chevron-right f_right"></i>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% passed_block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
