<div class="person_event-item person-item pure-g">

  <div class="date_badge pure-u-1 pure-u-md-1-6">
    <div class="day"><%= person_event.starts_at.day %></div>
    <div class="month"><%= l(person_event.starts_at, format: "%b").capitalize %></div>
    <div class="hour"><%= person_event.starts_at.strftime('%H:%M') %></div>
  </div>

  <div class="pure-u-1 pure-u-md-5-6 event-content">

    <h2><%= link_to person_event.title, gobierto_people_person_event_path(person_event.person, person_event) %></h2>

    <div class="soft meta">
      <div>
        <i class="fa fa-user"></i>
        <%= link_to person_event.person.name, person_event.person %>
        <%= person_event.person.charge %>
      </div>

      <% person_event.locations.each do |event_location| %>
        <div>
          <i class="fa fa-map-marker"></i>
          <%= link_to event_location.name, external_location_service_url(event_location) %>
          <%= event_location.address %>
        </div>
      <% end %>
    </div>

  </div>

</div>
