<div class="person_event-item person-item pure-g">

  <div class="date_badge pure-u-1 pure-u-md-1-6">
    <div class="day"><%= person_event.starts_at.day %></div>
    <div class="month"><%= l(person_event.starts_at, format: "%b").capitalize %></div>
    <div class="hour"><%= person_event.starts_at.strftime('%H:%M') %></div>
  </div>

  <div class="pure-u-1 pure-u-md-5-6 event-content">

    <h3>
      <% if person.present? %>
        <%= link_to person_event.title, gobierto_people_person_event_path(person.slug, person_event.slug) %>
      <% else %>
        <%= person_event.title %>
      <% end %>
    </h3>

    <div class="soft meta">
      <div>
        <i class="fas fa-user"></i>
        <% if person %>
          <%= link_to person.name, gobierto_people_person_path(person.slug)%>
          <%= person.charge %>
        <% end %>
      </div>

      <% person_event.locations.each do |event_location| %>
        <div>
          <i class="fas fa-map-marker"></i>
          <%= link_to_if event_location.geolocated?, event_location.name, external_location_service_url(event_location) %>
          <%= event_location.address %>
        </div>
      <% end %>
    </div>

  </div>

</div>
