<% content_for :breadcrumb_current_item do %>
  <strong>
    <%= link_to t('gobierto_people.layouts.menu_subsections.agendas'), gobierto_people_events_path %>
  </strong>
<% end %>

<div class="column">

  <h1><%= t(".title", site_name: current_site.name) %></h1>

  <%= render "gobierto_people/person_events/person_events_filter" %>

  <div class="pure-g">

    <div class="pure-u-1 pure-u-md-1-3">

      <div class="p_h_2">

        <div class="calendar-component">
          <%= month_calendar(
            partial: "gobierto_people/person_events/calendar_template",
            events: @events,
            attribute: :starts_at,
            start_date: @filtering_date || params[:start_date] || Date.current
          ) do |date, events| %>
            <% if events.any? %>
              <%= link_to date.day, date: date %>
            <% else %>
              <%= date.day %>
            <% end %>
          <% end %>
        </div>

        <%= render("user/subscriptions/subscribable_box",
                   subscribable: GobiertoPeople::PersonEvent,
                   title: t(".subscribable_box.title")) %>

       <div class="separator"></div>

       <div class="agenda-switcher">

         <div><strong><%= t(".agenda_switcher.title") %></strong></div>
         <div><%= t(".agenda_switcher.subtitle") %></div>

         <ul>
           <% @people.each do |person| %>
             <li><%= link_to person.name, gobierto_people_person_events_path(person) %></li>
           <% end %>
         </ul>

       </div>

      </div>

    </div>

    <div class="pure-u-1 pure-u-md-2-3">

      <div class="events-filter">

        <% if @filtering_date %>
          <div class="box">
            <div class="inner">
              <%= t(".displaying_events_of", date: l(@filtering_date, format: :short)) %>
              <%= link_to t(".go_back"), [:gobierto_people, @person_event_scope, :events] %>
            </div>
          </div>
        <% end %>

      </div>

      <div class="events-summary">

        <div class="pure-g">

          <div class="pure-u-1 pure-u-md-1-2">

            <h3 class="filter-option <%= class_if("active", !controller_name.include?("past_person_events")) %>">
              <%= link_to t(".upcoming_events"), [:gobierto_people, @person_event_scope, :events] %>
            </h3>

          </div>

          <div class="pure-u-1 pure-u-md-1-2">

            <h3 class="filter-option <%= class_if("active", controller_name.include?("past_person_events")) %>">
              <%= link_to t(".past_events"), [:gobierto_people, @person_event_scope, :past_events] %>
            </h3>

          </div>

        </div>

        <%= render @events %>

      </div>

    </div>

  </div>

</div>
