<%= render "gobierto_admin/shared/validation_errors", resource: @site_form %>

<%= form_for(@site_form, as: :site, url: @site_form.persisted? ? admin_site_path(@site_form) : :admin_sites, data: { "globalized-form-container" => true }) do |f| %>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">
      <div class="globalized_fields">
        <%= render "gobierto_admin/shared/form_locale_switchers" %>

        <% current_site.configuration.available_locales.each do |locale| %>
          <div class="form_item input_text" data-locale="<%= locale %>">
            <%= label_tag "site[title_translations][#{locale}]" do %>
              <%= f.object.class.human_attribute_name(:title) %>
              <%= attribute_indication_tag required: true %>
            <% end %>
            <%= text_field_tag "site[title_translations][#{locale}]", f.object.title_translations && f.object.title_translations[locale], placeholder: t(".placeholders.title", locale: locale.to_sym) %>
          </div>

          <div class="form_item input_text" data-locale="<%= locale %>">
            <%= label_tag "site[name_translations][#{locale}]", f.object.class.human_attribute_name(:name) %>
            <%= text_field_tag "site[name_translations][#{locale}]", f.object.name_translations && f.object.name_translations[locale], placeholder: t(".placeholders.name", locale: locale.to_sym) %>
          </div>
        <% end %>
      </div>

      <div class="form_item input_text">
        <%= f.label :organization_name %>
        <%= f.text_field(:organization_name, placeholder: t(".placeholders.organization_name")) %>
      </div>

      <div class="form_item input_text">
        <%= f.label :organization_id %>
        <%= f.text_field(:organization_id) %>

        <div class="inline_help">
          <%= t(".hints.organization_id_html") %>
        </div>
      </div>

      <div class="form_item input_text">
        <%= label_tag "site[domain]" do %>
          <%= f.object.class.human_attribute_name(:domain) %>
          <%= attribute_indication_tag required: true %>
        <% end %>
        <%= f.text_field :domain, placeholder: t(".placeholders.domain") %>

        <div class="inline_help">
          <%= t(".hints.domain.instructions") %>
          <% if @dns_config.a_record_target.present? %>
            <p>
              <strong><%= t(".hints.domain.if_domain") %></strong>:
              <%= t(".hints.domain.a_record", target: @dns_config.a_record_target) %>
            </p>
          <% end %>
          <% if @dns_config.cname_record_target.present? %>
            <p>
              <strong><%= t(".hints.domain.if_subdomain") %></strong>:
              <%= t(".hints.domain.cname_record", target: @dns_config.cname_record_target) %>
            </p>
          <% end %>
        </div>
      </div>

      <div class="form_item input_text">
        <%= f.label :reply_to_email %>
        <%= f.text_field(:reply_to_email, placeholder: t(".placeholders.reply_to_email")) %>
      </div>

      <div class="form_block">

        <% if f.object.logo_url.present? %>
          <%= image_tag f.object.logo_url %>
        <% end %>

        <div class="form_item file_field">
          <%= f.label :logo_file %>
          <%= f.file_field :logo_file %>
        </div>

        <div class="form_item textarea code">
          <%= f.label :head_markup %>
          <%= f.text_area :head_markup %>
        </div>

        <div class="form_item textarea code">
          <%= f.label :foot_markup %>
          <%= f.text_area :foot_markup %>
        </div>

        <div class="form_item textarea code">
          <%= f.label :links_markup %>
          <%= f.text_area :links_markup %>
        </div>

        <div class="form_item textarea code">
          <%= f.label :admin_custom_code %>
          <%= f.text_area :admin_custom_code %>
        </div>
      </div>

      <div class="form_block">

        <div class="form_item input_text">
          <%= f.label :google_analytics_id %>
          <%= f.text_field :google_analytics_id, placeholder: t(".placeholders.google_analytics_id") %>
        </div>

        <div class="form_item select_control">
          <%= f.label :privacy_page_id %>
          <%= f.select :privacy_page_id, @available_pages.map{ |p| [p.title, p.id] }, { include_blank: true } %>
        </div>

        <div class="form_item input_text">
          <%= f.label :populate_data_api_token %>
          <%= f.text_field :populate_data_api_token, placeholder: t(".placeholders.populate_data_api_token") %>
        </div>

        <div class="form_item textarea code">
          <%= f.label :raw_configuration_variables %>
          <%= f.text_area :raw_configuration_variables %>
        </div>
      </div>

      <div class="form_block">
        <div class="form_item site-check-boxes">
          <div class="options compact">
            <h4><%= f.object.class.human_attribute_name(:available_locales) %></h4>
            <%= f.collection_check_boxes(:available_locales, @available_locales_for_site, :first, :last) do |b| %>
              <div class="option">
                <%= b.check_box %>
                <%= b.label do %>
                  <span></span>
                  <%= b.text %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="options compact">
            <h4><%= f.object.class.human_attribute_name(:default_locale) %></h4>
            <%= f.collection_radio_buttons(:default_locale, @available_locales_for_site, :first, :last) do |b| %>
              <div class="option">
                <%= b.radio_button %>
                <%= b.label do %>
                  <span></span>
                  <%= b.text %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="form_block">

        <h2><%= t(".modules_enabled") %></h2>

        <div class="form_item site-module-check-boxes">
          <div class="options compact">
            <%= f.collection_check_boxes(:site_modules, @site_modules, :namespace, :name) do |b| %>
              <div class="option">
                <%= b.check_box %>
                <%= b.label do %>
                  <span></span>
                  <%= b.text %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="form_item select_control">
          <%= label_tag "site[home_page]" do %>
            <%= f.object.class.human_attribute_name(:home_page) %>
            <%= attribute_indication_tag required: true %>
          <% end %>
          <%= f.select :home_page, @site_modules_with_root_path.map{ |p| [p.namespace, p.namespace] } %>
        </div>

        <div class="form_item select_control" id="home_page_item">
          <%= f.label :home_page_item_id %>
          <%= f.select :home_page_item_id, grouped_options_for_select(@home_page_items, selected: @home_page_selected) %>
        </div>

      </div>

      <% if @auth_modules.present? %>
        <div class="form_block">
          <h2><%= t(".authentication_modules") %></h2>
          <div class="form_item auth-module-check-boxes">
            <div class="options compact">
              <%= f.collection_check_boxes(:auth_modules, @auth_modules, :name, :description) do |b| %>
                <div class="option">
                  <%= b.check_box %>
                  <%= b.label do %>
                    <span></span>
                    <%= b.text %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

     <% if @admin_auth_modules.present? %>
        <div class="form_block">
          <h2><%= t(".admin_authentication_modules") %></h2>
          <div class="form_item admin-auth-module-check-boxes">
            <div class="options compact">
              <%= f.collection_check_boxes(:admin_auth_modules, @admin_auth_modules, :name, :description) do |b| %>
                <div class="option">
                  <%= b.check_box %>
                  <%= b.label do %>
                    <span></span>
                    <%= b.text %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="form_item input_text">
        <%= f.label :engine_overrides_param %>
        <%= f.text_field(:engine_overrides_param) %>
      </div>

      <div class="form_block">
        <h2><%= t(".registration") %></h2>

        <div class="form_item site-check-boxes">
          <div class="options compact">
            <div class="option">
              <%= f.check_box :registration_disabled %>
              <%= f.label :registration_disabled do %>
                <span></span>
                <%= t(".registration_disabled")  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 ">

      <div class="widget_save stick_in_parent">

        <div class="form_item site-visibility-level-radio-buttons">

          <div class="options compact">
            <%= f.collection_radio_buttons(:visibility_level, @site_visibility_levels, :first, :first) do |b| %>
              <div class="option">
                <%= b.radio_button %>
                <%= b.label do %>
                  <span></span>
                  <%= t(".visibility_level.#{b.text}") %>
                  <% if b.text == "draft" %>
                    <div class="password_protected">
                      <p>
                        <%= t(".username") %>
                        <%= f.text_field :username %>
                      </p>
                      <p>
                        <%= t(".password") %>
                        <%= f.password_field :password, value: f.object.password %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>

        <%= f.submit class: "button" %>
      </div>

    </div>

  </div>

<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.sites_controller.edit({
      municipalities_suggestion_url: '<%= @services_config.municipalities_suggestions_endpoint %>',
      site_modules_with_root_path: '<%= APP_CONFIG[:site_modules_with_root_path] %>'
    });
  <% end %>
<% end %>
