<%= render "gobierto_admin/shared/validation_errors", resource: @site_form %>

<%= form_for(@site_form, as: :site, url: @site_form.persisted? ? admin_site_path(@site_form) : :admin_sites) do |f| %>

  <div class="pure-g">

    <div class="pure-u-1 pure-u-md-16-24">

      <div class="form_item input_text">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Transparencia y Participci칩n" %>
      </div>

      <div class="form_item input_text">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Ayuntamiento de Burjassot" %>
      </div>

      <div class="form_item input_text">
        <%= f.label :location_name %>
        <%= f.text_field(:location_name, placeholder: "Burjassot", data: {
          autocomplete_url: @services_config.municipalities_suggestions_endpoint
        }) %>
        <%= f.hidden_field :municipality_id %>
      </div>

      <div class="form_item input_text">
        <%= f.label :domain %>
        <%= f.text_field :domain, placeholder: "gobierto.burjassot.es" %>

        <div class="inline_help">
          Importante: este dominio deber치 estar creado previamente para que el site funcione correctamente. Instrucciones: 
          <p>
            <strong>Si es un dominio</strong>:
            Entrada A a <%= @dns_config.a_record_target %>
          </p>
          <p>
            <strong>Si es un subdominio</strong>:
            Entrada CNAME a <%= @dns_config.cname_record_target %>
          </p>
        </div>
      </div>

      <div class="form_block">

        <div class="form_item textarea code">
          <%= f.label :head_markup %>
          <%= f.text_area :head_markup %>
        </div>

        <div class="form_item textarea code">
          <%= f.label :foot_markup %>
          <%= f.text_area :foot_markup %>
        </div>

      </div>

      <div class="form_block">

        <div class="form_item input_text">
          <%= f.label :google_analytics_id %>
          <%= f.text_field :google_analytics_id, placeholder: "UA-000000-01" %>
        </div>

      </div>

      <div class="form_block">

        <h2>M칩dulos activados para este sitio</h2>

        <div class="form_item site-module-check-boxes">

          <div class="options compact">
            <%= f.collection_check_boxes(:site_modules, @site_modules, :namespace, :name) do |b| %>
              <div class="option">
                <%= b.check_box %>
                <%= b.label do %>
                  <span></span>
                  <%= b.text %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>

      </div>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

      <div class="widget_save">

        <div class="form_item site-visibility-level-radio-buttons">

          <div class="options compact">
            <%= f.collection_radio_buttons(:visibility_level, @site_visibility_levels, :first, :first) do |b| %>
              <div class="option">
                <%= b.radio_button %>
                <%= b.label do %>
                  <span></span>
                  <%= b.text.capitalize %>

                  <% if b.text == "draft" %>
                    <div class="password_protected">
                      <p>
                        Usuario:
                        <%= f.text_field :username %>
                      </p>
                      <p>
                        Contrase침a:
                        <%= f.text_field :password %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>

        <%= f.submit class: "button" %>
      </div>

    </div>

  </div>

<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.App.sites_controller.edit("<%= Rails.application.secrets.tbi_api_token %>");
  <% end %>
<% end %>
