<h1><%= t(".title") %></h1>

<div class="admin_tools right">
  <%= link_to "#" do %>
    <i class="fas fa-cog"></i>
    <%= t(".configuration") %>
  <% end %>
  <%= link_to t(".new"), new_admin_site_path, class: "button" %>
</div>

<table class="site-list">
<tr>
  <th></th>
  <th><%= t(".header.site") %></th>
  <th><%= t(".header.domain") %></th>
  <th><%= t(".header.created_at") %></th>
  <th><%= t(".header.status") %></th>
  <th></th>
</tr>

<tbody>
  <% @sites.each do |site| %>
    <tr id="site-item-<%= site.id %>" class="<%= cycle("odd", "even") %>">
      <td>
        <%= link_to edit_admin_site_path(site) do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </td>
      <td>
        <%= link_to edit_admin_site_path(site) do %>
          <strong><%= site.title %></strong>
          <%= site.name %>
        <% end %>
      </td>
      <td>
        <%= link_to site.domain, site.domain_url, target: "_blank" %>
      </td>
      <td>
        <%= l(site.created_at, format: :short) %>
        <span class="soft ip"><%= site.creation_ip %></span>
      </td>
      <td>
        <%= site_visibility_level_badge_for(site) %>
      </td>
      <td>
        <%= link_to site.domain_url, class: "view_item", target: "_blank" do %>
          <i class="fas fa-eye"></i>
          <%= t(".view_site") %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
