<div class="gradient-bg">
  <div class="column">
    <div class="pure-g two_by_two">
      <div class="pure-u-1 pure-u-md-16-24">
        <a href="#" class="p_1  content_block" style="background-image: url(<%= image_url('illustrations/city.svg') %>)">
          <h2><%= t('.intro', location_name: current_site.location_name) %></h2>
          <p class="lead"><%= t('.intro_p1') %></p>
        </a>
      </div>

      <div class="pure-u-1 pure-u-md-8-24">
        <div class="p_1 filled_block content_block" style="background-image: url(<%= image_url('illustrations/emojis.svg') %>)">
          <!-- TODO: Pending to be iterated / defined: -->
          <h2>Opina</h2>
          <p class="lead">¿Crees que habría que modificar la ordenanza sobre terrazas?</p>

          <div class="center">
            <div class="questions">
              <label class="control radio open_modal" href="#signin_register">
                <input id="radio1" name="radio" type="radio">
                <span class="control-indicator"></span>
                <strong>Sí</strong>, toca actualizarla.
              </label>
              <label class="control radio open_modal" href="#signin_register">
                <input id="radio2" name="radio" type="radio">
                <span class="control-indicator"></span>
                <strong>No</strong>, está bien como está.
              </label>
              <label class="control radio button_toggle">
                <input id="radio3" name="radio" type="radio">
                <span class="control-indicator"></span>
                <strong>No sé</strong>, cuéntame más.
              </label>
            </div>

            <a href="" class="button outline rounded fat hidden">Enviar</a>
          </div>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-8-24">
        <a href="#" class="p_1  content_block cover_bottom_left align_right" style="background-image: url(<%= image_url('illustrations/oldlady.svg') %>)">
          <div class="f_right">
            <h2><%= t('.ask_the_mayor') %></h2>
            <p><%= t('.ask_the_mayor_p1') %></p>
          </div>
        </a>
      </div>

      <div class="pure-u-1 pure-u-md-16-24">
        <a href="participation_themes.html" class="p_1  content_block cover_bottom_left align_bottom_right" style="background-image: url(<%= image_url('illustrations/mobile.svg') %>)">
          <div>
            <h2><%= t('.improve_city') %></h2>
            <p><%= t('.improve_city_p1') %></p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

<%= render 'gobierto_participation/welcome/participation_latest_info' %>

<%= render 'gobierto_participation/welcome/participation_proccesses' %>

<%= render 'gobierto_participation/welcome/participation_themes_list_a' %>
