<div class="gradient-bg">
  <div class="column">
    <div class="pure-g two_by_two">
      <div class="pure-u-1 pure-u-md-16-24">
        <a href="#" class="p_1  content_block" style="background-image: url({{ 'illustrations/city.svg' | image_url }})">
          <h2>{{ 'gobierto_participation.welcome.index.intro' | val: 'location_name', location_name | t }}</h2>
          <p class="lead">{{ "gobierto_participation.welcome.index.intro_p1" | t }}</p>
        </a>
      </div>

      <div class="pure-u-1 pure-u-md-8-24">
        {% comment %}
          show_poll()
        {% endcomment %}
      </div>

      <div class="pure-u-1 pure-u-md-8-24">
        <a href="#" class="p_1  content_block cover_bottom_left align_right" style="background-image: url({{ 'illustrations/oldlady.svg' | image_url }})">
          <div class="f_right">
            <h2>{{ "gobierto_participation.welcome.index.ask_the_mayor" | t }}</h2>
            <p>{{ "gobierto_participation.welcome.index.ask_the_mayor_p1" | t }}</p>
          </div>
        </a>
      </div>

      <div class="pure-u-1 pure-u-md-16-24">
        <a href="participation_themes.html" class="p_1  content_block cover_bottom_left align_bottom_right" style="background-image: url({{ 'illustrations/mobile.svg' | image_url }})">
          <div>
            <h2>{{ "gobierto_participation.welcome.index.improve_city" | t }}</h2>
            <p>{{ "gobierto_participation.welcome.index.improve_city_p1" | t }}</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

{% render_partial 'gobierto_participation/welcome/participation_latest_info' %}

{% render_partial 'gobierto_participation/welcome/participation_proccesses' %}

{% render_partial 'gobierto_participation/welcome/participation_themes_list_a' %}
