<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_people.people.index.title"), admin_people_people_path %> »
  <%= link_to t("gobierto_admin.gobierto_people.configuration.title"), edit_admin_people_configuration_settings_path %> »
  <% if controller_name == 'settings' %>
    <%= t("gobierto_admin.gobierto_people.settings.title") %>
  <% end %>
</div>

<h1><%= t("gobierto_admin.gobierto_people.configuration.title") %></h1>

<div class="tabs">
  <ul>
    <li <%= %Q{class="active"}.html_safe if controller_name == 'settings'%>>
      <%= link_to t("gobierto_admin.gobierto_people.settings.title"), edit_admin_people_configuration_settings_path %>
    </li>
  </ul>
</div>
