<% content_for :javascript_include do %>
  <%= javascript_include_tag 'gobierto_budgets/application', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :body_attributes do %>
  <%= data_attributes %>
<% end %>

<% content_for :breadcrumb_items do %>
  <strong>
    <%= link_to t('.budgets'), gobierto_budgets_budgets_path %>
  </strong>
  <span role="separator">/</span>
  <%= yield(:breadcrumb_current_item) %>
<% end %>

<%= render template: "layouts/application" %>
