<% content_for :javascript_include do %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
<% end %>

<% content_for :body_attributes do %>
  <%= data_attributes %>
<% end %>

<% content_for :breadcrumb_items do %>
  <strong>
    <%= link_to t('.budgets'), gobierto_budgets_budgets_path %>
  </strong>
  <span>/</span>
  <%= yield(:breadcrumb_current_item) %>
<% end %>

<%= render template: "layouts/application" %>
