<%= form_for(:session, url: user_sessions_path, html: { id: "user-session-form" }) do |f| %>
  <div class="form_item input_text">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form_item input_text">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="widget_save">
    <%= f.submit "Log in", class: "button" %>
  </div>
<% end %>
