<%= form_for(@user_password_form, as: :user_password, url: :user_passwords, html: { id: "user-password-form" }) do |f| %>
  <div class="form_item input_text">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <%= f.submit t(".submit"), class: "button" %>

  <%= link_to t(".session_section"), "#", class: "show_login_box" %>

<% end %>
