<%= form_for(@user_registration_form, as: :user_registration, url: :user_registrations, html: { id: "user-registration-form" }) do |f| %>
  <div class="form_item input_text">
    <%= label_tag "user_registration[email]" do %>
      <%= f.object.class.human_attribute_name(:email) %>
      <%= attribute_indication_tag required: true %>
    <% end %>
    <%= f.email_field :email %>
  </div>

  <div class="disclaimer"><%= privacy_policy_page_link %></div>

  <%= f.hidden_field :referrer_url %>
  <%= f.hidden_field :referrer_entity %>
  <%= f.submit t(".submit"), class: "button" %>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.User.registration_controller.new();
  <% end %>
<% end %>
