<div class="comment">
  <div class="comment_text">
    <%= comment.body %>
    <div class="meta">
      -
      <%= comment.user.name %>
      <span class="date"><%= l(comment.updated_at, format: :long) %></span>
    </div>
  </div>
  <div class="comment_actions">

    <%= render partial: 'gobierto_participation/processes/contributions/comment_votes', locals: { comment: comment, disabled: disabled } %>

    <% if !disabled %>
      <% if user_signed_in? %>
        <div class="action">
          <%= link_to "", remote: true, data: { id: "comment-#{comment.id}" } do %>
            <i class="fa fa-reply"></i><%= t('.respond') %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <%= render partial: 'gobierto_participation/processes/contributions/flag', locals: { item: comment, disabled: disabled } %>

  </div>

  <% if !disabled %>
    <%= render partial: 'gobierto_participation/comments/form', locals: { commentable: comment } %>
  <% end %>

  <% comment.replies.each do |comment| %>
    <%= render partial: 'gobierto_participation/comments/comment', locals: { comment: comment, disabled: disabled } %>
  <% end %>

</div>
