<div class="comment">
  <div class="comment_text">
    <%= comment.body %>
    <div class="meta">
      -
      <%= comment.user.name %>
      <span class="date"><%= l(comment.updated_at, format: :long) %></span>
    </div>
  </div>
  <div class="comment_actions">

    <%= render partial: 'gobierto_participation/processes/contributions/comment_votes', locals: { comment: comment } %>

    <% if user_signed_in? %>
      <div class="action">
        <%= link_to "", remote: true, data: { id: "comment-#{comment.id}" } do %>
          <i class="fa fa-reply"></i><%= t('.respond') %>
        <% end %>
      </div>
    <% end %>

    <%= render partial: 'gobierto_participation/processes/contributions/flag', locals: { item: comment } %>

  </div>

  <%= render partial: 'gobierto_participation/comments/form', locals: { commentable: comment } %>


  <% comment.replies.each do |comment| %>
    <h3><%= t('.comments_html', comments: comment.comments_count) %></h3>
    <%= render partial: 'gobierto_participation/comments/comment', locals: { comment: comment } %>
  <% end %>

</div>
