<div id='<%= commentable.class.name == "GobiertoParticipation::Contribution" ? "contribution" : "comment-#{commentable.id}" %>'
     style='<%= commentable.class.name == "GobiertoParticipation::Contribution" ? "display: inline;" : "display: none;" %>'>
  <%= form_for(
    @comment_form, as: :comment,
    url: gobierto_participation_process_contribution_container_contribution_comment_path(contribution_id: commentable.slug,
                                                                                         contribution_container_id: commentable.contribution_container.slug,
                                                                                         process_id: commentable.contribution_container.process.slug), data: { "globalized-form-container" => true }, remote: true ) do |f| %>

   <%= f.hidden_field :commentable_type, value: commentable.class %>
   <%= f.hidden_field :commentable_id, value: commentable.id %>

    <div class="form_item textarea">
      <%= text_area_tag "comment[body]", f.object.body, placeholder: "Comenta esta idea|propuesta|pregunta", id: commentable.class.name == "GobiertoParticipation::Contribution" ? "text-area-contribution" : "text-area-comment-#{commentable.id}" %>
    </div>

    <div class="form_item action_buttons right">
      <%= f.submit %>
    </div>
  <% end %>
</div>
