<%= render 'gobierto_admin/shared/validation_errors', resource: @file_attachment_form %>

<%= form_for(@file_attachment_form, as: :file_attachment, url: @file_attachment_form.persisted? ? admin_attachments_file_attachment_path(@file_attachment, collection_id: @collection) : admin_attachments_file_attachments_path(collection_id: @collection)) do |f| %>
  <div class='pure-g'>
    <div class='pure-u-1 pure-u-md-16-24'>
      <div class='form_item file_field avatar_file_field'>
        <% if f.object.url.present? %>
          <% if image_extension?(f.object.url) %>
            <%= image_tag f.object.url %>
          <% else %>
            <%= filetype_icon(f.object.url) %>
          <% end %>
        <% end %>
        <%= label_tag "file_attachment[file]" do %>
          <%= t('.file_constraints') %>
          <%= attribute_indication_tag required: true %>
        <% end %>
        <%= f.file_field :file %>
      </div>

      <div class='form_item input_text'>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: t('.placeholders.name') %>
      </div>

      <div class='form_item input_text'>
        <%= f.label :description %>
        <%= f.text_area :description, placeholder: t('.placeholders.description') %>
      </div>

      <div class='form_item input_text'>
        <%= f.label :slug %>
        <%= f.text_field :slug, placeholder: t('.placeholders.slug') %>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">
      <div class="widget_save">
        <%= f.submit class: "button" %>
      </div>
    </div>
  </div>
<% end %>
