<% if @collection %>
  <div class="admin_breadcrumb">
    <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
    <%= link_to t("gobierto_admin.gobierto_cms.file_attachments.index.title"), admin_attachments_file_attachments_path %> »
    <%= link_to @collection.title, admin_common_collection_path(@collection) %> »
    <%= t(".title") %>
  </div>
<% end %>

<%= render "form" %>
