<% if @collection %>
  <% if @collection.container.is_a?(::GobiertoParticipation::Process) %>
    <%= render 'gobierto_admin/gobierto_participation/shared/breadcrumb', last_breadcrumb_item: t('gobierto_admin.gobierto_attachments.file_attachments.edit.title'), process: @collection.container %>
    <h1><%= @collection.container.title %></h1>

    <%= render 'gobierto_admin/gobierto_participation/shared/navigation', current_process: @collection.container %>
  <% else %>
    <div class="admin_breadcrumb">
      <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
      <%= link_to t("gobierto_admin.gobierto_cms.file_attachments.index.title"), admin_attachments_file_attachments_path %> »
      <%= link_to @collection.title, admin_common_collection_path(@collection) %> »
      <%= t(".title") %>
    </div>
  <% end %>
<% end %>

<%= render "form" %>
