<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= t(".title") %>
</div>

<h1><%= t(".title") %></h1>

<div class="pure-g">

  <div class="pure-u-1 pure-u-md-1-2 p_h_r_2">

    <h3><%= t(".latest_editions") %></h3>

    <%# same markup as in the front end, lets reuse partials? %>
    <div class="activity_feed">
      <% @file_attachments.each do |file_attachment| %>
        <div class="activity_item">
          <h2>
            <%= link_to edit_admin_attachments_file_attachment_path(file_attachment.id, collection_id: file_attachment.collection) do %>
              <%= filetype_icon(file_attachment) %>
              <%= file_attachment.name %>
            <% end %>
          </h2>
          <div class="date">
            <%= l(file_attachment.updated_at, format: :short) %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="pure-g">
      <div class="pure-u-1-2">
        <h3><%= t(".collections") %></h3>
      </div>
      <div class="pure-u-1-2 admin_tools right">
        <%= link_to t(".new"), new_admin_common_collection_path(item_type: 'Attachment'), class: 'button open_remote_modal' %>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th></th>
          <th><%= t(".header.collection") %></th>
          <th><%= t(".header.file_attachments") %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody id="file_attachments_in_collection">
        <% @collections.each do |collection| %>
          <% next unless collection.container.present? %>
          <tr id="collection-item-<%= collection.id %>">
            <td>
              <%= link_to edit_admin_common_collection_path(collection, item_type: 'Attachment'), class: 'open_remote_modal' do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </td>
            <td><%= link_to collection.title, admin_common_collection_path(collection) %> (<%= collection_context(collection) %>)</td>
            <td><%= ::GobiertoAttachments::Attachment.where(id: collection.file_attachments_in_collection).size %></td>
            <td>
              <%= link_to new_admin_attachments_file_attachment_path(collection_id: collection.id), target: "_blank", class: "view_item" do %>
                <i class='fas fa-plus-circle'></i><%= t('.add_new_attachment') %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_common_collection_path(collection), target: "_blank", class: "view_item" do %>
                <i class="fas fa-eye"></i>
                <%= t(".view_collection") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<table class="pages-list">
  <thead>
    <tr>
      <th></th>
      <th><%= GobiertoCms::Page.human_attribute_name(:title) %></th>
      <th><%= t('.created_at') %></th>
      <th><%= t('.updated_at') %></th>
    </tr>
  </thead>

  <tbody>
    <% @site_file_attachments.each do |file_attachment| %>
      <tr>
        <td>
          <%= link_to file_attachment.collection ? edit_admin_attachments_file_attachment_path(file_attachment.id, collection_id: file_attachment.collection_id) :
                                                   edit_admin_attachments_file_attachment_path(file_attachment.id) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td>
          <% if file_attachment.name != file_attachment.file_name %>
            <%= file_attachment.try(:name) %>
            <br>
          <% end %>
          <%= link_to file_attachment.file_name, file_attachment.human_readable_path, target: '_blank' %>
        </td>
        <td><%= time_ago_in_words(file_attachment.created_at) %></td>
        <td><%= time_ago_in_words(file_attachment.updated_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
