<section class="row">
  <p class="col-md-9">Des d’aquí podeu accedir a informació exhaustiva sobre la relació de llocs de treball dels empleats públics, quants n’hi ha</p>
  <div class="col-md-3">
    <%= render "gobierto_people/gencat/datepicker" %>
  </div>
</section>

<section>
  <div class="fpca_distribuidora pd-30">
    <div class="llistat_destacat_text_avancat">
      <div class="llistat_col-lg-3 nova-altura-dist">
        <div class="col-xs-12 corrector-margins col-sm-4">
          <div class="box color-1 distribuidora-nova-3">
            <div class="color-decorator">
              <h1>6.344</h1>
              <h5>
                <div><strong>reunions registrades</strong></div>
              </h5>
            </div>
            <div class="margin_top_xs">
              <span>Departaments amb més reunions</span>
              <div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 corrector-margins col-sm-4">
          <div class="box color-2 distribuidora-nova-3">
            <div class="color-decorator">
              <h1>5.476</h1>
              <h5>
                <div><strong>grups d'interès inscrits</strong></div>
                <span>o en procès</span>
              </h5>
            </div>
            <div class="margin_top_xs">
              <span>Grups d'interès amb més reunions</span>
              <div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 corrector-margins col-sm-4">
          <div class="box color-3 distribuidora-nova-3">
            <div class="color-decorator">
              <h1>877</h1>
              <h5>
                <div><strong>alts càrrecs</strong></div>
                <span>amb reunions registrades</span>
              </h5>
            </div>
            <div class="margin_top_xs">
              <span>Alts càrrec amb més reunions</span>
              <div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<section id="map-chart">
  <p><strong>¿Cap a on viatjen els alts carrècs?</strong></p>
  <%= render "gobierto_people/gencat/map" %>
  <div id="punchcard-<%= SecureRandom.random_number(100) %>" class="punchcard color-2 transparent"></div>
</section>
<hr>
<section class="row">
  <div class="table-list col-md-6">
    <header>
      <p><strong>Regals</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis vero praesentium soluta maxime aperiam fuga sint harum tempora perspiciatis eveniet porro culpa, est eaque pariatur earum in accusamus, odio, qui.</p>
      <div class="alert alert-warning">
        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
      </div>
    </header>
    <figure>
      <figcaption class="mb_20">Últims obsequis</figcaption>
      <ul class="color-3 transparent">
        <li>
          <div>
            <p><strong>Parlament de Catalunya proclamés la República Catalana</strong></p>
            <p>Meritxell Serret i Aleu</p>
          </div>
          <div>
            <p><strong>23/06/08</strong></p>
            <a href=""><small>Veure detalls</small></a>
          </div>
        </li>
        <li>
          <div>
            <p><strong>Parlament de Catalunya proclamés la República Catalana</strong></p>
            <p>Meritxell Serret i Aleu</p>
          </div>
          <div>
            <p><strong>23/06/08</strong></p>
            <a href=""><small>Veure detalls</small></a>
          </div>
        </li>
        <li>
          <div>
            <p><strong>Parlament de Catalunya proclamés la República Catalana</strong></p>
            <p>Meritxell Serret i Aleu</p>
          </div>
          <div>
            <p><strong>23/06/08</strong></p>
            <a href=""><small>Veure detalls</small></a>
          </div>
        </li>
        <li>
          <div>
            <p><strong>Parlament de Catalunya proclamés la República Catalana</strong></p>
            <p>Meritxell Serret i Aleu</p>
          </div>
          <div>
            <p><strong>23/06/08</strong></p>
            <a href=""><small>Veure detalls</small></a>
          </div>
        </li>
      </ul>
    </figure>
    <div class="pd-15">
      <a href="" class="show-more bg-danger"><small>Veure tot</small></a>
    </div>
  </div>
  <div class="table-list col-md-6">
    <header>
      <p><strong>Invitacions</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis vero praesentium soluta maxime aperiam fuga sint harum tempora perspiciatis eveniet porro culpa, est eaque pariatur earum in accusamus, odio, qui.</p>
      <div class="alert alert-warning">
        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
      </div>
    </header>
    <figure>
      <figcaption class="mb_20">Últimes invitacions</figcaption>
      <ul class="color-3 transparent">
        <li>
          <div>
            <p><strong>Parlament de Catalunya proclamés la República Catalana</strong></p>
            <p>Meritxell Serret i Aleu</p>
          </div>
          <div>
            <p><strong>23/06/08</strong><span> ⇥ </span><strong>23/06/08</strong></p>
            <a href=""><small>Veure detalls</small></a>
          </div>
        </li>
        <li>
          <div>
            <p><strong>Parlament de Catalunya proclamés la República Catalana</strong></p>
            <p>Meritxell Serret i Aleu</p>
          </div>
          <div>
            <p><strong>23/06/08</strong><span> ⇥ </span><strong>23/06/08</strong></p>
            <a href=""><small>Veure detalls</small></a>
          </div>
        </li>
        <li>
          <div>
            <p><strong>Parlament de Catalunya proclamés la República Catalana</strong></p>
            <p>Meritxell Serret i Aleu</p>
          </div>
          <div>
            <p><strong>23/06/08</strong><span> ⇥ </span><strong>23/06/08</strong></p>
            <a href=""><small>Veure detalls</small></a>
          </div>
        </li>
        <li>
          <div>
            <p><strong>Parlament de Catalunya proclamés la República Catalana</strong></p>
            <p>Meritxell Serret i Aleu</p>
          </div>
          <div>
            <p><strong>23/06/08</strong><span> ⇥ </span><strong>23/06/08</strong></p>
            <a href=""><small>Veure detalls</small></a>
          </div>
        </li>
      </ul>
    </figure>
    <div class="pd-15">
      <a href="" class="show-more bg-danger"><small>Veure tot</small></a>
    </div>
  </div>
</section>

<section class="row">
  <a href="" class="col-md-12 bg-danger p_2">Accedeix a les dades al portal de Dades Obertes</a>
</section>
