<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <% case @collection.item_type %>
    <% when 'GobiertoCms::Page' %>
      <%= link_to t("gobierto_admin.layouts.application.cms"), admin_cms_pages_path %> »
    <% when 'GobiertoAttachments::Attachment' %>
      <%= link_to t("gobierto_admin.layouts.application.file_attachments"), admin_attachments_file_attachments_path %> »
    <% when 'GobiertoCalendars::Event' %>
      <%= link_to t("gobierto_admin.layouts.application.calendars"), admin_calendars_collections_path %> »
    <% end %>
  <%= @collection.title %>
</div>

<h1><%= @collection.title %></h1>

<% case @collection.item_type %>
  <% when 'GobiertoCms::Page', 'GobiertoCms::News' %>
    <div class="admin_tools right">
      <%= link_to edit_admin_common_collection_path(@collection), class: 'open_remote_modal' do %>
        <i class="fas fa-cog"></i>
        <%= t(".configuration") %>
      <% end %>

      <%= link_to t(".new_page"), @new_item_path, class: 'button', data: { turbolinks: false } if @new_item_path %>
    </div>
    <%= render 'gobierto_admin/gobierto_common/collections/show/pages' %>
  <% when 'GobiertoAttachments::Attachment' %>
    <div class="admin_tools right">
      <%= link_to edit_admin_common_collection_path(@collection), class: 'open_remote_modal' do %>
        <i class="fas fa-cog"></i>
        <%= t(".configuration") %>
      <% end %>

      <%= link_to t(".new_attachment"), @new_item_path, class: 'button' if @new_item_path %>
    </div>
    <%= render 'gobierto_admin/gobierto_common/collections/show/file_attachments' %>
  <% when 'GobiertoCalendars::Event' %>
    <%= render 'gobierto_admin/gobierto_common/collections/show/events' %>
<% end %>
