<div class="column">

  <div class="pure-g block m_v_3">

    <div class="pure-u-1 pure-u-md-1-2">
      <h1><%= @consultation.title %></h1>
      <p class="intro"><%= @consultation.description %></p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <%= image_tag('illustrations/presupuestos.jpg', class: 'side_50') %>
    </div>

  </div>

  <div id="consultation_participation_wrapper" class="consultation_cont">

    <div class="p_3">

      <h1 class="light">
        Esta es la propuesta de un ciudadano para los presupuestos de <%= current_site.organization_name %>
      </h1>

      <table class="budget-line_list">
        <% @consultation_response.consultation_items.each do |consultation_response_item| %>
          <tr>
            <td class="budget-line_title"><%= consultation_response_item.item_title %></td>
            <td class="left">
              <% consultation_response_item.response_options.each do |response_option| %>
                <div class="button_marker <%= response_option.label %> <%= "active" if consultation_response_item.selected_option_id == response_option.id %>">
                  <%= t("gobierto_budget_consultations.consultation_items.options.short.#{response_option.label}") %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>

        <tr class="summary_row">
          <td>Inversión inicial planificada</td>
          <td>
            <div class="consultation_marker">
              <div class="qty"><%= number_to_currency(@consultation.budget_amount) %></div>
            </div>

          </td>
        </tr>
        <tr class="no_border summary_row_end">
          <td>Total con tus deciciones</td>
          <td>
            <div class="consultation_marker debt_marker debt_warning">
              <div class="qty"><%= number_to_currency(@consultation_response.budget_amount) %></div>
              <div class="warning_text " style="display: block;">
                <h4>Estás en déficit </h4>
                <p>Deberás recortar en otras partidas o aumentar tu endeudamiento</p>
              </div>
            </div>
          </td>
        </tr>
      </table>

    </div>

  </div>

</div>
