<div class="pure-u-1 pure-u-md-1-3">

  <%= link_to gobierto_participation_process_path(group.slug), class:"content_block light" do %>

    <h3><%= group.title %></h3>

    <p><%== truncated_html(group.body, length: 350, headers: false, images: false) %></p>

    <div class="meta right">
      <div class="ib"><i class="fa fa-comment"></i><%= group.interactions_count %></div>
      <div class="ib"><i class="fa fa-users"></i><%= group.participants_count %></div>
    </div>

  <% end %>

</div>
