<div id="progress_map">

  <h3 class='agenda_title'>
    <% showcase_stage = process.showcase_stage %>

    <% if process.current_stage %>
      <%= t('.current') %>
    <% else %>
      <%= t('.next_stage') %>
    <% end %>
  </h3>

  <div class='content_block'>

    <div class='p_1'>
      <p><%= showcase_stage.title %></p>

      <% if showcase_stage.cta_text %>
        <div class='center'>
          <%= link_to process_stage_path(showcase_stage), class: 'button outline rounded checked' do %>
            <span><%= showcase_stage.cta_text %></span>
          <% end %>
        </div>
      <% end %>

    </div>

    <% if (stages_size = process.active_stages.size) >= 2 %>

      <div class='p_1' style='border-top:2px solid rgba(0,181,133, .3)'>
          <div class='dots-container'>
            <div class='dots'>

              <% process.active_stages.each_with_index do |stage, idx| %>

                <div id='<%= "#{stage.slug}_stage_dot" %>' class='dot dot-tooltip <%= stage.upcoming? ? 'disabled' : '' %>'>
                  <% if stage.current? %>
                    <div class='dot-current'></div>
                  <% end %>
                  <span class='tooltip-text'><%= stage.title %></span>
                </div>

                <% if idx < stages_size - 1 %>
                  <% next_stage_upcoming = process.active_stages[idx+1].upcoming? %>
                  <div class='dot-join <%= next_stage_upcoming ? 'disabled' : '' %>'></div>
                <% end %>

              <% end %>

            </div>
          </div>
        </div>

    <% end %>

  </div>

</div>