<div class="timeline_row <%= "#{class_if('current', stage.current?)} #{class_if('active', stage.published?)}" %>">
  <div class="pure-u-1 pure-u-md-4-24">
    <div class="badge">
      <strong><%= "#{l(stage.starts, format: '%d %b').upcase} - #{l(stage.ends, format: '%d %b').upcase}" %></strong>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-2-24 timeline_separator"></div>

  <div class="pure-u-1 pure-u-md-18-24">
    <div class="p_1 content_block">
      <h3 class="toggle_description"><i class="fas fa-caret-right"></i> <%= stage.title %></h3>

      <div class="circle"><%= (index + 1).to_s %></div>

      <div class="description">
        <%= stage.description %>
      </div>

      <%= link_to t('.view_stage'), stage_path(stage) %>
    </div>
  </div>
</div>
