<% if current_process %>
  <% content_for :breadcrumb_current_item do %>
    <strong>
      <%= link_to t('gobierto_participation.layouts.menu_subsections.processes'), gobierto_participation_processes_path %>
    </strong>

    <span role="separator">/</span>

    <h1>
      <%= link_to current_process.title, gobierto_participation_process_path(current_process.slug) %>
    </h1>
  <% end %>
<% end %>

<% content_for :subscribable_button do %>
  <%= render 'user/subscriptions/subscribable_button', subscribable: current_process %>
<% end %>

<div class="gradient-bg">
  <div class="column">
    <div class="pure-g agenda processes_home two_by_two">

      <div class="pure-u-1 pure-u-md-2-3">
        <a href="#" class="p_1  content_block align_bottom mask_bottom" style="background-image: url(<%= current_process.header_image_url %>)">
          <div>
            <h2><%= current_process.title %></h2>
          </div>
        </a>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center news_teaser">


        <% if current_process.published_stages.any? %>
          <%= render 'progress_map', { process: current_process } %>
        <% end %>

        <div>
          <h3 class="agenda_title"><%= t('.news') %></h3>
          <div class="p_1  content_block">
            <% if @process_news.any? %>
              <% @process_news.each do |page| %>
                <%= render 'place_news', { page: page } %>
              <% end %>
            <% else %>
              <%= t('.no_news') %>
            <% end %>
          </div>
        </div>

        <% if @process_news.any? %>
          <%= link_to t('.more_news'), gobierto_participation_process_pages_path(current_process.slug) %>
        <% end %>

      </div>

    </div>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-3">
        <h3 class="with_light_separator"><%= t('.about') %></h3>
        <p><%= current_process.body %></p>

        <%= link_to t('.more_information'), gobierto_participation_process_information_path(process_id: @process.slug), class: "button outline rounded" %>
      </div>
    </div>

  </div>
</div>

<div class="gradient-bg">
  <div class="column">
    <div class="pure-g agenda three_by_three">
      <div class="pure-u-1 pure-u-md-1-3">
        <h2 class="with_separator"><%= t('.interesting_information') %></h2>

        <% if current_process.starts && current_process.ends %>
          <div class="pure-g meta_info">
            <div class="pure-u-1 pure-u-md-1-4">
              <span class="accent"><i class="fa fa-calendar"></i> <%= t('.length') %></span>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
              <time><%= t('gobierto_participation.shared.from_to', starts: current_process.starts.strftime('%e/%m/%y'), ends: current_process.ends.strftime('%e/%m/%y')) %></time>
            </div>
          </div>
        <% end %>

        <% if current_process.issue %>
          <div class="pure-g meta_info">
            <div class="pure-u-1 pure-u-md-1-4">
              <span class="accent"><i class="fa fa-question-circle"></i><%= t('.issue') %></span>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
              <%= link_to current_process.issue.name, gobierto_participation_issue_path(current_process.issue.slug) %>
            </div>
          </div>
        <% end %>

        <% if current_process.scope %>
          <div class="pure-g meta_info">
            <div class="pure-u-1 pure-u-md-1-4">
              <span class="accent"><i class="fa fa-folder"></i><%= t('.scope') %></span>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <%= current_process.scope.name %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t('.appointments') %></h3>
        <div class="p_1  content_block">
          <% if @process_events.any? %>
            <% @process_events.each do |event| %>
              <%= render 'place_event', { event: event } %>
            <% end %>
          <% else %>
            <%= t('.no_events') %>
          <% end %>
        </div>

        <% if @process_events.any? %>
          <%= link_to t('.more_events'), gobierto_participation_process_events_path(process_id: @process.slug) %>
        <% end %>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t('.newest') %></h3>
        <div class="p_1  content_block">
          <% if @process_activities.any? %>
            <% @process_activities.each do |activity| %>
              <%= render 'place_activities', { activity: activity } %>
            <% end %>
          <% else %>
            <%= t('.no_activities') %>
          <% end %>
        </div>

        <% if @process_activities.any? %>
          <%= link_to t('.more_activities'), gobierto_participation_process_activities_path(process_id: @process.slug) %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% if @process_stages.any? %>
  <div class="gradient-bg" id="timeline">
    <div class="column">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
          <h2 class="with_separator"><%= t('.process_stages') %></h2>

          <%= image_tag 'illustrations/forum.svg', class: 'pure-img m_v_1' %>
        </div>

        <div class="pure-u-1 pure-u-md-2-3">
          <%= render 'timeline', { process_stages: @process_stages } %>
        </div>

      </div>
    </div>
  </div>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoParticipation.processes_controller.show();
  <% end %>
<% end %>
