<% if @process %>
  <% content_for :breadcrumb_current_item do %>
    <strong>
      <%= link_to t('gobierto_participation.layouts.menu_subsections.processes'), gobierto_participation_processes_path %>
    </strong>

    <span role="separator">/</span>

    <h1>
      <%= link_to @process.title, gobierto_participation_process_path(@process.slug) %>
    </h1>
  <% end %>
<% end %>

<div class="gradient-bg">
  <div class="column">
    <div class="pure-g agenda processes_home two_by_two">
      <div class="pure-u-1 pure-u-md-2-3">

        <a href="#" class="p_1  content_block align_bottom mask_bottom" style="background-image: url(<%= @process.header_image_url %>)">
          <div>
            <h2><%= @process.title %></h2>
          </div>
        </a>

        <h3 class="with_light_separator"><%= t('.about') %></h3>
        <p><%= @process.body %></p>

        <%= todo_link_to do %>
          <a href="participation_group_info.html" class="button outline rounded"><%= t('.more_information') %></a>
        <% end %>

      </div>

      <div class="pure-u-1 pure-u-md-1-3 center news_teaser">
        <div>
          <h3 class="agenda_title"><%= t('.current') %></h3>
          <div class="content_block">
            <div class="p_1">
              <p>Mesas de diálogo</p>
              <div class="center">
                <a href="#" class="button outline rounded checked">
                  <span>Sigue este proceso</span>
                </a>
              </div>
            </div>
            <div class="p_1" style="border-top:2px solid rgba(0,181,133, .3)">
              <div class="dots-container">
                <div class="dots">
                  <div class="dot"></div>
                  <div class="dot-join"></div>
                  <div class="dot"></div>
                  <div class="dot-join"></div>
                  <div class="dot">
                    <div class="current-dot"></div>
                  </div>
                  <div class="dot-join disabled"></div>
                  <div class="dot disabled"></div>
                  <div class="dot-join disabled"></div>
                  <div class="dot disabled"></div>
                  <div class="dot-join disabled"></div>
                  <div class="dot disabled"></div>
                  <div class="dot-join disabled"></div>
                  <div class="dot disabled"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h3 class="agenda_title"><%= t('.news') %></h3>
          <div class="p_1  content_block">
            <% if @process_news.any? %>
            <% @process_news.each do |notice| %>
            <%= render 'place_news', { notice: notice } %>
            <% end %>
            <% else %>
            <%= t('.no_news') %>
            <% end %>
          </div>
        </div>
        <% if @process_news.any? %>
          <%= link_to t('.more_news'), gobierto_participation_process_process_pages_path(@process.slug) %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="gradient-bg">
  <div class="column">
    <div class="pure-g agenda three_by_three">
      <div class="pure-u-1 pure-u-md-1-3">
        <h2 class="with_separator"><%= t('.interesting_information') %></h2>

        <% if @process.process? %>
          <div class="pure-g meta_info">
            <div class="pure-u-1 pure-u-md-1-4">
              <span class="accent"><i class="fa fa-calendar"></i> <%= t('.length') %></span>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
              <time><%= t('.from_to', starts: @process.starts.strftime('%e/%m/%y'), ends: @process.ends.strftime('%e/%m/%y')) %></time>
            </div>
          </div>
        <% end %>

        <% if @process.issue %>
          <div class="pure-g meta_info">
            <div class="pure-u-1 pure-u-md-1-4">
              <span class="accent"><i class="fa fa-question-circle"></i><%= t('.issue') %></span>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
              <%= link_to @process.issue.name, gobierto_participation_issue_path(@process.issue.slug) %>
            </div>
          </div>
        <% end %>

        <div class="pure-g meta_info">
          <div class="pure-u-1 pure-u-md-1-4">
            <span class="accent"><i class="fa fa-folder"></i> Ámbito</span>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <%= todo_link_to do %>
              <% link_to 'Estratégico', '' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t('.appointments') %></h3>
        <div class="p_1  content_block">
          <% if @process_events.any? %>
            <% @process_events.each do |event| %>
              <%= render 'place_event', { event: event } %>
            <% end %>
          <% else %>
            <%= t('.no_events') %>
          <% end %>
        </div>

        <% if @process_events.any? %>
          <%= link_to t('.more_events'), gobierto_participation_events_path(container_type: @process.container_type, container_id: @process.id) %>
        <% end %>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t('.newest') %> 🛠</h3>
        <div class="p_1  content_block">
          <%= render 'place_latest', { date: '20 Abr', title: 'Nuevo hilo de debate' } %>
          <%= render 'place_latest', { date: '21 Abr', title: 'Nuevo documento adjunto compartido' } %>
          <%= render 'place_latest', { date: '23 Abr', title: 'Mañana: Cita presencial' } %>
          <%= render 'place_latest', { date: '24 Abr', title: 'Comentario en Pacto Social' } %>
          <%= render 'place_latest', { date: '24 Abr', title: 'Mensaje de los administradores sobre el sistema de vídeo por streaming' } %>
        </div>

        <%= todo_link_to do %>
          <a href="#"><%= t('.more_updates') %></a>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% if @process_stages.any? %>
  <div class="gradient-bg" id="timeline">
    <div class="column">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
          <h2 class="with_separator"><%= t('.process_stages') %></h2>

          <%= image_tag 'illustrations/forum.svg', class: 'pure-img m_v_1' %>
        </div>

        <div class="pure-u-1 pure-u-md-2-3">
          <%= render 'timeline', { process_stages: @process_stages } %>
        </div>

      </div>
    </div>
  </div>
<% end %>
