<div class="gradient-bg">
  <div class="column">
    <div class="pure-g agenda processes_home two_by_two">

      <div class="pure-u-1 pure-u-md-2-3">
        <a href="#" class="p_1  content_block align_bottom mask_bottom" style="background-image: url(<%= current_process.header_image_url %>)">
          <div>
            <h2><%= current_process.title %></h2>
          </div>
        </a>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center news_teaser">


        <% if current_process.process? && @process_stages.any? %>
          <%= render 'progress_map', { process: current_process } %>
        <% end %>

        <div>
          <h3 class="agenda_title"><%= t('.news') %></h3>
          <div class="p_1  content_block">
            <% if @process_news.any? %>
              <% @process_news.each do |page| %>
                <%= render 'place_news', { page: page } %>
              <% end %>
            <% else %>
              <%= t('.no_news') %>
            <% end %>
          </div>
        </div>

        <% if @process_news.any? %>
          <%= link_to t('.more_news'), gobierto_participation_process_news_index_path(current_process.slug) %>
        <% end %>

      </div>

    </div>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-3">
        <h3 class="with_light_separator"><%= t(".about.#{current_process.process_type}") %></h3>
        <%== render_liquid(current_process.body) %>

        <% information_stage = current_process.stages.where(stage_type: 0).try(:first) %>

        <% if information_stage && information_stage.process_stage_page %>
          <%= link_to t('.more_information'), stage_path(information_stage), class: "button outline rounded" %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="gradient-bg">
  <div class="column">
    <div class="pure-g agenda three_by_three">
      <div class="pure-u-1 pure-u-md-1-3">
        <h2 class="with_separator"><%= t('.interesting_information') %></h2>

        <% if current_process.starts && current_process.ends %>
          <div class="pure-g meta_info">
            <div class="pure-u-1 pure-u-md-1-4">
              <span class="accent"><i class="fas fa-calendar"></i> <%= t('.length') %></span>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
              <time><%= t('gobierto_participation.shared.from_to', starts: current_process.starts.strftime('%e/%m/%y'), ends: current_process.ends.strftime('%e/%m/%y')) %></time>
            </div>
          </div>
        <% end %>

        <% if current_process.issue %>
          <div class="pure-g meta_info">
            <div class="pure-u-1 pure-u-md-1-4">
              <span class="accent"><i class="fas fa-question-circle"></i><%= t('.issue') %></span>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
              <%= link_to current_process.issue.name, gobierto_participation_issue_path(current_process.issue.slug) %>
            </div>
          </div>
        <% end %>

        <% if current_process.scope %>
          <div class="pure-g meta_info">
            <div class="pure-u-1 pure-u-md-1-4">
              <span class="accent"><i class="fas fa-folder"></i><%= t('.scope') %></span>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <%= link_to current_process.scope.name, gobierto_participation_scope_path(current_process.scope.slug) %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t('.appointments') %></h3>
        <div class="p_1  content_block">
          <% if @process_events.any? %>
            <%= render partial: "gobierto_participation/shared/events/place_event", collection: @process_events %>
          <% else %>
            <%= t("gobierto_participation.shared.no_events") %>
          <% end %>
        </div>

        <% if @process_events.any? %>
          <%= link_to t('gobierto_participation.shared.latest_info.show_more_events'), gobierto_participation_process_events_path(process_id: @process.slug) %>
        <% end %>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t('.newest') %></h3>
        <div class="p_1  content_block">
          <% if @process_activities.any? %>
            <% @process_activities.each do |activity| %>
              <%= render 'place_activities', { activity: activity } %>
            <% end %>
          <% else %>
            <%= t("gobierto_participation.shared.no_activities") %>
          <% end %>
        </div>

        <% if @process_activities.any? %>
          <%= link_to t('gobierto_participation.shared.latest_info.show_more_updates'), gobierto_participation_process_activities_path(process_id: @process.slug) %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% if current_process.process? && @process_stages.any? %>
  <div class="gradient-bg" id="timeline">
    <div class="column">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
          <h2 class="with_separator"><%= t('.process_stages') %></h2>

          <%= image_tag 'illustrations/forum.svg', class: 'pure-img m_v_1', alt: '' %>
        </div>

        <div class="pure-u-1 pure-u-md-2-3">
          <%= render 'timeline', { process_stages: @process_stages } %>
        </div>

      </div>
    </div>
  </div>
<% end %>
