<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_plans.plans.index.title"), admin_plans_plans_path %> »
  <%= @plan.title %>
</div>

<h1><%= @plan.title %></h1>

<%= render 'gobierto_admin/gobierto_plans/shared/navigation' %>

<%= render "plan_summary" %>

<div class="m_v_2">
  <%= render partial: "gobierto_admin/gobierto_common/ordered_terms/decorated_index", locals: { calculated_values: @accumulated_values, editable: current_admin.can_edit_vocabularies? } %>
</div>
