<% content_for :content do %>

  <% if show_only_calendar? %>
    <%= yield %>
  <% else %>
  <div class="column">

    <div class="pure-g">

      <div class="pure-u-1 pure-u-md-7-24">

        <div class="person_header_small clearfix">
          <%= render @person %>
          <%= render "gobierto_people/people/contact_methods" %>
          <%= render("gobierto_people/people/subscription_button", person: @person) %>
        </div>

        <%= render "gobierto_people/people/navigation" %>

      </div>

      <div class="pure-u-1 pure-u-md-17-24 main_people_content">

        <%= yield %>

      </div>

    </div>

  </div>
  <% end %>

<% end %>

<%= render template: "gobierto_people/layouts/application" %>

<% if show_only_calendar? %>
<style>
header, footer { display: none; }
</style>
<% end %>
