<div class="pure-u-1 pure-u-md-1-3">
  <%= link_to gobierto_participation_scope_path(scope.slug), class: 'content_block themed' do %>
    <div class="circle_teaser"></div>
    <h3><%= scope.name %></h3>
    <p class="soft">
      <%= scope.description %>
    </p>

    <% if meta %>
      <div class="meta right">
        <div class="ib"><i class="fas fa-comment"></i><%= scope.number_contributions %></div>
        <div class="ib"><i class="fas fa-users"></i><%= scope.number_contributing_neighbours %></div>
      </div>
    <% end %>
  <% end %>
</div>
