<div class="tabs">
  <ul>

    <li class="<%= class_if('active', controller_name == 'processes') %>">
      <%= link_to t('.stage'), edit_admin_participation_process_path(current_process), data: { turbolinks: false } %>
    </li>

    <li class="<%= class_if('active', controller_name.include?('events')) %>">
      <%= link_to t('.agenda'), admin_participation_process_events_path(current_process) %>
    </li>

    <li class="<%= class_if('active', controller_name.include?('pages')) %>">
      <%= link_to t('.news'), admin_participation_process_pages_path(current_process) %>
    </li>

    <li class="<%= class_if('active', controller_name.include?('file_attachments')) %>">
      <%= link_to t('.documents'), admin_participation_process_file_attachments_path(current_process) %>
    </li>
  </ul>
</div>
