<%= form_for :session, url: admin_sessions_path do |f| %>
  <div class="form_item input_text">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form_item input_text">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Log in" %>
<% end %>
