<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="twitter:site" content="gobierto">
  <%= display_meta_tags site: [site_name, 'Gobierto'].join(' · '), reverse: true, separator: '·' %>

  <!-- application styles -->
  <%= stylesheet_pack_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- module styles -->
  <%= yield(:stylesheet_module_link) %>

  <%= javascript_include_tag 'admin', 'data-turbolinks-track': true %>

  <%= csrf_meta_tags %>
  <%= yield(:javascript_module_link) %>
  <%= yield(:javascript_include) %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
</head>

<body <%= yield(:body_attributes) %> class="gobierto_admin">

  <header class="main clearfix">

    <div class="pure-menu-link logo">
      <%= link_to admin_root_path do %>
        <%= image_pack_tag 'Gobierto-Avatar@2x.png' %>
      <% end %>
    </div>

    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="#" id="menuLink1" class="pure-menu-link">Red</a>
          <ul id="managed-sites-list" class="pure-menu-children">
            <% managed_sites.each do |site| %>
              <li class="pure-menu-item">
                <%= button_to(
                  site.name,
                  admin_sites_sessions_path,
                  params: { site_id: site.id },
                  class: "pure-menu-link") %>
              </li>
            <% end %>

            <% if can_manage_sites? %>
              <li class="pure-menu-item">
                <%= link_to(
                  t(".manage_sites"),
                  admin_sites_path,
                  class: "pure-menu-link") %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>

    <% if managing_site? %>
      <div id="current-site-name" class="pure-menu-link">
        <%= current_site.name %>
      </div>
    <% end %>

    <% if admin_signed_in? %>
      <div class="right pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list left">
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">
              Hey, <%= current_admin_label %>
            </a>
            <ul class="pure-menu-children">
              <li class="pure-menu-item">
                <%= link_to admin_root_path, class: "pure-menu-link" do %>
                  <i class="fas fa-th"></i>
                  <%= t(".account") %>
                <% end %>
              </li>
              <li class="pure-menu-item">
                <%= link_to admin_sessions_path, method: :delete, class: "pure-menu-link" do %>
                  <i class="fas fa-sign-out"></i>
                  <%= t(".sign_out") %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>

    <div class="right pure-menu-link">
      Notificaciones
    </div>

    <div class="right pure-menu-link">
      <% if managing_site? %>
        <%= link_to t(".go_to_site"), current_site.domain_url, target: "_blank" %>
      <% end %>
    </div>

  </header>

  <div class="container admin_content_column_with_menu_opened">

    <menu class="main" data-menu-status="open">

      <div class="menu_content">

        <ul>
          <li><a href="admin_budgets">Presupuestos</a></li>
          <li><a href="admin_people">Altos cargos y Agendas</a></li>
          <li><a href="admin_part">Participación</a></li>
          <li><a href="admin_plans_plan">Planificación</a></li>

          <li class="sep"></li>

          <li><a href="admin_cms">CMS</a></li>
          <li><a href="admin_agendas">Agendas</a></li>
          <li><a href="admin_docs">Documentos</a></li>

          <li class="sep"></li>

          <li><%= link_to 'Usuarios', 'admin_users' %></li>
          <li><a href="admin_sites_site">Personalizar sitio</a>
            <ul>
              <li><%= link_to 'Vocabularios', 'admin_sites_vocab' %></li>
              <li><%= link_to 'Campos personalizados', '' %></li>
              <li><%= link_to 'Plantillas', 'admin_sites_site_templates' %></li>
            </ul>
          </li>

          <li class="sep"></li>

        </ul>

      </div>

      <div class="collapse_menu"><a href="#" class="js-collapse-menu"><i class="fas fa-caret-square-o-left"></i> <span>Colapsar menú</span></a></div>

    </menu>

    <div class="admin_content_column">

      <div class="admin_content">
        <%= render "gobierto_admin/shared/flash_messages" %>
        <%= yield %>
      </div>

      <footer>
        footer
      </footer>

    </div>

  </div>

  <%= yield :javascript_hook %>

</body>
</html>
