<h3><%= "#{question.order + 1}. #{question.title}" %></h3>

<table class='results_report'>

  <% if question.fixed_answer? %>

    <tr>
      <% question.answer_templates.each do |answer_template| %>
        <th><%= answer_template.text %></th>
      <% end %>
    </tr>

    <tr>
      <% question.answer_templates.each do |answer_template| %>
        <td><%= answer_template.times_chosen %></td>
      <% end %>
    </tr>

  <% else %>

    <tr>
      <th><%= t('.open_answers') %></th>
    </tr>

    <% question.answers.each do |answer| %>
      <tr><td><%= answer.text %></td></tr>
    <% end %>

  <% end %>
</table>