<div class='admin_breadcrumb'>
  <%= link_to t('gobierto_admin.welcome.index.title'), admin_root_path %> »
  <%= link_to t('gobierto_admin.gobierto_participation.welcome.index.title'), admin_participation_path %> »
  <%= link_to current_process.title, edit_admin_participation_process_path(current_process) %>
</div>

<h1><%= current_process.title %></h1>

<%= render 'gobierto_admin/gobierto_participation/shared/navigation' %>

<div class="pure-g">
  <div class="pure-u-3-4">
    <strong><%= link_to current_poll.title, edit_admin_participation_process_poll_path(current_process, current_poll) %></strong> » <%= t('.results') %>
  </div>
</div>

<h3><%= t('.sociodemographic_info') %></h3>

<table class='results_report'>
  <tr>
    <th><%= t('.participations') %></th>
    <td><%= current_poll.unique_answers_count %></td>
  </tr>
  <tr>
    <th><%= t('.men') %></th>
    <td><%= current_poll.men_participation_percentage %> %</td>
  </tr>
  <tr>
    <th><%= t('.women') %></th>
    <td><%= current_poll.women_participation_percentage %> %</td>
  </tr>
</table>

<h2><%= t('.answers') %></h2>

<% current_poll.questions.each do |question| %>
  <%= render 'question_answers_summary', question: question %>
<% end %>
