<% title t('.header') %>

<% content_for :body_attributes do %>
  <%== %Q{data-bubbles-data="#{bubbles_data_path(current_site)}" data-max-year="#{GobiertoBudgetsData::GobiertoBudgets::SearchEngineConfiguration::Year.last_year_with_data}"} %>
<% end %>

<div class="column">

  <!-- Welcome block -->
  <div class="block">
    <div class="pure-g header_block_inline">
      <div class="pure-u-1 pure-u-md-12-24">
        <div class="inline_header">
          <h2 class="with_description p_h_r_1"><%= t('.header') %></h2>
        </div>

        <p>
          <%= t('.description', place_name: current_site.organization_name) %>
        </p>

        <%= render('gobierto_budgets/shared/data_updated_at') %>
      </div>

      <div class="pure-u-1 pure-u-md-12-24 right">
        <%= image_tag('illustrations/personaliza.jpg', class: 'img_header m_v_4', alt: '') %>
      </div>
    </div>
  </div>

  <div class="block">
    <h2 class="with_description"><%= t('.main_budget_lines', from_your_organization_name: @site.determined_organization_name(:of_t) + @site.organization_name) %></h2>

    <div class="pure-g m_t_1">
      <div class="pure-u-1 pure-u-lg-11-24">
        <h3 class="center m_v_0 mt1"><%= t('.main_budget_lines_income') %></h3>
        <div class="graph vis-bubbles vis-bubbles-income"></div>
      </div>

      <div class="pure-u-1 pure-u-lg-1-24 bubble_legend_wrapper">
        <div class="bubble_legend"></div>
      </div>

      <div class="pure-u-1 pure-u-lg-11-24">
        <h3 class="center m_v_0 mt1"><%= t('.main_budget_lines_expense') %></h3>
        <div class="graph vis-bubbles vis-bubbles-expense"></div>
      </div>

      <div class="pure-u-1">
        <h3 class="m_v_0"><%= t('.main_budget_levels_timeline') %></h3>
        <div class="timeline"></div>
      </div>
    </div>
  </div>

  <div id="data-block">
    <%= render 'data_block' %>
  </div>

  <% if budgets_comparison_context_table_enabled %>
    <div id="lines_chart_wrapper" class="pure-g" data-vis-lines role="tabpanel">
      <div class=" pure-u-1 pure-u-md-1-2 block" >
        <h2><%= t('.at_a_glance') %></h2>

        <div id="lines_chart"></div>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 block">
        <h2><%= t('.context') %></h2>

        <div id="lines_tooltip"></div>
        <div class="help">
          <%= link_to t('.note_about_the_data'), APP_CONFIG[:gobierto_budgets][:data_note_url], target: '_blank', title: t('.note_about_the_data_title'), class: 'tipsit' %>
        </div>
      </div>

      <div class="pure-u-1">
        <div class="filter m_v_2" role="tablist" aria-label="<%= t('.visualize') %>">
          <%= link_to t('.per_person'), '#', class:'active',  data: {"line-widget-series" => "means", "line-widget-url" => gobierto_budgets_api_data_lines_path(organization_id: current_site.organization_id, year: @year, what: 'per_person', include_next_year: false, format: :json), "line-widget-type" => "per_person" }, role:'tab', tabindex:0, 'aria-selected' => 'true', id:'per_person', 'aria-controls' => 'lines_chart_wrapper' %>
          <%= link_to t('.in_total'), '#', class:'',  data: {"line-widget-series" => "means", "line-widget-url" => gobierto_budgets_api_data_lines_path(organization_id: current_site.organization_id, year: @year, what: 'total_budget', include_next_year: false, format: :json), "line-widget-type" => "total_budget" }, role:'tab', tabindex:-1, 'aria-selected' => 'false', id:'total_budget', 'aria-controls' => 'lines_chart_wrapper' %>

          </div>
      </div>
    </div>
  <% end %>

  <div class="separator"></div>

  <%= render partial: 'gobierto_budgets/budget_lines/explorer' %>

  <%= render "shared/download_open_data" %>
</div>
