<div class="column">

  <div class="consultation_cont">

    <div class="p_3">

      <h1 class="light">
        Esta es tu propuesta para los presupuestos de <%= current_site.location_name %>
      </h1>

      <table class="budget-line_list">
        <% @consultation_response.consultation_items.each do |consultation_response_item| %>
          <tr>
            <td class="budget-line_title"><%= consultation_response_item.item_title %></td>
            <td class="left">
              <% consultation_response_item.response_options.each do |response_option| %>
                <div class="button_marker <%= response_option.label %> <%= "active" if consultation_response_item.selected_option_id == response_option.id %>">
                  <%= t("gobierto_budget_consultations.consultation_items.options.short.#{response_option.label}") %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>

        <tr class="summary_row">
          <td>Inversión inicial planificada</td>
          <td>
            <div class="consultation_marker">
              <div class="qty"><%= number_to_currency(@consultation.budget_amount) %></div>
            </div>

          </td>
        </tr>
        <tr class="no_border summary_row_end">
          <td>Total con tus deciciones</td>
          <td>
            <div class="consultation_marker debt_marker debt_warning">
              <div class="qty"><%= number_to_currency(@consultation_response.budget_amount) %></div>
              <div class="warning_text " style="display: block;">
                <h4>Estás en déficit </h4>
                <p>Deberás recortar en otras partidas o aumentar tu endeudamiento</p>
              </div>
            </div>
          </td>
        </tr>
      </table>

      <div class="pure-g confirmation_actions">

        <div class="pure-u-1-2 p_h_2 right">
          <p>Mmm... mejor lo repaso</p>
          <a href="#" class="button soft">Revisar</a>
        </div>

        <div class="pure-u-1-2 p_h_2">
          <p>Perfecto, lo tengo claro</p>
          <%= form_for(:consultation_response, as: :consultation_response, url: :budget_consultation_confirmation) do |f| %>
            <%= button_tag type: "submit", class: "button" do %>
              Confirmar
            <% end %>
          <% end %>
        </div>

      </div>

    </div>

  </div>

</div>
