<div class="column">

  <div class="consultation_cont consultation_thanks">

    <div class="p_3">

      <h1 class="light">Estupendo, muchas gracias por tu aportación</h1>
      <h1>¿Qué ocurre ahora?</h1>

      <div class="separator_blue_medium"></div>

      <div class="pure-g p_v_2">

        <div class="pure-u-1-3 center">
          <%= image_tag 'illustrations/_person_question.png' %>
        </div>

        <div class="pure-u-2-3">
          <p>
            La consulta está abierta hasta el <%= l(@consultation.closes_on, format: :short) %>.
            Anima a tus vecinos a participar para que su opiniones también estén reflejadas, y decidamos entre todos.
          </p>

          <%= render("user/shared/sharing_buttons",
                     text: "He participado en una consulta sobre presupuestos en #{current_site.name}",
                     url: budget_consultation_participation_url(@consultation_response.sharing_token)) %>

          <p>
            También puedes compartir esta URL con quien prefieras:<br/>
            <%= link_to(
              budget_consultation_participation_url(@consultation_response.sharing_token),
              budget_consultation_participation_url(@consultation_response.sharing_token)) %>
          </p>
        </div>

      </div>

      <div class="separator_blue_medium"></div>

      <div class="pure-g p_v_2">

        <div class="pure-u-1-3 center">
          <%= image_tag 'illustrations/_person_painting.png' %>

        </div>

        <div class="pure-u-2-3">
          <p>Tu ayuntamiento recibirá un informe anonimizado con las respuestas, y el equipo municipal lo utilizará para comprobar cuales son las preferencias de los vecinos y tenerlas en cuenta en la elaboración de los presupuestos. </p>
        </div>

      </div>

      <div class="separator_blue_medium"></div>

      <div class="pure-g p_v_2">

        <div class="pure-u-1-3 center">
          <%= image_tag 'illustrations/_envelope_flying.png' %>
        </div>

        <div class="pure-u-2-3">
          <p>Te enviaremos un aviso cuando se publiquen los resultados de la consulta, y podrás recibir otro aviso cuando el ayuntamiento publique su proyecto de presupuestos. </p>
        </div>

      </div>

    </div>

  </div>

</div>
