<div class="column">

  <div class="consultation_cont consultation_thanks">

    <div class="wrapper">

      <h1 class="light"><%= t('.thanks') %></h1>
      <h1><%= t('.next_steps') %></h1>

      <div class="separator_blue_medium"></div>

      <div class="pure-g p_v_2">

        <div class="pure-u-1-3 center">
          <%= image_tag 'illustrations/_person_question.png' %>
        </div>

        <div class="pure-u-2-3">
          <p class="pl-xs">
            <%= t('.p1', date: l(@consultation.closes_on, format: :short)) %>
          </p>

          <%= render("user/shared/sharing_buttons",
                     text: t('.share_text', current_site_name: current_site.name),
                     url: gobierto_budget_consultations_consultation_url(@consultation)) %>
        </div>

      </div>

      <div class="separator_blue_medium"></div>

      <div class="pure-g p_v_2">

        <div class="pure-u-1-3 center">
          <%= image_tag 'illustrations/_person_painting.png' %>

        </div>

        <div class="pure-u-2-3">
          <p class="pl-xs"><%= t('.p2', your_organization_name: @site.determined_organization_name(:your).upcase_first) %></p>
        </div>

      </div>

      <div class="separator_blue_medium"></div>

      <div class="pure-g p_v_2">

        <div class="pure-u-1 pure-u-md-1-3 center-md">
          <%= image_tag 'illustrations/_envelope_flying.png' %>
        </div>

        <div class="pure-u-1 pure-u-md-2-3">
          <p><%= t('.p3') %></p>
        </div>

      </div>

    </div>

  </div>

</div>
