<div class="contact-methods">
  <ul>
    <% if @person.contact_email %>
      <li>
        <%= mail_to @person.contact_email, target: 'blank' do %>
          <i class="fas fa-envelope"></i> <span><%= @person.contact_email %></span>
        <% end %>
      </li>
    <% end %>

    <% if @person.twitter_url %>
      <li>
        <%= link_to @person.twitter_url, target: 'blank' do %>
          <i class="fas fa-twitter"></i> <span><%= @person.twitter_handle %></span>
        <% end %>
      </li>
    <% end %>

    <% if @person.facebook_url %>
      <li>
        <%= link_to @person.facebook_url, target: 'blank' do %>
          <i class="fas fa-facebook"></i> <span><%= @person.facebook_handle %></span>
        <% end %>
      </li>
    <% end %>

    <% if @person.linkedin_url %>
      <li>
        <%= link_to @person.linkedin_url, target: 'blank' do %>
          <i class="fas fa-linkedin"></i> <span><%= @person.linkedin_handle %></span>
        <% end %>
      </li>
    <% end %>

    <% if @person.instagram_url %>
      <li>
        <%= link_to @person.instagram_url, target: 'blank' do %>
          <i class="fas fa-instagram"></i> <span><%= @person.instagram_handle %></span>
        <% end %>
      </li>
    <% end %>

    <% if @person.email? %>
      <li>
        <%= link_to new_gobierto_people_person_messages_path(@person.slug), title: t('.send_email') do %>
          <i class="fas fa-envelope-o"></i> <span><%= t('.send_email') %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
