<% if active_submodules.size > 1 %>
  <div class="separator"></div>

  <div class="people-navigation">

    <ul>
      <% if officials_submodule_active? && @person.has_biographic_data? %>
        <li><h3><%= link_to t(".bio"), gobierto_people_person_bio_path(@person.slug), class: class_if("active", controller_name == "person_bio") %></h3></li>
      <% end %>
      <% if agendas_submodule_active? %>
        <li><h3><%= link_to t(".agenda"), gobierto_people_person_events_path(@person.slug), class: class_if("active", controller_name == "person_events")  %></h3></li>
      <% end %>
      <% if blogs_submodule_active? && @person.has_posts? %>
        <li><h3><%= link_to t(".blog"), gobierto_people_person_posts_path(@person.slug), class: class_if("active", controller_name == "person_posts")  %></h3></li>
      <% end %>
      <% if statements_submodule_active? && @person.has_statements? %>
        <li><h3><%= link_to t(".statements"), gobierto_people_person_statements_path(@person.slug), class: class_if("active", controller_name == "person_statements")  %></h3></li>
      <% end %>
      <% if @person.trips_url %>
        <li><h3><%= link_to t(".trips"), @person.trips_url %></h3></li>
      <% end %>
      <% if @person.gifts_url %>
        <li><h3><%= link_to t(".gifts"), @person.gifts_url  %></h3></li>
      <% end %>
    </ul>

  </div>
<% end %>

<% if @calendar_events %>
  <div class="separator"></div>

  <div class="calendar-component m_v_2">
    <%= month_calendar(
      partial: "gobierto_people/person_events/calendar_template",
      events: @calendar_events,
      attribute: :starts_at,
      start_date: params[:start_date] || Date.current
    ) do |date, events| %>
      <%= link_to_if events.any?, date.day, date: date, start_date: params[:start_date], list_view: (controller_name == 'person_events' && action_name == 'index') %>
    <% end %>
  </div>
<% end %>

<div class="download_open_data">

  <i class="fa fa-table"></i>
  <%= link_to t(".exports"), gobierto_exports_root_url %>

</div>
