<menu class="filter_boxed">

  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul>
      <li class="<%= class_if('active', controller_name == 'government_party_people' || controller_name == 'welcome') %>" >
        <%= link_to t("gobierto_people.people_filter.parties.government"), gobierto_people_government_party_people_path %>
      </li>
      <li class="<%= class_if('active', controller_name == 'opposition_party_people') %>">
        <%= link_to t("gobierto_people.people_filter.parties.opposition"), gobierto_people_opposition_party_people_path %>
      </li>
      <li class="<%= class_if('active', @political_group.present?) %>">
        <%= link_to t("gobierto_people.people_filter.political_groups.title"), gobierto_people_political_group_people_path(@political_groups.first) %>
      </li>
      <li class="<%= class_if('active', controller_name == 'executive_category_people') %>">
        <%= link_to t("gobierto_people.people_filter.categories.executive"), gobierto_people_executive_category_people_path %>
      </li>
      <% if controller_name != 'welcome' %>
        <li class="<%= class_if('active', @political_group.nil? && controller_name == 'people') %>">
          <%= link_to t("gobierto_people.people_filter.all"), gobierto_people_people_path %>
        </li>
      <% end %>
    </ul>

    <% if @political_group %>
      <div>
        <ul>
          <% @political_groups.each do |political_group| %>
            <li class="<%= class_if('active', @political_group == political_group) %>">
              <%= link_to political_group.name, gobierto_people_political_group_people_path(political_group) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>

</menu>
