<div id="person-events-list">

  <div class="block">
    <h2><%= t(".events_summary.upcoming_events") %></h2>

    <% case people_filter %>
    <% when 'government' %>
      <%= link_to t(".events_summary.past_events"), gobierto_people_government_party_past_events_path, { remote: true, class: 'to_r' } %>
    <% when 'opposition' %>
      <%= link_to t(".events_summary.past_events"), gobierto_people_opposition_party_past_events_path, { remote: true, class: 'to_r' } %>
    <% when 'executive' %>
      <%= link_to t(".events_summary.past_events"), gobierto_people_executive_category_past_events_path, { remote: true, class: 'to_r' } %>
    <% end %>
  </div>

  <% if person_events.any? %>
    <% person_events.each do |person_event| %>
      <%= render(partial: 'gobierto_people/person_events/person_event', locals: { person_event: person_event } ) %>
    <% end %>
    <%= link_to t(".events_summary.view_all"), gobierto_people_events_path, class: "see_more", role: "button" %>
  <% else %>
    <p>No hay eventos</p>
  <% end %>

</div>
