<div class="person-item pure-g">

  <% unless local_assigns[:avatar] == false %>

    <div class="pure-u-1 pure-u-md-1-5">
      <%= link_to gobierto_people_person_path(person.slug) do %>
        <% if person.avatar_url.present? %>
          <%= image_tag person.avatar_url, class: "avatar", alt: t('.picture', name: person.name) %>
        <% end %>
      <% end %>
    </div>

  <% end %>

  <div class="pure-u-1 person-name <%= class_if('pure-u-md-4-5', !(local_assigns[:avatar] == false)) %>">
    <%= link_to gobierto_people_person_path(person.slug) do %>
      <h2><%= person.name %></h2>
    <% end %>
    <div class="soft"><%= person.charge %></div>
  </div>

</div>
