<div class="upcoming-events box slim_box color_neutral_soft">

  <h3><i class="fas fa-calendar"></i> <%= t(".title") %></h3>

  <% if @upcoming_events.any? %>
    <ul>
      <% @upcoming_events.each do |event| %>
        <li>
          <span class="soft">
            <%= event.starts_at.day %> <%= l(event.starts_at, format: "%b").capitalize %> ·
          </span>
          <h4 class="event-title"><%= link_to event.title, gobierto_people_person_event_path(@person.slug, event.slug) %></h4>
        </li>
      <% end %>
    </ul>
    <small><%= link_to t(".view_all"), gobierto_people_person_events_path(@person.slug) %></small>
  <% else %>
    <%= t('.no_upcoming_events') %>
  <% end %>

</div>
