<%= render "gobierto_admin/shared/validation_errors", resource: @process_stage_form %>

<%= form_for(
  @process_stage_form, as: :process_stage,
  url: @process_stage_form.persisted? ? admin_participation_process_process_stage_path(@process_stage_form, process_id: current_process.id) : admin_participation_process_process_stages_path(@process_stage_form, process_id: current_process.id), data: { "globalized-form-container" => true}) do |f| %>

  <div class="globalized_fields">
    <div class="form_item select_control">
      <%= f.label :stage_type %>
      <%= f.select :stage_type,
                   options_for_select(@stage_types,
                                      selected: @stage_type_selected,
                                      prompt: t('.stage_types_prompt')) %>
    </div>

    <%= render "gobierto_admin/shared/form_locale_switchers" %>

    <% current_site.configuration.available_locales.each do |locale| %>
      <div class="form_item input_text" data-locale="<%= locale %>">
        <%= label_tag "process_stage[menu_translations][#{locale}]" do %>
          <%= f.object.class.human_attribute_name(:menu) %>
          <span class="indication"><%= t('views.forms.max_characters', length: 50) %></span>
        <% end %>
        <%= text_field_tag "process_stage[menu_translations][#{locale}]", f.object.menu_translations && f.object.menu_translations[locale], placeholder: t(".placeholders.menu", locale: locale.to_sym) %>
      </div>

      <div class="form_item input_text" data-locale="<%= locale %>">
        <%= label_tag "process_stage[title_translations][#{locale}]" do %>
          <%= f.object.class.human_attribute_name(:title) %>
          <span class="indication"><%= t('views.forms.max_characters', length: 140) %></span>
        <% end %>
        <%= text_field_tag "process_stage[title_translations][#{locale}]", f.object.title_translations && f.object.title_translations[locale], placeholder: t(".placeholders.title", locale: locale.to_sym) %>
      </div>

      <div class="form_item input_text" data-locale="<%= locale %>">
        <%= label_tag "process_stage[description_translations][#{locale}]" do %>
          <%= f.object.class.human_attribute_name(:description) %>
          <span class="indication"><%= t('views.forms.max_characters', length: 480) %></span>
        <% end %>
        <%= text_area_tag "process_stage[description_translations][#{locale}]", f.object.description_translations && f.object.description_translations[locale], placeholder: t(".placeholders.description", locale: locale.to_sym) %>
      </div>
    <% end %>

    <div class="form_item input_text">
      <%= label_tag "process_stage[slug]" do %>
        <%= f.object.class.human_attribute_name(:slug) %>
        <span class="indication"><%= t('views.forms.max_characters', length: 80) %></span>
      <% end %>
      <%= f.text_field :slug, placeholder: t(".placeholders.slug") %>
    </div>

    <% current_site.configuration.available_locales.each do |locale| %>
      <div class="form_item input_text" data-locale="<%= locale %>">
        <%= label_tag "process_stage[cta_description_translations][#{locale}]" do %>
          <%= f.object.class.human_attribute_name(:cta_description) %>
          <span class="indication"><%= t('views.forms.max_characters', length: 50) %></span>
        <% end %>
        <%= text_field_tag "process_stage[cta_description_translations][#{locale}]", f.object.cta_description_translations && f.object.cta_description_translations[locale], placeholder: t(".placeholders.cta_description", locale: locale.to_sym) %>
      </div>

      <div class="form_item input_text" data-locale="<%= locale %>">
        <%= label_tag "process_stage[cta_text_translations][#{locale}]" do %>
          <%= f.object.class.human_attribute_name(:cta_text) %>
          <span class="indication"><%= t('views.forms.max_characters', length: 32) %></span>
        <% end %>
        <%= text_field_tag "process_stage[cta_text_translations][#{locale}]", f.object.cta_text_translations && f.object.cta_text_translations[locale], placeholder: t(".placeholders.cta_text", locale: locale.to_sym) %>
      </div>
    <% end %>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">
        <div class="form_item input_text">
          <%= f.label :starts %>
          <%= f.text_field :starts, data: {
              "language": I18n.locale,
              "date-format": "yyyy-mm-dd",
              "startDate": format_time(f, :starts)
            },
            class: "air-datepicker",
            readonly: !Rails.env.test?
          %>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-2">
        <div class="form_item input_text">
          <%= f.label :ends %>
          <%= f.text_field :ends, data: {
              "language": I18n.locale,
              "date-format": "yyyy-mm-dd",
              "startDate": format_time(f, :ends)
            },
            class: "air-datepicker",
            readonly: !Rails.env.test?
          %>
        </div>
      </div>
    </div>

  </div>

  <div class="form_block">
    <div class="form_item">
      <div id="visibility_level_radio_buttons" class="options compact">

        <h3><%= t('.visibility_level') %></h3>

        <% @visibility_levels.keys.each do |type| %>
          <div class="option">
            <%= f.radio_button :visibility_level, type %>
            <%= f.label :visibility_level, value: type do %>
              <span></span>
              <%= translate_enum_value(GobiertoParticipation::ProcessStage, :visibility_level, type) %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class="actions right">
    <%= f.submit %>
  </div>

<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.process_stages_controller.form();
  <% end %>
<% end %>
