<div id="stages" class="form_block">
  <ul class="block_list" data-behavior="sortable" data-sortable-target="<%= admin_participation_process_process_stage_sort_path(process_id: current_process.id) %>">

  <% current_process.stages.each_with_index do |stage, index| %>
    <div id="process-stage-item-<%= stage.id %>" data-id="<%= stage.id %>" class="list_item">
      <i class="sort-handler fas fa-bars tipsit custom_handle" title="<%= t('.drag_to_sort') %>"></i>

      <div class="main">
        <div class="group">
          <label>
            <%= stage.title %>
            <span class="interaction_tool">
              <i class="fas fa-stethoscope"></i>
              <%= translate_enum_value(GobiertoParticipation::ProcessStage, :stage_type, stage.stage_type) %>
            </span>
          </label>
        </div>

        <div class="group secondary">
          <div class="date">
            <% if stage.starts && stage.ends %>
              <i class="fas fa-clock-o"></i>
              <%= t("time.formats.from_to", starts: l(stage.starts, format: :shortest),
                                            ends: l(stage.ends, format: :shortest)) %>
            <% end %>
          </div>
          <div class="">
            <i class="fas fa-cog"></i>
            <%= link_to t('.manage'), admin_stage_path(stage), data: { turbolinks: false } %>
          </div>
        </div>

        <div class="group secondary right">
          <label>
            <% if stage.active? %>
              <input type="radio" value='<%= stage.id %>' name=process[stages_attributes][active] id='<%= "process_stages_attributes_#{index}_active" %>' checked>
            <% else %>
              <input type="radio" value='<%= stage.id %>' name=process[stages_attributes][active] id='<%= "process_stages_attributes_#{index}_active" %>'>
            <% end %>
            <%= t('.active') %>
          </label>
          <span>
            <% if stage.published? %>
              <i class="fas fa-check"></i>
              <%= t('.published') %>
            <% else %>
              <i class="fas fa-lock"></i>
              <%= t('.draft') %>
            <% end %>
          </span>
        </div>

      </div>

      <div class="tools">
        <%= link_to '<i class="fas fa-edit"></i>'.html_safe,
                    edit_admin_participation_process_process_stage_path(stage.id, process_id: current_process.id),
                    class: 'tipsit',
                    data: { turbolinks: false },
                    title: t('.edit') %>

        <%= link_to "<i class='fas fa-trash'></i>".html_safe,
                    admin_participation_process_process_stage_path(stage.id, process_id: current_process.id),
                    method: :delete,
                    remote: true,
                    title: t('.delete'),
                    class: 'tipsit' %>
      </div>

    </div>

  <% end %>

  <div class="m_1 p_h_2" >
    <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe + t('.add_new_stage'),
                new_admin_participation_process_process_stage_path(current_process.id),
                data: { turbolinks: false } %>
  </div>
</div>
