<%= render 'gobierto_admin/gobierto_participation/shared/breadcrumb', last_breadcrumb_item: t('.stages'), process: current_process %>

<h1><%= current_process.title %></h1>

<%= render 'gobierto_admin/gobierto_participation/shared/navigation' %>

<%= render 'gobierto_admin/gobierto_participation/processes/process_stages/process_stages' %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.process_stages_controller.index();
  <% end %>
<% end %>
