<div id='google_calendar_fields' style="<%= (integration_name != 'google_calendar') ? 'display: none;' : '' %>">

  <% if @google_calendar_configuration.nil? %>

    <div class="form_item input_text">
      <p><%= t('.share_link') %></p>
      <p><input type="text" name="google_calendar_invitation_url" value="<%= new_gobierto_people_google_calendar_authorization_url(token: @collection.container.google_calendar_token, host: ENV['BASE_HOST']) %>"/></p>
    </div>

  <% else %>

    <p><%= t('.calendar_configured') %>:</p>

    <div class="form_block ">
      <div class="form_item site-check-boxes">
        <div class="options compact">
          <%= f.collection_check_boxes(:calendars, @calendars, :id, :summary) do |b| %>
            <div class="option">
              <%= b.check_box %>
              <%= b.label do %>
                <span></span>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>

</div>