<div id='microsoft_exchange_fields' style="<%= (integration_name != 'microsoft_exchange') ? 'display: none;' : '' %>">

  <div class='form_item input_text'>
    <%= f.label :microsoft_exchange_usr, t('gobierto_admin.gobierto_calendars.calendar_configuration.edit.labels.microsoft_exchange_usr') %>
    <%= f.text_field :microsoft_exchange_usr, placeholder: t('gobierto_admin.gobierto_calendars.calendar_configuration.edit.placeholders.username') %>
  </div>

  <div class='form_item input_text'>
    <%= f.label :microsoft_exchange_pwd, t('gobierto_admin.gobierto_calendars.calendar_configuration.edit.labels.microsoft_exchange_pwd') %>
    <%= f.password_field :microsoft_exchange_pwd, value: f.object.dummy_microsoft_exchange_pwd %>
  </div>

  <div class='form_item input_text'>
    <%= f.label :microsoft_exchange_url, t('gobierto_admin.gobierto_calendars.calendar_configuration.edit.labels.microsoft_exchange_url') %>
    <%= f.text_field :microsoft_exchange_url, placeholder: t('gobierto_admin.gobierto_calendars.calendar_configuration.edit.placeholders.microsoft_exchange_url') %>
  </div>

</div>