<%= render "gobierto_admin/shared/validation_errors", resource: @calendar_configuration_form %>

<%= render "gobierto_admin/gobierto_calendars/calendar_configuration/#{@calendar_configuration_form.collection_container_identifier}_navigation", collection_container:  @calendar_configuration_form.collection_container %>

<% if @calendar_configuration_form.calendar_integration.present? %>
  <div class="admin_tools">
    <% if @last_sync.present? %>
      <%= t('.last_sync') %>: <%= time_ago_in_words @last_sync %> -
    <% end %>

    <%= link_to sync_calendars_admin_calendars_configuration_path(@calendar_configuration_form.collection.id), method: :put, data: { confirm: t(".confirm_sync") } do %>
      <i class="fas fa-sync-alt"></i>
      <%= t('.sync') %>
    <% end %>
  </div>
<% end %>

<%= form_for @calendar_configuration_form, as: :calendar_configuration, url: admin_calendars_configuration_path,  method: :patch do |f| %>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">

      <div id="calendar-integration-picker" class="form_item input_text">
        <%= f.label :calendar_integration, t(".calendar_integration") %>
        <%= f.select :calendar_integration, @calendar_integrations_options, include_blank: true %>
      </div>

      <% integration_name = @calendar_configuration_form.calendar_integration %>

      <%= render 'gobierto_admin/gobierto_calendars/calendar_configuration/ibm_notes_fields', f: f, integration_name: integration_name %>

      <%= render 'gobierto_admin/gobierto_calendars/calendar_configuration/microsoft_exchange_fields', f: f, integration_name: integration_name %>

      <%= render 'gobierto_admin/gobierto_calendars/calendar_configuration/google_calendar_fields', f: f, integration_name: integration_name %>

      <% if integration_name.present? %>
        <div class="option">
          <%= f.check_box :without_description %>
          <%= f.label :without_description do %>
            <span></span>
            <%= t('.without_description') %>
          <% end %>
        </div>

        <h3><%= t('.filter_events') %></h3>

        <p><%= t('.filter_events_desc') %></p>

        <table class="med_bg dynamic-content-wrapper" id="filtering-rules">
          <%= f.fields_for :filtering_rules do |filtering_rule_form| %>
            <tbody class="dynamic-content-record-wrapper content-block-record-<%= filtering_rule_form.object.id || "new" %>">
              <tr class="dynamic-content-record-form" style="vertical-align:middle">
                <td width="7%">
                  <%= t('.filter_events_label') %>
                </td>
                <td>
                  <div class="select_control select_compact">
                    <%= filtering_rule_form.select :field, options_for_enum(filtering_rule_form.object, :field), prompt: true %>
                  </div>
                </td>
                <td>
                  <div class="select_control select_compact">
                    <%= filtering_rule_form.select :condition, options_for_enum(filtering_rule_form.object, :condition), prompt: true %>
                  </div>
                </td>
                <td>
                  <div class="select_control select_compact">
                    <%= filtering_rule_form.text_field :value, placeholder: t('.placeholders.filter_text') %>
                  </div>
                </td>
                <td>
                  <div class="select_control select_compact">
                    <%= filtering_rule_form.select :action, options_for_enum(filtering_rule_form.object, :action), prompt: true %>
                  </div>
                </td>
                <td width="25%">
                  <%= filtering_rule_form.check_box :remove_filtering_text %>
                  <%= filtering_rule_form.label :remove_filtering_text do %>
                    <span></span>
                    <%= filtering_rule_form.object.class.human_attribute_name(:remove_filtering_text) %>
                  <% end %>
                </td>
                <td>
                  <%= filtering_rule_form.check_box :_destroy, class: "hidden destroy-content-block-record" %>
                  <%= link_to "#", data: { behavior: "delete_record" } do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>

          <tr>
            <td colspan="7" class="p_1">
              <%= link_to "#", data: { behavior: "add_child" } do %>
                <%== %Q{<i class="fas fa-plus-circle"></i> #{t('.add_rule')}} %>
              <% end %>
            </td>
          </tr>
        </table>

        <h3><%= t('.manage') %></h3>

        <div class="option">
          <%= f.check_box :clear_calendar_configuration %>
          <%= f.label :clear_calendar_configuration do %>
            <span></span>
            <%= t('.remove_configuration') %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 " id="update_button">
      <div class="widget_save stick_in_parent">
        <%= f.submit t('helpers.submit.update'), class: "button" %>
      </div>
    </div>

  </div>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.gobierto_calendars_calendar_configurations_controller.edit("#filtering-rules", "filtering_rules_attributes");
  <% end %>
<% end %>
