<div class="content_block simple_big_header themed filled_block emoji_block" id="poll_<%= poll.id %>">
  <h2><%= poll.title %></h2>

  <p class="participate_until date"><%= t(".participate_until", date: I18n.l(poll.ends_at, format: "%d %b")) %></p>

  <div class="button outline rounded fat">
    <% if user_signed_in? %>
      <% if poll.has_answers_from?(current_user) %>
        <%= t(".already_participated") %>
      <% else %>
        <%= link_to t(".participate"), new_gobierto_participation_process_poll_answer_path(poll.process.slug, poll) %>
      <% end %>
    <% else %>
      <%= link_to t(".participate"), new_user_sessions_path(open_modal: true), class: "open_remote_modal" %>
    <% end %>
  </div>
</div>
