<div class="separator"></div>

<h2><%= t('.title') %></h2>

<% url_params = {
     organization_id: current_site.organization_id,
     kind: @kind,
     code: @code.parameterize,
     area: @area_name,
     locale: I18n.locale,
     format: :json
   } %>

<div class="cont pure-g">
  <div class="pure-u-1 pure-u-md-1-2 title">
    <%= t('.how_much_place_in', place: current_site.organization_name) %>
    <strong class="wadus"><%= link_to budget_line_denomination(@area_name, @code, @kind), gobierto_budgets_budget_line_path(@code.parameterize, @year, @area_name, @kind) %>?</strong>
  </div>

  <% if @population %>
    <div class="pure-u-1 pure-u-md-1-6" data-widget-template="#widget-template"
                                        data-widget-type="per_person"
                                        data-widget-data-url="<%= gobierto_budgets_api_data_budget_per_inhabitant_path(url_params.merge(year: @year)) %>"
                                        title="<%= t('.per_person') %>">
    </div>
  <% end %>

  <div class="pure-u-1 pure-u-md-1-6" data-widget-template="#widget-template"
                             data-widget-type="budget"
                             data-widget-data-url="<%= gobierto_budgets_api_data_budget_path(url_params.merge(year: @year)) %>"
                             title="<%= t('.total') %>">
  </div>

  <div class="pure-u-1 pure-u-md-1-6" data-widget-template="#widget-template-small"
                             data-widget-type="budget"
                             data-widget-data-url="<%= gobierto_budgets_api_data_budget_path(url_params.merge(year: @year - 1)) %>"
                             title="<%= t('.last_year') %>">
  </div>
</div>

<div class="show_me_another">
  <%= link_to %Q{<i class="fas fa-sync-alt"></i> #{t('.show_me_another')}}.html_safe, '#', class: 'show_me_another', data: { 'featured-budget-line-load-more' => true }, role: "button" %>
</div>

<script type="text/html" id="widget-template">
  <div class="ic">
    <label>{{title}}</label>
    <span class="highlight"><strong>{{value}}</strong></span>
  </div>
</script>

<script type="text/html" id="widget-template-small">
  <div class="ic">
    <label><small>{{title}}</small></label>
    <span class="highlight"><strong>{{value}}</strong></span>
  </div>
</script>
