<div class="pure-g data_block" id="section-people">

  <div class="pure-u-1 pure-u-md-7-24">
    <h2><%= t("gobierto_people.layouts.application.title") %></h2>
    <p></p>
  </div>

  <div class="pure-u-1 pure-u-md-17-24 main_content">

    <% if active_submodules.empty? %>
      <p><%= t("gobierto_exports.exports.index.no_submodules") %></p>
    <% end %>

    <% if officials_submodule_active? %>
      <div class="data_item">
        <h3><%= t("gobierto_people.exports.index.people.title") %></h3>
        <%= link_to 'CSV', gobierto_people_people_path(format: :csv), class: 'button small', role: "button" %>
        <%= link_to 'JSON', gobierto_people_people_path(format: :json), class: 'button small', role: "button" %>
        <p><%= t("gobierto_people.exports.index.people.description") %></p>
      </div>
    <% end %>

    <% if agendas_submodule_active? %>
      <div class="data_item">
        <h3><%= t("gobierto_people.exports.index.events.title") %></h3>
        <%= link_to 'CSV', gobierto_people_events_path(format: :csv), class: 'button small', role: "button" %>
        <%= link_to 'JSON', gobierto_people_events_path(format: :json), class: 'button small', role: "button" %>
        <p><%= t("gobierto_people.exports.index.events.description") %></p>
      </div>
    <% end %>

    <% if statements_submodule_active? %>
      <div class="data_item">
        <h3><%= t("gobierto_people.exports.index.statements.title") %></h3>
        <%= link_to 'CSV', gobierto_people_statements_path(format: :csv), class: 'button small', role: "button" %>
        <%= link_to 'JSON', gobierto_people_statements_path(format: :json), class: 'button small', role: "button" %>
        <p><%= t("gobierto_people.exports.index.statements.description") %></p>
      </div>
    <% end %>

    <% if blogs_submodule_active? %>
      <div class="data_item">
        <h3><%= t("gobierto_people.exports.index.posts.title") %></h3>
        <%= link_to 'RSS', gobierto_people_posts_path(format: :rss), class: 'button small', role: "button" %>
        <p><%= t("gobierto_people.exports.index.posts.description") %></p>
      </div>
    <% end %>

  </div>

</div>
