<%= render "user/shared/validation_errors", resource: @user_settings_form %>

<%= form_for(@user_settings_form, as: :user_settings, url: :user_settings, method: :patch) do |f| %>

  <div class="form_item input_text">
    <%= f.label :email do %>
      <%= t("activemodel.attributes.user/settings_form.email") %>
      <i class="fas fa-lock tipsit" title="<%= t(".hints.email") %>"></i>
    <% end %>
    <%= f.text_field :email, disabled: true %>
  </div>

  <div class="form_item input_text">
    <%= label_tag "user_settings[name]" do %>
      <%= t("activemodel.attributes.gobierto_admin/admin_form.name") %>
      <%= attribute_indication_tag required: true %>
    <% end %>
    <%= f.text_field :name %>
  </div>

  <% if @user_settings_form.password_enabled %>
    <div class="form_item input_text">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="form_item input_text">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="form_item select_control selects_inline">
    <%= f.label :date_of_birth %>
    <i class="fas fa-question-circle tipsit" title="<%= t(".hints.date_of_birth") %>"></i>
    <%= f.date_select(
      :date_of_birth,
      prompt: true,
      end_year: 100.years.ago.year,
      start_year: Date.current.year) %>
  </div>

  <div class="form_item">

    <div class="options options_cont">

      <%= f.label :gender, t(".your_gender_is") %>
      <i class="fas fa-question-circle tipsit" title="<%= t(".hints.gender") %>"></i>

      <div class="pure-g">
        <%= f.collection_radio_buttons(:gender, @user_genders, :first, :first) do |b| %>
          <div class="pure-u-1-2">
            <div class="option ">
              <%= b.radio_button %>
              <%= b.label do %>
                <span></span>
                <%= t(".gender.#{b.text}") %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>

  </div>

  <%= render partial: 'user/shared/custom_fields', locals: {custom_records: f.object.custom_records, form_name: "user_settings"} %>

  <%= f.submit t(".submit"), class: "button" %>

<% end %>
