<div class="column">

  <div class="content">
    <!-- Welcome block -->
    <div class="block">
      <div class="pure-g header_block_inline">
        <div class="pure-u-1 pure-u-md-12-24">
          <div class="inline_header">
            <h2 class="with_description p_h_r_1"><%= title(t('gobierto_budgets.layouts.menu_subsections.providers')) %></h2>
          </div>

          <p>
            <%= t('.description', the_organization_name: @site.determined_organization_name(:the)) %>
          </p>

          <%= render('gobierto_budgets/shared/data_updated_at') %>

          <% pending do %>
            <p class="common-links">
              <span><a href="">Más información</a></span><span><a href="">Preguntas frecuentes</a></span><span><a href="">Suscribete</a></span>
            </p>
          <% end %>
        </div>

        <div class="pure-u-1 pure-u-md-12-24 right">
          <%= image_tag('illustrations/consultas.jpg', class: 'img_header m_v_4', alt: '') %>
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <!-- Filters -->
    <div class="m_b_2">
      <div class="inline_filter">
        <span class="soft"><%= t('.view_data_from') %>:</span>
        <div id="invoices-filters" class="button-group ib" role="group">
          <div class="button-wrapper">
            <button class="button-grouped js-dropdown" data-dropdown="filter-year">
              <%= t('.previous') %>&nbsp;<small>&#9660;</small>
            </button>
            <div class="hidden" data-dropdown="filter-year">
              <!-- Dynamic content -->
            </div>
          </div>
          <button class="button-grouped sort-G" data-toggle="<%= @year %>"><%= t('.this_year') %></button>
          <button class="button-grouped sort-G" data-toggle="12m"><%= t('.last_12_months') %></button>
          <button class="button-grouped active sort-G" data-toggle="3m"><%= t('.last_3_months') %></button>
        </div>
      </div>
    </div>

    <div class="overlay-container js-toggle-overlay">

      <div class="overlay">
        <div class="overlay-content">
          <i class="fas fa-spinner fa-pulse fa-2x fa-fw"></i>
          <span class="sr-only"><%= t('.loading') %></span>
        </div>
      </div>

      <!-- Boxes-->
      <div class="pure-g metric_boxes">

        <div class="pure-u-1 pure-u-md-11-24 metric_box">
          <div class="inner nomargin">
            <h3><%= t('.invoices') %></h3>
            <div class="metric"><span id="numberOfInvoices"></span> <span class="small"><%= t('.invoices_sum') %></span> <span id="totalAmount"></span></div>
            <div class="metric_details flex">
              <label><%= t('.invoices_from_which') %>:</label>
              <div id="providerType">
                <strong><span class="percent"></span></strong> <%= t('.are_from') %> <strong><span class="number"></span> <%= t('.corporation_sa') %></strong><br>
                <strong><span class="percent"></span></strong> <%= t('.are_from') %> <strong><span class="number"></span> <%= t('.corporation_sl') %></strong><br />
                <strong><span class="percent"></span></strong> <%= t('.are_from') %> <strong><span class="number"></span> <%= t('.freelances') %></strong><br />
              </div>
            </div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-12"></div>
        <div class="pure-u-1 pure-u-md-11-24 metric_box">
          <div class="inner nomargin">
            <h3><%= t('.mean_and_median') %></h3>
            <div class="pure-g">

              <div class="pure-u-1-2">

                <div class="metric">
                  <span id="meanBudget"></span>&nbsp;<small><%= t('.mean_amount') %></small>
                </div>

                <div class="explanation explanation--relative">
                  <%= t('.mean_summary') %>
                </div>
              </div>

              <div class="pure-u-1-2">

                <div class="metric">
                  <span id="medianBudget"></span>&nbsp;<small><%= t('.median_amount') %></small>
                </div>

                <div class="explanation explanation--relative">
                  <%= t('.mean_and_median_summary') %>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

      <!-- Charts -->
      <div class="block">
        <div class="pure-g m_t_1">
          <div class="pure-u-1 pure-u-md-11-24">
            <div class="pure-g header_block_inline">
              <div class="pure-u-1-2 p_h_r_0_5">
                <p class="decorator"><%= t('.less_than_1000_html') %></p>
              </div>
              <div class="pure-u-1-2">
                <p class="decorator"><%= t('.largest_provider_html') %></p>
              </div>
              <div class="pure-u-1-2 p_h_r_0_5 mt2">
                <p class="decorator"><%= t('.percentile_50_html') %></p>
              </div>
              <div class="pure-u-1-2 mt2">
                <p class="decorator"><%= t('.percentile_10_html') %></p>
              </div>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-12"></div>
          <div class="pure-u-1 pure-u-md-11-24">
            <h3 class="mt1 graph-title"><%= t('.months_distribution') %></h3>
            <p><%= t('.sum_amount') %></p>
            <div id="bars"></div>
          </div>
          <div class="pure-u-1 pure-u-md-11-24 m_v_1">
            <h3 class="mt1 graph-title"><%= t('.main_providers') %></h3>
            <div id="hbars1" class="mt1"></div>
          </div>
          <div class="pure-u-1 pure-u-md-1-12 m_v_1"></div>
          <div class="pure-u-1 pure-u-md-11-24 m_v_1">
            <div class="pure-g">
              <div class="pure-u-1">
                <h3 class="mt1 graph-title"><%= t('.amount_distribution') %></h3>
                <div id="hbars2" class="mt1"></div>
              </div>
              <div class="pure-u-1">
                <a href="#providers-table" class="box p_0_5 mt2 center as-block" data-turbolinks="false">
                  ...<%= t('.and_more_html') %> - <strong><%= t('.check_detail') %></strong>
                </a>
              </div>
            </div>
          </div>
          <div class="pure-u-1">
            <h3 class="mt1 graph-title"><%= t('.all_invoices') %></h3>
            <div id="providers-table" class="hidden"></div>
          </div>
        </div>
      </div>
    </div>

    <%= render "shared/download_open_data" %>
  </div>
</div>

<% content_for :javascript_hook do %>
  window.GobiertoBudgets.invoices_controller.show();
<% end %>
