<%= render 'gobierto_admin/shared/validation_errors', resource: @process_form %>

<%= form_for(@process_form, as: :process, url: @process_form.persisted? ? admin_participation_process_path(@process_form) : admin_participation_processes_path, data: { 'globalized-form-container' => true }) do |f| %>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">
      <div class="globalized_fields">
        <%= render "gobierto_admin/shared/form_locale_switchers" %>

        <% current_site.configuration.available_locales.each do |locale| %>
          <div class="form_item input_text" data-locale="<%= locale %>">
            <%= label_tag "process[title_translations][#{locale}]", f.object.class.human_attribute_name(:title) %>
            <%= text_field_tag "process[title_translations][#{locale}]", f.object.title_translations && f.object.title_translations[locale], placeholder: t('.placeholders.title', locale: locale) %>
          </div>

          <div class="form_item textarea" data-locale="<%= locale %>">
            <%= label_tag "process[body_translations][#{locale}]", f.object.class.human_attribute_name(:body) %>
            <%= text_area_tag "process[body_translations][#{locale}]", f.object.body_translations && f.object.body_translations[locale], placeholder: t('.placeholders.body', locale: locale) %>
          </div>
        <% end %>
      </div>

      <div class="form_item input_text">
        <%= f.label :slug %>
        <%= f.text_field :slug, placeholder: t('.placeholders.slug') %>
      </div>

      <% if @process_form.persisted? %>
        <%= render 'process_stages', process_fb: f %>
      <% end %>

      <div class="form_item file_field">
        <%= f.label :header_image %>

        <% if f.object.header_image_url.present? %>
          <%= image_tag f.object.header_image_url, height: 150 %>
        <% end %>

        <%= f.file_field :header_image %>
      </div>

      <div class="pure-g">

        <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">

          <div class="form_item select_control">
            <%= f.label :issue_id %>
            <%= f.select(:issue_id, @issues, { include_blank: '-' }) %>
          </div>

        </div>

        <div class="pure-u-1 pure-u-md-1-2 ">

          <div class="form_item select_control">
            <%= f.label :scope_id %>
            <%= f.select(:scope_id, @scopes, { include_blank: '-' }) %>
          </div>

        </div>

      </div>

      <h3><%= t('.duration') %></h3>

      <div class="form_item site-check-boxes">
        <div class="options compact">
          <div class="option">
            <%= f.check_box :has_duration %>
            <%= f.label :has_duration do %>
              <span></span>
              <%= t('.set_duration') %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="pure-g" style='<%= f.object.has_duration ? '' : 'display: none;' %>' data-behavior="process_datepickers">
        <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">
          <div class="form_item input_text">
            <%= f.label :starts %>
            <%= f.text_field :starts, data: {
                "language": I18n.locale,
                "date-format": "yyyy-mm-dd",
                "startDate": format_time(f, :starts)
              },
              class: "air-datepicker",
              readonly: !Rails.env.test?
            %>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="form_item input_text">
            <%= f.label :ends %>
            <%= f.text_field :ends, data: {
                "language": I18n.locale,
                "date-format": "yyyy-mm-dd",
                "startDate": format_time(f, :ends, 2)
              },
              class: "air-datepicker",
              readonly: !Rails.env.test?
            %>
          </div>
        </div>
      </div>

      <div class="form_block">

        <div class="form_item">

          <div id="process_type_radio_buttons" class="options compact">

            <h3><%= t('activemodel.attributes.gobierto_admin/gobierto_participation/process_form.process_type') %></h3>

            <% GobiertoParticipation::Process.process_types.keys.each do |type| %>
              <div class="option">
                <%= f.radio_button :process_type, type %>
                <%= f.label :process_type, value: type do %>
                  <span></span>
                  <%= translate_enum_value(GobiertoParticipation::Process, :process_type, type) %>
                <% end %>
              </div>
            <% end %>

          </div>

        </div>

      </div>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <%= render partial: 'gobierto_admin/shared/save_widget', locals: { f: f, levels: @process_visibility_levels } %>

  </div>
<% end %>

<%= javascript_tag do %>
  window.GobiertoAdmin.processes_controller.form();
<% end %>
