<div class='admin_breadcrumb'>
  <%= link_to t('gobierto_admin.welcome.index.title'), admin_root_path %> »
  <%= link_to t('gobierto_admin.gobierto_participation.welcome.index.title'), admin_participation_path %> »
  <%= t('.title') %>
</div>

<h1><%= t('.title') %></h1>

<b>Listado de procesos:</b>

<% if @processes.any? %>
  <ul>
    <% @processes.each do |process| %>
      <li>
        <%= process.title %> --
        <%= link_to edit_admin_participation_process_path(process) do %>
          <i class="fa fa-edit"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<br>

<b>Listado de grupos:</b>

<% if @groups.any? %>
  <ul>
    <% @groups.each do |group| %>
      <li>
        <%= group.title %> --
        <%= link_to edit_admin_participation_process_path(group) do %>
          <i class="fa fa-edit"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<br>

<%= link_to t('.new_process'), new_admin_participation_process_path, data: { turbolinks: false } %>
