<div class="gradient-bg">
  <div class="column">
    <h2 class="with_separator"><%= t(".up_to_date", site_title: current_site.title) %></h2>

    <div class="pure-g agenda three_by_three">
      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t(".agenda") %></h3>
        <div class="p_1 content_block">
          <% if events.any? %>
            <%= render partial: "gobierto_participation/shared/events/place_event", collection: events, as: :place_event %>
          <% else %>
            <%= t("gobierto_participation.shared.no_events") %>
          <% end %>
        </div>
        <% if events.any? %>
          <%= link_to t('.show_more_events'), gobierto_participation_events_path %>
        <% end %>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t(".the_last") %></h3>
        <div class="p_1 content_block">
          <% if activities.any? %>
            <%= render partial: "gobierto_participation/processes/place_activities", collection: activities, as: :activity %>
          <% else %>
            <%= t("gobierto_participation.shared.no_activities") %>
          <% end %>
        </div>
        <% if activities.any? %>
          <%= link_to t(".show_more_updates"), gobierto_participation_activities_path %>
        <% end %>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t(".news") %></h3>
        <div class="p_1 content_block">
          <% if news.any? %>
            <%= render partial: "gobierto_participation/processes/place_news", collection: news, as: :page %>
          <% else %>
            <%= t('gobierto_participation.shared.no_news') %>
          <% end %>
        </div>
        <% if news.any? %>
          <%= link_to t(".show_more_news"), gobierto_participation_news_index_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
