<% content_for :breadcrumb_current_item do %>
  <h1>
    <%= link_to "Agenda", gobierto_participation_participation_events_path %>
  </h1>
<% end %>

<div class="gradient-bg">
  <div class="column">

    <div class="pure-g">
      <div class="pure-u-1 pure-u-lg-1-3">
        <h2 class="with_separator">Agenda de Cultura</h2>
        <p class="soft">Te invitamos a asistir a las siguientes reuniones donde debatiremos en persona sobre los temas de este proceso. Si no puedes asistir, iremos publicando online todo lo que se hable en la reuniones para facilitar el seguimiento y hacer accesibles las conclusiones.</p>

        <%= render 'calendar_component' %>
      </div>

      <div class="pure-u-1 pure-u-lg-2-3 event_wrapper">
        <div class="person_event-item">
          <h3><a href="participation_agenda_event.html"><%= @event.title %></a></h3>

          <div class="meta">
            <div>
              <div class="ib p_h_r_0_5">
                <% if @event.starts_at.day == @event.ends_at.day %>
                  <strong><%= l(@event.starts_at, format: '%e %b') %></strong>
                <% else %>
                  <strong><%= t('.from_to', starts: l(@event.starts_at, format: '%e %b'), ends: l(@event.ends_at, format: '%e %b')) %></strong>
                <% end %>
              </div>
              <div class="ib p_h_r_0_5">
                <i class="fa fa-clock-o"></i><%= @event.starts_at.strftime('%H:%M') %>
              </div>
              <div class="ib">
                <i class="fa fa-map-marker"></i> <a href="https://www.google.com/maps/place/40.41874,-3.693944">Ayuntamiento de Madrid</a>
              </div>
            </div>
          </div>

          <p><%= raw @event.description %></p>

          <div class="extra_info">
            <div class="ib p_h_r_0_5">
              <a href="#" class="button outline rounded wide attend_event"><i class="fa fa-check hidden"></i> <span>Quiero asistir</span></a>
            </div>

            <div class="ib p_h_r_0_5">
              <i class="fa fa-users"></i> <strong>55 vecinos</strong> asistirán
            </div>

            <div class="ib p_h_r_0_5">
              <i class="fa fa-calendar"></i> <a href="#">Añadir a mi calendario</a>
            </div>

            <div class="ib">
              <i class="fa fa-download"></i> <a href="#">Descargar datos</a>
            </div>

            <h4>Seguir este evento</h4>

            <form class="new_user_subscription" id="new_user_subscription" action="/user/subscriptions" accept-charset="UTF-8" method="post">
              <input placeholder="Your e-mail" type="email" name="user_subscription[user_email]" id="user_subscription_user_email">
              <input type="submit" name="commit" value="Subscribe" role="button" data-disable-with="Subscribe">
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
$.fn.extend({
  toggleText: function(a, b){
    return this.text(this.text() == b ? a : b);
  }
});

$('.attend_event').click(function() {
  $(this).find('.fa').toggleClass('hidden');
  $(this).toggleClass('checked');

  // Swap text
  $(this).find('span').toggleText('Quiero asistir', 'Asistirás');
});
</script>
