<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= t(".title") %>
</div>

<h1><%= t(".title") %></h1>

<div class="pure-g">

  <div class="pure-u-1 pure-u-md-1-2 p_h_r_2">

    <h3><%= t(".latest_editions") %></h3>

    <div class="activity_feed">
      <% @events.each do |event| %>
        <div class="activity_item">
          <h2>
            <%= link_to edit_admin_calendars_event_path(event, collection_id: event.collection) do %>
              <%= event.title %>
            <% end %>
          </h2>
          <div class="date">
            <%= l(event.updated_at, format: :short) %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="pure-g">
      <div class="pure-u-1-2">
        <h3><%= t(".collections") %></h3>
      </div>
      <div class="pure-u-1-2 admin_tools right">
        <%= link_to t(".new"), new_admin_common_collection_path(item_type: 'Event'), class: 'button open_remote_modal' %>
      </div>
    </div>

    <table>
      <tr>
        <th></th>
        <th><%= t(".header.collection") %></th>
        <th><%= t(".header.events") %></th>
        <th></th>
        <th></th>
      </tr>

      <tbody>
        <% @collections.each do |collection| %>
          <% next unless collection.container.present? %>
          <tr>
            <td>
              <%= link_to edit_admin_common_collection_path(collection, item_type: 'Event'), class: 'open_remote_modal' do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </td>
            <td><%= link_to collection.title, admin_common_collection_path(collection) %> (<%= collection_context(collection) %>)</td>
            <td><%= GobiertoCalendars::Event.by_collection(collection).count %></td>
            <td>
              <%= link_to new_admin_calendars_event_path(collection_id: collection.id), target: "_blank", class: "view_item" do %>
                <i class='fas fa-plus-circle'></i><%= t('.add_new_event') %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_common_collection_path(collection), target: "_blank", class: "view_item" do %>
                <i class="fas fa-eye"></i>
                <%= t(".view_collection") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
