<div class="tabs">
  <ul>
    <% if @consultation && @consultation.past? %>
      <li class="<%= class_if('active', @consultation && admin_budget_consultation_consultation_responses_path(@consultation) == request.path) %>">
        <%= link_to t(".consultation_responses_section"), admin_budget_consultation_consultation_responses_path(@consultation) %>
      </li>
    <% end %>
    <li class="<%= class_if('active', @consultation && edit_admin_budget_consultation_path(@consultation) == request.path) %>">
      <%= link_to t(".consultation_section"), @consultation ? edit_admin_budget_consultation_path(@consultation) : '#' %>
    </li>
    <li class="<%= class_if('active', @consultation && admin_budget_consultation_consultation_items_path(@consultation) == request.path) %>">
      <%= link_to t(".consultation_items_section"), @consultation ? admin_budget_consultation_consultation_items_path(@consultation) : '#' %>
    </li>
  </ul>
</div>
