<% show_widget ||= false %>
<% data_args.merge!(format: "json") %>
<% tabs = ["total_budget"].tap { |this| this.unshift("per_person") if @site_stats.population_data? } %>
<% i18n_scope ||= "gobierto_budgets.budgets.index" %>

<%= content_tag :div, id: wrapper_id, class: "pure-g", role: "tabpanel", "aria-controlledby": tabs.join(", "), data: {"vis-lines": ""} do -%>
  <div class=" pure-u-1 pure-u-md-1-2 block" >
    <h2><%= t(:at_a_glance, scope: i18n_scope) %></h2>

    <%= content_tag :div, nil, id: chart_id %>
  </div>

  <div class="pure-u-1 pure-u-md-1-2 block">
    <h2><%= t(:context, scope: i18n_scope) %></h2>

    <%= content_tag :div, nil, id: tooltip_id %>
    <div class="help">
      <%= link_to t(:note_about_the_data, scope: i18n_scope), APP_CONFIG["gobierto_budgets"]["data_note_url"], target: "_blank", title: t(:note_about_the_data_title, scope: i18n_scope), class: "tipsit-n" %>
    </div>

    <% if show_widget %>
      <%= render "gobierto_budgets/shared/compare" %>
    <% end %>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="filter m_v_2" role="tablist" aria-label="<%= t(:visualize, scope: i18n_scope) %>">
      <% if @site_stats.population_data? %>
        <%= link_to t(:per_person, scope: i18n_scope), "#",
          class: "active",
          data: { "line-widget-series": line_widget_series,
                  "line-widget-url": gobierto_budgets_api_data_lines_path(data_args.merge(what: "per_person")),
                  "line-widget-type": "per_person" },
          role: "tab",
          tabindex: 0,
          "aria-selected": "true",
          id: "per_person",
          "aria-controls": "lines_chart_wrapper" %>
      <% end %>
      <%= link_to t(:in_total, scope: i18n_scope), "#",
        class: @site_stats.population_data? ? "" : "active",
        data: { "line-widget-series": line_widget_series,
                "line-widget-url": gobierto_budgets_api_data_lines_path(data_args.merge(what: "total_budget")),
                "line-widget-type" => "total_budget" },
        role: "tab",
        tabindex:-1,
        "aria-selected": !@site_stats.population_data?,
        id: "total_budget",
        "aria-controls": "lines_chart_comparison_wrapper" %>
    </div>
  </div>
<% end %>
