<% title t('.title', year: @year) %>

<% content_for :breadcrumb_current_item do %>
  <h1>
    <%= link_to t('gobierto_budgets.layouts.menu_subsections.summary'), gobierto_budgets_budgets_path %>
  </h1>
<% end %>

<div class="column">

  <div class="pure-g" style="display: none">

    <div class="pure-u-1 pure-u-md-4-24 right" data-share>
      <div class="social_links_container" data-share-text="<%= t('.twitter_text', name: @site.place.name, year: @year) %>">
        <a href="#" class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|XXX"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|XXX"><i class="fa fa-facebook"></i></a>
        <% pending do %>
          <a href="#embed-graph-code" class="social_share code open_modal" data-track-event="Social Share|Click Code|XXX"><i class="fa fa-code"></i></a>
        <% end %>
      </div>
    </div>

  </div>

  <div class="block">

    <div class="pure-g header_block_inline">
      <div class="pure-u-1 pure-u-md-2-24">
        <%= render partial: 'gobierto_budgets/budgets/year_breadcrumb', locals: {path_calculation_method: :gobierto_budgets_budgets_path} %>
      </div>
      <div class="pure-u-1 pure-u-md-12-24">
        <h2>
          <%= t('.header') %>
        <%#%>
        </h2>
      </div>
      <div class="pure-u-1 pure-u-md-10-24 right slim_search">
        <label><%= t('.search_for_a_budget_line') %></label>
        <input type="text" placeholder="<%= t('gobierto_budgets.budget_lines.explorer.search') %>..." data-autocomplete="<%= gobierto_budgets_search_all_categories_path(@place.slug, @year, format: :json) %>">
      </div>
    </div>

    <div class="pure-g metric_boxes">

      <div class="pure-u-1-2 pure-u-md-1-5 metric_box">
        <div class="inner">
          <h3><%= t('.expenses_per_inhabitant') %></h3>
          <div class="metric"><%= number_to_currency @site_stats.total_budget_per_inhabitant, precision: 0 %></div>
        </div>
      </div>

      <div class="pure-u-1-2 pure-u-md-1-5 metric_box">
        <div class="inner">
          <h3><%= t('.total_expenses') %></h3>
          <div class="metric"><%= format_currency @site_stats.total_budget %></div>
        </div>
      </div>

      <% planned_executed = @site_stats.percentage_difference(variable1: :total_budget_executed, variable2: :total_budget_planned, year: @year) %>
      <div class="pure-u-1-2 pure-u-md-1-5 metric_box">
        <div class="inner">
          <h3><%= t('.planned_vs_executed') %></h3>
          <% if planned_executed %>
            <div class="metric"><%= link_to planned_executed, gobierto_budgets_budgets_execution_path %></div>
          <% else %>
            <% planned_executed = @site_stats.percentage_difference(variable1: :total_budget_executed, variable2: :total_budget_planned, year: @year - 1) %>
            <div class="metric"><span class="not_av"><%= t('.not_available_short') %></span></div>
            <div class="explanation">
              <%= t('.planned_vs_executed_other_year_html', year: @year - 1, link: link_to(planned_executed, gobierto_budgets_budgets_execution_path)) %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="pure-u-1-2 pure-u-md-1-5 metric_box">
        <div class="inner">
          <h3><%= t('.inhabitants') %></h3>
          <div class="metric"><%= number_with_precision @site_stats.latest_available(:population, @year)[:value], precision: 0, delimiter: '.' %></div>
          <% if @site_stats.latest_available(:population, @year)[:year] != @year %>
            <div class="explanation">
              <%= t('.data_of_year', year: @site_stats.latest_available(:population, @year)[:year]) %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="pure-u-1-2 pure-u-md-1-5 metric_box">
        <div class="inner">
          <h3><%= t('.debt') %></h3>
          <div class="metric"><%= format_currency @site_stats.latest_available(:debt, @year)[:value] %></div>
          <% if @site_stats.latest_available(:debt, @year)[:year] != @year %>
            <div class="explanation">
              <%= t('.at_years_end', year: @site_stats.latest_available(:debt, @year)[:year])%>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="block">

    <h2 class="with_description"><%= t('.main_budget_lines') %></h2>
    <p class="description"><%= t('.main_budget_lines_description') %></p>

    <% pending do %>
      <div class="tip">
        <%= link_to '<i class="fa fa-info-circle"></i> Te contamos de un vistazo en qué consiste el presupuesto'.html_safe %>
      </div>
    <% end %>

    <div class="pure-g">

      <div class="pure-u-1 pure-u-md-1-2">
        <div class="graph vis-bubbles vis-bubbles-income"></div>
      </div>
      
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="graph vis-bubbles vis-bubbles-expense"></div>
      </div>
      
      <div class="pure-u-1">
        <h3><%= t('.main_budget_levels_timeline') %></h3>
        <div class="timeline"></div>
      </div>

      <div class="pure-u-1 pure-u-md-11-24">
        <h3><%= t('.income') %></h3>

        <table class="med_bg">
          <thead class="screen-hidden">
            <tr>
              <th><%= t('.top_income_category') %></th>
              <th><%= t('.top_income_value') %></th>
            </tr>
          </thead>
          <tbody>
            <% @top_income_budget_lines.each do |budget_line| %>
              <tr>
                <td><%= link_to budget_line.name, gobierto_budgets_budget_line_path(budget_line.to_param) %></td>
                <td class="qty"><%= number_with_precision(budget_line.percentage_of_total, precision: 2) + '%' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="small center m_v_2">
          <%= link_to t('.see_all'), gobierto_budgets_budget_lines_path(year: @year, kind: GobiertoBudgets::BudgetLine::INCOME, area_name: GobiertoBudgets::BudgetLine::ECONOMIC, level: 1) %>
        </div>
      </div>

      <div class="pure-u-md-2-24"></div>

      <div class="pure-u-1 pure-u-md-11-24">
        <h3><%= t('.expenses') %></h3>

        <table class="med_bg">
          <thead class="screen-hidden">
            <tr>
              <th><%= t('.top_expense_category') %></th>
              <th><%= t('.top_expense_value') %></th>
           </tr>
          </thead>
          <tbody>
            <% @top_expense_budget_lines.each do |budget_line| %>
              <tr>
                <td><%= link_to budget_line.name, gobierto_budgets_budget_line_path(budget_line.to_param) %></td>
                <td class="qty"><%= number_with_precision(budget_line.percentage_of_total, precision: 2) + '%' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="small center m_v_2">
          <%= link_to t('.see_all'), gobierto_budgets_budget_lines_path(year: @year, kind: GobiertoBudgets::BudgetLine::EXPENSE, area_name: GobiertoBudgets::BudgetLine::FUNCTIONAL, level: 1) %>
        </div>
      </div>

    </div>

  </div>

  <div class="separator"></div>

  <div class="block">
    <h2 class="with_description"><%= t('.most_interesting_budget_lines') %></h2>
    <p class="description"><%= t('.most_interesting_budget_lines_description') %></p>

    <div class="graph" id="expense-treemap"
                       data-functional-url="<%= gobierto_budgets_budget_lines_treemap_path(@year, kind: GobiertoBudgets::BudgetLine::EXPENSE, area_name: 'functional', level: 2, format: :json) %>"
                       data-economic-url="<%= gobierto_budgets_budget_lines_treemap_path(@year, kind: GobiertoBudgets::BudgetLine::EXPENSE, area_name: 'economic', level: 2, format: :json) %>">
    </div>

    <table class="explore_slow">
      <thead class="screen-hidden">
        <tr>
          <th><%= t('.level_2_category') %></th>
          <th><%= t('.level_3_category') %></th>
          <th><%= t('.category_value') %></th>
          <th><%= t('.category_percentage') %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @interesting_expenses.group_by(&:parent_code).each do |parent_code, bls| %>
            <tr class="group">
              <td class="level_1" rowspan="<%= bls.count %>">
                <%= budget_line_denomination @interesting_area, parent_code, GobiertoBudgets::BudgetLine::EXPENSE %>
              </td>
              <%= render partial: "gobierto_budgets/budgets/sub_budget_line",
                    locals: {sub_budget_line: bls.first } %>
            </tr>
            <% bls[1..-1].each do |bl| %>
              <tr>
                <%= render partial: "gobierto_budgets/budgets/sub_budget_line",
                    locals: {sub_budget_line: bl } %>
              </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>

  </div>

  <div class="featured_b_l block m_v_3" data-featured-budget-line="<%= gobierto_budgets_featured_budget_line_path(@site.place.slug, year: @year, template: 'gobierto_site_template') %>">
  </div>

  <div class="separator"></div>

  <div id="lines_chart_wrapper" class="pure-g" data-vis-lines role="tabpanel" aria-controlledby="per_person, total_budget">
    <div class=" pure-u-1 pure-u-md-1-2 block" >
      <h2><%= t('.at_a_glance') %></h2>

      <div id="lines_chart"></div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 block">
      <h2><%= t('.context') %></h2>

      <div id="lines_tooltip"></div>
      <div class="help">
        <%= link_to t('.note_about_the_data'), APP_CONFIG["gobierto_budgets"]["data_note_url"], target: '_blank', title: t('.note_about_the_data_title'), class: 'tipsit' %>
      </div>
    </div>

    <div class="pure-u-1">
      <div class="filter m_v_2" role="tablist" aria-label="<%= t('.visualize') %>">
        <%= link_to t('.per_person'), '#', class:'active',  data: {"line-widget-series" => "means", "line-widget-url" => gobierto_budgets_api_data_lines_path(ine_code: @place.id, year: @year, what: 'per_person', format: :json), "line-widget-type" => "per_person" }, role:'tab', tabindex:0, 'aria-selected' => 'true', id:'per_person', 'aria-controls' => 'lines_chart_wrapper' %>
        <%= link_to t('.in_total'), '#', class:'',  data: {"line-widget-series" => "means", "line-widget-url" => gobierto_budgets_api_data_lines_path(ine_code: @place.id, year: @year, what: 'total_budget', format: :json), "line-widget-type" => "total_budget" }, role:'tab', tabindex:-1, 'aria-selected' => 'false', id:'total_budget', 'aria-controls' => 'lines_chart_wrapper' %>

        <% pending do %>
          <span class="separator_v"></span>
          <span class="label">Visualizar:</span>

          <%= link_to 'Evolución', '#', class:'active', data: { "switch_viz_to" => "lines" } %>
          <%= link_to 'Distribución', '#', class: '', data: { "switch_viz_to" => "treemap" } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <%= render partial: 'gobierto_budgets/budget_lines/explorer' %>

</div>
