<% title t('.title', year: @year) %>

<% content_for :breadcrumb_current_item do %>
  <h1>
    <%= link_to t('gobierto_budgets.layouts.menu_subsections.summary'), gobierto_budgets_budgets_path %>
  </h1>
<% end %>

<% content_for :body_attributes do %>
  <%== %Q{data-bubbles-data="#{bubbles_data_path(current_site)}"} %>
<% end %>

<div class="column">

  <div class="pure-g" style="display: none">

    <div class="pure-u-1 pure-u-md-4-24 right" data-share>
      <div class="social_links_container" data-share-text="<%= t('.twitter_text', name: @site.place.name, year: @year) %>">
        <a href="#" class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|XXX"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|XXX"><i class="fa fa-facebook"></i></a>
        <% pending do %>
          <a href="#embed-graph-code" class="social_share code open_modal" data-track-event="Social Share|Click Code|XXX"><i class="fa fa-code"></i></a>
        <% end %>
      </div>
    </div>

  </div>

  <div class="block">

    <div class="pure-g header_block_inline">
      <div class="pure-u-1 pure-u-md-12-24">
        <div class="inline_header">
          <h2 class="with_description p_h_r_1"><%= t('.header') %></h2>
          <%= render partial: 'gobierto_budgets/budgets/year_breadcrumb', locals: {path_calculation_method: :gobierto_budgets_budgets_path} %>
        </div>

        <p><%= t('.description') %></p>

        <p class="last_update"><%= raw t('.last_update') %></p>
        <p class="m_v_0_25"><a href="#"><%= t('.budget_guide') %></a>.</p>
      </div>

      <div class="pure-u-1 pure-u-md-12-24 right">
        <%= image_tag('illustrations/personaliza.jpg', class: 'img-fluid m_v_4') %>
      </div>
    </div>

    <div class="pure-g metric_boxes">

      <div class="pure-u-1-2 pure-u-md-1-5 metric_box">
        <div class="inner">
          <h3><%= t('.expenses_per_inhabitant') %></h3>
          <div class="metric"><%= number_to_currency @site_stats.total_budget_per_inhabitant, precision: 0 %></div>
        </div>
      </div>

      <div class="pure-u-1-2 pure-u-md-1-5 metric_box">
        <div class="inner">
          <h3><%= t('.total_expenses') %></h3>
          <div class="metric"><%= format_currency @site_stats.total_budget %></div>
        </div>
      </div>

      <div class="pure-u-1-2 pure-u-md-1-5 metric_box">
        <div class="inner">
          <h3><%= t('.executed') %> (<span class="tooltiped" title="<%= t('.executed_tooltip') %>">?</span>)</h3>
          <div class="metric">600M€</div>
          <div class="explanation_bar">
            <div class="bar"><div class="line" style="width: 70%"></div></div>
            <span><%= t('.executed_percent') %></span>
          </div>
        </div>
      </div>

      <div class="pure-u-1-2 pure-u-md-1-5 metric_box">
        <div class="inner">
          <h3><%= t('.inhabitants') %></h3>
          <div class="metric"><%= number_with_precision @site_stats.latest_available(:population, @year)[:value], precision: 0, delimiter: '.' %></div>
          <% if @site_stats.latest_available(:population, @year)[:year] != @year %>
            <div class="explanation">
              <%= t('.data_of_year', year: @site_stats.latest_available(:population, @year)[:year]) %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="pure-u-1-2 pure-u-md-1-5 metric_box">
        <div class="inner">
          <h3><%= t('.debt') %></h3>
          <div class="metric"><%= format_currency @site_stats.latest_available(:debt, @year)[:value] %></div>
          <% if @site_stats.latest_available(:debt, @year)[:year] != @year %>
            <div class="explanation">
              <%= t('.at_years_end', year: @site_stats.latest_available(:debt, @year)[:year])%>
            </div>
          <% end %>
        </div>
      </div>

      <div class="pure-u-1-1 right soft m_v_0_25">
        <small><%= t('.data_advice') %></small>
      </div>
    </div>
  </div>

  <div class="block">
    <h2><%= t('.stories_header') %></h2>

    <div class="pure-g stories_box">
      <a href="#" class="pure-u-md-1-3 pure-u-1 story_box">
        <div class="inner">
          <div class="bg-image" style="background-image: url(<%= image_url('stories/story_1') %>);"></div>

          <div class="padded">
            <h3 class="m_v_0_25"><%= t('.story_1.title') %></h3>
            <p class="m_v_0_25 soft"><%= t('.story_1.lede') %></p>
          </div>
        </div>
      </a>
      <a href="#" class="pure-u-md-1-3 pure-u-1 story_box">
        <div class="inner">
          <div class="bg-image" style="background-image: url(<%= image_url('stories/story_2') %>);"></div>

          <div class="padded">
            <h3 class="m_v_0_25"><%= t('.story_2.title') %></h3>
            <p class="m_v_0_25 soft"><%= t('.story_2.lede') %></p>
          </div>
        </div>
      </a>
      <a href="#" class="pure-u-md-1-3 pure-u-1 story_box">
        <div class="inner">
          <div class="bg-image" style="background-image: url(<%= image_url('stories/story_3') %>);"></div>

          <div class="padded">
            <h3 class="m_v_0_25"><%= t('.story_3.title') %></h3>
            <p class="m_v_0_25 soft"><%= t('.story_3.lede') %></p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="block">
    <h2 class="with_description"><%= t('.main_budget_lines') %></h2>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-11-24">
        <h3 class="center m_v_0 mt1"><%= t('.main_budget_lines_income') %></h3>
        <div class="graph vis-bubbles vis-bubbles-income"></div>
      </div>

      <div class="pure-u-1 pure-u-md-1-24">
        <div class="bubble_legend"></div>
      </div>

      <div class="pure-u-1 pure-u-md-11-24">
        <h3 class="center m_v_0 mt1"><%= t('.main_budget_lines_expense') %></h3>
        <div class="graph vis-bubbles vis-bubbles-expense"></div>
      </div>

      <div class="pure-u-1">
        <h3 class="m_v_0"><%= t('.main_budget_levels_timeline') %></h3>
        <div class="timeline"></div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="pure-g banners">
      <div class="pure-u-md-2-3 pure-u-1 banner_block">
        <a href="#" class="inner center vertically_centered budget_receipt">

          <%= image_tag('illustrations/presupuestos.jpg', class: 'img-fluid') %>
          <h3 class="m_v_0_25"><%= t('.budget_receipt.title') %></h3>
          <p class="m_v_0_25"><%= t('.budget_receipt.intro') %></p>

        </a>
      </div>
      <div class="pure-u-md-1-3 pure-u-1 banner_block">
        <div class="inner budget_expense">
          <div class="soft"><strong><%= t('.budget_slides.title') %> </strong></div>
          <h3><%= t('.budget_slides.slide_1') %></h3>

          <div class="circle_figure">
            <div>36€</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <h2 class="with_description"><%= t('.budget_lines_block.title') %></h2>
    <p class="description"><%= t('.budget_lines_block.intro') %></p>

    <div class="pure-g line_boxes">
      <%= render 'line_box', {title: 'Deuda pública', figure: '716M', executed: '30%' } %>
      <%= render 'line_box', {title: 'Servicios públicos básicos', figure: '2.076M', executed: '42%' } %>
      <%= render 'line_box', {title: 'Actuaciones de protección y promoción social', figure: '8.451M', executed: '27%' } %>
      <%= render 'line_box', {title: 'Protección de bienes públicos de carácter preferente', figure: '407M', executed: '65%' } %>
      <%= render 'line_box', {title: 'Actuaciones de carácter económico', figure: '161M', executed: '12%' } %>
      <%= render 'line_box', {title: 'Actuaciones de carácter general', figure: '602M', executed: '87%' } %>
    </div>
  </div>

  <div class="block">
    <h2 class="with_description"><%= t('.execution_block.title') %></h2>
    <div class="pure-g half_description">
      <div class="pure-u-md-1-2 pure-u-1 block_1">
        <p class="description"><%= t('.execution_block.intro') %></p>
      </div>
      <div class="pure-u-md-1-2 pure-u-1 block_2">
        <p class="f7"><%= t('.execution_block.last_update', date: '5 de junio 2017') %></p>
      </div>
    </div>

    <div class="pure-g mega_bars">
      <%= render 'mega_bar', {className: 'income', percentage: '68' } %>
      <%= render 'mega_bar', {className: 'expense', percentage: '24' } %>

      <div class="pure-u-1 center m_v_1">
        <%= link_to t('.execution_block.button'), gobierto_budgets_budgets_execution_path(year: GobiertoBudgets::SearchEngineConfiguration::Year.last), data: { turbolinks: false }, class: "button" %>
      </div>
    </div>
  </div>

  <div id="lines_chart_wrapper" class="pure-g" data-vis-lines role="tabpanel" aria-controlledby="per_person, total_budget">
    <div class=" pure-u-1 pure-u-md-1-2 block" >
      <h2><%= t('.at_a_glance') %></h2>

      <div id="lines_chart"></div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 block">
      <h2><%= t('.context') %></h2>

      <div id="lines_tooltip"></div>
      <div class="help">
        <%= link_to t('.note_about_the_data'), APP_CONFIG["gobierto_budgets"]["data_note_url"], target: '_blank', title: t('.note_about_the_data_title'), class: 'tipsit' %>
      </div>
    </div>

    <div class="pure-u-1">
      <div class="filter m_v_2" role="tablist" aria-label="<%= t('.visualize') %>">
        <%= link_to t('.per_person'), '#', class:'active',  data: {"line-widget-series" => "means", "line-widget-url" => gobierto_budgets_api_data_lines_path(ine_code: @place.id, year: @year, what: 'per_person', format: :json), "line-widget-type" => "per_person" }, role:'tab', tabindex:0, 'aria-selected' => 'true', id:'per_person', 'aria-controls' => 'lines_chart_wrapper' %>
        <%= link_to t('.in_total'), '#', class:'',  data: {"line-widget-series" => "means", "line-widget-url" => gobierto_budgets_api_data_lines_path(ine_code: @place.id, year: @year, what: 'total_budget', format: :json), "line-widget-type" => "total_budget" }, role:'tab', tabindex:-1, 'aria-selected' => 'false', id:'total_budget', 'aria-controls' => 'lines_chart_wrapper' %>

        <% pending do %>
          <span class="separator_v"></span>
          <span class="label">Visualizar:</span>

          <%= link_to 'Evolución', '#', class:'active', data: { "switch_viz_to" => "lines" } %>
          <%= link_to 'Distribución', '#', class: '', data: { "switch_viz_to" => "treemap" } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <%= render partial: 'gobierto_budgets/budget_lines/explorer' %>

</div>
