<% title t('.title', place: current_site.organization_name, year: @year) %>

<% content_for :body_attributes do %>
  <%== %Q{data-bubbles-data="#{bubbles_data_path(current_site)}" data-max-year="#{GobiertoBudgetsData::GobiertoBudgets::SearchEngineConfiguration::Year.last}"} %>
<% end %>

<div class="column">

  <div class="block">

    <div class="pure-g header_block_inline">
      <div class="pure-u-1 pure-u-md-12-24">
        <div class="inline_header">
          <h2 class="with_description p_h_r_1"><%= t('.header') %></h2>
          <%= render partial: 'gobierto_budgets/budgets/year_breadcrumb' %>
        </div>

        <p>
          <%= t('.description') %>
        </p>

        <%= render('gobierto_budgets/shared/data_updated_at') %>

        <p class="m_v_0_25"><%= link_to t('.budget_guide'), gobierto_budgets_budgets_guide_path %>.</p>
      </div>

      <div class="pure-u-1 pure-u-md-12-24 right">
        <%= image_tag('illustrations/personaliza.jpg', class: 'img_header m_v_4', alt: '') %>
      </div>
    </div>

    <% cache_service_fragment(["gobierto_budgets/metric_boxes", I18n.locale, @year].join("/")) do %>
      <div class="pure-g metric_boxes">

        <% if @site_stats.population_data? %>
          <%= render("metric_box",
                title: t(".expenses_per_inhabitant_updated"),
                value: @site_stats.total_budget_per_inhabitant_updated(fallback: true),
                tooltip: t(".expenses_per_inhabitant_tooltip"),
                data_box: "expenses_per_inhabitant",
                explanation: {
                  if: @site_stats.total_budget_per_inhabitant(fallback: false).present?,
                  text: "#{delta_percentage(@site_stats.total_budget_per_inhabitant_updated(fallback: true), @site_stats.total_budget_per_inhabitant(fallback: true), true)} #{t('.initial_estimate_per_inhabitant')} #{format_currency(@site_stats.total_budget_per_inhabitant)}"
                }
              ) %>
        <% end %>

        <%= render("metric_box",
              title: t(".total_expenses_updated"),
              value: @site_stats.total_budget_updated(fallback: true),
              tooltip: t(".total_expenses_tooltip"),
              data_box: "total_expenses",
              explanation: {
                if: @site_stats.total_budget(fallback: false).present?,
                text: "#{t('.initial_estimate')}: #{format_currency(@site_stats.total_budget)} (#{delta_percentage(@site_stats.total_budget_update(fallback: true), @site_stats.total_budget(fallback: true), true)})"
              }
            ) %>

        <div class="pure-u-1-2 pure-u-md-1-5 metric_box tipsit" title="<%= t('.executed_tooltip') %>" data-box="executed">
          <div class="inner">
            <h3><%= t('.executed') %></h3>
            <% if @site_stats.total_budget_executed %>
              <div class="metric">
                <%= link_to gobierto_budgets_budgets_execution_path(year: GobiertoBudgetsData::GobiertoBudgets::SearchEngineConfiguration::Year.last) do %>
                  <%= format_currency @budgets_execution_summary.last_expenses.execution %>
                <% end %>
              </div>

              <div class="explanation explanation_bar">
                <% percentage = @budgets_execution_summary.expenses_execution_percentage %>
                <% percentage_bar_width = (percentage.nil? || percentage > 100) ? 100 : percentage %>
                <div class="bar"><div class="line" style="width: <%= percentage_bar_width %>%"></div></div>
                <span><%= t('.executed_percent', percentage: percentage) %></span>
              </div>
            <% else %>
              <% percentage = @site_stats.total_budget_executed_percentage(@year - 1) %>
              <div class="metric"><span class="not_av"><%= t('.not_available_short') %></span></div>
              <div class="explanation">
                <%= t('.executed_percent_other_year_html', year: @year - 1, link: link_to("#{percentage} %", gobierto_budgets_budgets_execution_path)) %>
              </div>
            <% end %>
          </div>
        </div>

        <% if @site_stats.population_data? %>

          <%= render("metric_box",
              title: t(".inhabitants"),
              value: @site_stats.latest_available(:population, @year)[:value],
              value_type: :number,
              tooltip: t(".inhabitants_tooltip"),
              data_box: "population",
              explanation: {
                if: @site_stats.latest_available(:population, @year)[:year] != @year,
                text: t('.data_of_year', year: @site_stats.latest_available(:population, @year)[:year])
              }
            ) %>

        <% else %>

          <%= render("metric_box",
              title: t("gobierto_budgets.budgets_elaboration.index.net_savings"),
              value: @site_stats.net_savings,
              tooltip: t("gobierto_budgets.budgets_elaboration.index.net_savings_tooltip"),
              data_box: "debt",
              diff: "#{@site_stats.percentage_difference(year1: @year, year2: @year - 1, variable1: :net_savings)} vs #{@year - 1}"
            ) %>
        <% end %>

        <% if @site_stats.debt_data? %>

          <% debt = @site_stats.latest_available(:debt, @year) %>
          <% debt_value = debt[:value] %>

          <%= render("metric_box",
              title: t('.debt'),
              value: debt_value,
              tooltip: t(".debt_tooltip", of_the_organization_name: @site.determined_organization_name(:of_the)),
              data_box: "debt",
              explanation: {
                if: debt_value && (debt[:year] != @year),
                text: t(".at_years_end", year: debt[:year])
              }
            ) %>

        <% else %>
          <%= render("metric_box",
              title: t("gobierto_budgets.budgets_elaboration.index.auto_funding"),
              value: @site_stats.auto_funding,
              value_type: :percentage,
              tooltip: t("gobierto_budgets.budgets_elaboration.index.auto_funding_tooltip"),
              data_box: "debt",
              diff: "#{@site_stats.percentage_difference(year1: @year, year2: @year - 1, variable1: :auto_funding)} vs #{@year - 1}"
            ) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% pending do%>
    <div class="block">
      <h2><%= t('.stories_header') %></h2>

      <div class="pure-g stories_box">
        <a href="#" class="pure-u-md-1-3 pure-u-1 story_box">
          <div class="inner">
            <div class="bg-image" style="background-image: url(<%= image_url('stories/story_1') %>);"></div>

            <div class="padded">
              <h3 class="m_v_0_25"><%= t('.story_1.title') %></h3>
              <p class="m_v_0_25 soft"><%= t('.story_1.lede') %></p>
            </div>
          </div>
        </a>
        <a href="#" class="pure-u-md-1-3 pure-u-1 story_box">
          <div class="inner">
            <div class="bg-image" style="background-image: url(<%= image_url('stories/story_2') %>);"></div>

            <div class="padded">
              <h3 class="m_v_0_25"><%= t('.story_2.title') %></h3>
              <p class="m_v_0_25 soft"><%= t('.story_2.lede') %></p>
            </div>
          </div>
        </a>
        <a href="#" class="pure-u-md-1-3 pure-u-1 story_box">
          <div class="inner">
            <div class="bg-image" style="background-image: url(<%= image_url('stories/story_3') %>);"></div>

            <div class="padded">
              <h3 class="m_v_0_25"><%= t('.story_3.title') %></h3>
              <p class="m_v_0_25 soft"><%= t('.story_3.lede') %></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  <% end %>

  <div class="block">
    <h2 class="with_description"><%= t('.main_budget_lines', from_your_organization_name: @site.determined_organization_name(:of_t) + @site.organization_name) %></h2>

    <div class="pure-g m_t_1">
      <div class="pure-u-1 pure-u-lg-11-24">
        <h3 class="center m_v_0 mt1"><%= t('.main_budget_lines_income') %></h3>
        <div class="graph vis-bubbles vis-bubbles-income"></div>
      </div>

      <div class="pure-u-1 pure-u-lg-1-24 bubble_legend_wrapper">
        <div class="bubble_legend"></div>
      </div>

      <div class="pure-u-1 pure-u-lg-11-24">
        <h3 class="center m_v_0 mt1"><%= t('.main_budget_lines_expense') %></h3>
        <div class="graph vis-bubbles vis-bubbles-expense"></div>
      </div>

      <div class="pure-u-1">
        <h3 class="m_v_0"><%= t('.main_budget_levels_timeline') %></h3>
        <div class="timeline"></div>
      </div>
    </div>
  </div>

  <% pending do %>
    <div class="block">
      <div class="pure-g banners">
        <div class="pure-u-md-2-3 pure-u-1 banner_block">
          <a href="#" class="inner center vertically_centered budget_receipt">

            <%= image_tag('illustrations/presupuestos.jpg', class: 'img-fluid') %>
            <h3 class="m_v_0_25"><%= t('.budget_receipt.title') %></h3>
            <p class="m_v_0_25"><%= t('.budget_receipt.intro') %></p>

          </a>
        </div>
        <div class="pure-u-md-1-3 pure-u-1 banner_block">
          <div class="inner budget_expense">
            <div class="soft"><strong><%= t('.budget_slides.title') %> </strong></div>
            <h3><%= t('.budget_slides.slide_1') %></h3>

            <div class="circle_figure">
              <div>36€</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% cache_service_fragment(["gobierto_budgets/interesting_budget_lines", I18n.locale, @year].join("/")) do %>
    <div class="block">
      <h2 class="with_description"><%= t('.most_interesting_budget_lines') %></h2>
      <p class="description"><%= t('.most_interesting_budget_lines_description') %></p>

      <div class="graph" id="expense-treemap"
                         data-functional-url="<%= gobierto_budgets_budget_lines_treemap_path(@year, kind: GobiertoBudgets::BudgetLine::EXPENSE, area_name: 'functional', level: 2, format: :json) %>"
                         data-economic-url="<%= gobierto_budgets_budget_lines_treemap_path(@year, kind: GobiertoBudgets::BudgetLine::EXPENSE, area_name: 'economic', level: 2, format: :json) %>">
      </div>

      <table class="explore_slow">
        <thead class="screen-hidden">
          <tr>
            <th><%= t('.level_1_category') %></th>
            <th><%= t('.level_2_category') %></th>
            <th><%= t('.category_value') %></th>
            <th><%= t('.category_percentage') %></th>
            <th><span style="display:none" aria-hidden="true">WCAG 2.0 AA</span></th>
          </tr>
        </thead>

        <tbody>
          <% @interesting_expenses.group_by(&:parent_code).each do |parent_code, budget_lines| %>
              <tr class="group">
                <td class="level_1" rowspan="<%= budget_lines.count %>">
                  <%= budget_line_denomination @interesting_area, parent_code, GobiertoBudgets::BudgetLine::EXPENSE %>
                </td>
                <%= render partial: "gobierto_budgets/budgets/sub_budget_line",
                      locals: {sub_budget_line: budget_lines.first, last_item: false } %>
              </tr>
              <% budget_lines[1..-1].each_with_index do |budget_line, i| %>
                <tr>
                  <%= render partial: "gobierto_budgets/budgets/sub_budget_line",
                      locals: {sub_budget_line: budget_line, last_item: (i == budget_lines.length - 2) } %>
                </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  <% end %>

  <% if @budgets_execution_summary.income_execution_percentage && @budgets_execution_summary.expenses_execution_percentage %>
    <div class="block">
      <h2 class="with_description"><%= t('.execution_block.title') %></h2>
      <div class="pure-g half_description">
        <div class="pure-u-md-1 pure-u-1 block_1">
          <p class="description js-last-update">
            <%= t('.execution_block.intro') %>

            <% if @budgets_data_updated_at %>
              <%= t('.execution_block.last_update', date: l(@budgets_data_updated_at, format: '%d %B %Y')) %>
            <% end %>
          </p>
        </div>
      </div>

      <div class="pure-g mega_bars m_v_1">
        <%= render 'mega_bar', { className: 'income', percentage: @budgets_execution_summary.income_execution_percentage } %>
        <%= render 'mega_bar', { className: 'expense', percentage: @budgets_execution_summary.expenses_execution_percentage } %>

        <div class="pure-u-1 center m_v_1">
          <%= link_to t('.execution_block.button'), gobierto_budgets_budgets_execution_path(year: GobiertoBudgetsData::GobiertoBudgets::SearchEngineConfiguration::Year.last), data: { turbolinks: false }, class: "button" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="featured_b_l block m_v_3" data-featured-budget-line="<%= gobierto_budgets_featured_budget_line_path(@year, template: 'gobierto_site_template') %>">
  </div>


  <% if budgets_comparison_context_table_enabled %>
    <div class="separator"></div>
    <%= render partial: "comparison_chart", locals: { wrapper_id: "lines_chart_wrapper",
                                                      chart_id: "lines_chart",
                                                      tooltip_id: "lines_tooltip",
                                                      line_widget_series: "means",
                                                      show_widget: false,
                                                      data_args: { organization_id: current_site.organization_id,
                                                                   year: @year } } %>
  <% end %>

  <% if budgets_comparison_compare_municipalities.any? %>
    <div class="separator"></div>
    <%= render partial: "comparison_chart", locals: { wrapper_id: "lines_chart_comparison_wrapper",
                                                      chart_id: "lines_chart_comparison",
                                                      tooltip_id: "lines_tooltip_comparison",
                                                      line_widget_series: "comparison",
                                                      show_widget: budgets_comparison_show_widget,
                                                      data_args: { comparison: budgets_comparison_compare_municipalities,
                                                                   organization_id: current_site.organization_id,
                                                                   year: @year } }
                                                                 %>
  <% end %>

  <div class="separator"></div>

  <%= render partial: 'gobierto_budgets/budget_lines/explorer' %>

  <% if budget_lines_feedback_active? %>
    <%= render 'gobierto_budgets/shared/enough_information' %>
  <% end %>

  <%= render "shared/download_open_data" %>
</div>
