<%= render "single_charter_stylesheets_hook" %>

<% title t(".title", title: @charter.title) %>

<div class="column">
<main role="main" class="content gobierto_citizens-charters">

  <div class="charter-header">
    <div class="column">
      <h1><%= link_to @charter.title, gobierto_citizens_charters_charter_path(@charter.slug) %></h1>
      <%= image_tag(custom_field_by_uid(@charter, "cover-image") || "") %>
    </div>
  </div>
  <div class="charter-subheader" style="display: none">
    <div class="column">
      <div class="left absolute-layout">
      <%= link_to gobierto_citizens_charters_charter_path(@charter.slug) do %>
        <i class="fas fa-long-arrow-left"></i> <%= t(".back") %>
      <% end %>
      </div>
    </div>
  </div>

  <article class="inner">
    <% %w(presentation responsible mission vision services-offered rights-and-duties participation-ways suggestions-complaints-and-claims internal-and-external-communication compensation-measures regulations).each do |uid| %>
      <% if (content = custom_field_by_uid(@charter, uid)).present? %>
        <h2><%= custom_field_name_by_uid(@charter, uid) %></h2>
        <p><%= content %></p>
      <% end %>
    <% end %>

    <div class="m_v_3">
      <%= link_to gobierto_citizens_charters_charter_path(@charter.slug) do %>
        <i class="fas fa-long-arrow-left"></i> <%= t(".back") %>
      <% end %>
    </div>

  </article>
</main>
