<%= render "stylesheets_hook" %>
<% title @resources_root.is_a?(GobiertoCitizensCharters::Service) ? @resources_root.title : t("gobierto_citizens_charters.layouts.application.citizens_charters") %>
<div class="column">

  <main role="main" class="content gobierto_citizens-charters">
    <!-- Welcome block -->
    <div class="block m_v_3 absolute-layout">

      <div class="pure-g header_block_inline">
        <div class="pure-u-1 pure-u-md-12-24">
          <div class="inline_header">
            <h2 class="with_description p_h_r_1"><%= t(".description_title", of_the_organization_name: @site.determined_organization_name(:of_the)) %></h2>
          </div>

          <p>
            <%= t(".introduction") %>
          </p>

        </div>
      </div>

      <div class="charters-box-container bottom fake-layout">
        <div class="charters-box invisible"><!-- fake block --></div>
        <div class="charters-box invisible"><!-- fake block --></div>
        <div class="charters-box--lead">
          <div class="box-inner">
            <div class="box-results top left">
              <div class="results-title"><%= t(".global_progress") %></div>
              <div class="results-value"><%= format_percentage(@resources_root.progress) %></div>
            </div>
            <div class="box-contents bottom right">
              <%= t(".period") %>
              <%= @resources_root.reference_edition %> (<%= t("gobierto_citizens_charters.shared.#{ @resources_root.reference_edition.period_interval }_interval") %>)
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="charters-box-container">
      <% @charters.each do |charter| %>
        <%= link_to charter_period_gobierto_citizens_charters_charter_path(charter.slug, period: charter.reference_edition.to_s, front_period_interval: charter.reference_edition.front_period_interval), class: "charters-box", id: "charter-#{ charter.id }" do %>
          <div class="box-inner">
            <div class="box-title top left"><%= charter.title %></div>
            <% if charter.progress.present? %>
              <div class="box-results bottom left">
                <div class="results-title"><%= t(".progress") %></div>
                <div class="results-value"><%= format_percentage(charter.progress) %></div>
              </div>
            <% end %>
            <div class="box-contents bottom right"><%= t(".commitments", count: charter.commitments.count) %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </main>

</div>
