<%= render "single_charter_stylesheets_hook" %>

<% content_for :javascript_module_link do %>
  <%= javascript_packs_with_chunks_tag 'charters', 'data-turbolinks-track': true %>
<% end %>

<% content_for :javascript_hook do %>
  window.GobiertoCharters.charters_controller.show({
    sparklinesData: <%== @historic_data.to_json %>,
    freq: "<%= @period_interval %>"
  });
<% end %>

<% title "#{ @charter.title } · #{ @charter.reference_edition }" %>
<main role="main" class="content gobierto_citizens-charters">

  <div class="charter-header">
    <div class="column">
      <h1><%= @charter.title %></h1>
      <%= image_tag(custom_field_by_uid(@charter, "cover-image") || "") %>
    </div>
  </div>

  <div class="charter-subheader">
    <div class="column">
      <div class="left absolute-layout">

        <% if @charter.progress.present? %>
          <div class="subheader-title"><%= t(".global_progress") %></div>
          <div class="subheader-number m_v_2">
            <p><%= format_percentage(@charter.progress) %></p>
            <div id="sparkline-GLOBAL" class="sparkline"></div>
          </div>
        <% end %>

        <% if @progress_evolution.present? %>
          <div class="subheader-title subheader-title--muted m_b_3">
            <%= t(
              "gobierto_citizens_charters.shared.evolution.#{ @progress_evolution < 0 ? "negative" : "positive" }",
              progress: format_percentage(@progress_evolution)
              ) %>
          </div>
        <% end %>

        <div class="subheader-title desktop_only bottom"><%= t(".editions_details") %>:</div>
      </div>
      <div class="right absolute-layout">
        <div class="m_b_1">
          <div class="subheader-title"><%= t(".about") %></div>
          <small><%= custom_field_by_uid(@charter, "introduction") %></small>
        </div>
        <div class="m_b_3">
          <%= link_to t(".see_all"), details_gobierto_citizens_charters_charter_path(@charter.slug) %>
          <div class="subheader-title--muted"><%= t(".see_all_subtitle") %></div>
        </div>

        <div class="bottom right">
          <%= render(
            partial: "gobierto_citizens_charters/shared/period_breadcrumb",
            locals: {
              selected_period: @charter.reference_edition.to_s,
              available_periods: @charter.available_periods(@charter.reference_edition.period_interval)
            }
            ) %>
        </div>

      </div>
    </div>
  </div>

  <div class="charter-container">
    <% @charter.editions.sorted.each do |edition| %>
      <div class="charter">
        <div class="charter-inner">
          <div class="m_b_2"><%= edition.commitment.description %></div>
          <div>
            <div class="charter-number m_b_1">
              <p><%= format_percentage(edition.proportion) %></p>
              <div id="sparkline-<%= edition.id %>" class="sparkline"></div>
            </div>
            <small class="charter-text--muted"><%= edition.commitment.title %></small>
            <% if edition.has_values? %>
              <div>
                <small class="charter-text--muted">
                  <%= "#{ t(".value") }: #{ format_value(edition.value, edition.max_value) }" %>
                  /
                  <%= "#{ t(".max_value") }: #{ format_value(edition.max_value, edition.value) }" %>
                </small>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
