<div class="blog_header">
  <%= t(".title", person_name: @person.name, person_charge: @person.charge) %>
</div>

<h1 class="person_post-title center"><%= title @post.title %></h1>

<div class="person_post-data center">
  <span class="person_post-date">
    <%= l(@post.created_at, format: :short) %>
  </span>

  <% if @post.tags.present? %>
    &middot;
    <span class="person_post-tags">
      <%= render "gobierto_people/person_posts/person_post_tags", person_post: @post %>
    </span>
  <% end %>
</div>

<p class="person_post-body">
  <%= raw @post.body %>
</p>

<div class="separator"></div>

<% description([title, t("gobierto_people.layouts.application.title"), @site.title].compact.join('. ')) %>
