<% question_index = params["answers"].present? ? 1 : 0 %>

<div style='<%= question_fb.index == question_index ? '' : "display: none;" %>' class="poll_content <%= class_if('question_active', question_fb.index == question_index) %>" id='<%= "poll_question_#{question_fb.index}" %>'>
  <div class="poll_question <%= class_if('with_media', question.answer_templates.pluck(:image_url).any?) %>">

    <h2><%= question.title %></h2>

    <% if question.multiple_choice? %>

      <div class='help'><%= t('.multiple_choice_msg') %></div>

      <div class='poll_options'>
        <% question.answer_templates.each_with_index do |answer_template, idx| %>
          <% question_answered = params["answers"].present? ? params["answers"].include?(answer_template.id.to_s) : false %>

          <%= check_box_tag "poll[questions_attributes][#{question_fb.index}][answers_attributes][#{idx}][answer_template_id]", answer_template.id, checked = question_answered %>
          <div class='poll_option'>
            <%= label_tag "poll[questions_attributes][#{question_fb.index}][answers_attributes][#{idx}][answer_template_id]", answer_template.text, class: "button outline rounded #{ class_if('checked', question_answered) }" %>

            <% if answer_template.image_url %>
              <div class="media">
                <%= link_to answer_template.image_url, data: { lightbox: "slideshow-#{question.id}", title: answer_template.text } do %>
                  <%= image_tag answer_template.image_url %>
                <% end %>
              </div>
            <% end %>

          </div>
        <% end %>
      </div>

    <% elsif question.single_choice? %>

      <div class='poll_options'>
        <% question.answer_templates.each_with_index do |answer_template, idx| %>
          <% question_answered = params["answers"].present? ? params["answers"].include?(answer_template.id.to_s) : false %>

          <%= radio_button_tag "poll[questions_attributes][#{question_fb.index}][answers_attributes][#{idx}][answer_template_id]", answer_template.id, checked = question_answered %>
          <div class='poll_option'>
            <%= label_tag "poll[questions_attributes][#{question_fb.index}][answers_attributes][#{idx}][answer_template_id][#{answer_template.id}]", class: "button outline rounded #{ class_if('checked', question_answered) }" do %>
              <%= answer_template.text %>
            <% end %>

            <% if answer_template.image_url %>
              <div class="media">
                <%= link_to answer_template.image_url, data: { lightbox: "slideshow-#{question.id}", title: answer_template.text } do %>
                  <%= image_tag answer_template.image_url %>
                <% end %>
              </div>
            <% end %>

          </div>
        <% end %>
      </div>

    <% elsif question.open_answer? %>

      <%= text_area_tag "poll[questions_attributes][#{question_fb.index}][answers_attributes][0][text]", nil, size: '80' %>

    <% end %>

  </div>
</div>
