<% title t('gobierto_dashboards.layouts.application.gobierto_dashboards.costs') %>

<div class="column">

  <div class="js-loading">
    <i class="fas fa-spinner fa-spin"></i> <%= t("gobierto_dashboards.shared.loading") %>
  </div>

  <div id="gobierto-dashboards-costs-app"
       data-site-name="<%= @site.name %>"
       data-year="2018"
       data-logo-url="<%= @site.configuration.logo_with_fallback %>"
       data-home-url="<%= gobierto_dashboards_costs_summary_url %>"
       data-costs-endpoint="<%= @dashboards_config.dig('data_urls', 'costs') %>"
  >
  </div>

</div>
