<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= display_meta_tags site: [site_name, 'Gobierto'].join(' · '), reverse: true, separator: '·' %>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'admin', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'https://code.jquery.com/ui/1.13.3/jquery-ui.min.js' %>

  <% Rails.application.config.custom_field_plugins_packs.each do |plugin_name| %>
    <%= javascript_include_tag "custom_fields_#{plugin_name}_plugin", 'data-turbolinks-track': true %>
  <% end %>

</head>

<body <%= yield(:body_attributes) %> class="gobierto_admin">
  <% if (custom_code = current_site&.configuration&.admin_custom_code).present? %>
    <%= custom_code.html_safe %>
  <% end %>

  <header class="main clearfix">

    <div class="pure-menu-link logo">
      <%= link_to admin_root_path do %>
        <%= image_tag 'Gobierto-Avatar@2x.png' %>
      <% end %>
    </div>

    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <%= link_to "#", id: "menuLink1", class: "pure-menu-link" do %>
            <%= t(".site_network") %>
          <% end %>
          <ul id="managed-sites-list" class="pure-menu-children" style="max-height: 80vh; overflow-y: scroll" >
            <% managed_sites.alphabetically_sorted.each do |site| %>
              <li class="pure-menu-item" style="display: block; height: 35px;" >
                <%= link_to(
                  site.name + " - " + site.title,
                  admin_root_url(host: site.domain),
                  class: "pure-menu-link") %>
              </li>
            <% end %>

            <% if can_manage_sites? %>
              <li class="pure-menu-item">
                <%= link_to(
                  t(".manage_sites"),
                  admin_sites_path,
                  class: "pure-menu-link") %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>

    <div id="current-site-name" class="pure-menu-link">
      <% if current_site.present? %>
        <%= current_site.name %>
      <% end %>
    </div>

    <% if admin_signed_in? %>
      <div class="right pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list left">
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <%= link_to "#", id: "menuLink1", class: "pure-menu-link" do %>
              <%= t(".hey_admin", admin_name: current_admin_label) %>
            <% end %>

            <ul class="pure-menu-children">
              <li class="pure-menu-item">
                <%= link_to edit_admin_admin_settings_path, class: "pure-menu-link" do %>
                  <i class="fas fa-th"></i>
                  <%= t(".admin_dropdown.account") %>
                <% end %>
              </li>
              <li class="pure-menu-item">
                <%= link_to admin_sessions_path, method: :delete, id: "admin-sign-out", class: "pure-menu-link" do %>
                  <i class="fas fa-sign-out"></i>
                  <%= t(".admin_dropdown.sign_out") %>
                <% end %>
              </li>
              <li class="pure-menu-item">
                <span class="pure-menu-link language_selector">
                  <i class="fas fa-globe"></i>
                  <%= render "layouts/locale_selector" %>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>

    <div class="right pure-menu-link">
      <%= t(".notifications") %>
    </div>

    <% if module_doc_url %>
      <div class="right pure-menu-link">
        <%= link_to t(".view_documentation"), module_doc_url, target: "_blank" %>
      </div>
    <% end %>

    <% if preview_item_url %>
      <div class="right pure-menu-link">
        <%= link_to t(".view_item"), preview_item_url, target: "_blank" %>
      </div>
    <% end %>

    <% if current_site.present? %>
      <div class="right pure-menu-link">
          <%= link_to t(".view_site"), current_site.domain_url, target: "_blank" %>
      </div>
    <% end %>

  </header>

  <div class="container admin_content_column_with_menu_opened">

    <menu class="main" data-menu-status="open">

      <!-- .menu_content -->
      <% if current_admin.sites.any? %>
        <div class="menu_content">

          <ul>
            <% default_modules_home_paths.each do |module_name, path| %>
              <% if show_module_link?(module_name.camelize) %>
                <li>
                  <%= link_to t(".modules.#{module_name.gsub(/\Agobierto_/,"")}"), path %>
                </li>
              <% end %>
            <% end %>

            <li class="sep"></li>

            <li>
              <% if current_admin.module_allowed?("GobiertoCms", current_site) %>
                <%= link_to t(".cms"), admin_cms_pages_path %>
              <% end %>
              <% if current_admin.can_edit_calendars? %>
                <%= link_to t(".calendars"), admin_calendars_collections_path %>
              <% end %>
              <% if current_admin.can_edit_documents? %>
                <%= link_to t(".file_attachments"), admin_attachments_file_attachments_path %>
              <% end %>
            </li>

            <li class="sep"></li>

            <li><%= link_to t(".users"), admin_users_path %></li>

            <li>
              <% if current_admin.can_customize_site? %>
                <%= link_to t(".edit_site"), edit_admin_site_path(current_site) %>
              <% elsif current_admin.can_edit_vocabularies? || current_admin.can_edit_templates? || current_admin.can_edit_custom_fields? %>
                <span><%= t(".edit_site") %></span>
              <% end %>
              <ul>
                <% if current_admin.can_edit_vocabularies? %>
                  <li><%= link_to t(".vocabularies"), admin_common_vocabularies_path %></li>
                <% end %>
                <% if current_admin.can_edit_templates? %>
                  <li><%= link_to t(".templates"), admin_gobierto_core_templates_path %></li>
                <% end %>
                <% if current_admin.can_edit_custom_fields? %>
                  <li><%= link_to t(".custom_fields"), admin_common_custom_fields_module_resources_path %></li>
                <% end %>
              </ul>
            </li>
          </ul>

        </div>
      <% end %>
      <!-- ./menu_content -->

      <div class="collapse_menu">
        <a href="#" class="js-collapse-menu">
          <i class="fas fa-caret-square-left"></i>
          <span><%= t(".collapse_menu") %></span>
        </a>
      </div>

    </menu>

    <div class="admin_content_column">

      <div class="admin_content">
        <%= render "gobierto_admin/shared/flash_messages" %>
        <%= yield %>
      </div>

    </div>

  </div>

  <%= javascript_tag data: { "turbolinks-eval" => false } do %>
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    window.GobiertoAdmin.dirty_forms_component.handle("<%= t(".dirty_forms.message") %>");
    window.GobiertoAdmin.globalized_forms_component.handle();
    window.GobiertoAdmin.color_picker_component.handle();
    window.GobiertoAdmin.token = "<%= current_admin.primary_api_token %>";
  <% end %>

  <%= yield :javascript_hook %>

</body>
</html>
