<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= display_meta_tags site: [site_name, 'Gobierto'].join(' · '), reverse: true, separator: '·' %>

  <!-- admin chunks (code-splitting) -->
  <%= javascript_packs_with_chunks_tag 'admin', 'data-turbolinks-track': true %>
  <%= stylesheet_packs_with_chunks_tag 'admin', 'data-turbolinks-track': true %>

  <%= csrf_meta_tags %>
</head>

<body class="gobierto_admin">

<header class="main clearfix">

  <div class="pure-menu-link logo">
    <%= image_pack_tag 'Gobierto-Avatar@2x.png' %>
  </div>

</header>

<div class="container admin_content_column_with_menu_opened">

  <div class="admin_content_column">

    <div class="admin_content">
      <%= render "gobierto_admin/shared/flash_messages" %>
      <%= yield %>
    </div>

  </div>

</div>

<%= render 'layouts/analytics_footer_site' %>

</body>
</html>
