<div class="pure-g">
  <div class="pure-u-2-3">
    <h1><%= title t("gobierto_admin.layouts.application.citizens_charters") %></h1>
  </div>
  <div class="pure-u-1-3 admin_tools right">
    <%= link_to edit_admin_citizens_charters_configuration_settings_path do %>
      <i class="fas fa-cog"></i>
      <%= t("gobierto_admin.gobierto_citizens_charters.shared.configuration.configuration") %>
    <% end %>
  </div>
</div>

<div class="tabs">
  <ul>
    <li class="<%= class_if("active", controller_name == "services") %>">
      <%= link_to t(".services"), admin_citizens_charters_services_path %>
    </li>
    <% if charters_enabled? %>
      <li class="<%= class_if("active", ["charters", "editions_intervals", "commitments", "editions"].include?(controller_name)) %>">
        <%= link_to t(".charters"), admin_citizens_charters_charters_path %>
      </li>
    <% end %>
  </ul>
</div>
