<div class="news_teaser">
  <h3>
    <%= link_to page.title, gobierto_cms_news_path(page.slug) %>
  </h3>

  <div class="meta">
    <time><%= time_ago_in_words(page.published_on) %></time>
  </div>

  <% if page.main_image %>
    <%= image_tag page.main_image, title: page.title, width: "221px", class: "pure-img m_v_1", alt: '' %>
    <p>
      <%= truncate(strip_tags(page.body), length: 60, escape: false) %>
    </p>
  <% else %>
    <%= truncate(strip_tags(page.body), length: 60, escape: false) %>
  <% end %>
</div>
