<%= render "gobierto_admin/shared/validation_errors", resource: @person_form %>

<%= form_for(@person_form, as: :person, url: @person_form.persisted? ? admin_people_person_path(@person_form) : :admin_people_people) do |f| %>

  <div class="pure-g">

    <div class="pure-u-1 pure-u-md-16-24">

      <div class="form_item input_text">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: t(".placeholders.name") %>
      </div>

      <div class="form_item input_text">
        <%= f.label :charge %>
        <%= f.text_field :charge, placeholder: t(".placeholders.charge") %>
      </div>

      <div class="form_item input_text">
        <%= f.label :bio %>
        <%= f.text_area :bio %>
      </div>

      <div class="form_item input_text">
        <%= f.label :bio_url %>
        <%= f.text_field :bio_url %>
      </div>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

      <div class="widget_save">

        <div class="form_item person-visibility-level-radio-buttons">

          <div class="options compact">
            <%= f.collection_radio_buttons(:visibility_level, @person_visibility_levels, :first, :first) do |b| %>
              <div class="option">
                <%= b.radio_button %>
                <%= b.label do %>
                  <span></span>
                  <%= t(".visibility_level.#{b.text}") %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>

        <%= f.submit class: "button" %>
      </div>

    </div>

  </div>

<% end %>
