<%= render "gobierto_admin/shared/validation_errors", resource: @person_form %>

<%= form_for(@person_form, as: :person, url: @person_form.persisted? ? admin_people_person_path(@person_form) : :admin_people_people, data: { "globalized-form-container" => true }) do |f| %>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">
      <div class="form_item file_field avatar_file_field">
        <%= f.label :avatar_file, t(".avatar_file_constraints") %>

        <!-- Popup itself -->
        <div id="crop-popup" class="modal mfp-hide">
          <div style="margin-right: 1em">
            <img id="image" width="100%" src="">
          </div>

          <div class="actions m_v_1 right">
            <button type="button" id="btnCrop"><%= t(".crop") %></button>
          </div>
        </div>

        <% if f.object.avatar_url.present? %>
          <%= image_tag f.object.avatar_url, height: 150, id: :saved_image %>
        <% end %>

        <%= f.file_field :avatar_file, id: :person_avatar_image %>
      </div>

      <div class="form_item input_text">
        <%= label_tag "person[name]" do %>
          <%= f.object.class.human_attribute_name(:name) %>
          <%= attribute_indication_tag required: true %>
        <% end %>
        <%= f.text_field :name, placeholder: t(".placeholders.name") %>
      </div>

      <div class="globalized_fields">
        <%= render "gobierto_admin/shared/form_locale_switchers" %>

        <% current_site.configuration.available_locales.each do |locale| %>
          <div class="form_item input_text" data-locale="<%= locale %>">
            <%= label_tag "person[charge_translations][#{locale}]", f.object.class.human_attribute_name(:charge) %>
            <%= text_field_tag "person[charge_translations][#{locale}]", f.object.charge_translations && f.object.charge_translations[locale], placeholder: t(".placeholders.charge", locale: locale.to_sym) %>
          </div>

          <div class="form_item textarea" data-locale="<%= locale %>">
            <%= label_tag "person[bio_translations][#{locale}]", f.object.class.human_attribute_name(:bio) %>
            <%= text_area_tag "person[bio_source_translations][#{locale}]", f.object.bio_source_translations && f.object.bio_source_translations[locale], attachment_path: admin_attachments_file_attachments_path, lang: locale, data: { wysiwyg: true } %>
          </div>
          <%= hidden_field_tag "person[bio_translations][#{locale}]", f.object.bio_translations && f.object.bio_translations[locale], id: "person_bio_translations_#{locale}" %>
        <% end %>
      </div>

      <div class="form_item file_field bio_file_field">
        <%= f.label :bio_file, t(".bio_file_constraints") %>

        <% if f.object.bio_url.present? %>
          <%= link_to f.object.bio_url, f.object.bio_url %>
        <% end %>

        <%= f.file_field :bio_file %>
      </div>

      <div class="pure-g">

        <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">

          <div class="form_item options_cont compact person-category-radio-buttons">

            <%= f.collection_radio_buttons(:category, @person_categories, :first, :first) do |b| %>
              <div class="option">
                <%= b.radio_button %>
                <%= b.label do %>
                  <span></span>
                  <%= t(".category.#{b.text}") %>
                <% end %>
              </div>
            <% end %>

          </div>

        </div>

        <div class="pure-u-1 pure-u-md-1-2">

          <div class="form_item options_cont compact person-party-radio-buttons" data-target>

            <%= f.collection_radio_buttons(:party, @person_parties, :first, :first) do |b| %>
              <div class="option">
                <%= b.radio_button %>
                <%= b.label do %>
                  <span></span>
                  <%= t(".party.#{b.text}") %>
                <% end %>
              </div>
            <% end %>

          </div>

        </div>

      </div>

      <div class="form_item select_control">
        <%= f.label :political_group_id %>
        <%= f.select :political_group_id,
                     options_from_collection_for_select(@political_groups, :id, :name, f.object.political_group_id),
                     include_blank: true %>
      </div>

      <div class="form_item input_text">
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: t(".placeholders.email") %>
      </div>

      <%= render "gobierto_admin/gobierto_common/dynamic_content/form", form_builder: f %>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <%= render partial: 'gobierto_admin/shared/save_widget', locals: { f: f, levels: @person_visibility_levels } %>
  </div>

<% end %>


<%= javascript_tag do %>
  window.GobiertoAdmin.person_controller.form();
<% end %>
