<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= t(".title") %>
</div>

<h1><%= title t(".title") %></h1>

<div class="admin_tools right">
  <%= link_to edit_admin_people_configuration_settings_path do %>
    <i class="fas fa-cog"></i>
    <%= t(".configuration") %>
  <% end %>
  <% if @can_create_person %>
    <%= link_to t(".new"), new_admin_people_person_path, class: "button" %>
  <% end %>
</div>

<table class="people-list">
  <thead>
    <tr>
      <th></th>
      <th><%= t(".header.person") %></th>
      <th><%= t(".header.charge") %></th>
      <th><%= t(".header.events") %></th>
      <th><%= t(".header.statements") %></th>
      <th><%= t(".header.posts") %></th>
      <th><%= t(".header.status") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody data-behavior="sortable" data-sortable-target="<%= admin_people_people_sort_path %>">
  <% @people.each do |person| %>
    <% person_policy = ::GobiertoAdmin::GobiertoPeople::PersonPolicy.new(current_admin: current_admin, current_site: current_site, person: person) %>
    <tr id="person-item-<%= person.id %>" data-id="<%= person.id %>">
      <td>
        <% if person_policy.manage? %>
          <%= link_to edit_admin_people_person_path(person) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% else %>
          <i class="fas fa-ban tipsit" title="<%= t('.no_permissions') %>"></i>
        <% end %>
      </td>
      <td>
        <% if person_policy.manage? %>
          <%= link_to edit_admin_people_person_path(person) do %>
            <%= person.name %>
          <% end %>
        <% else %>
          <%= person.name %>
        <% end %>
      </td>
      <td>
        <%= person.charge %>
      </td>
      <td>
        <%= person.events_count %>
      </td>
      <td>
        <%= person.statements_count %>
      </td>
      <td>
        <%= person.posts_count %>
      </td>
      <td class="visibility_level">
        <% if person.draft? %>
          <i class="fas fa-lock"></i>
        <% else %>
          <i class="fas fa-check"></i>
        <% end %>
        <%= t(".visibility_level.#{person.visibility_level}") %>
      </td>
      <td>
        <% if person_policy.view? %>
          <%= link_to gobierto_people_person_preview_url(person, host: current_site.domain), target: "_blank", class: "view_item" do %>
            <i class="fas fa-eye"></i>
            <%= t(".view_person") %>
          <% end %>
        <% else %>
          <i class="fas fa-eye"></i>
          <%= t(".view_person") %>
        <% end %>
      </td>
      <td>
        <% if @manage_all_people %>
          <i class="sort-handler fas fa-bars tipsit" title="<%= t('.drag_to_sort') %>"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  window.GobiertoAdmin.people_controller.index();
<% end %>
