<%
  set_meta_tags title: t('.title', place: current_site.organization_name, year: @year)
  set_meta_tags description: t('.description', place: current_site.organization_name, year: @year)
%>

<div class="column">
  <div class="block">
    <div class="pure-g header_block_inline">
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="inline_header">
          <h2 class="with_description p_h_r_0_5"><%= t('.title') %></h2>
          <%= render partial: "gobierto_budgets/shared/year_breadcrumb", locals: {
                selected_year: @year,
                selected_year_path: gobierto_budgets_budgets_execution_path(@year),
                available_years: available_years
              } %>
        </div>

        <p class="block_description">
          <%= t('.description') %>.
        </p>

        <%= render('gobierto_budgets/shared/data_updated_at') %>

        <p><%= link_to t('.budget_guide'), gobierto_budgets_budgets_guide_path %>.</p>

      </div>

      <div class="pure-u-1 pure-u-md-1-2 metric_boxes metric_boxes_detailed">
        <div class="pure-g">
          <%= render("metric_box", { cell: @income_metric_box }) %>
          <%= render("metric_box", { cell: @execution_metric_box }) %>
        </div>
      </div>
    </div>

    <div class="pure-g" id="expenses-execution">
      <div class="pure-u-1">
        <h2 class="with_description"><%= t('.vis.expenses.title') %></h2>
        <div>
          <div class="inline_filter">
            <span class="soft"><%= t('.sort') %></span>
            <div class="button-group ib" role="group">
              <button class="button-grouped active sort-G" data-toggle="highest"><%= t('.higher_execution') %></button>
              <button class="button-grouped sort-G" data-toggle="lowest"><%= t('.lower_execution') %></button>
            </div>
          </div>

          <div class="inline_filter">
            <span class="soft"><%= t('.value') %></span>
            <div class="button-group ib" role="group">
              <button class="button-grouped active value-switcher-G" data-toggle="pct_executed" data-symbol="%"><%= t('.percentage') %></button>
              <button class="button-grouped value-switcher-G" data-toggle="executed" data-symbol="€"><%= t('.euros') %></button>
            </div>
          </div>

          <% if @several_expenses_filters %>
            <div class="inline_filter">
              <span class="soft"><%= t('.category') %></span>
              <div class="button-group ib" role="group">
                <% if @any_economic_expense_budget_lines %>
                  <button class="button-grouped expenses_switcher" data-toggle="economic"><%= t('.economic_button') %></button>
                <% end %>
                <% if @any_functional_expense_budget_lines %>
                  <button class="button-grouped expenses_switcher" data-toggle="functional"><%= t('.functional_button') %></button>
                <% end %>
                <% if @any_custom_expense_budget_lines %>
                  <button class="button-grouped expenses_switcher" data-toggle="custom"><%= t('.custom_button') %></button>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>

        <div class="expenses_execution"></div>
      </div>

      <div class="pure-u-1" id="income-execution">
        <h2 class="with_description"><%= t('.vis.income.title') %></h2>
        <div>
          <div class="inline_filter">
            <span class="soft"><%= t('.sort') %></span>
            <div class="button-group ib" role="group">
              <button class="button-grouped active sort-I" data-toggle="highest"><%= t('.higher_execution') %></button>
              <button class="button-grouped sort-I" data-toggle="lowest"><%= t('.lower_execution') %></button>
            </div>
          </div>

          <div class="inline_filter">
            <span class="soft"><%= t('.value') %></span>
            <div class="button-group ib" role="group">
              <button class="button-grouped active value-switcher-I" data-toggle="pct_executed" data-symbol="%"><%= t('.percentage') %></button>
              <button class="button-grouped value-switcher-I" data-toggle="executed" data-symbol="€"><%= t('.euros') %></button>
            </div>
          </div>

          <% if @several_income_filters %>
            <div class="inline_filter">
              <span class="soft"><%= t('.category') %></span>
              <div class="button-group ib" role="group">
                <% if @any_economic_income_budget_lines %>
                  <button class="button-grouped income_switcher" data-toggle="economic"><%= t('.economic_button') %></button>
                <% end %>
                <% if @any_custom_income_budget_lines %>
                  <button class="button-grouped button-grouped-one income_switcher" data-toggle="custom"><%= t('.custom_button') %></button>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>

        <div class="income_execution"></div>
      </div>
    </div>
  </div>


</div>
