<% versioned_resource = GobiertoAdmin::VersionedResourceDecorator.new(resource) %>
<% moderated_resource = GobiertoAdmin::ModeratedResourceDecorator.new(versioned_resource.has_versions? ? versioned_resource.live_version : resource, current_admin: current_admin, current_site: current_site) %>

<div class="pure-u-1 pure-u-md-1-4">

  <div class="widget_save_v2 m_b_2">

    <div class="w_s_content">

      <% if moderated_resource.moderation_policy.edit? %>
        <div class="w_actions m_b_1">
          <button class="button medium"><%= t("gobierto_admin.shared.moderation_save_widget.save") %></button>
          <%= f.button(
                t("gobierto_admin.shared.moderation_save_widget.preview"),
                disabled: !moderated_resource.has_preview?,
                class: "button medium light",
              ) %>
        </div>
      <% end %>

      <% if versioned_resource.has_versions? %>
        <div class="pure-g f_small m_t_2">
          <div class="pure-u-1-2">
            <%= t("gobierto_admin.shared.moderation_save_widget.edit_version") %>
          </div>
          <div class="pure-u-1-2">
            <% if versioned_resource.new_version? %>
              <%= t("gobierto_admin.shared.moderation_save_widget.new_version") %>
            <% else %>
              <strong class="p_h_1">
                <%= versioned_resource.current_version %>
              </strong>
              <%= render partial: "gobierto_admin/shared/versions_select", locals: { resource: versioned_resource } %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if moderated_resource.has_publication_status? %>
        <div class="pure-g f_small m_t_1">
          <div class="pure-u-1-2">
            <%= t("gobierto_admin.shared.moderation_save_widget.publish_status") %>
          </div>
          <div class="pure-u-1-2">
            <span class="i_p_status <%= moderated_resource.publication_status %>"><%= t("gobierto_admin.shared.moderation_save_widget.publication_status.#{moderated_resource.publication_status}") %></span>
          </div>
        </div>
      <% end %>

    </div>

    <% if moderated_resource.has_publication_status? %>
      <div class="publication_section m_v_2">

        <div class="w_s_content">

          <% if versioned_resource.has_versions? %>
            <div class="pure-g f_small m_b_1">
              <div class="pure-u-1-2">
                <%= t("gobierto_admin.shared.moderation_save_widget.published_version") %>
              </div>
              <div class="pure-u-1-2">
                <% if moderated_resource.published? %>
                  <div class="pure-u-1-2">
                    <strong class="p_h_1">
                      <%= versioned_resource.versions_count %>
                    </strong>
                  </div>
                <% else %>
                  <%= t("gobierto_admin.shared.moderation_save_widget.published_version_blank") %>
                <% end %>
              </div>
            </div>
          <% end %>

          <% if moderated_resource.moderation_policy.edit? %>
            <div class="w_s_txt_msg f_small m_t_4">
              <%= t("gobierto_admin.shared.moderation_save_widget.moderation_info.#{moderated_resource.publish_moderation_step}") %>
            </div>

            <div class="m_t_1">
              <%= f.button(
                    t("gobierto_admin.shared.moderation_save_widget.#{moderated_resource.publish_step_action}"),
                    disabled: moderated_resource.step_disabled?,
                    class: "bl",
                    name: "#{f.object_name}[visibility_level]",
                    value: moderated_resource.step_visibility_value,
                    data: { confirm: t("gobierto_admin.shared.moderation_save_widget.confirm") }
                  ) %>
            </div>
          <% end %>

        </div>

      </div>
    <% end %>

    <div class="w_s_content">

      <div class="pure-g f_small">
        <div class="pure-u-1-2">
          <%= t("gobierto_admin.shared.moderation_save_widget.moderation") %>
        </div>
        <div class="pure-u-1-2">
          <span class="i_p_status <%= moderated_resource.moderation_style %>"><%= t("gobierto_admin.shared.moderation_save_widget.moderation_status.#{moderated_resource.moderation_status}") %></span>
        </div>
      </div>

    </div>

  </div>

  <%= render partial: "gobierto_admin/shared/admin_widget_moderate", locals: { f: f, resource: moderated_resource } %>
</div>
