<% versioned_resource = GobiertoAdmin::VersionedResourceDecorator.new(resource) %>
<% moderated_resource = GobiertoAdmin::ModeratedResourceDecorator.new(versioned_resource.has_versions? ? versioned_resource.live_version : resource, current_admin: current_admin, current_site: current_site) %>
<% allowed_admin_actions = permissions_policy.allowed_admin_actions %>

<div class="pure-u-1 pure-u-md-1-4">

  <div class="stick_in_parent">

    <div class="widget_save_v2 m_b_2 editor">

      <div class="w_s_content">

        <% if [:edit_projects, :moderate_projects].any? { |action| allowed_admin_actions.include?(action) } %>
          <div class="w_actions m_b_1">
            <% submit_data = permissions_policy.allowed_admin_actions_to(:update).exclude?(:moderate_projects) && moderated_resource.moderation_confirm_data || {} %>
            <%= button_tag t("gobierto_admin.shared.moderation_save_widget.save"), class: "button medium", data: submit_data %>
            <%= f.button(
                  t("gobierto_admin.shared.moderation_save_widget.preview"),
                  disabled: !moderated_resource.has_preview?,
                  class: "button medium light",
                ) %>
          </div>

          <% if moderated_resource.published? && allowed_admin_actions.include?(:publish_projects) %>
            <div class="form_item m_b_1">
              <div class="options compact">
                <div class="option">
                  <%= f.check_box :publish_last_version_automatically %>
                  <%= f.label :publish_last_version_automatically do %>
                    <span></span>
                    <%= t("gobierto_admin.shared.moderation_save_widget.publish_last_version_automatically")  %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if versioned_resource.has_versions? %>
          <% if allowed_admin_actions.include?(:edit_projects) && versioned_resource.allows_minor_change? %>
            <div class="form_item m_b_1">
              <div class="options compact">
                <div class="option">
                  <%= f.check_box :minor_change %>
                  <%= f.label :minor_change do %>
                    <span></span>
                    <%= t("gobierto_admin.shared.moderation_save_widget.minor_change")  %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="pure-g f_small m_t_2">
            <div class="pure-u-1-2">
              <%= t("gobierto_admin.shared.moderation_save_widget.edit_version") %>
            </div>
            <div class="pure-u-1-2">
              <% if versioned_resource.new_version? %>
                <%= t("gobierto_admin.shared.moderation_save_widget.new_version") %>
              <% else %>
                <strong class="p_h_1">
                  <%= versioned_resource.current_version %>
                </strong>
                <%= render partial: "gobierto_admin/shared/versions_select", locals: { resource: versioned_resource } %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if moderated_resource.has_publication_status? %>
          <div class="pure-g f_small m_t_1">
            <div class="pure-u-1-2">
              <%= t("gobierto_admin.shared.moderation_save_widget.publish_status") %>
            </div>
            <div class="pure-u-1-2">
              <% if versioned_resource.has_versions? %>
                <span class="i_p_status <%= versioned_resource.current_version_publication_status %>"><%= t("gobierto_admin.shared.moderation_save_widget.publication_status.#{versioned_resource.current_version_publication_status}") %></span>
              <% else %>
                <span class="i_p_status <%= moderated_resource.publication_status %>"><%= t("gobierto_admin.shared.moderation_save_widget.publication_status.#{moderated_resource.publication_status}") %></span>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>

      <% if moderated_resource.moderable_has_moderation? %>
        <% if allowed_admin_actions.include?(:moderate_projects) %>
          <%= render "gobierto_admin/shared/admin_widget_moderate", f: f, resource: moderated_resource %>
        <% else %>
          <%= render "gobierto_admin/shared/admin_widget_moderation_status", f: f, resource: moderated_resource %>
        <% end %>
      <% end %>

      <% if moderated_resource.has_publication_status? %>
        <div class="publication_section m_v_2">

          <div class="w_s_content">

            <% if versioned_resource.has_versions? %>
              <div class="pure-g f_small m_b_1">
                <div class="pure-u-1-2">
                  <%= t("gobierto_admin.shared.moderation_save_widget.published_version") %>
                </div>
                <div class="pure-u-1-2">
                  <% if moderated_resource.published? %>
                    <div class="pure-u-1-2">
                      <strong class="p_h_1">
                        <%= versioned_resource.published_version_number %>
                      </strong>
                    </div>
                  <% else %>
                    <%= t("gobierto_admin.shared.moderation_save_widget.published_version_blank") %>
                  <% end %>
                </div>
              </div>
            <% end %>

            <% if allowed_admin_actions.include?(:publish_projects) %>
              <% if moderated_resource.publicable? %>
                <div class="w_s_txt_msg f_small m_t_4">
                  <%= t("gobierto_admin.shared.moderation_save_widget.moderation_info.#{versioned_resource.current_version_publication_step}_html", url: @unpublish_url) %>
                </div>
                <div class="m_t_1">
                  <%= f.button(
                        t("gobierto_admin.shared.moderation_save_widget.publish"),
                        disabled: versioned_resource.current_version_published?,
                        class: "bl",
                        name: "#{f.object_name}[#{allowed_admin_actions.include?(:moderate_projects) ? "moderation_visibility_level" : "visibility_level"}]",
                        value: [moderated_resource.step_published_value, versioned_resource.current_version].compact.join("-"),
                        data: { confirm: versioned_resource.first_publication_confirm_message }
                      ) %>
                </div>
              <% else %>
                <div class="w_s_txt_msg f_small m_t_4">
                  <%= t("gobierto_admin.shared.moderation_save_widget.moderation_info.#{moderated_resource.publish_moderation_step}") %>
                </div>

                <div class="m_t_1">
                  <%= f.button(
                        t("gobierto_admin.shared.moderation_save_widget.#{moderated_resource.publish_step_action}"),
                        disabled: moderated_resource.step_disabled?,
                        class: "bl",
                        name: "#{f.object_name}[visibility_level]",
                        value: [moderated_resource.step_visibility_value, versioned_resource.current_version].compact.join("-"),
                        data: { confirm: moderated_resource.publish_step_action_confirm_message }
                      ) %>
                </div>
              <% end %>
            <% end %>

          </div>

        </div>
      <% end %>

    </div>
  </div>
</div>
