<script type="text/x-template" id="file-upload">
  <div>
    <div class="alert slim" v-if="errorMessage">{{errorMessage}}</div>

    <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving" name="file-upload">
      <div class="drag-drop" v-if="!fileDragged" :class="{ active: isDragged }">
        <input type="file" :name="uploadFieldName" @dragenter="dragEntered" @dragleave="dragLeft" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files)" class="input-file" />

        <div class="drag-call">
          <p><%= t('.drag_document_here') %></p>
          <p><%= t('.or') %></p>
          <p><%= t('.select_file') %></p>
        </div>
        <button><%= t('.include_file') %></button>
      </div>

      <div class="dragged" v-if="fileDragged">
        <div class="form_item input_text">
          <label for="name"><%= t('.document') %></label>
          <input class="strong" type="text" id="name" v-model="attachment.file_name" disabled>
        </div>

        <div class="form_item input_text">
          <label for="name"><%= t('.document_title') %></label>
          <input class="strong" type="text" id="name" v-model="attachment.name">
        </div>

        <div class="form_item textarea">
          <label for="entity"><%= t('.description') %></label>
          <textarea v-model="attachment.description"></textarea>
        </div>
        <button class="f_right m_b_2" @click.prevent="save"><%= t('.save') %></button>
      </div>
    </form>
  </div>
</script>

<script type="text/x-template" id="site-attachments">
  <div :class="{ 'modal modal-attachments': showModal }" ref="modal">
    <div class="pure-g" v-if="showModal">
      <div class="pure-u-2-3">
        <div class="p_2">
          <h3><%= t('.latest_documents') %></h3>

          <input type="text" placeholder="<%= t('.search') %>..." v-model="q" @keyup="search" class="slim"/>

          <div class="filelist-wrapper">
            <table class="m_v_1" v-if="attachments.length">
              <tbody>
                <tr v-for="attachment in attachments" @click="associateAttachment(attachment)">
                  <td>
                    <a href="#" @click.prevent target="_blank">{{attachment.name || attachment.file_name}} <span class="soft" v-if="attachment.name !== ''">({{(attachment.file_name)}})</span></a>
                  </td>
                  <td class="right">{{fileExtension(attachment.file_name)}}</td>
                  <td class="right">{{bytesToSize(attachment.file_size)}}</td>
                  <td class="right">{{formatDate(attachment.created_at)}}</td>
                </tr>
              </tbody>
            </table>
            <p v-else><%= t('.no_docs') %></p>
          </div>
        </div>
      </div>
      <div class="file-sidebar pure-u-1-3" :class="{dragged: fileDragged}">
        <!--i class="fas fa-times f_right fa-lg p_0_5" @click="this.closeModal"></i -->

        <div class="p_2 drag-section">
          <h3><%= t('.add_new_document') %></h3>

          <file-upload/>

        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-template" id="edit-attachment">
  <div :class="{ 'modal bg-highlight modal-attachments': showModal }" ref="modal">
    <div class="p_2 drag-section" v-if="showModal">
      <h1><%= t('.edit_document') %></h1>

      <div class="dragged">
        <div class="form_item input_text">
          <label for="name"><%= t('.document') %></label>
          <input class="strong" type="text" :value="attachmentDoc(attachment)" disabled>
        </div>

        <div class="form_item input_text">
          <label for="name"><%= t('.document_title') %></label>
          <input class="strong" type="text" v-model="attachment.name" name="name">
        </div>

        <div class="form_item textarea">
          <label for="entity"><%= t('.description') %></label>
          <textarea name="description" v-model="attachment.description"></textarea>
        </div>
        <button class="f_right m_b_2" @click.prevent="updateAttachment(attachment.id)"><%= t('.save') %></button>
      </div>
    </div>
  </div>
</script>


<script type="text/x-template" id="file-popover">
  <div class="file-popover" v-if="attachment !== null && show" @mouseleave="closePopover">
    <a href="#" @click.prevent="addToEditor(attachment)">{{attachment.name || attachment.file_name}}</a>

    <div class="pure-button-group m_v_1" role="group">
      <button class="pure-button" @click.prevent="editAttachment(attachment.id)"><i class="fas fa-edit"></i></button>
      <button class="pure-button" @click.prevent="removeAttaching"><i class="fas fa-trash"></i></button>
    </div>

    <button class="small" @click.prevent="addToEditor(attachment)"><%= t('.include_in_text') %></button>
    <button class="small" @click.prevent="copyUrlToClipboard(attachment)"><%= t('.copy_to_clipboard') %> <span v-if="copySuccessful" style="font-size:1.5em">✔︎</span></button>
  </div>
</script>

<script type="text/x-template" id="file-list-template">
  <small>
    <a @click.prevent="toggleList" href="#" class="tool_title show-files">
      <i :class="fileListClass" class="fa p_h_r_0_25 soft" aria-hidden="true"></i>
      <strong><%= t('.attachments') %></strong>
    </a>

    <div class="file-list" v-show="showFiles">
      <ul>
        <li v-for="attachment in attachments" :key="attachment.id">
          <a @mouseover="popover" :href="attachment.human_readable_path" target="_blank" :data-attachment-id="attachment.id">{{attachment.name || attachment.file_name}}</a>
        </li>
      </ul>

      <file-popover :attachable-type="attachableType" :attachable-id="attachableId" />
    </div>
  </small>
</script>


<div id="gobierto-attachment" class="sidebar_tool m_v_2" data-attachable-type="<%= attachable_type %>" data-attachable-id="<%= attachable_id %>">
  <file-list :attachable-type="attachableType" :attachable-id="attachableId"></file-list>

  <button id="show-modal" @click.prevent="loadAttachments" class="small m_v_1"><%= t('.include_file') %></button>

  <site-attachments :attachable-type="attachableType" :attachable-id="attachableId"></site-attachments>

  <edit-attachment />
</div>
