<% extra_items ||= [] %>
<div class="pure-u-1-2">
  <strong><%= link_to @charter.title, admin_citizens_charters_charter_editions_intervals_path(@charter) %></strong> »
  <% if extra_items.blank? %>
    <%= t("gobierto_admin.gobierto_citizens_charters.shared.navigation.commitments") %>
  <% else %>
    <%= link_to t("gobierto_admin.gobierto_citizens_charters.shared.navigation.commitments"), admin_citizens_charters_charter_commitments_path(@charter) %>
    <% extra_items.each do |item| %>
      »
      <% if item.has_key? :url %>
        <%= link_to item[:text], item[:url] %>
      <% else %>
        <%= item[:text] %>
      <% end %>
    <% end %>
  <% end %>
</div>
