<%= render("gobierto_admin/gobierto_citizens_charters/shared/charter_breadcrumb") %>

<%= render("gobierto_admin/gobierto_citizens_charters/shared/navigation") %>

<div class="pure-g">

  <%= render("sub_breadcrumb") %>

  <div class="pure-u-1-2 admin_tools right">
      <%= link_to  edit_admin_citizens_charters_charter_path(@charter) do %>
        <i class="fas fa-edit"></i>
        <%= t("gobierto_admin.gobierto_citizens_charters.shared.edit.title", item: @charter.title) %>
      <% end %>
    <%= link_to t(".new"), new_admin_citizens_charters_charter_commitment_path(@charter), class: "button" %>
  </div>

</div>

<table class="commitments-list">
  <thead>
    <tr>
      <th></th>
      <th><%= t(".header.title") %></th>
      <th><%= t(".header.description") %></th>
      <th><%= t(".header.editions") %></th>
      <th><%= t(".header.status") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "commitment", collection: @commitments %>
  </tbody>
</table>
