<% if @consultation_response.nil? %>
  <% if @census_item %>
    <div><%= t('.no_responded') %></div>
    <p><%= link_to t('.add'), new_admin_budget_consultation_consultation_response_path(@consultation, document_number_digest: @census_item.document_number_digest) %></p>
  <% else %>
    <div><%= t('.not_in_census') %></div>
  <% end %>
<% else %>
  <div><%= t('.already_responded_html') %></div>
  <p><%= link_to t('.replace'), admin_budget_consultation_consultation_response_path(@consultation, @consultation_response), method: :delete, data: { confirm: t('.confirm')}, remote: true %></p>
<% end %>

<p><%= link_to t('.search_another'), admin_budget_consultation_consultation_responses_path(@consultation), class: 'check_participation_control', remote: true %></p>
