<div class="admin_breadcrumb">
  <%= link_to 'Inicio', admin_root_path %> »
  <%= link_to 'Consultas sobre presupuestos', admin_budget_consultations_path %> »
  <%= link_to 'Participaciones', admin_budget_consultation_consultation_responses_path(@consultation) %> »
  Ver participación
</div>

<h1>
  Participación realizada el
  <%= l(@consultation_response.updated_at, format: :long) %>
</h1>

<table class="budget-line_list">
  <% @consultation_response.consultation_items.each do |consultation_response_item| %>
    <tr>
      <td class="budget-line_title"><%= consultation_response_item.item_title %></td>
      <td class="left">
        <%= t("gobierto_budget_consultations.consultation_items.options.short.#{consultation_response_item.selected_option_label}") %>
      </td>
    </tr>
  <% end %>

  <tr class="summary_row">
    <td>Inversión inicial planificada</td>
    <td>
      <div class="consultation_marker">
        <div class="qty"><%= number_to_currency(@consultation.budget_amount) %></div>
      </div>
    </td>
  </tr>
  <tr class="no_border summary_row_end">
    <td>Inversión propuesta</td>
    <td>
      <div class="consultation_marker debt_marker debt_warning">
        <div class="qty"><%= number_to_currency(@consultation_response.budget_amount) %></div>
      </div>
    </td>
  </tr>
</table>
