<%= render "gobierto_admin/shared/validation_errors", resource: @content_block_form %>

<%= form_for(@content_block_form, as: :content_block, url: @content_block_form.persisted? ? admin_common_content_block_path(@content_block_form) : :admin_common_content_blocks) do |f| %>

  <%= f.hidden_field :referrer_url %>
  <%= f.hidden_field :content_model_name %>

  <div class="pure-g">

    <div class="pure-u-1">

      <div class="new_block_content">

        <h3><%= t(".title") %></h3>

        <div class="form_item input_text title_components">
          <%= f.fields_for :title_components do |title_form| %>
            <div class="form_item input_text">
              <%= title_form.label :value, t("locales.#{title_form.object.locale}") %>
              <%= title_form.hidden_field :locale %>
              <%= title_form.text_field :value %>
            </div>
          <% end %>
        </div>

        <h3><%= t(".fields") %></h3>

        <div id="content-block-fields" class="dynamic-content-wrapper">

          <%= f.fields_for :fields do |field_form| %>
            <div class="dynamic-content-record-wrapper content-block-field-record-<%= field_form.object.id || "new" %>">

              <div class="block_column_field">
                <%= field_form.check_box :_destroy, class: "hidden destroy-content-block-record" %>

                <%= field_form.label :field_type, class: "hidden" %>
                <%= field_form.select :field_type do %>
                  <%= options_for_select(localized_enum(::GobiertoCommon::ContentBlockField, :field_type), field_form.object.field_type) %>
                <% end %>

                <%= field_form.fields_for :label_components do |field_components_form| %>
                  <div class="locale_field">
                    <%= field_components_form.label :value, t("locales.#{field_components_form.object.locale}") %>
                    <%= field_components_form.hidden_field :locale %>
                    <%= field_components_form.text_field :value %>
                  </div>
                <% end %>

                <%= link_to "#", data: { behavior: "delete_record" } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>

            </div>
          <% end %>

          <div class="block_column_field">
            <%= link_to "#", data: { behavior: "add_child" } do %>
              <i class="fas fa-plus-circle"></i>
              <%= t(".add_child") %>
            <% end %>
          </div>

        </div>

        <%= f.submit class: "button" %>

      </div>

    </div>

  </div>

<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.content_blocks_controller.edit("#content-block-fields", "fields_attributes");
  <% end %>
<% end %>
