<%= render "gobierto_people/people/content_for_breadcrumb" %>

<div class="person_header">
  <h1><%= t(".title", person_name: @person.name) %></h1>
</div>

<%= render("user/subscriptions/subscribable_box",
           subscribable: @person,
           title: t(".subscribable_box.title", person_name: @person.name)) %>

<div class="events-summary person_event-list item-list">

  <div class="events-filter">

    <div class="pure-g block">

      <div class="pure-u-1 pure-u-md-1-2">

        <h2 class="filter-option <%= class_if("active", controller_name == "person_events") %>">
          <%= link_to_unless_current t(".upcoming_events"), gobierto_people_person_events_path(@person) %>
        </h2>

      </div>

      <div class="pure-u-1 pure-u-md-1-2 right">

        <h2 class="filter-option <%= class_if("active", controller_name == "past_person_events") %>">
          <%= link_to_unless_current t(".past_events"), gobierto_people_person_past_events_path(@person) %>
        </h2>

      </div>

    </div>

  </div>

  <% if @events.any? %>
    <%= render @events %>
  <% else %>
    <%= t('.no_events') %>
  <% end %>

</div>
