<% content_for :disable_turbolinks_hook do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="person_header">
  <h2><%= title t(".title", person_name: @person.name) %></h2>
</div>

<div class="events-summary person_event-list item-list" style="<%= params[:list_view].present? ? '' : 'display: none;' %>">

  <div class="events-filter">

    <% if @filtering_date %>
      <div class="box">
        <div class="inner">
          <%= t("gobierto_people.person_events.index.displaying_events_of", date: l(@filtering_date, format: :short)) %>
          <%= link_to t("gobierto_people.person_events.index.go_back"), gobierto_people_person_events_path(@person.slug) %>
        </div>
      </div>
    <% end %>

    <div class="pure-g block">

      <div class="pure-u-1 pure-u-md-1-2">

        <h3 class="filter-option <%= class_if("active", controller_name == "person_events") %>">
          <% if request.path != gobierto_people_person_events_path(@person.slug) %>
            <%= link_to t('.upcoming_events'), gobierto_people_person_events_path(@person.slug, list_view: true) %>
          <% else %>
            <%= t('.upcoming_events') %>
          <% end %>
        </h3>

      </div>

      <div class="pure-u-1 pure-u-md-1-2 right">

        <h3 class="filter-option <%= class_if("active", controller_name == "past_person_events") %>">
          <% if request.path != gobierto_people_person_past_events_path(@person.slug) %>
            <%= link_to t(".past_events"), gobierto_people_person_past_events_path(@person.slug, list_view: true) %>
          <% else %>
            <%= t(".past_events") %>
          <% end %>
        </h3>

      </div>

    </div>

  </div>

  <div id="events">
    <% if @events.any? %>
      <%= render "events" %>
    <% else %>
      <%= t('.no_events') %>
    <% end %>
  </div>

</div>

<% if request.path == gobierto_people_person_events_path(@person.slug) || show_only_calendar? %>
  <div id='calendar'>
  </div>
<% end %>

<% description([title, t("gobierto_people.layouts.application.title"), @site.title].compact.join('. ')) %>
