<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_investments.projects.index.title"), admin_investments_projects_path %> »
  <%= @project.title %>
</div>

<h1><%= @project.title %></h1>

<%= render 'form' %>
