<div class="dynamic-content table-component">
  <% Array(content_blocks).each do |content_block| %>
    <% if content_block.records.any? %>
      <div class="block">

        <h3><%= content_block.localized_title %></h3>
        <table class="block_content">
          <tr>
            <% Array(content_block.fields).each do |content_block_field| %>
              <th><%= content_block_field.localized_label %></th>
            <% end %>
            <th>
              <!-- <i class="fas fa-paperclip" title="Adjunto"></i><%= t(".attachment")%> -->
            </th>
          </tr>
          <tbody>
            <% Array(content_block.records).each do |content_block_record| %>
              <tr>
                <% Array(content_block_record.fields).each do |content_block_record_field| %>
                  <% field_value = content_block_record_field.value.presence %>
                  <td>
                    <% if content_block_record_field.url? && field_value %>
                      <%= link_to field_value, target: '_blank' do %>
                        <button class="small"><i class="fas fa-external-link"></i> <%= t('.view_content') %></button>
                      <% end %>
                    <% else %>
                      <%= field_value %>
                    <% end %>
                  </td>
                <% end %>
                <td>
                  <% if content_block_record.attachment_url.present? %>
                    <%= link_to content_block_record.attachment_url, target: '_blank', title: t(".download_attachment") + '(' + pretty_filename_url(content_block_record.attachment_url) + ')' do %>
                      <button class="small"><i class="fas fa-paperclip"></i><%= t(".download") %></button>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    <% end %>
  <% end %>
</div>
