<% if user_signed_in? %>
  <div id="votes-links-<%= comment.id %>">
    <div class="action">

      <% upvote_comment_path = gobierto_participation_process_contribution_container_contribution_vote_path(
            contribution_id: comment.commentable.slug,
            contribution_container_id: comment.commentable.contribution_container.slug,
            process_id: comment.commentable.contribution_container.process.slug,
            vote_weight: 1,
            votable_id: comment.id,
            votable_type: comment.class
      ) %>

      <% comment_upvoted_by_user = comment.voted_with_weight_by_user?(current_user, 1) %>

      <% if disabled %>
        <i class="fas fa-thumbs-up"></i>
      <% else %>
        <%= link_to(
              upvote_comment_path,
              class: "action #{class_if('active', comment_upvoted_by_user)}",
              method: (comment_upvoted_by_user ? :delete : :post),
              remote: true
            ) do %>
              <i class="fas fa-thumbs-up"></i>
        <% end %>
      <% end %>

      <%= comment.positive_votes %>

    </div>

    <div class="action">

      <% downvote_comment_path = gobierto_participation_process_contribution_container_contribution_vote_path(
           contribution_id: comment.commentable.slug,
           contribution_container_id: comment.commentable.contribution_container.slug,
           process_id: comment.commentable.slug,
           vote_weight: -1,
           votable_id: comment.id,
           votable_type: comment.class
      ) %>

      <% comment_downvoted_by_user = comment.voted_with_weight_by_user?(current_user, -1) %>

      <% if disabled %>
        <i class="fas fa-thumbs-down"></i>
      <% else %>
        <%= link_to(
              downvote_comment_path,
              class: "action #{class_if('active', comment_downvoted_by_user)}",
              method: (comment_downvoted_by_user ? :delete : :post),
              remote: true
            ) do %>
              <i class="fas fa-thumbs-down"></i>
        <% end %>
      <% end %>

      <%= comment.negative_votes %>
    </div>

  </div>
<% end %>
