<div class="contribution_tools_overlay">
  <div class="contribution_card_expanded">

    <div class="contribution_card_expanded_wrapper">

      <div class="modal_like_control">
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
      </div>

      <div class="contribution_card_expanded_main_col">

        <h1><%= @contribution.title %></h1>

        <div>
          <%= simple_format(@contribution.description) %>
          <div class="meta">
            <%= t('.sent', date: l(@contribution.created_at, format: :short), author: @contribution.user.name) %>
          </div>
        </div>

        <div class='social_links_container f_right' data-share>
          <a href='#' class='social_share twitter' data-share-network='twitter' data-track-event='Social Share|Click Twitter|Header'><i class='fab fa-twitter'></i></a>
          <a href='#' class='social_share facebook' data-share-network='facebook' data-track-event='Social Share|Click Facebook|Header'><i class='fab fa-facebook'></i></a>
          <a href='#' class='social_share whatsapp' data-share-network='whatsapp' data-track-event='Social Share|Click Whatsapp|Header'><i class='fab fa-whatsapp'></i></a>
          <a href='#' class='social_share telegram' data-share-network='telegram' data-track-event='Social Share|Click telegram|Header'><i class='fab fa-telegram'></i></a>
        </div>

        <%= render partial: 'gobierto_participation/processes/contributions/comments', locals: { commentable: @contribution, disabled: @contribution.contribution_container.contributions_forbidden? } %>
      </div>

      <% if user_signed_in? %>
        <div class="contribution_actions ">

          <h3><%= t(".values_this_#{@contribution_container.contribution_type}") %></h3>

          <div class="element_eval_actions">

            <% eval_actions = [ { weight: 2, class: 'love', text: t('.enchants') },
                                { weight: 1, class: 'like', text: t('.like') },
                                { weight: 0, class: 'pse', text: t('.indifferent') },
                                { weight: -1, class: 'reject', text: t('.not_like') } ] %>

            <% for eval_action in eval_actions do %>
              <%= render partial: 'contribution_vote_action', locals: {
                    contribution: @contribution,
                    process: @process,
                    vote_weight: eval_action[:weight],
                    vote_weight_class: eval_action[:class],
                    action_description_text: eval_action[:text]
              } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
