<div class="contribution_card_new">
  <div class="contribution_card_new_header">
    <%= @contribution_container.title %>
    <div class="modal_like_control">
      <a href="#" class="mfp-close">×</a>
    </div>
  </div>

  <%= render "gobierto_admin/shared/validation_errors", resource: @contribution_form %>

  <%= form_for(
    @contribution_form, as: :contribution,
    url: gobierto_participation_process_contribution_container_contributions_path(process_id: current_process.slug,
                                                                                  contribution_container_id: @contribution_container.slug), remote: true) do |f| %>
    <div class="contribution_card_new_wrapper">
      <div class="contribution_card_new_form">
        <div class="form_item input_text">
          <label>
            <%= t(".title_#{@contribution_container.contribution_type}") %>
            <span class="indication"><%= t('views.forms.required_and_max_characters', length: 140) %></span>
          </label>
          <%= f.text_field :title, placeholder: t(".placeholders.title_#{@contribution_container.contribution_type}") %>
        </div>

        <div class="form_item textarea">
          <%= label_tag t(".description_#{@contribution_container.contribution_type}") %>
          <%= f.text_area :description, placeholder: t(".placeholders.description_#{@contribution_container.contribution_type}") %>
        </div>

        <div class="form_item action_buttons right">
          <%= f.submit class: "button" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="contribution_tools_overlay"></div>
