<% content_for :javascript_include do %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js' %>
  <%= javascript_tag do %>
$(document).ready(function() {
  var client = algoliasearch('<%= Rails.application.secrets.algolia_application_id %>', '<%= Rails.application.secrets.algolia_search_api_key %>');
  var index = client.initIndex('<%= GobiertoPeople::Person.search_index_name %>');
  $('input[name="q"]').on('keyup', function(e){
    var q = $(this).val();
    if(q.length > 1){
      index.search(q, { hitsPerPage: 10, page: 0 })
        .then(function searchDone(content) {
          $('#results').html('');
          content.hits.forEach(function(d){
            var div = $('<div><a href="'+d.resource_path+'">' + d.title + '</a></div>');
            div.appendTo($('#results'));
          });
        })
        .catch(function searchFailure(err) {
          console.error(err);
        });
    }
  });
});
  <% end %>
<% end %>

<div class="column search_results">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-7-24">
      <div class="block">
        <h2>Búsqueda</h2>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-17-24 main_content">
      <div class="search_box">
        <form>
          <input type="text" name="q" placeholder="Busca..." value="<%= params[:q] %>"/>
          <input type="submit" value="Buscar">
        </form>
      </div>

      <div class="search_result_list" id="results">
        <div class="result">
          <h2><%= link_to 'Título del resultado de búsqueda' %></h2>
          <div class="description">
            <div>Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. ...</div>
            <span class="item_type">Biografía</span>
            <span class="updated_at">Actualizado: 19 feb 2016</span>

          </div>
        </div>

        <div class="result">
          <h2><%= link_to 'Título del resultado de búsqueda' %></h2>
          <div class="description">
            <div>Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. ...</div>
            <span class="item_type">Biografía</span>
            <span class="updated_at">Actualizado: 19 feb 2016</span>
          </div>
        </div>

        <div class="result">
          <h2><%= link_to 'Título del resultado de búsqueda' %></h2>
          <div class="description">
            <div>Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. ...</div>
            <span class="item_type">Biografía</span>
            <span class="updated_at">Actualizado: 19 feb 2016</span>
          </div>
        </div>

        <div class="result">
          <h2><%= link_to 'Título del resultado de búsqueda' %></h2>
          <div class="description">
            <div>Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. Excerpt del resultado de búsqueda. ...</div>
            <span class="item_type">Biografía</span>
            <span class="updated_at">Actualizado: 19 feb 2016</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
