<% content_for :javascript_include do %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js' %>
  <%= javascript_tag do %>
$(document).ready(function() {
  var client = algoliasearch('<%= Rails.application.secrets.algolia_application_id %>', '<%= Rails.application.secrets.algolia_search_api_key %>');
  var index = client.initIndex('<%= GobiertoPeople::Person.search_index_name %>');
  $('input[name="q"]').on('keyup', function(e){
    var q = $(this).val();
    if(q.length > 1){
      index.search(q, { hitsPerPage: 10, page: 0 })
        .then(function searchDone(content) {
          $('#results').html('');
          content.hits.forEach(function(d){
            var div = $('<div><a href="'+d.resource_path+'">' + d.title + '</a></div>');
            div.appendTo($('#results'));
          });
        })
        .catch(function searchFailure(err) {
          console.error(err);
        });
    }
  });
});
  <% end %>
<% end %>

<div>
  <input type="text" name="q" placeholder="Busca..." />
</div>

<div id="results">
</div>
