<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.layouts.application.citizens_charters"), admin_citizens_charters_path %> »
  <%= t(".title") %>
</div>

<%= render("gobierto_admin/gobierto_citizens_charters/shared/navigation") %>

<div class="admin_tools right">
  <%= link_to t(".new"), new_admin_citizens_charters_charter_path, class: "button" %>
</div>

<table class="charters-list">
  <thead>
    <tr>
      <th></th>
      <th><%= t(".header.title") %></th>
      <th><%= t(".header.service") %></th>
      <th><%= t(".header.created") %></th>
      <th><%= t(".header.updated") %></th>
      <th><%= t(".header.status") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "charter", collection: @charters %>
  </tbody>
</table>

<% unless @archived_charters.empty? %>
  <div class="m_v_1 right">
    <%= link_to t("gobierto_admin.shared.archive.elements"), 'javascript:;', data: { togglearchived: true} %>
  </div>

  <div id="archived-list" style="display:none">
    <table>
      <thead>
        <tr>
          <th></th>
          <th><%= t(".header.title") %></th>
          <th><%= t(".header.service") %></th>
          <th><%= t(".header.created") %></th>
          <th><%= t(".header.updated") %></th>
          <th><%= t(".header.status") %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: "charter", collection: @archived_charters %>
      </tbody>
    </table>
  </div>
<% end %>

<%= javascript_tag do %>
  $('a[data-togglearchived]').on('click', function(e){
     $("div#archived-list").toggle();
  });
<% end %>
