<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.layouts.application.citizens_charters"), admin_citizens_charters_path %> »
  <%= link_to t("gobierto_admin.gobierto_citizens_charters.charters.index.title"), admin_citizens_charters_charters_path %> »
  <%= t(".title") %>
</div>

<%= render("gobierto_admin/gobierto_citizens_charters/shared/navigation") %>

<%= render "form" %>
