<% form_submit_path = if @process_stage_page_form.persisted? %>
  <%  admin_participation_process_process_stage_process_stage_page_path(@process_stage_page_form.process_stage_page) %>
<% else %>
  <%  admin_participation_process_process_stage_process_stage_page_index_path(@process_stage_page_form.process_stage_page.parameterize) %>
<% end %>

<%= form_for(@process_stage_page_form, as: :process_stage_page, url: form_submit_path) do |f| %>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">

      <p><%= t(".select_page_html") %></p>

      <div class="form_block">
        <div class="form_item select_control" id="home_page_item">
          <%= f.label :page_id %>
          <%= f.select :page_id, grouped_options_for_select(@process_stage_pages, selected: @process_stage_page_selected) %>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <%= render partial: 'gobierto_admin/shared/save_widget', locals: { f: f, levels: [] } %>

  </div>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.process_stage_pages_controller.form();
  <% end %>
<% end %>
