<%= render 'gobierto_admin/gobierto_participation/shared/breadcrumb', last_breadcrumb_item: t('.stages'), process: current_process %>

<h1><%= current_process.title %></h1>

<%= render 'gobierto_admin/gobierto_participation/shared/navigation' %>

<h3><%= t(".title") %></h3>

<%= render 'form' %>

<% page = @process_stage.process_stage_page.page %>

<p><%= link_to t(".edit_page"),
               edit_admin_cms_page_path(page.id,
                                        collection_id: page.collection.id,
                                        stage_id: @process_stage.id),
               data: { turbolinks: false } %>
