<% content_for :javascript_include do %>
  <%= javascript_tag do %>
    window.populateData = {
      token: "<%= Rails.application.secrets.tbi_api_token %>",
      municipalityId: "<%= @site.place.id %>",
      municipalityName: "<%= @site.place.name %>",
      year: <%= APP_CONFIG["gobierto_indicators"]["year"] %>,
      endpoint: "<%= APP_CONFIG["populate_data"]["endpoint"] %>"
    }
  <% end %>
  <%= javascript_include_tag 'gobierto_indicators/application', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :breadcrumb_items do %>
  <h1>
    <%= link_to t('.indicators'), gobierto_indicators_root_path %>
  </h1>
  <strong data-breadcrumb-sub-item></strong>
<% end %>

<%= render template: "layouts/application" %>
