<table class="pages-list">
  <tr>
    <th></th>
    <th><%= GobiertoCms::Page.human_attribute_name(:title) %></th>
    <th><%= t('.description') %></th>
  </tr>

  <tbody>
    <% @file_attachments.each do |file_attachment| %>
      <tr id="file_attachment-item-<%= file_attachment.id %>">
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_admin_cms_file_attachment_path(file_attachment.id, collection_id: @collection.id) %></td>
        <td><%= link_to file_attachment.name, edit_admin_cms_file_attachment_path(file_attachment.id, collection_id: @collection.id) %></td>
        <td><%= link_to file_attachment.description, edit_admin_cms_file_attachment_path(file_attachment.id, collection_id: @collection.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
