<table class="pages-list">
  <tr>
    <th></th>
    <th><%= GobiertoCms::Page.human_attribute_name(:title) %></th>
    <th><%= t('.created_at') %></th>
    <th><%= t('.updated_at') %></th>
    <th><%= t('.public') %></th>
    <th></th>
  </tr>

  <tbody>
    <% @pages.each do |page| %>
      <tr id="page-item-<%= page.id %>">
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_admin_cms_page_path(page.id, collection_id: @collection.id) %></td>
        <td><%= link_to page.title, edit_admin_cms_page_path(page.id, collection_id: @collection.id) %></td>
        <td><%= time_ago_in_words(page.created_at) %></td>
        <td><%= time_ago_in_words(page.updated_at) %></td>
        <td class="visibility_level">
          <% if page.draft? %>
            <i class="fa fa-lock"></i>
            <%= t(".visibility_level.draft") %>
          <% else %>
            <%= t(".visibility_level.active") %>
          <% end %>
        </td>
        <td>
          <%= link_to page_preview_url(page, host: current_site.domain), target: "_blank", class: "view_item" do %>
            <i class="fa fa-eye"></i>
            <%= t(".view") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
