<%= render("gobierto_admin/gobierto_citizens_charters/shared/charter_breadcrumb") %>

<%= render("gobierto_admin/gobierto_citizens_charters/shared/navigation") %>

<div>
  <div class="pure-u-3-4">
    <strong><%= @charter.title %></strong> »
    <%= link_to t("gobierto_admin.gobierto_citizens_charters.shared.navigation.editions_intervals"), admin_citizens_charters_charter_editions_intervals_path(@charter) %> »
    <%= link_to t(".#{@period_interval}_interval"), admin_citizens_charters_charter_editions_intervals_path(@charter, period_interval: @period_interval) %> »
    <%= t(".#{@period_interval}_period", @reference_edition.period_values ) %>
  </div>
  <div class="admin_tools right">
    <%= link_to admin_citizens_charters_charter_commitments_path(@charter) do %>
      <%= t("gobierto_admin.gobierto_citizens_charters.shared.navigation.commitments") %>
    <% end %>
    <%= link_to  edit_admin_citizens_charters_charter_path(@charter) do %>
      <i class="fa fa-edit"></i>
      <%= t("gobierto_admin.gobierto_citizens_charters.shared.edit.title", item: @charter.title) %>
    <% end %>
      <%= link_to t(".new"), "#", class: "button", data: { insert: true } %>
  </div>
</div>


<% if @commitments_list.present? %>
  <div id="jsGrid"></div>
  <% content_for :javascript_hook do %>
    <%= javascript_tag do %>
      window.GobiertoAdmin.gobierto_citizens_charters_editions_controller = new GobiertoAdmin.GobiertoCitizensChartersEditionsController;
      window.GobiertoAdmin.gobierto_citizens_charters_editions_controller.index({
        collection_path: "<%= admin_citizens_charters_api_charter_editions_path(@charter, period_interval: @period_interval, period: @period) %>",
        commitments_path: "<%= admin_citizens_charters_api_charter_commitments_path(@charter, period_interval: @period_interval, period: @period) %>",
        item_path: "<%= admin_citizens_charters_api_charter_edition_path(@charter, "") %>",
        locales: <%== current_site.configuration.available_locales.to_json %>,
        period_intervals: <%== ::GobiertoCitizensCharters::Edition.period_intervals.keys.to_json %>,
        commitments_list: <%== @commitments_list.to_json %>,
        insert: <%= params[:new] == "true" %>
      });
    <% end %>
  <% end %>
<% else %>
  <%= t(".empty_commitments") %> <%= link_to t(".commitments_link"), admin_citizens_charters_charter_commitments_path(@charter) %>
<% end %>
