<div class="planification-content">

  <!-- Axes level -->
  <section class="level_0" :class="{ 'is-active': isOpen(0) }">
    <div class="node-root" v-for="(model, index) in json" :class="['cat_' + setRootColor(index) ]">
      <node-root :model="model" :key="model.id" @selection="setSelection"></node-root>
    </div>
  </section>

  <% generic_levels = @levels == 2 ? 1 : @levels %>
  <% (1..generic_levels).each do |level_index| %>
    <!-- Lines level -->
    <section class="level_<%= level_index -%>" v-if="isOpen(<%= level_index -%>)" :class="['cat_' + color() ]">
      <% unless level_index == @levels %>
        <div class="lines-header">
          <div>{{ (activeNode.children || []).length }} {{ getLabel(activeNode.level, (activeNode.children || []).length) | translate }}</div>

          <div><%= t("gobierto_plans.plan_types.show.percentage_progress") %></div>
        </div>
      <% end %>

      <% if level_index > 1 %>
        <div class="node-breadcrumb mb2">
          <a data-turbolinks="false" @click.stop="setParent">
            <i class="fas fa-caret-left"></i>
            <%= t("gobierto_plans.plan_types.show.see_all") %>&nbsp;{{ (getParent().attributes || {}).title | translate }}
          </a>
        </div>
      <% end %>

      <% if level_index == @levels %>
        <div class="node-action-line">
          <div class="action-line--header node-list cat--negative">
            <div class="node-title">
              <div><i class="fas fa-caret-down"></i></div>
              <h3>{{ (activeNode.attributes || {}).title | translate }}</h3>
            </div>
            <div>{{ (activeNode.children || []).length }} {{ getLabel(activeNode.level, (activeNode.children || []).length) | translate }}</div>
            <div>{{ (activeNode.attributes || {}).progress || 0 | percent }}</div>
          </div>

          <div class="node-action-line">
            <ul class="action-line--list">
              <li v-for="(model, index) in activeNode.children">
                <node-list :model="model" :key="model.id" :level="levelKeys" @toggle="toggle(index)"></node-list>
                <transition name="slide-fade">
                <table-view :model="model" :key="model.id" :header="showTableHeader" :open="openNode" @selection="setSelection" v-if="showTable[index]"></table-view>
                </transition>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <ul class="lines-list">
          <li class="mb2" v-for="(model, index) in activeNode.children">
            <node-list :model="model" :key="model.id" :level="levelKeys" @selection="setSelection"></node-list>
          </li>
        </ul>
      <% end %>
    </section>
  <% end %>

  <% if @levels == 2 %>
    <!-- Acts level -->
    <section class="level_2" v-if="isOpen(2)" :class="['cat_' + color() ]">

      <div class="node-breadcrumb mb2">
        <a data-turbolinks="false" @click.stop="setParent">
          <i class="fas fa-caret-left"></i>
          <%= t("gobierto_plans.plan_types.show.see_all") %>&nbsp;{{ (getParent().attributes || {}).title | translate }}
        </a>
      </div>

      <div class="node-action-line">

        <div class="action-line--header node-list cat--negative">
          <div class="node-title">
            <div><i class="fas fa-caret-down"></i></div>
            <h3>{{ (activeNode.attributes || {}).title | translate }}</h3>
          </div>
          <div>{{ (activeNode.children || []).length }} {{ getLabel(activeNode.level, (activeNode.children || []).length) | translate }}</div>
          <div>{{ (activeNode.attributes || {}).progress || 0 | percent }}</div>
        </div>

        <ul class="action-line--list">
          <li v-for="(model, index) in activeNode.children">
            <node-list :model="model" :key="model.id" :level="levelKeys" @toggle="toggle(index)"></node-list>
            <transition name="slide-fade">
            <table-view :model="model" :key="model.id" :header="showTableHeader" :open="openNode" @selection="setSelection" v-if="showTable[index]"></table-view>
            </transition>
          </li>
        </ul>
      </div>
    </section>
  <% end %>

  <!-- Projects level -->
  <section class="level_<%= @levels + 1 %>" v-if="isOpen(<%= @levels + 1 %>)" :class="['cat_' + color() ]">
    <template v-for="level in (activeNode.level - 1)">
      <div class="node-breadcrumb" :style="{ marginLeft: (level - 1) + 'em', marginBottom: '0.5em' }">
        <a data-turbolinks="false" @click.stop="setParent(level)">
          <i class="fas fa-caret-left"></i>
          {{ (getParent(level).attributes || {}).title | translate }}
        </a>
      </div>
      <br>
    </template>

    <div class="node-action-line" :style="{ marginLeft: activeNode.level + 'em' }">
      <div class="action-line--header node-list cat--negative">
        <h3>{{ (activeNode.attributes || {}).title | translate }}</h3>
      </div>

      <div class="node-project-detail">
        <div class="project-optional">
          <div class="row" v-for="(value, key) in availableOpts">
            <template v-if="typeOf(value) !== 'object'">
              <div class="optional-title">{{ optionKeys[key] | translate }}</div>
              <div class="optional-desc">{{ value }}</div>
            </template>
            <template v-else>
              <div class="optional-container">
                <div class="optional-title">{{ optionKeys[key] | translate }}</div>
                <div class="optional-obj" v-for="(_value, _key) in value">
                  <div class="optional-title">{{ optionKeys[_key] | translate }}</div>
                  <div class="optional-desc">
                    <template v-if="typeOf(_value) === 'string'">
                      {{ _value }}
                    </template>
                    <template v-if="typeOf(_value) === 'array'">
                      <div v-for="(_val, _key) in _value">{{ _val }}</div>
                    </template>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
        <div class="project-mandatory">
          <div class="row">
            <div class="mandatory-title"><%= t("gobierto_plans.plan_types.show.progress") %></div>
            <div class="mandatory-desc mandatory-desc--large">{{ activeNode.attributes.progress | percent }}</div>
          </div>
          <div class="row">
            <div class="mandatory-title"><%= t("gobierto_plans.plan_types.show.starts") %></div>
            <div class="mandatory-desc">{{ activeNode.attributes.starts_at | date }}</div>
          </div>
          <div class="row">
            <div class="mandatory-title"><%= t("gobierto_plans.plan_types.show.ends") %></div>
            <div class="mandatory-desc">{{ activeNode.attributes.ends_at | date }}</div>
          </div>
          <div class="row">
            <div class="mandatory-title"><%= t("gobierto_plans.plan_types.show.status") %></div>
            <div class="mandatory-desc">{{ activeNode.attributes.status | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
