<div class="planification-content">

  <!-- Axes level -->
  <section class="level_0" :class="{ 'is-active': isOpen(0) }">
    <div class="node-root" v-for="(model, index) in json" :class="['cat_' + setRootColor(index) ]">
      <node-root :model="model" :key="model.id" @selection="setSelection"></node-root>
    </div>
  </section>

  <% generic_levels = @levels == 2 ? 1 : @levels %>
  <% (1..generic_levels).each do |level_index| %>
    <!-- Lines level -->
    <section class="level_<%= level_index -%>" v-if="isOpen(<%= level_index -%>)" :class="['cat_' + color() ]">
      <% unless level_index == @levels %>
        <div class="lines-header">
          <div>{{ (activeNode.attributes || {}).children_count }} {{ getLabel(activeNode.level, (activeNode.attributes || {}).children_count) | translate }}</div>

          <div><%= t("gobierto_plans.plan_types.show.percentage_progress") %></div>
        </div>
      <% end %>

      <% if level_index > 1 %>
        <div class="node-breadcrumb mb2">
          <a data-turbolinks="false" @click.stop="setParent">
            <i class="fas fa-caret-left"></i>
            <%= t("gobierto_plans.plan_types.show.see_all") %>&nbsp;{{ (getParent().attributes || {}).title | translate }}
          </a>
        </div>
      <% end %>

      <% if level_index == @levels %>
        <div class="node-action-line">
          <div class="action-line--header node-list cat--negative">
            <div class="node-title">
              <div><i class="fas fa-caret-down"></i></div>
              <h3>{{ (activeNode.attributes || {}).title | translate }}</h3>
            </div>
            <div>{{ (activeNode.attributes || {}).children_count }} {{ getLabel(activeNode.level, (activeNode.attributes || {}).children_count) | translate }}</div>
            <div>{{ (activeNode.attributes || {}).progress || 0 | percent }}</div>
          </div>

          <div class="node-action-line">
            <ul class="action-line--list">
              <li v-for="(model, index) in activeNode.children">
                <node-list :model="model" :key="model.id" :level="levelKeys" @toggle="toggle(activeNode.id, index)"></node-list>
                <transition name="slide-fade">
                  <table-view 
                    :model="model" 
                    :key="model.id" 
                    :header="showTableHeader" 
                    :open="openNode"
                    @activate="activatePlugins"
                    @selection="setSelection" 
                    v-if="showTable[`${activeNode.id}-${index}`]">
                  </table-view>
                </transition>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <ul class="lines-list">
          <li class="mb2" v-for="(model, index) in activeNode.children">
            <node-list :model="model" :key="model.id" :level="levelKeys" @selection="setSelection"></node-list>
          </li>
        </ul>
      <% end %>
    </section>
  <% end %>

  <% if @levels == 2 %>
    <!-- Acts level -->
    <section class="level_2" v-if="isOpen(2)" :class="['cat_' + color() ]">

      <div class="node-breadcrumb mb2">
        <a data-turbolinks="false" @click.stop="setParent">
          <i class="fas fa-caret-left"></i>
          <%= t("gobierto_plans.plan_types.show.see_all") %>&nbsp;{{ (getParent().attributes || {}).title | translate }}
        </a>
      </div>

      <div class="node-action-line">

        <div class="action-line--header node-list cat--negative">
          <div class="node-title">
            <div><i class="fas fa-caret-down"></i></div>
            <h3>{{ (activeNode.attributes || {}).title | translate }}</h3>
          </div>
          <div>{{ (activeNode.children || []).length }} {{ getLabel(activeNode.level, (activeNode.children || []).length) | translate }}</div>
          <div>{{ (activeNode.attributes || {}).progress || 0 | percent }}</div>
        </div>

        <ul class="action-line--list">
          <li v-for="(model, index) in activeNode.children">
            <node-list :model="model" :key="model.id" :level="levelKeys" @toggle="toggle(activeNode.id, index)"></node-list>
            <transition name="slide-fade">
              <table-view 
                :model="model"
                :key="model.id"
                :header="showTableHeader"
                :open="openNode"
                @selection="setSelection" 
                @activate="activatePlugins" 
                v-if="showTable[`${activeNode.id}-${index}`]">
              </table-view>
            </transition>
          </li>
        </ul>
      </div>
    </section>
  <% end %>

  <!-- Projects level -->
  <section class="level_<%= @levels + 1 %>" v-if="isOpen(<%= @levels + 1 %>)" :class="['cat_' + color() ]">
    <template v-for="level in (activeNode.level - 1)">
      <div class="node-breadcrumb" :style="{ marginLeft: (level - 1) + 'em', marginBottom: '0.5em' }">
        <a data-turbolinks="false" @click.stop="setParent(level)">
          <i class="fas fa-caret-left"></i>
          {{ (getParent(level).attributes || {}).title | translate }}
        </a>
      </div>
      <br>
    </template>

    <div class="node-action-line" :style="{ marginLeft: activeNode.level + 'em' }">
      <div class="action-line--header node-list cat--negative">
        <h3>{{ (activeNode.attributes || {}).title | translate }}</h3>
      </div>

      <div class="node-project-detail">
        
        <!-- Native fields -->
        <div class="project-mandatory">
          <div>
            <div class="mandatory-list">
              <div class="mandatory-title"><%= t("gobierto_plans.plan_types.show.progress") %></div>
              <div class="mandatory-desc">{{ activeNode.attributes.progress | percent }}</div>
            </div>
            <div class="mandatory-progress">
              <div :style="{ width: activeNode.attributes.progress + '%'}"></div>
            </div>
          </div>
          <div>
            <div class="mandatory-list">
              <div class="mandatory-title"><%= t("gobierto_plans.plan_types.show.starts") %> - <%= t("gobierto_plans.plan_types.show.ends") %></div>
              <div class="mandatory-desc">{{ activeNode.attributes.starts_at | date }} - {{ activeNode.attributes.ends_at | date }}</div>
            </div>
            <div class="mandatory-list">
              <div class="mandatory-title"><%= t("gobierto_plans.plan_types.show.status") %></div>
              <div class="mandatory-desc">{{ activeNode.attributes.status | translate }}</div>
            </div>
          </div>
        </div>

        <!-- CUSTOM FIELDS -->
        <template v-if="activeNode.custom_field_records || true">
        
          <!-- Paragraph template  -->
          <template v-if="custom_field === 'paragraph'">
            <div class="project-description">
              <div class="description-title"><%= t("gobierto_plans.plan_types.show.desc") %></div>
              <div class="is-hidden">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat recusandae inventore adipisci beatae
                  voluptate? Laborum illo nesciunt adipisci voluptates. Voluptatem recusandae nulla maxime quo est perspiciatis
                  impedit, laboriosam dolor!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nam cumque ad, repudiandae dolor maxime neque
                  itaque illum suscipit cum deleniti vitae numquam rerum dignissimos accusantium mollitia eligendi! Distinctio,
                  itaque.</p>
              </div>
              <button class="description-more" @click="hideText($event)">
                <span v-if="readMoreButton"><%= t("gobierto_plans.plan_types.show.read_more") %></span>
                <span v-else><%= t("gobierto_plans.plan_types.show.read_less") %></span>
              </button>
            </div>
          </template>
        
          <!-- String template  -->
          <template v-else-if="custom_field === 'string'">
            <div class="project-description">
              <div class="description-title">Campo de texto</div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat recusandae inventore adipisci beatae
                voluptate? Laborum illo nesciunt adipisci voluptates. Voluptatem recusandae nulla maxime quo est perspiciatis
                impedit, laboriosam dolor!</p>
            </div>
          </template>
        
        </template>

        <!-- Rails must add the markup if plugin is available -->
        <% availablePlugins = ['budgets', 'human_resources', 'indicators'] %>

        <% availablePlugins.each do |plugin| %>
        
          <!-- Add plugin markup -->
          <div data-plugin="<%= plugin %>"></div>

        <% end %>
        <!-- End Rails plugins -->
      </div>
    </div>
  </section>

</div>
