<% content_for(:current_submodule_link) do %>
  <%= link_to title(@plan.title), gobierto_plans_plan_path(slug: @plan.plan_type.slug) %>
<% end %>

<% if @plan.css.present? %>
  <style type="text/css">
    <%== @plan.css %>
  </style>
<% end %>

<div class="column" data-turbolinks="false">

  <div class="pure-g header_block_inline">
    <div class="pure-u-1 pure-u-md-12-24">
      <div class="inline_header">
        <h2 class="with_description p_h_r_1"><%= @plan.title %></h2>
        <%= render partial: "gobierto_plans/layouts/year_breadcrumb" %>
      </div>

      <p v-if="!selected">
        <% if @plan.introduction.present? %>
          <%= render_liquid @plan.introduction %>
        <% end %>
      </p>

      <p>
        <%= t(".latest_update_html", date: l(@plan_updated_at, format: :long)) %>
      </p>
    </div>

    <div class="pure-u-1 pure-u-md-12-24 right" v-if="!selected">
      <%= image_pack_tag('media/images/illustrations/presupuestos.jpg', class: 'img_header m_v_4') %>
    </div>
  </div>

  <% if @plan.nodes.any? || @plan.categories.any? %>
    <div id="gobierto-planification" class="gobierto_planification"
      data-baseurl="<%= gobierto_plans_plan_path(slug: @plan.plan_type.slug, year: @year) %>"
      data-plan-id="<%= @plan.id %>"
      data-context="<%= @plan.context %>"
      data-pipe="<%= @plan.data_pipe %>"
      data-dashboards="<%= dashboards_enabled? %>"
      data-preview-token="<%= params[:preview_token] %>">
    </div>
  <% end %>

  <% if @sdgs.has_data? %>
    <%= render partial: "planification_sdgs" %>
  <% end %>

  <% if @plan.footer.present? %>
    <%= render_liquid @plan.footer %>
  <% end %>

</div>
