<div class='admin_breadcrumb'>
  <%= link_to t('gobierto_admin.welcome.index.title'), admin_root_path %> »
  <%= t('.title') %>
</div>

<h1><%= t('.title') %></h1>

<p>Ultima actividad (en grupos, procesos: ideas, votos, reportes...)</p>

<p>Contenido global: agenda, noticias, documento</p>

<p><%= link_to 'Issues', admin_participation_issues_path %></p>
<p><%= link_to 'Procesos / Grupos', admin_participation_processes_path %></p>
