<div class='admin_breadcrumb'>
  <%= link_to t('gobierto_admin.welcome.index.title'), admin_root_path %> »
  <%= t('.title') %>
</div>

<h1><%= t('.title') %></h1>

<div class="admin_tools right">
  <%= link_to edit_admin_participation_configuration_settings_path do %>
    <i class="fas fa-cog"></i>
    <%= t(".configuration") %>
  <% end %>
</div>

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-16-24 p_h_r_2">
    <h3 class="m_t_0"><%= t('.next_elements_to_close') %></h3>

    <table class="m_b_3">
      <tr>
        <th></th>
        <th><%= t('.element') %></th>
        <th><%= t('.finishes_in') %></th>
      </tr>
      <% @next_elements.each do |element| %>
        <% element_path = if element.class.name == "GobiertoParticipation::ContributionContainer"
                            edit_admin_participation_process_contribution_container_path(element.id, process_id: element.process.id)
                          else
                            edit_admin_participation_process_poll_path(element.id, process_id: element.process.id)
                          end
        %>
        <tr class="odd">
          <td>
            <%= link_to element_path do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to element.title, element_path %>
            <div class="secondary"><%= element.description %></div>
          </td>
          <td><%= t('.x_days', count: element.days_left) %></td>
        </tr>
      <% end %>
    </table>


    <div class="pure-g">
      <div class="pure-u-1-2">
        <h3 class="m_t_0"><%= t('.groups_processes') %></h3>
      </div>

      <div class="pure-u-1-2 admin_tools right">
        <%= link_to t('.new_process'), new_admin_participation_process_path, class: 'button', data: { turbolinks: false }  %>
      </div>
    </div>

    <table>
    <tr>
      <th></th>
      <th><%= t('.group_process') %></th>
      <th><%= t('.last_activity') %></th>
      <th></th>
    </tr>
    <% @processes.each do |process| %>
      <tr id="process-item-<%= process.id %>" class="odd">
        <td>
          <%= link_to edit_admin_participation_process_path(process), data: { turbolinks: false } do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td><%= link_to process.title, edit_admin_participation_process_path(process), data: { turbolinks: false } %></td>
        <td>
          <%= time_ago_in_words(process.last_activity_at) %>
          <% if process.last_activity %>
            <span class="soft ip"><%= process.last_activity.subject_ip %></span>
          <% end %>
        </td>
        <td>
          <%= link_to "<i class='fas fa-trash'></i>".html_safe,
                      admin_participation_process_path(process.id),
                      title: t("gobierto_admin.shared.archive.element"),
                      method: :delete,
                      data: { confirm: t("gobierto_admin.shared.archive.confirm") } %>
        </td>
      </tr>
    <% end %>
    </table>

    <% unless @archived_processes.empty? %>
      <div class="m_v_1 right">
        <%= link_to t("gobierto_admin.shared.archive.elements"), 'javascript:;', data: { toggle: true} %>
      </div>

      <div id="archived-list" style="display:none">
        <table class="pages-list">
          <tr>
            <th></th>
            <th><%= t('.group_process') %></th>
            <th><%= t('.last_activity') %></th>
            <th></th>
          </tr>
          <% @archived_processes.each do |process| %>
            <tr id="process-item-<%= process.id %>" class="odd">
              <td>
                <%= link_to edit_admin_participation_process_path(process), data: { turbolinks: false } do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              </td>
              <td><%= process.title %></td>
              <td>
                <%= time_ago_in_words(process.last_activity_at) %>
                <% if process.last_activity %>
                  <span class="soft ip"><%= process.last_activity.subject_ip %></span>
                <% end %>
              </td>
              <td>
                <%= link_to t("gobierto_admin.shared.recover.element"),
                            admin_participation_process_recover_path(process.id),
                            title: t("gobierto_admin.shared.recover.element"),
                            method: :put,
                            data: { confirm: t("gobierto_admin.shared.recover.confirm") } %>
              </td>
            </tr>
          <% end %>
          </table>
        </div>
    <% end %>
  </div>

  <div class="pure-u-1 pure-u-md-8-24">
    <h3 class="m_t_0"><%= t(".last_activity") %></h3>
    <div class="activity_feed">
      <% if @activities.any? %>
        <% @activities.each do |activity| %>
          <%= render 'gobierto_participation/shared/activities/activity_teaser', { activity: activity } %>
        <% end %>
      <% else %>
        <%= t(".no_activities") %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $('a[data-toggle]').on('click', function(e){
     $("div#archived-list").toggle();
  });
<% end %>
