<div id="comparison_widget_wrapper">
  <div class="img-container">
    <%= image_tag('illustrations/integra.jpg', alt:'illustration', class: "img-fluid") %>
  </div>
  <div class="box p_1 flex" aria-label="<%= t("gobierto_budgets.budgets.index.budgets_comparision.text", site: @site) %> presupuestos.gobierto.es">
    <div class="compare-text">
      <%= t("gobierto_budgets.budgets.index.budgets_comparision.text", site: @site) %>&nbsp;<strong><%= link_to "presupuestos.gobierto.es", "https://presupuestos.gobierto.es", target: "_blank" %></strong>
    </div>
    <button>
      <%= link_to external_comparison_link, target: "_blank" do %>
        <%= t("gobierto_budgets.budgets.index.budgets_comparision.button") %>
      <% end %>
    </button>
  </div>
</div>
