<div class="person_event-item person-item pure-g">

  <div class="date_badge pure-u-1 pure-u-lg-1-6">
    <div class="day"><%= l(event.starts_at, format: '%e %b') %></div>
    <div class="hour"><%= l(event.starts_at, format: '%H:%M') %></div>
  </div>

  <div class="pure-u-1 pure-u-md-5-6 event-content">
    <h3>
      <% if try(:current_process).present? || event.process %>
        <% current_process ||= !event.process.nil? ? event.process : try(:current_process) %>

        <%= link_to(event.title, gobierto_participation_process_event_path(event.slug, process_id: current_process.slug)) %>
      <% elsif current_module == "gobierto_participation" %>
        <%= link_to(event.title, gobierto_participation_event_path(event.slug)) %>
      <% end %>
    </h3>
    <div class="meta">
      <div>
        <% if (location = event.first_location) %>
          <div class="ib p_h_r_0_5">
            <i class="fas fa-map-marker"></i>
            <%= location.name %>, <%= link_to_if location.geolocated?, location.address, external_location_service_url(location), target: '_blank' %>
          </div>
        <% end %>

        <% if @container %>
          <div class="ib">
            <!-- TODO: we'll only show this from participation moudle events index -->
            <i class="fas fa-folder"></i> <%= t('.agenda_for_container') %>: <%= link_to @container.title, @container.container_path %>
          </div>
        <% end %>
      </div>
    </div>

    <p><%== event.description %></p>

    <% pending do %>
      <div class="extra_info listed">
        <div class="ib p_h_r_0_5">
          <a href="#" class="button outline rounded wide attend_event"><i class="fas fa-check hidden"></i> <span>Quiero asistir</span></a>
        </div>

        <div class="ib p_h_r_0_5">
          <i class="fas fa-users"></i> <strong>55 vecinos</strong> asistirán
        </div>

        <div class="ib">
          <i class="fas fa-calendar"></i> <a href="#">Añadir a mi calendario</a>
        </div>
      </div>
    <% end %>

  </div>
</div>
