<div class="person_event-item">
  <h3>
    <%= event.title %>
  </h3>

  <div class="meta">
    <div>

      <div class="ib p_h_r_0_5">
        <% if event.starts_at.day == event.ends_at.day %>
          <strong><%= l(event.starts_at, format: '%e %b %Y') %></strong>
        <% else %>
          <strong><%= t('.from_to', starts: l(event.starts_at, format: '%e %b %Y'), ends: l(event.ends_at, format: '%e %b %Y')) %></strong>
        <% end %>
      </div>

      <div class="ib p_h_r_0_5">
        <i class="fas fa-clock-o"></i> <%= l(event.starts_at, format: '%H:%M') %> - <%= l(event.ends_at, format: '%H:%M') %>
      </div>

      <% if (location = event.first_location) %>
        <div class="ib">
          <i class="fas fa-map-marker"></i>
          <%= location.name %>, <%= link_to_if location.geolocated?, location.address, external_location_service_url(location), target: '_blank' %>
        </div>
      <% end %>
    </div>
  </div>

  <p><%== event.description %></p>

  <%= render 'gobierto_participation/shared/attachments/attachments_list', attachable: @event %>
</div>
