<%= render "admin/shared/validation_errors", resource: @admin_form %>

<%= form_for(@admin_form, as: :admin, url: @admin_form.persisted? ? admin_admin_path(@admin_form) : :admin_admins) do |f| %>

  <div class="pure-g">

    <div class="pure-u-1 pure-u-md-16-24">

      <div class="form_item input_text">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Fernando González", disabled: !@admin_policy.update? %>
      </div>

      <div class="form_item input_text">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "fgonzalez@gmail.com", disabled: !@admin_policy.update? %>
      </div>

      <% if @admin_policy.update? %>
        <div class="form_block">

          <h2>CONTRASEÑA</h2>

          <div class="form_item input_text">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>

          <div class="form_item input_text">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>

        </div>
      <% end %>

      <% if @site_modules.present? %>
        <div class="form_block">

          <h2>PERMISOS</h2>

          <div class="form_item site-module-check-boxes">

            <div class="options compact">
              <%= f.collection_check_boxes(:site_modules, Array(@site_modules), :namespace, :name) do |b| %>
                <div class="option">
                  <%= b.check_box %>
                  <%= b.label do %>
                    <span></span>
                    <%= b.text %>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>

        </div>
      <% end %>

      <% if @sites.present? %>
        <div class="form_block">

          <h2>SITIOS CON ACCESO</h2>

          <div class="form_item site-check-boxes">

            <div class="options compact">
              <%= f.collection_check_boxes(:site_ids, Array(@sites), :id, :domain) do |b| %>
                <div class="option">
                  <%= b.check_box %>
                  <%= b.label do %>
                    <span></span>
                    <%= b.text %>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>

        </div>
      <% end %>

      <% if @admin_form.persisted? %>
        <div class="form_block">

          <h2>LOG ACTIVIDAD</h2>

          <%= render 'admin/activities/activities_list' %>

        </div>
      <% end %>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

      <div class="widget_save">

        <% if @admin_authorization_levels.present? %>
          <div class="form_item admin-authorization-level-radio-buttons">

            <div class="options compact">
              <%= f.collection_radio_buttons(:authorization_level, Array(@admin_authorization_levels), :first, :first) do |b| %>
                <div class="option">
                  <%= b.radio_button %>
                  <%= b.label do %>
                    <span></span>
                    <%= b.text.capitalize %>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>
        <% end %>

        <%= f.submit class: "button" %>
      </div>

    </div>

  </div>

<% end %>
