<%= render "gobierto_admin/shared/validation_errors", resource: @person_statement_form %>

<%= form_for(@person_statement_form, as: :person_statement, url: @person_statement_form.persisted? ? admin_people_person_statement_path(@person, @person_statement_form) : admin_people_person_statements_path(@person), data: { "globalized-form-container" => true }) do |f| %>

  <div class="pure-g">

    <div class="pure-u-1 pure-u-md-16-24">

      <div class="globalized_fields">
        <%= render "gobierto_admin/shared/form_locale_switchers" %>

        <% current_site.configuration.available_locales.each do |locale| %>
          <div class="form_item input_text" data-locale="<%= locale %>">
            <%= label_tag "person_statement[title_translations][#{locale}]" do %>
              <%= f.object.class.human_attribute_name(:title) %>
              <%= attribute_indication_tag required: true %>
            <% end %>

            <%= text_field_tag "person_statement[title_translations][#{locale}]", f.object.title_translations && f.object.title_translations[locale], placeholder: t(".placeholders.title", locale: locale.to_sym) %>
          </div>
        <% end %>
      </div>

      <div class="form_item input_text">
        <%= label_tag "person_statement[published_on]]" do %>
          <%= f.object.class.human_attribute_name(:published_on) %>
          <%= attribute_indication_tag required: true %>
        <% end %>
        <%= f.text_field :published_on, data: {
            "language": I18n.locale,
            "date-format": "yyyy-mm-dd",
            "startDate": microseconds_since_epoch(f, :published_on)
          },
          class: "air-datepicker",
          readonly: !Rails.env.test?
        %>
      </div>

      <div class="form_item file_field attachment_file_field">
        <%= f.label :attachment_file %>

        <% if f.object.attachment_url.present? %>
          <%= link_to f.object.attachment_url, f.object.attachment_url %>
          (<%= number_to_human_size(f.object.attachment_size || 0) %>)
        <% end %>

        <%= f.file_field :attachment_file %>
      </div>

      <%= render "gobierto_admin/gobierto_common/dynamic_content/form", form_builder: f %>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <%= render partial: 'gobierto_admin/shared/save_widget', locals: { f: f, levels: @person_statement_visibility_levels } %>

  </div>

<% end %>
