<div class="column consultation">
  <div class="consultation-intro-wrapper mb2">
    <%= image_tag 'illustrations/consultation_2.png', class: 'mt2 mb1' %>
    <%= raw @consultation.description %>
  </div>

  <%= link_to gobierto_budget_consultations_consultation_item_summary_path(@consultation), class: "consultation-link", data:{ consultation_link: true } do %>
    <div class="bottom-info">
      <div class="teaser">
        <h2 class="consultation-q inline-block"><%= t('.opinate') %></h2>
        <div class="arrow-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      </div>

      <p><%= t('.call_to_action') %></p>
    </div>
  <% end %>
</div>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoBudgetConsultations.consultation_items_controller.summary({
      responseUrl: '<%= gobierto_budget_consultations_consultation_new_response_path(@consultation) %>',
      summaryUrl: '<%= gobierto_budget_consultations_consultation_item_summary_path(@consultation) %>'
    });
  <% end %>
<% end %>
