<div class="column">

  <% if @active_consultations.any? %>

    <h1>Consultas activas</h1>

    <div class="active-consultations">

      <% @active_consultations.each do |consultation| %>

        <div class="box p_v_2">

          <div class="inner center">

            <%= link_to consultation.title, consultation %>
            <div class="soft">
              <%= l(consultation.opens_on, format: :short) %>
              -
              <%= l(consultation.closes_on, format: :short) %>
            </div>

          </div>

        </div>

      <% end %>

    </div>

  <% end %>

  <% if @past_consultations.any? %>

    <div class="m_v_4">

      <h2>Consultas anteriores</h2>

      <div class="past-consultations">

        <% @past_consultations.each do |consultation| %>

          <div class="pure-u-1 pure-u-md-1-3">

            <div class="p_h_2">
              <%= link_to consultation.title, consultation %>
              <div class="soft">
                <%= l(consultation.opens_on, format: :short) %>
                -
                <%= l(consultation.closes_on, format: :short) %>
              </div>
            </div>

          </div>

        <% end %>

      </div>

    </div>

  <% end %>

  <%= render("user/subscriptions/subscribable_box",
             subscribable: GobiertoBudgetConsultations::Consultation,
             title: t(".subscribable_box.title")) %>

</div>
