<div class="column">

  <div class="pure-g block m_v_3">
    <div class="pure-u-1 pure-u-md-1-2">
      <h1><%= @consultation.title %></h1>
      <p class="intro">
        Tu municipio quiere conocer tu opinión sobre en qué se debe emplear el dinero del Ayuntamiento, tu dinero
      </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <%= image_tag('illustrations/presupuestos.jpg', class: 'side_50') %>
    </div>

  </div>

  <div class="box p_v_2">

    <div class="inner center feedback-block">

      <% if @consultation.open? %>

        <p>
          <strong>
            Sólo te llevará
            <%= distance_of_time_in_words(@consultation.estimated_completion_time_in_seconds) %>
          </strong>
        </p>

        <%= link_to [@consultation, :new_response], class: "button gigantic" do %>
          Participa en la consulta
        <% end %>

        <p>
          Destinado a cualquier ciudadano de
          <%= current_site.location_name %>
        </p>

        <% unless user_signed_in? %>
          <p>
            <%= link_to new_user_sessions_path do %>
              Necesitas estar identificado y verificado para participar
            <% end %>
          </p>
        <% end %>

      <% else %>

        <% if @consultation.upcoming? %>

          <p>
            Podrás participar en esta consulta a partir del <%= l(@consultation.opens_on, format: :short) %>
          </p>

        <% else %>

          <p>
            Lo sentimos, esta consulta está cerrada
          </p>

        <% end %>

      <% end %>

    </div>

  </div>

  <%= @consultation.description.html_safe %>

</div>
