<div class="column consultation">
  <div class="consultation-intro-wrapper">
    <%= raw @consultation.description %>
  </div>
  <% if @consultation.open? %>
    <%= link_to gobierto_budget_consultations_consultation_item_summary_path(@consultation), class: "consultation-link", data:{ consultation_link: true }, role: "button" do %>
      <div class="bottom-info">
        <div class="teaser">
          <h2 class="consultation-q inline-block"><%= t('.want_to_opinate') %></h2>
          <div class="arrow-right"><i class="fas fa-arrow-right" aria-hidden="true"></i></div>
        </div>

        <p><%= t('.explanation', of_our_organization_name: @site.determined_organization_name(:of_our)) %></p>
      </div>
    <% end %>
    <a class="consultation-deadline" href="/sandbox/consultation_faq.html"><%= t('.open_until', date: l(@consultation.closes_on, format: :long).downcase) %></a>
  <% else %>
    <% if @consultation.upcoming? %>
      <div class="bottom-info">
        <div class="teaser">
          <h2 class="consultation-q inline-block">
            <%= t('.opens_at', date: l(@consultation.opens_on, format: :long).downcase) %>
          </h2>
        </div>
      </div>
    <% else %>
      <div class="bottom-info">
        <div class="teaser">
          <h2 class="consultation-q inline-block">
            <%= t('.closed') %>
          </h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
