<%= render "user/shared/validation_errors", resource: @user_confirmation_form %>

<%= form_for(@user_confirmation_form, as: :user_confirmation, url: :user_confirmations) do |f| %>

    <div class="form_item input_text">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "felipe@gmail.com" %>
    </div>

    <div class="widget_save">
      <%= f.submit "Send", class: "button" %>
    </div>

<% end %>
