<div id="comments-list" class="comments_container">
  <h3><%= t('.comments_html', comments: commentable.comments_count) %></h3>

  <%
    comments_collection = if commentable.class.name == "GobiertoParticipation::Contribution"
                            commentable.comments
                          else
                            commentable.replies
                          end
  %>

  <% comments_collection.each do |comment| %>
    <div class="comment">
      <div class="comment_text">
        <%= comment.body %>
        <div class="meta">
          -
          <%= comment.user.name %>
          <span class="date"><%= l(comment.updated_at, format: :long) %></span>
        </div>
      </div>
      <div class="comment_actions">

        <%= render partial: 'gobierto_participation/process_contributions/comment_votes', locals: { comment: comment } %>

        <% if user_signed_in? %>
          <div class="action">
            <%= link_to "", remote: true, data: { id: "comment-#{comment.id}" } do %>
              <i class="fa fa-reply"></i><%= t('.respond') %>
            <% end %>
          </div>
        <% end %>

        <%= render partial: 'gobierto_participation/process_contributions/flag', locals: { item: comment } %>

      </div>

      <%= render partial: 'gobierto_participation/comments/form', locals: { commentable: comment } %>

    </div>
  <% end %>

  <div class="comment_new">

    <% if user_signed_in? %>
      <%= render partial: 'gobierto_participation/comments/form', locals: { commentable: commentable } %>

    <% else %>
      <div class="inline_login_cta">
        <h2><%= link_to "Haz login o regístrate para comentar", new_user_sessions_path(open_modal: true) %></h2>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">

  $('[data-id]').on('click', function(e){
    e.preventDefault();
    var id = $(this).data("id");

    $("#" + id).toggle();
  });

</script>
