<div class="contribution_tools_overlay">
  <div class="contribution_card_expanded">

    <div class="contribution_card_expanded_wrapper">

      <div class="modal_like_control">
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
      </div>

      <div class="contribution_card_expanded_main_col">

        <h1><%= @contribution.title %></h1>

        <div>
          <p>
            <%= @contribution.description %>
          </p>
          <div class="meta">
            <%= t('.sent', date: l(@contribution.created_at, format: :short), author: @contribution.user.name) %>
          </div>
        </div>
        <div class="comments_container">
          <h3><%= t('.comments_html', comments: @contribution.comments_count) %></h3>
          <% @contribution.comments.each do |comment| %>
            <div class="comment">
              <div class="comment_text">
                <%= comment.body %>
                <div class="meta">
                  -
                  <%= comment.user.name %>
                  <span class="date"><%= l(comment.updated_at, format: :long) %></span>
                </div>
              </div>
              <div class="comment_actions">
                <div class="action">
                  <%= link_to gobierto_participation_process_process_contribution_container_process_contribution_vote_path(process_contribution_id: @contribution.slug,
                                                                                                                           process_contribution_container_id: @contribution.contribution_container.slug,
                                                                                                                           process_id: @process.slug,
                                                                                                                           vote_weight: 1,
                                                                                                                           votable_id: comment.id,
                                                                                                                           votable_type: comment.class),
                              class: (comment.vote_by_user?(current_user) ? 'action active' : 'action'),
                              method: :post,
                              remote: true do %>
                  <i class="fa fa-thumbs-up"></i>
                  <% end %>
                  <%= comment.positive_votes %>
                </div>

                <div class="action">
                  <%= link_to gobierto_participation_process_process_contribution_container_process_contribution_vote_path(process_contribution_id: @contribution.slug,
                                                                                                                           process_contribution_container_id: @contribution.contribution_container.slug,
                                                                                                                           process_id: @process.slug,
                                                                                                                           vote_weight: -1,
                                                                                                                           votable_id: comment.id,
                                                                                                                           votable_type: comment.class),
                              class: (comment.vote_by_user?(current_user) ? 'action active' : 'action'),
                              method: :post,
                              remote: true do %>
                  <i class="fa fa-thumbs-down"></i>
                  <% end %>
                  <%= comment.negative_votes %>
                </div>

                <div class="action"><a href=""><i class="fa fa-reply"></i><%= t('.respond') %></a></div>
                <div class="action" id="#{comment.id}">
                  <%= link_to gobierto_participation_process_process_contribution_container_process_contribution_flag_path(process_contribution_id: @contribution.slug,
                                                                                                                           process_contribution_container_id: @contribution.contribution_container.slug,
                                                                                                                           process_id: @process.slug,
                                                                                                                           flaggable_id: comment.id,
                                                                                                                           flaggable_type: comment.class),
                              class: (comment.flagged_by_user?(current_user) ? 'action active' : 'action'),
                              method: :post,
                              remote: true do %>
                    <i class="fa fa-flag"></i><%= t('.report') %>
                  <% end %>
              </div>
            </div>
          <% end %>

        </div>

      </div>

      <div class="contribution_actions ">

        <h3><%= t('.values_this_idea') %></h3>

        <div class="element_eval_actions">
          <div>
            <%= link_to gobierto_participation_process_process_contribution_container_process_contribution_vote_path(process_contribution_id: @contribution.slug,
                                                                                                                     process_contribution_container_id: @contribution.contribution_container.slug,
                                                                                                                     process_id: @process.slug,
                                                                                                                     vote_weight: 2,
                                                                                                                     votable_id: @contribution.id,
                                                                                                                     votable_type: @contribution.class),
                        class: "action_button love",
                        method: :post,
                        remote: true do %>
              <div class="action_description"><%= t('.enchants') %></div>
            <% end %>
          </div>

          <div>
            <%= link_to gobierto_participation_process_process_contribution_container_process_contribution_vote_path(process_contribution_id: @contribution.slug,
                                                                                                                     process_contribution_container_id: @contribution.contribution_container.slug,
                                                                                                                     process_id: @process.slug,
                                                                                                                     vote_weight: 1,
                                                                                                                     votable: @contribution.id,
                                                                                                                     votable_type: @contribution.class),
                        class: "action_button like",
                        method: :post,
                        remote: true do %>
              <div class="action_description"><%= t('.like') %></div>
            <% end %>
          </div>

          <div>
            <%= link_to gobierto_participation_process_process_contribution_container_process_contribution_vote_path(process_contribution_id: @contribution.slug,
                                                                                                                     process_contribution_container_id: @contribution.contribution_container.slug,
                                                                                                                     process_id: @process.slug,
                                                                                                                     vote_weight: 0,
                                                                                                                     votable: @contribution.id,
                                                                                                                     votable_type: @contribution.class),
                        class: "action_button pse",
                        method: :post,
                        remote: true do %>
              <div class="action_description"><%= t('.indifferent') %></div>
            <% end %>
          </div>

          <div>
            <%= link_to gobierto_participation_process_process_contribution_container_process_contribution_vote_path(process_contribution_id: @contribution.slug,
                                                                                                                     process_contribution_container_id: @contribution.contribution_container.slug,
                                                                                                                     process_id: @process.slug,
                                                                                                                     vote_weight: -1,
                                                                                                                     votable: @contribution.id,
                                                                                                                     votable_type: @contribution.class),
                        class: "action_button reject",
                        method: :post,
                        remote: true do %>
              <div class="action_description"><%= t('.not_like') %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
