<% content_for :breadcrumb_current_item do %>
  <h1>
    <%= link_to t("gobierto_people.layouts.menu_subsections.interest_groups"), gobierto_people_interest_groups_path %>
  </h1>
<% end %>

<h2><%= @interest_group.name %> </h2>
<h2><%= "#{ @total_events } #{ t(".events") }" %></h2>

<h2><%= "#{ @total_people } #{ t(".people_with_events") }" %></h2>

<h2><%= t(".events_by_department") %></h2>
<% @events_by_department.map do |department, count| %>
  <div>
    <%= content_tag :div, department.name %>
    <%= content_tag :div, count %>
  </div>
<% end %>

<h2><%= t(".events_by_person") %></h2>
<% @events_by_people.map do |person, count| %>
  <div>
    <%= content_tag :div, person.name %>
    <%= content_tag :div, count %>
  </div>
<% end %>
<% description([title, t("gobierto_people.layouts.application.title"), @site.title].compact.join('. ')) %>
