<p>
  <%= t('.hi') %>
</p>

<p>
  <%= t('.new_activity', site_name: @site.name) %>:
</p>

<ul>
  <% @user_notifications.each do |user_notification| %>
    <li>
      <%= user_notification.subject_name %>: <%= user_notification.translated_action %>
    </li>
  <% end %>
</ul>

<p>
  <%= t('.bye') %>,<br>
  <%= @site.name %>
</p>
