<p>
  <%= t('.hi') %>,
</p>

<p>
  <%= t('.new_activity', site_name: @site.name) %>:
</p>

<ul>
  <% @user_notifications.each do |user_notification| %>
    <li><%= user_notification.translated_action %>: <%= link_to user_notification.subject_name, user_notification.url %></li>
  <% end %>
</ul>

<p>
  <%= t('.manage_notifications_html', url: user_subscriptions_url(domain: @site.domain)) %>.
</p>

<p>
  <%= t('.bye') %>
</p>
