<div>
  <small><%= link_to t('gobierto_participation.shared.all_attachments'), gobierto_participation_attachments_path %></small>
</div>

<% if issues %>
  <h4 class='with_light_separator m_t_1'><%= t('gobierto_participation.shared.filter_by_theme') %></h4>
  <ul class='link_list'>
    <% issues.each do |issue| %>
      <li>
        <% if try(:current_process).present? %>
          <%= link_to issue.name, gobierto_participation_process_attachments_path(process_id: current_process.slug, issue_id: issue.slug) %>
        <% elsif try(:issue) %>
          <%= link_to issue.name, gobierto_participation_issue_attachments_path(issue_id: issue.slug) %>
        <% elsif current_module == "gobierto_participation" %>
          <%= link_to issue.name, gobierto_participation_attachments_path(issue_id: issue.slug) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
