<h4 class='with_light_separator m_t_1'><%= t('gobierto_participation.shared.documents') %></h4>
<div class='document_list m_b_2'>
  <% if attachable.attachments && attachable.attachments.any? %>
    <% attachable.attachments.each do |attachment| %>
      <div class='document'>
        <%= link_to attachment.name , attachment.url, target: '_blank' %>
        <div class='soft'>
          <small>
            <%= filetype_icon(attachment) %>
             ·
            <%= attachment.extension.upcase %>
             ·
            <%= number_to_human_size(attachment.file_size, precision: 2, separator: ',') %>
          </small>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
