<div class='news_teaser'>
  <h3>
    <% if try(:current_process).present? %>
      <%= link_to gobierto_participation_process_attachment_path(process_id: current_process.slug, id: attachment.slug) do %>
        <%= filetype_icon(attachment) %><%= attachment.name %>
      <% end %>
    <% elsif current_module == "gobierto_participation" %>
      <%= link_to gobierto_participation_attachment_path(id: attachment.slug) do %>
        <%= filetype_icon(attachment) %><%= attachment.name %>
      <% end %>
    <% end %>
  </h3>

  <div class='meta'>
    <time><%= time_ago_in_words(attachment.created_at) %></time>
  </div>
</div>
