<div>
  <small><%= link_to t('gobierto_participation.participation_attachments'), gobierto_participation_attachments_path %></small>
</div>

<h4 class='with_light_separator m_t_1'><%= t('.filter') %></h4>
<ul class='link_list'>
  <% issues.each do |issue| %>
    <li>
      <% if try(:current_process).present? && !try(:issue).present? %>
        <%= link_to issue.name, gobierto_participation_process_attachments_path(issue_id: issue.slug) %>
      <% elsif try(:issue) %>
        <%= link_to issue.name, gobierto_participation_issue_attachments_path(issue_id: issue.slug) %>
      <% elsif current_module == "gobierto_participation" %>
        <%= link_to issue.name, gobierto_participation_attachments_path(issue_id: issue.slug) %>
      <% end %>
    </li>
  <% end %>
</ul>
