<div class="pure-u-1 pure-u-md-17-24 main_people_content">

  <div class="person_header">
    <h1><%= title t('.title') %></h1>
  </div>

  <%= form_for @calendars_form, as: :calendars_form, url: gobierto_people_person_google_calendar_calendars_path(@person.slug),  method: :patch do |f| %>
    <p><%= t('.explain') %>:</p>

    <div class="form_block ">
      <div class="form_item site-check-boxes">
        <div class="options compact">
          <%= f.collection_check_boxes(:calendars, @calendars, :id, :summary) do |b| %>
            <div class="option">
              <%= b.check_box %>
              <%= b.label do %>
                <span></span>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= f.submit t('.save'), class: 'button' %>
  <% end %>
</div>
