<%= form_for(@consultation_form, as: :consultation, url: admin_budget_consultation_path(@consultation_form)) do |f| %>

  <%= f.hidden_field :title %>
  <%= f.hidden_field :description %>
  <%= f.hidden_field :opening_date_range %>

  <div class="widget_save">

    <div class="form_item consultation-visibility-level-radio-buttons">

      <div class="options compact">
        <%= f.collection_radio_buttons(:visibility_level, @consultation_visibility_levels, :first, :first) do |b| %>
          <div class="option">
            <%= b.radio_button %>
            <%= b.label do %>
              <span></span>
              <%= t("gobierto_admin.gobierto_budget_consultations.consultations.form.visibility_level.#{b.text}") %>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>

    <%= f.submit class: "button" %>

  </div>

<% end %>
