<%= render "gobierto_admin/shared/validation_errors", resource: @consultation_item_form %>

<%= form_for(
  @consultation_item_form, as: :consultation_item,
  url: @consultation_item_form.persisted? ? admin_budget_consultation_consultation_item_path(@consultation, @consultation_item) : admin_budget_consultation_consultation_items_path(@consultation)) do |f| %>

  <div class="pure-g">

    <div class="pure-u-1 pure-u-md-16-24">

      <div class="form_item select_control">
        <%= f.label :budget_line_id %>
        <%= f.select :budget_line_id, @budget_lines %>
      </div>

      <div class="form_item input_text">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Pavimentación de vías públicas" %>
      </div>

      <div class="form_item input_text">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

      <div class="widget_save">

        <%= f.submit class: "button" %>

      </div>

    </div>

  </div>

<% end %>
