<%= render "gobierto_admin/shared/validation_errors", resource: @consultation_item_form %>

<%= form_for(
  @consultation_item_form, as: :consultation_item,
  url: @consultation_item_form.persisted? ? admin_budget_consultation_consultation_item_path(@consultation, @consultation_item) : admin_budget_consultation_consultation_items_path(@consultation)) do |f| %>

    <div class="form_item select_control">
      <%= f.label :budget_line_id %>
      <%= f.select :budget_line_id, consultation_item_budget_lines_options_for_select(@budget_lines, @consultation_item_form.budget_line_id), prompt: true %>
    </div>

    <div class="form_item input_text">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Pavimentación de vías públicas" %>
    </div>

    <div class="form_item input_text">
      <%= f.label :budget_line_amount %>
      <%= f.text_field :budget_line_amount, placeholder: "25000" %>
    </div>

    <div class="form_item input_text">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="actions right">
      <%= f.submit %>
    </div>

  </div>

<% end %>

<%= javascript_tag do %>
  window.GobiertoAdmin.consultation_items_controller.edit();
<% end %>
