div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_budget_consultations.consultations.index.title"), admin_budget_consultations_path %> »
  <%= t(".title") %>
</div>

<h1>
  <%= @consultation.title %>
  <small>
    <%= t(".title") %>
  </small>
</h1>

<%= render 'gobierto_admin/gobierto_budget_consultations/consultations/tabs' %>

<%= render "form" %>
