<div class="tabs">
  <ul>
    <% if @plan.categories_vocabulary.present? %>
      <li class="<%= class_if('active', controller.action_name == 'terms') %>">
        <%= link_to t(".plan_terms_tab"), admin_common_vocabulary_terms_path(@plan.categories_vocabulary), data: { turbolinks: false } %>
      </li>
    <% end %>

    <li class="<%= class_if('active', controller_name == "projects") %>">
      <%= link_to t(".projects_tab"), admin_plans_plan_projects_path(@plan), data: { turbolinks: false } %>
    </li>

    <li class="<%= class_if('active', controller_name == "plans" && action_name == "edit") %>">
      <%= link_to t(".configuration_tab"), edit_admin_plans_plan_path(@plan), data: { turbolinks: false } %>
    </li>

    <li class="<%= class_if('active', controller.action_name == 'data') %>">
      <%= link_to t(".data_tab"), admin_plans_plan_data_path(@plan), data: { turbolinks: false } %>
    </li>

    <li class="<%= class_if('active', controller.action_name == 'import_csv') %>">
      <%= link_to t('.import_csv_tab'), admin_plans_plan_import_csv_path(@plan), data: { turbolinks: false } %>
    </li>
  </ul>
</div>
