<%= render "gobierto_admin/shared/validation_errors", resource: @political_group_form %>

<%= form_for(@political_group_form, as: :political_group, url: @political_group_form.persisted? ? admin_people_configuration_political_group_path(@political_group_form) : :admin_people_configuration_political_groups) do |f| %>

  <div class="pure-g">

    <div class="pure-u-1 pure-u-md-16-24">

      <div class="form_item input_text">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

      <div class="widget_save">

        <%= f.submit class: "button" %>

      </div>

    </div>

  </div>

<% end %>
