<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_people.people.index.title"), admin_people_people_path %> »
  <%= link_to t("gobierto_admin.gobierto_people.configuration.title"), admin_people_configuration_political_groups_path %> »
  <%= t(".title") %>
</div>

<h1>
  <%= @political_group.name %>
</h1>

<%= render "form" %>
