<%= render 'gobierto_admin/gobierto_people/configuration/navigation' %>

<div class="admin_tools right">
  <%= link_to t(".new"), new_admin_people_configuration_political_group_path, class: "button" %>
</div>

<table class="people-list">
<tr>
  <th class="icon_col"></th>
  <th><%= t(".header.political_group") %></th>
  <th><%= t(".header.created") %></th>
</tr>

<tbody>
  <% @political_groups.each do |political_group| %>
    <tr id="political_group-item-<%= political_group.id %>" class="<%= cycle("odd", "even") %>">
      <td>
        <%= link_to edit_admin_people_configuration_political_group_path(political_group) do %>
          <i class="fa fa-edit"></i>
        <% end %>
      </td>
      <td>
        <%= link_to edit_admin_people_configuration_political_group_path(political_group) do %>
          <%= political_group.name %>
        <% end %>
      </td>
      <td>
        <%= l(political_group.created_at, format: :short) %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
