<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_plans.plans.index.title"), admin_plans_plans_path %> »
  <%= @plan.title %>
</div>

<h1><%= @plan.title %></h1>

<%= render 'gobierto_admin/gobierto_plans/shared/navigation' %>

<% if current_controller_allowed_actions.include? :new %>
  <div class="admin_tools left">
    <%= link_to t(".new"), admin_dashboards_modal_path(context: @context, pipe: "project_metrics"), data: { turbolinks: false, "dashboards-maker": true }, class: "open_remote_modal button" %>
  </div>
<% end %>

<table id="dashboards">
  <tr>
    <th class="icon"></th>
    <th><%= t(".headers.title") %></th>
    <th><%= t(".headers.status") %></th>
    <th><%= t(".headers.updated") %></th>
    <th></th>
    <th class="icon_col"></th>
  </tr>

  <% @dashboards.each do |dashboard| %>
    <% preview_path = dashboard_preview_path(dashboard) %>
    <tr id="<%= "dashboard-item-#{dashboard.id}" %>">
      <td>
        <% if current_controller_allowed_actions.include?(:edit) %>
          <%= link_to admin_dashboards_modal_path(id: dashboard.id, context: @context, pipe: "project_metrics", preview_path: preview_path), data: { turbolinks: false, "dashboards-maker": true }, class: "open_remote_modal" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if current_controller_allowed_actions.include?(:edit) %>
          <%= link_to admin_dashboards_modal_path(id: dashboard.id, context: @context, pipe: "project_metrics", preview_path: preview_path), data: { turbolinks: false, "dashboards-maker": true }, class: "open_remote_modal" do %>
            <%= dashboard.title %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if dashboard.draft? %>
          <i class="fas fa-lock"></i>
        <% else %>
          <i class="fas fa-check"></i>
        <% end %>
        <%= t(".visibility_level.#{dashboard.visibility_level}") %>
      </td>
      <td><%= time_ago_in_words(dashboard.updated_at) %></td>
      <td>
        <% unless dashboard.draft? %>
          <%= link_to preview_path, target: "_blank", class: "view_item" do %>
            <i class="fas fa-eye"></i>
            <%= t("gobierto_dashboards.view_item") %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to admin_plans_plan_dashboard_path(@plan.id, dashboard.id),
                    title: t("gobierto_dashboards.delete"),
                    method: :delete,
                    data: { confirm: t("views.delete_confirm") } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
