<%= render "gobierto_admin/shared/validation_errors", resource: @page_form %>

<%= form_for(@page_form, as: :page, url: @page_form.persisted? ? admin_cms_page_path(@page_form, collection_id: @collection) : admin_cms_pages_path(collection_id: @collection), data: { "globalized-form-container" => true }) do |f| %>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">
      <div class="globalized_fields">
        <%= render "gobierto_admin/shared/form_locale_switchers" %>

        <% current_site.configuration.available_locales.each do |locale| %>
          <div class="form_item input_text" data-locale="<%= locale %>">
            <%= label_tag "page[title_translations][#{locale}]", f.object.class.human_attribute_name(:title) %>
            <%= text_field_tag "page[title_translations][#{locale}]", f.object.title_translations && f.object.title_translations[locale], placeholder: t(".placeholders.title", locale: locale.to_sym) %>
          </div>

          <div class="form_item textarea" data-locale="<%= locale %>">
            <%= label_tag "page[body_translations][#{locale}]", f.object.class.human_attribute_name(:body) %>
            <%= rich_text_area_tag "page[body_translations][#{locale}]", f.object.body_translations && f.object.body_translations[locale], attachment_path: admin_attachments_file_attachments_path, lang: locale %>
          </div>
        <% end %>

      </div>

      <div class="form_item input_text">
        <%= f.label :slug %>
        <%= f.text_field :slug, placeholder: t(".placeholders.slug") %>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">
      <div class="widget_save">
        <div class="form_item person-visibility-level-radio-buttons">
          <div class="options compact">
            <%= f.collection_radio_buttons(:visibility_level, @page_visibility_levels, :first, :first) do |b| %>
              <div class="option">
                <%= b.radio_button %>
                <%= b.label do %>
                  <span></span>
                  <%= t(".visibility_level.#{b.text}") %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <%= f.submit class: "button" %>
      </div>

      <%= render "gobierto_admin/shared/admin_widget_attachment", {attachable_type: @page_form.page.class.name, attachable_id: @page_form.page.id} %>
      <%= f.hidden_field :attachment_ids, id: "attachmentsIdsAfterCreated" %>
    </div>
  </div>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.gobierto_attachments_controller.index();
  <% end %>
<% end %>
