<%= render "gobierto_admin/shared/validation_errors", resource: @page_form %>

<%= form_for(@page_form, as: :page, url: @page_form.persisted? ? admin_cms_page_path(@page_form, collection_id: @collection) : admin_cms_pages_path(collection_id: @collection), data: { "globalized-form-container" => true }) do |f| %>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">
      <div class="globalized_fields">
        <%= render "gobierto_admin/shared/form_locale_switchers" %>

        <% current_site.configuration.available_locales.each do |locale| %>
          <div class="form_item input_text" data-locale="<%= locale %>">
            <%= label_tag "page[title_translations][#{locale}]" do %>
              <%= f.object.class.human_attribute_name(:title) %>
              <%= attribute_indication_tag required: true %>
            <% end %>
            <%= text_field_tag "page[title_translations][#{locale}]", f.object.title_translations && f.object.title_translations[locale], placeholder: t(".placeholders.title", locale: locale.to_sym) %>
          </div>

          <div class="form_item textarea has-indication" data-locale="<%= locale %>">
            <%= label_tag "page[body_translations][#{locale}]" do %>
              <%= f.object.class.human_attribute_name(:body) %>
              <%= attribute_indication_tag required: true %>
            <% end %>
            <%= text_area_tag "page[body_source_translations][#{locale}]", f.object.body_source_translations && f.object.body_source_translations[locale], attachment_path: admin_attachments_file_attachments_path, lang: locale, data: { wysiwyg: true } %>
          </div>
          <%= hidden_field_tag "page[body_translations][#{locale}]", f.object.body_translations && f.object.body_translations[locale], id: "page_body_translations_#{locale}" %>
        <% end %>

      </div>

      <div class="form_item input_text">
        <%= f.label :slug %>
        <%= f.text_field :slug, placeholder: t(".placeholders.slug") %>
      </div>

      <div class="form_item input_text">
        <%= f.label :published_on %>
        <%= f.text_field :published_on, data: {
            "language": I18n.locale,
            "timepicker": true,
            "autoclose": false,
            "date-format": "yyyy-mm-dd",
            "time-format": "hh:ii",
            "startDate": microseconds_since_epoch(f, :published_on)
          },
          class: "air-datepicker",
          readonly: !Rails.env.test?
        %>
      </div>

      <%= render(
        partial: "gobierto_admin/gobierto_common/custom_fields/forms/custom_fields",
        locals: {
          f: f,
          item: @custom_fields_form,
          form_name: "page"
        }
      ) %>
    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">
      <div class="widget_save">
        <div class="form_item person-visibility-level-radio-buttons">
          <div class="options compact">
            <%= f.collection_radio_buttons(:visibility_level, @page_visibility_levels, :first, :first) do |b| %>
              <div class="option">
                <%= b.radio_button %>
                <%= b.label do %>
                  <span></span>
                  <%= t(".visibility_level.#{b.text}") %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <%= f.submit class: "button" %>
      </div>

      <div class="sidebar_tool m_v_2" id="section">

        <small><strong><%= t(".section") %></strong></small>
        <div class="form_item">
          <div class="options compact">
            <div class="option open_level_1">
              <input type="checkbox" id="permission_1" name="permission_1">
              <label for="permission_1">
                <span></span>
                <%= t(".include_in_section") %>
              </label>
            </div>
          </div>
        </div>

        <div class="form_item select_control select_compact level_1 open_level_2" style='<%= @section ? '' : 'display: none;' %>'>
          <%= f.select :section, [], {:include_blank => true}%>
        </div>

        <div class="form_item select_control select_compact level_2 open_level_3" style='<%= @parent ? '' : 'display: none;' %>'>
          <%= f.select :parent, [] %>
        </div>
      </div>

      <%= render "gobierto_admin/shared/admin_widget_attachment", {attachable_type: @page_form.page.class.name, attachable_id: @page_form.page.id} %>
      <%= f.hidden_field :attachment_ids, id: "attachmentsIdsAfterCreated" %>
    </div>
  </div>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.gobierto_attachments_controller.index(<%= @site_attachments_collection.try(:id) %>);
    window.GobiertoAdmin.gobierto_cms_controller.edit("<%= @section_id.nil? ? 'null' : @section_id %>", "<%= @parent_id.nil? ? 'null' : @parent_id %>", "<%= @page_section_item_id %>");
  <% end %>
<% end %>
