<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_cms.pages.index.title"), admin_cms_pages_path %> »
  <%= link_to @collection.title, admin_common_collection_path(@collection) %> »
  <%= t(".title") %>
</div>

<h1><%= t(".title") %></h1>

<%= render "form" %>
