<div <%== kind == GobiertoBudgets::BudgetLine::INCOME ? 'aria-labelledby="ingresos" id="ingresos-tab"' : 'aria-labelledby="gastos" id="gastos-tab"' %> >
  <p class="m_2"></p>

  <div class="filter m_2" role="tablist" aria-label="<%= t('.categories') %>">
    <% if kind == GobiertoBudgets::BudgetLine::EXPENSE %>
      <%= link_to(
            t('.expense_to_do_what'),
            gobierto_budgets_budget_lines_path(year: year, kind: GobiertoBudgets::BudgetLine::EXPENSE, area_name: GobiertoBudgets::FunctionalArea.area_name),
            data: {remote: true},
            class: class_if('active', area_name == GobiertoBudgets::FunctionalArea.area_name),
            id: 'functional-G',
            role: 'tab',
            tabindex: area_name == GobiertoBudgets::FunctionalArea.area_name ? '0' : '-1',
            'aria-selected' => area_name == GobiertoBudgets::FunctionalArea.area_name ? 'true' : 'false',
            'aria-controls' => 'functional-G-table'
      )%>
      <%= link_to(
            t('.expense_in_what'),
            gobierto_budgets_budget_lines_path(year: year, kind: GobiertoBudgets::BudgetLine::EXPENSE, area_name: GobiertoBudgets::EconomicArea.area_name),
            data: {remote: true},
            class: class_if('active', area_name == GobiertoBudgets::EconomicArea.area_name),
            id: 'economic-G',
            role: 'tab',
            tabindex: area_name == GobiertoBudgets::EconomicArea.area_name ? '0' : '-1',
            'aria-selected' => area_name == GobiertoBudgets::EconomicArea.area_name ? 'true' : 'false',
            'aria-controls' => 'economic-G-table'
      )%>
      <% if @any_custom_expense_budget_lines %>
        <%= link_to(
              t('.custom'),
              gobierto_budgets_budget_lines_path(year: year, kind: GobiertoBudgets::BudgetLine::EXPENSE, area_name: GobiertoBudgets::CustomArea.area_name),
              data: {remote: true},
              class: class_if('active', area_name == GobiertoBudgets::CustomArea.area_name),
              id: 'custom-G',
              role: 'tab',
              tabindex: area_name == GobiertoBudgets::CustomArea.area_name ? '0' : '-1',
              'aria-selected' => area_name == GobiertoBudgets::CustomArea.area_name ? 'true' : 'false',
              'aria-controls' => 'custom-G-table'
        )%>
      <% end %>
    <% else %>
      <%= link_to(
            t('.income_from_what'),
            gobierto_budgets_budget_lines_path(year: year, kind: GobiertoBudgets::BudgetLine::INCOME, area_name: GobiertoBudgets::EconomicArea.area_name),
            data: {remote: true},
            class: class_if('active', area_name == GobiertoBudgets::EconomicArea.area_name),
            id: 'economic-I',
            role: 'tab',
            tabindex: area_name == GobiertoBudgets::EconomicArea.area_name ? '0' : '-1',
            'aria-selected' => area_name == GobiertoBudgets::EconomicArea.area_name ? 'true' : 'false',
            'aria-controls' => 'economic-I-table'
      )%>
      <% if @any_custom_income_budget_lines %>
        <%= link_to(
              t('.custom'),
              gobierto_budgets_budget_lines_path(year: year, kind: GobiertoBudgets::BudgetLine::INCOME, area_name: GobiertoBudgets::CustomArea.area_name),
              data: {remote: true},
              class: class_if('active', area_name == GobiertoBudgets::CustomArea.area_name),
              id: 'custom-I',
              role: 'tab',
              tabindex: area_name == GobiertoBudgets::CustomArea.area_name ? '0' : '-1',
              'aria-selected' => area_name == GobiertoBudgets::CustomArea.area_name ? 'true' : 'false',
              'aria-controls' => 'custom-I-table'
        )%>
      <% end %>
    <% end %>
    <%= link_to %Q{#{t('.budget_guide_pitch')}}.html_safe, gobierto_budgets_budgets_guide_path, class:'f_right tipsit', title: t('.help') %>
  </div>

  <div class="table_cont_round" role="tabpanel" id="<%= area_name %>-<%= kind %>-table" aria-labelledby="<%= area_name %>-<%= kind %>">
    <table class="med_bg">
      <tr>
        <th class="budget_line"><span><%= t('.budget_line') %></span></th>
        <th class="qty big_qty"><%= t('.amount') %></th>
        <%= content_tag :th, t('.per_inhabitant'), class: "qty" if @site_stats&.population_data? %>
        <th class="qty">%</th>
        <th class="qty bar"><span style="display:none" aria-hidden="true">WCAG 2.0 AA</span></th>
      </tr>

      <%= render partial: 'gobierto_budgets/budget_lines/budget_line_row', collection: place_budget_lines, as: :budget_line, locals: { year: year, area_name: area_name, kind: kind } %>
      <tr>
        <td class="budget_line"><strong>Total</strong></td>
        <td class="qty big_qty">
          <%= number_to_currency(
                kind == GobiertoBudgets::BudgetLine::INCOME ? @site_stats.total_income_budget(fallback: true) : @site_stats.total_budget(fallback: true),
                precision: 2
              ) %></td>
        <%= content_tag :td, number_to_currency(kind == GobiertoBudgets::BudgetLine::INCOME ? @site_stats.total_income_budget_per_inhabitant : @site_stats.total_budget_per_inhabitant, precision: 2), class: "qty big_qty" if @site_stats.population_data? %>
        <td class="qty"></td>
        <td class="bar"></td>
      </tr>
    </table>
  </div>
</div>
