<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_participation.welcome.index.title"), admin_participation_path %> »
  <%= link_to t(".title"), edit_admin_participation_configuration_settings_path %> »
    <%= t("gobierto_admin.gobierto_participation.configuration.settings.title") %>
</div>

<h1><%= t(".title") %></h1>

<div class="tabs">
  <ul>
    <li class="active">
      <%= link_to t("gobierto_admin.gobierto_participation.configuration.settings.title"), edit_admin_participation_configuration_settings_path %>
    </li>
  </ul>
</div>

<%= form_for @settings_form, as: :gobierto_participation_settings, url: admin_participation_configuration_settings_path,  method: :patch, html: { autocomplete: "off" } do |f| %>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">
      <div class="form_item select_control">
        <%= f.label :issues_vocabulary_id %>
        <%= f.select :issues_vocabulary_id,
          options_for_select(@settings_form.vocabularies_options, selected: @settings_form.gobierto_module_settings.issues_vocabulary_id),
          { include_blank: true } %>
      </div>

      <div class="form_item select_control">
        <%= f.label :scopes_vocabulary_id %>
        <%= f.select :scopes_vocabulary_id,
          options_for_select(@settings_form.vocabularies_options, selected: @settings_form.gobierto_module_settings.scopes_vocabulary_id),
          { include_blank: true } %>
      </div>

      <div class="form_item select_control">
        <%= f.label :users_issues_field_id %>
        <%= f.select :users_issues_field_id,
          options_for_select(@settings_form.users_issues_fields_options, selected: @settings_form.gobierto_module_settings.users_issues_field_id),
          { include_blank: true } %>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 ">
      <div class="widget_save stick_in_parent">
        <%= f.submit t(".update"), class: "button" %>
      </div>
    </div>
  </div>
<% end %>
