<tr id="edition-item-<%= edition_interval %>" data-id="<%= edition_interval %>">
  <td>
    <%= link_to admin_citizens_charters_charter_editions_path(@charter, edition_interval.admin_period_params) do %>
      <i class="fas fa-edit"></i>
    <% end %>
  </td>
  <td>
    <%= link_to admin_citizens_charters_charter_editions_path(@charter, edition_interval.admin_period_params) do %>
      <%= t("gobierto_admin.gobierto_citizens_charters.charters.editions.index.#{edition_interval.period_interval}_period", edition_interval.period_values) %>
    <% end %>
    (<%= t(".#{edition_interval.period_interval}_interval") %>)
  </td>
  <td>
    <%= link_to admin_citizens_charters_charter_editions_path(@charter, edition_interval.admin_period_params) do %>
      <%= edition_interval.count %>
    <% end %>
  </td>
  <td>
    <%= link_to preview_url(@charter, edition_interval.front_period_params.merge(host: current_site.domain)), target: "_blank", class: "view_item" do %>
      <i class="fas fa-eye"></i>
      <%= t(".view_charter") %>
    <% end %>
  </td>
</tr>
