<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_people.people.index.title"), admin_people_people_path %> »
  <%= link_to @person.name, edit_admin_people_person_path(@person) %> »
  <%= link_to t("gobierto_admin.gobierto_people.people.person_events.index.title"), admin_people_person_events_path(@person) %> »
  <%= link_to @person_event.title, edit_admin_people_person_event_path(@person, @person_event) %> »
  <%= t(".title") %>
</div>

<h1>
  <%= @person.name %>
</h1>

<%= render "gobierto_admin/gobierto_people/people/navigation" %>
<%= render "form" %>
