<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_people.people.index.title"), admin_people_people_path %> »
  <%= link_to @person.name, edit_admin_people_person_path(@person) %> »
  <%= t(".title") %>
</div>

<h1><%= @person.name %></h1>

<%= render "gobierto_admin/gobierto_people/people/navigation" %>

<div class="pure-g">

  <div class="pure-u-1 pure-u-md-3-5 sub_filter">
    <ul>
      <li class="all-events-filter <%= class_if("active", controller_name == "person_events") %>">
        <%= link_to t(".all_events"), admin_people_person_events_path(@person) %>
        (<%= @person_events_presenter.events_count %>)
      </li>
      <li class="pending-events-filter <%= class_if("active", controller_name == "pending_person_events") %> <%= class_if("warn", @person_events_presenter.pending_events_count > 0) %>">
        <%= link_to t(".pending_events"), admin_people_person_pending_events_path(@person) %>
        (<%= @person_events_presenter.pending_events_count %>)
      </li>
      <li class="published-events-filter <%= class_if("active", controller_name == "published_person_events") %>">
        <%= link_to t(".published_events"), admin_people_person_published_events_path(@person) %>
        (<%= @person_events_presenter.published_events_count %>)
      </li>
      <li class="past-events-filter <%= class_if("active", controller_name == "past_person_events") %>">
        <%= link_to t(".past_events"), admin_people_person_past_events_path(@person) %>
        (<%= @person_events_presenter.past_events_count %>)
      </li>
    </ul>
  </div>

  <div class="pure-u-1 pure-u-md-2-5">
    <div class="admin_tools right">
      <%= link_to edit_admin_people_person_calendar_configuration_path(@person) do %>
        <i class="fa fa-cog"></i>
        <%= t(".configuration") %>
      <% end %>
      <%= link_to t(".new"), new_admin_people_person_event_path(@person), class: "button", data: { turbolinks: false } %>
    </div>
  </div>

</div>

<table class="person-events-list">
<tr>
  <th></th>
  <th><%= t(".header.event") %></th>
  <th><%= t(".header.date") %></th>
  <th><%= t(".header.location") %></th>
  <th><%= t(".header.status") %></th>
  <th></th>
</tr>

<tbody>
  <% @person_events.each do |person_event| %>
    <tr id="person-event-item-<%= person_event.id %>" class="<%= cycle("odd", "even") %>">
      <td>
        <%= link_to edit_admin_people_person_event_path(@person, person_event), data: { turbolinks: false } do %>
          <i class="fa fa-edit"></i>
        <% end %>
      </td>
      <td>
        <%= link_to edit_admin_people_person_event_path(@person, person_event), data: { turbolinks: false } do %>
          <%= person_event.title_with_fallback %>
        <% end %>
      </td>
      <td>
        <%= l(person_event.starts_at, format: :short) %>
      </td>
      <td>
      </td>
      <td>
        <% if person_event.pending? %>
          <i class="fa fa-lock"></i>
        <% else %>
          <i class="fa fa-check"></i>
        <% end %>
        <%= t(".visibility_level.#{person_event.state}") %>
      </td>
      <td>
        <%= link_to gobierto_people_person_event_url(@person, person_event, host: current_site.domain), target: "_blank", class: "view_item" do %>
          <i class="fa fa-eye"></i>
          <%= t(".view_event") %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
