<div class="pure-u-1 pure-u-md-1-3">
  <%= link_to gobierto_participation_issue_path(issue.slug), class: 'content_block themed' do %>
    <div class="circle_teaser"></div>
    <h3><%= issue.name %></h3>
    <p class="soft">
      <%= issue.description %>
    </p>

    <% if meta %>
      <div class="meta right">
        <div class="ib"><i class="fas fa-comment"></i><%= issue.number_contributions %></div>
        <div class="ib"><i class="fas fa-users"></i><%= issue.number_contributing_neighbours %></div>
      </div>
    <% end %>
  <% end %>
</div>
