<div class="gradient-bg">
  <div class="column">
    <h2 class="with_separator"><%= t('.up_to_date', site_title: current_site.location_name) %></h2>

    <div class="pure-g agenda three_by_three">
      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t('.agenda') %></h3>
        <div class="p_1  content_block">
          <% if @issue_events %>
            <% @issue_events.each do |event| %>
              <%= render 'gobierto_participation/processes/place_event', { event: event } %>
            <% end %>
          <% else %>
            <%= t('.no_events') %>
          <% end %>
        </div>
        <% if @issue_events %>
          <%= link_to t('.show_more_events'), gobierto_participation_issue_events_path(@issue.slug) %>
        <% end %>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t('.the_last') %></h3>
        <div class="p_1  content_block" id="the_last">
          <% if @issue_notifications.any? %>
            <% @issue_notifications.each do |activity| %>
              <%= render 'gobierto_participation/processes/place_activities', { activity: activity } %>
            <% end %>
          <% else %>
            <%= t('.no_events') %>
          <% end %>
        </div>
        <% if @issue_notifications.any? %>
          <%= link_to t('.show_more_updates'), gobierto_participation_issue_activities_path(@issue.slug) %>
        <% end %>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title"><%= t('.news') %></h3>
        <div class="p_1  content_block" id="news">
          <% if @issue_news.any? %>
            <% @issue_news.each do |page| %>
              <%= render 'gobierto_participation/processes/place_news', { page: page } %>
            <% end %>
          <% else %>
            <%= t('.no_news') %>
          <% end %>
        </div>
        <% if @issue_news.any? %>
          <%= link_to t('.show_more_news'), gobierto_participation_issue_pages_path(@issue.slug) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
