<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_people.people.index.title"), admin_people_people_path %> »
  <%= link_to @person.name, edit_admin_people_person_path(@person) %> »
  <%= t(".title") %>
</div>

<h1><%= @person.name %></h1>

<%= render "gobierto_admin/gobierto_people/people/navigation" %>

<div class="admin_tools right">
  <%= link_to t(".new"), new_admin_people_person_post_path(@person), class: "button" %>
</div>

<table class="person-posts-list">
<tr>
  <th></th>
  <th><%= t(".header.title") %></th>
  <th><%= t(".header.date") %></th>
  <th><%= t(".header.tags") %></th>
  <th><%= t(".header.status") %></th>
  <th></th>
</tr>

<tbody>
  <% @person_posts.each do |person_post| %>
    <tr id="person-post-item-<%= person_post.id %>" class="<%= cycle("odd", "even") %>">
      <td>
        <%= link_to edit_admin_people_person_post_path(@person, person_post) do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </td>
      <td>
        <%= link_to edit_admin_people_person_post_path(@person, person_post) do %>
          <%= person_post.title %>
        <% end %>
      </td>
      <td>
        <%= l(person_post.created_at, format: :short) %>
      </td>
      <td>
        <% if person_post.tags.present? %>
          <%= person_post.tags.to_sentence %>
        <% end %>
      </td>
      <td>
        <% if person_post.draft? %>
          <i class="fas fa-lock"></i>
        <% else %>
          <i class="fas fa-check"></i>
        <% end %>
        <%= t(".visibility_level.#{person_post.visibility_level}") %>
      </td>
      <td>
        <%= link_to gobierto_people_person_post_preview_url(@person, person_post, host: current_site.domain), target: "_blank", class: "view_item" do %>
          <i class="fas fa-eye"></i>
          <%= t(".view_post") %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
