<%= render "gobierto_admin/shared/validation_errors", resource: @event_form %>

<%= form_for(@event_form, as: :event, url: @event_form.persisted? ? admin_calendars_event_path(@event_form, collection_id: @collection) : admin_calendars_events_path(collection_id: @collection), data: { "globalized-form-container" => true }) do |f| %>

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">

      <div class="globalized_fields">
        <%= render "gobierto_admin/shared/form_locale_switchers" %>

        <% current_site.configuration.available_locales.each do |locale| %>
          <div class="form_item input_text" data-locale="<%= locale %>">
            <%= label_tag "event[title_translations][#{locale}]", f.object.class.human_attribute_name(:title) %>
            <%= text_field_tag "event[title_translations][#{locale}]", f.object.title_translations && f.object.title_translations[locale], placeholder: t(".placeholders.title", locale: locale.to_sym) %>
          </div>

          <div class="form_item textarea" data-locale="<%= locale %>">
            <%= label_tag "event[description_translations][#{locale}]", f.object.class.human_attribute_name(:description) %>
            <%= rich_text_area_tag "event[description_translations][#{locale}]", f.object.description_translations && f.object.description_translations[locale], attachment_path: admin_people_file_attachments_path %>
          </div>
        <% end %>
      </div>

      <div class="form_item input_text">
        <%= f.label :slug %>
        <%= f.text_field :slug, placeholder: t(".placeholders.slug") %>
      </div>

      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">
          <div class="form_item input_text">
            <%= f.label :starts_at %>
            <%= f.text_field :starts_at, data: {
                "language": I18n.locale,
                "timepicker": true,
                "date-format": "yyyy-mm-dd",
                "time-format": "hh:ii",
                "startDate": format_time(f, :starts_at)
              },
              class: "air-datepicker",
              readonly: !Rails.env.test?
            %>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="form_item input_text">
            <%= f.label :ends_at %>
            <%= f.text_field :ends_at, data: {
                "language": I18n.locale,
                "timepicker": true,
                "date-format": "yyyy-mm-dd",
                "time-format": "hh:ii",
                "startDate": format_time(f, :ends_at, 2)
              },
              class: "air-datepicker",
              readonly: !Rails.env.test?
            %>
          </div>
        </div>
      </div>

      <div class="form_item file_field attachment_file_field">
        <%= f.label :attachment_file, t(".attachment_file_constraints") %>

        <% if f.object.attachment_url.present? %>
          <%= link_to f.object.attachment_url, f.object.attachment_url, download: "" %>
        <% end %>

        <%= f.file_field :attachment_file %>
      </div>

      <%= render "locations_form", form_builder: f %>
      <%= render "attendees_form", form_builder: f %>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 ">

      <div class="widget_save stick_in_parent">

        <div class="form_item person-event-state-radio-buttons">

          <div class="options compact">
            <%= f.collection_radio_buttons(:state, @event_states, :first, :first) do |b| %>
              <div class="option">
                <%= b.radio_button %>
                <%= b.label do %>
                  <span></span>
                  <%= t(".state.#{b.text}") %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>

        <%= f.submit class: "button" %>

      </div>

    </div>

  </div>

<% end %>
