<div id="events">
  <div class="pure-g">

    <div class="pure-u-1 pure-u-md-3-5 sub_filter">
      <ul>
        <li class="upcoming-events-filter active" data-scope="upcoming">
          <%= link_to t(".upcoming_events"), admin_calendars_events_path(collection_id: collection), remote: true %>
          (<%= @events_presenter.upcoming_events_count %>)
        </li>
        <li class="pending-events-filter <%= class_if("warn", @events_presenter.pending_events_count > 0) %>" data-scope="pending">
          <%= link_to t(".pending_events"), admin_calendars_events_path(collection_id: collection, scope: :pending), remote: true %>
          (<%= @events_presenter.pending_events_count %>)
        </li>
        <li class="published-events-filter" data-scope="published">
          <%= link_to t(".published_events"), admin_calendars_events_path(collection_id: collection, scope: :published), remote: true %>
          (<%= @events_presenter.published_events_count %>)
        </li>
        <li class="past-events-filter" data-scope="past">
          <%= link_to t(".past_events"), admin_calendars_events_path(collection_id: collection, scope: :past), remote: true  %>
          (<%= @events_presenter.past_events_count %>)
        </li>
      </ul>
    </div>

    <div class="pure-u-1 pure-u-md-2-5">
      <div class="admin_tools right">
        <% if @person %>
          <%= link_to edit_admin_calendars_configuration_path(@person.calendar) do %>
            <i class="fas fa-cog"></i>
            <%= t(".configuration") %>
          <% end %>
        <% end %>
        <%= link_to t(".new"), new_admin_calendars_event_path(collection_id: collection), class: "button", data: { turbolinks: false } %>
      </div>
    </div>

  </div>

  <table class="person-events-list">
    <thead>
      <tr>
        <th></th>
        <th><%= t(".header.event") %></th>
        <th><%= t(".header.date") %></th>
        <th><%= t(".header.location") %></th>
        <th><%= t(".header.status") %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr id="person-event-item-<%= event.id %>" class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to edit_admin_calendars_event_path(event, collection_id: collection), data: { turbolinks: false } do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_calendars_event_path(event, collection_id: collection), data: { turbolinks: false } do %>
              <%= event.title %>
            <% end %>
          </td>
          <td>
            <%= l(event.starts_at, format: :long) %>
          </td>
          <td>
            <% if event.first_location %>
              <%= event.first_location.name %>
            <% end %>
          </td>
          <td>
            <% if event.pending? %>
              <i class="fas fa-lock"></i>
            <% else %>
              <i class="fas fa-check"></i>
            <% end %>
            <%= t(".visibility_level.#{event.state}") %>
          </td>
          <td>
            <%= link_to event.to_url(preview: true, admin: current_admin), target: "_blank", class: "view_item" do %>
              <i class="fas fa-eye"></i>
              <%= t(".view_event") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @events, param_name: :events_page, remote: true, params: { archived_events_page: nil } %>

  <% unless @archived_events.empty? %>
    <div class="m_v_1 right">
      <%= link_to t("gobierto_admin.shared.archive.elements"), 'javascript:;', data: { toggle: true} %>
    </div>

    <div id="archived-list" style="<%= params[:archived_events_page] ? '' : 'display:none' %>">
      <table class="person-events-list">
        <thead>
          <tr>
            <th></th>
            <th><%= t(".header.event") %></th>
            <th><%= t(".header.date") %></th>
            <th><%= t(".header.location") %></th>
            <th><%= t(".header.status") %></th>
          </tr>
        </thead>

        <tbody>
          <% @archived_events.each do |event| %>
            <tr id="person-event-item-<%= event.id %>" class="<%= cycle("odd", "even") %>">
              <td>
                <%= link_to edit_admin_calendars_event_path(event, collection_id: collection), data: { turbolinks: false } do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              </td>
              <td>
                <%= event.title %>
              </td>
              <td>
                <%= l(event.starts_at, format: :long) %>
              </td>
              <td>
                <% if event.first_location %>
                  <%= event.first_location.name %>
                <% end %>
              </td>
              <td>
                <%= t(".visibility_level.archived") %>
              </td>
               <td>
                <%= link_to "<i class='fas fa-trash'></i>".html_safe, admin_calendars_event_path(event),
                            title: t("gobierto_admin.shared.archive.element"),
                            method: :delete,
                            data: { confirm: t("gobierto_admin.shared.archive.confirm") } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @archived_events, param_name: :archived_events_page, remote: true, params: { events_page: nil } %>
    </div>
  <% end %>
</div>

<%= javascript_tag do %>
  window.GobiertoAdmin.gobierto_calendars_events_controller.index();
<% end %>
