<div class="dyna_block">
  <label><%= t(".title") %></label>

  <table id="person-event-locations" class="dynamic-content-wrapper">
    <tr>
      <th><%= t(".header.place") %></th>
      <th><%= t(".header.address") %></th>
      <th class="edit_cell">
        <i class="fas fa-trash"></i>
      </th>
    </tr>

    <%= form_builder.fields_for :locations do |location_form| %>
      <tbody class="dynamic-content-record-wrapper content-block-record-<%= location_form.object.id || "new" %>">
        <tr class="dynamic-content-record-view <%= cycle("odd", "even") %>">
          <td class="content-block-record-value"><%= location_form.object.name %></td>
          <td class="content-block-record-value"><%= location_form.object.address %></td>

          <td class="edit_cell">
            <%= location_form.check_box :_destroy, class: "hidden destroy-content-block-record" %>

            <%= link_to "#", data: { behavior: "edit_record" } do %>
              <i class="fas fa-edit"></i>
            <% end %>

            <%= link_to "#", data: { behavior: "delete_record" } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>
        <tr class="dynamic-content-record-form">
          <td colspan="3">
            <div class="content-block-field content-block-field-place">
              <%= location_form.text_field :name, placeholder: t(".header.place") %>
            </div>

            <div class="content-block-field content-block-field-address">
              <%= location_form.text_field :address, placeholder: t(".header.address"), data: { behavior: "geocomplete" } %>
              <%= location_form.hidden_field :lat, data: { geo: "lat" } %>
              <%= location_form.hidden_field :lng, data: { geo: "lng" } %>
            </div>

            <%= link_to "#", class: "button", data: { behavior: "add_record" } do %>
              <%= t("gobierto_admin.gobierto_common.dynamic_content.form.add_record") %>
            <% end %>

            <%= link_to "#", data: { behavior: "cancel_record" } do %>
              <i class="fas fa-trash"></i>
              <%= t("gobierto_admin.gobierto_common.dynamic_content.form.cancel_record") %>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>

    <tr class="new_row_add">
      <td colspan="3">
        <%= link_to "#", data: { behavior: "add_child" } do %>
          <i class="fas fa-plus-circle"></i>
          <%= t("gobierto_admin.gobierto_common.dynamic_content.form.add_child") %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<% content_for :javascript_hook do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_places_api_key}&libraries=places" %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.person_events_controller.edit("#person-event-locations", "locations_attributes");
  <% end %>
<% end %>
