<%= render "gobierto_admin/gobierto_calendars/events/person_breadcrumb" %>

<% if @person %>
  <h1><%= @person.name %></h1>
  <%= render "gobierto_admin/gobierto_people/people/navigation" %>
<% else %>
  <h1><%= @collection.title %></h1>
<% end %>


<%= render "form" %>
