<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  Consultas sobre presupuestos
</div>

<h1>Consultas sobre presupuestos</h1>

<div class="admin_tools right">
  <%= link_to '<i class="fas fa-cog"></i> Configuración'.html_safe, '' %>
  <button class="btn">Nueva</button>
</div>

<table>
<tr>
  <th></th>
  <th>Consulta</th>
  <th>Resultados</th>
  <th>Estado</th>
  <th></th>
</tr>

<tr class="odd">
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_sites_site' %></td>
  <td>
    <%= link_to 'Consulta sobre los presupuestos de Burjassot 2017'.html_safe, 'admin_consultations_consultation' %>
    <div class="soft">Inicio <strong>12 oct 2016</strong> Fin <strong>12 nov 2016</strong></div>
  </td>
  <td><i class="fas fa-stats"></i> 123 participaciones</td>
  <td><i class="fas fa-lock"></i> Borrador</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver consulta'.html_safe, '', class: 'view_item' %></td>
</tr>
<tr class="even">
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_sites_site' %></td>
  <td>
    <%= link_to 'Consulta sobre los presupuestos de Burjassot 2017'.html_safe, 'admin_consultations_consultation' %>
    <div class="soft">Inicio <strong>12 oct 2016</strong> Fin <strong>12 nov 2016</strong></div>
  </td>
  <td><i class="fas fa-stats"></i> 123 participaciones</td>
  <td><i class="fas fa-lock"></i> Borrador</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver consulta'.html_safe, '', class: 'view_item' %></td>
</tr>

</table>
