<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  <%= link_to 'Participación', 'admin_part' %> »
  Grupo
</div>

<h1>Comisión de Fiestas de Carnaval</h1>

<div class="tabs">
  <ul>
    <li ><%= link_to 'Grupo', 'admin_part_group' %></li>
    <li><%= link_to 'Agenda', 'admin_part_group_agenda' %></li>
    <li><%= link_to 'Noticias', 'admin_part_group_news' %></li>
    <li><%= link_to 'Documentos', 'admin_part_group_docs' %></li>
  </ul>
</div>

<!-- <div class="pure-g m_v_2">
  <div class="pure-u-3-4">
    <strong>Página de información asociada</strong>
  </div>
  <div class="pure-u-1-4 admin_tools right">

  </div>
</div> -->

<div class="pure-g">

  <div class="pure-u-1 pure-u-md-16-24">

    <h3>Página de información asociada</h3>

    <form>

      <p>Selecciona la página que se mostrará cuando se acceda a esta fase (<a href="/admin/cms/pages">o crea una nueva</a>):</p>

      [SELECT 2 as in Start Module/CMS]

      <p><a href="#">Edita esta página</a></p>

    </form>

  </div>

  <div class="pure-u-1 pure-u-md-2-24"></div>

  <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">


  </div>

</div>
