<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  <%= link_to 'CMS', 'admin_cms' %> »
  Sección
</div>

<h1>Portal de Transparencia</h1>

<div class="admin_tools right">
  <%= link_to '<i class="fas fa-cog"></i> Configuración'.html_safe, '#section_options', class: 'open_modal' %>
  <%= link_to 'Nueva', 'admin_cms_section_page', class: 'button' %>
  <%= link_to 'Menú Global', 'admin_cms_section_page', class: 'button' %>
</div>

<table>
<tr>
  <th></th>
  <th>Sección</th>
  <th>Creada</th>
  <th>Actualizada</th>
  <th>Pública</th>
  <th></th>
  <th></th>
</tr>

<tr>
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_cms_collection_page' %></td>
  <td><%= link_to '<span class="global_menu">Menu Global</span>'.html_safe, 'admin_cms_collection_page' %></td>
  <td>hace 10 minutos</td>
  <td>hace 5 minutos</td>
  <td class="visibility_level">
    <i class="fas fa-lock"></i>
    Borrador
  </td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver página'.html_safe, '#', class: 'view_item' %></td>
</tr>
<% for i in [
  'Portal de Transparencia',
  'Ayuda',
  'Manual de Participación',
  'Guía de Participación'
] %>
<tr>
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_cms_collection_page' %></td>
  <td><%= link_to i, 'admin_cms_collection_page' %></td>
  <td>hace 10 minutos</td>
  <td>hace 5 minutos</td>
  <td class="visibility_level">
    <i class="fas fa-lock"></i>
    Borrador
  </td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver página'.html_safe, '#', class: 'view_item' %></td>
</tr>
<% end %>

</table>

<div class="modal mfp-hide" id="section_options">

  <h2>Editar sección</h2>

  <form>

    <div class="form_item select_control">
      <label for="entity">Contexto</label>
      <select>
        <% for i in [
          'Sitio',
          'Altos Cargos y Agendas',
          'Participación',
          'Participación/Nombre de un proceso o grupo que puede ser largo',
          'Participación/Nombre de otro proceso largo',
          'Participación/Nombre de otro proceso todavía más'
          ]
        %>
          <option><%= i %></option>
        <% end %>
      </select>
    </div>

    <div class="globalized_fields">

      <div class="globalize_tool">
        <label>Traducir</label>
        <a href="#" class="locale_option selected completed tipsit" title="Define el contenido en su versión en Español">
          <span class="locale">ES</span>
          <span class="status"></span>
        </a>
        <a href="#" class="locale_option completed tipsit" title="Define el contenido en su versión en Catalán">
          <span class="locale">CA</span>
          <span class="status"></span>
        </a>
        <a href="#" class="locale_option tipsit" title="Define el contenido en su versión en Inglés">
          <span class="locale">EN</span>
          <span class="status"></span>
        </a>
      </div>

      <div class="form_item input_text">
        <label for="name">Título</label>
        <input type="text" id="name" value="Noticias">
      </div>

    </div>

    <div class="form_item select_control">
      <label for="entity">Tipo</label>
      <select>
        <option>Noticias</option>
        <option>Páginas</option>
      </select>
    </div>



    <div class="actions right">
      <button class="light">Cancelar</button>
      <input type="submit" value="Guardar">
    </div>

  </form>

</div>
