<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  <%= link_to 'Personas', 'admin_people' %> »
  Persona
</div>

<h1>Rafa García García</h1>

<div class="tabs">
  <ul>
    <li class="active"><%= link_to 'Persona', '' %></li>
    <li><%= link_to 'Agenda', 'admin_people_person_agenda' %></li>
    <li><%= link_to 'Declaraciones', 'admin_people_person_declarations' %></li>
    <li><%= link_to 'Blog', 'admin_people_person_blog' %></li>
  </ul>
</div>

<div class="pure-g">

  <div class="pure-u-1 pure-u-md-16-24">

    <form>

      <div class="globalized_fields">

        <div class="globalize_tool">
          <label>Traducir</label>
          <a href="#" class="locale_option selected completed tipsit" title="Define el contenido en su versión en Español">
            <span class="locale">ES</span>
            <span class="status"></span>
          </a>
          <a href="#" class="locale_option completed tipsit" title="Define el contenido en su versión en Catalán">
            <span class="locale">CA</span>
            <span class="status"></span>
          </a>
          <a href="#" class="locale_option tipsit" title="Define el contenido en su versión en Inglés">
            <span class="locale">EN</span>
            <span class="status"></span>
          </a>
        </div>

        <div class="form_item input_text">
          <label for="name">Nombre</label>
          <input type="text" id="name" value="Rafa García García">
        </div>

        <div class="form_item input_text">
          <label for="entity">Cargo</label>
          <input type="text" id="entity" value="Alcalde">
        </div>

        <!-- warning, this is not code, do not add the code class to the .form_item -->
        <div class="form_item textarea">
          <label for="entity">Biografía</label>
          <textarea></textarea>
        </div>

        <div class="form_item file_field">
          <label for="site_logo_file">Adjuntar fichero (PDF)</label>
          <input type="file" name="site[logo_file]" id="site_logo_file">
        </div>

      </div>

      <div class="form_item file_field">
        <img src="https://pbs.twimg.com/profile_images/305246290/Foto_2_400x400.jpg" width="150" height="150">
        <label for="site_logo_file">Avatar del usuario (fichero de 500x500)</label>
        <input type="file" name="site[logo_file]" id="site_logo_file">
      </div>

      <div class="pure-g">

        <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">

          <div class="form_item options_cont compact">

            <div class="option">
              <input type="radio" id="opt_A_1" name="opt_A" value="1" checked />
              <label for="opt_A_1">
                <span></span>
                Político
              </label>
            </div>

            <div class="option">
              <input type="radio" id="opt_A_2" name="opt_A" value="2"/>
              <label for="opt_A_2">
                <span></span>
                Directivo
              </label>
            </div>

          </div>

        </div>

        <div class="pure-u-1 pure-u-md-1-2">

        <div class="form_item options_cont compact">

            <div class="option">
              <input type="radio" id="opt_B_1" name="opt_B" value="1" checked />
              <label for="opt_B_1">
                <span></span>
                Gobierno
              </label>
            </div>

            <div class="option">
              <input type="radio" id="opt_B_2" name="opt_B" value="2"/>
              <label for="opt_B_2">
                <span></span>
                Oposición
              </label>
            </div>

          </div>

        </div>

      </div>

      <div class="form_item select_control">
        <label for="entity">Agrupación política</label>
        <!-- should show the list from sandbox/admin_people_conf -->
        <select>
          <option>PP</option>
          <option>PSOE</option>
          <option>Ciudadanos</option>
          <option>Compromís</option>
          <option>Valencia en comú</option>
        </select>
      </div>

      <div class="dyna_block">
        <label>Contacto</label>
        <table>
        <tr>
          <th>Red</th>
          <th>Usuario</th>
          <th>URL</th>
          <th class="edit_cell"></th>
        </tr>
        <tr>
          <td>Twitter</td>
          <td>@esperanzzzita</td>
          <td>twitter.com/esperantiza</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr>
          <td>Facebook</td>
          <td>EsperanzaAguirre
          <td>facebook.com/esperantiza</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr>
          <td>Telegram</td>
          <td>@esperanzzzita</td>
          <td>telegram.com/esperantiza</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr class="new_row_add">
          <td colspan="4">
            <%= link_to '', class: "open-new_row_content" do %>
              <i class="fas fa-plus-circle"></i>
              Añadir nuevo registro
            <% end %>
          </td>
        </tr>
        <tr class="new_row_content">
          <td colspan="4" class="">
            <h4>Añadir nuevo registro</h4>
            <input type="text" placeholder="Red">
            <input type="text" placeholder="Usuario">
            <input type="text" placeholder="URL">
            <div><a href="" class="button_light"><i class="fas fa-paperclip"></i> Adjuntar fichero</a></div>
            <button>Añadir</button>
            <%= link_to '<i class="fas fa-trash"></i> Cancelar'.html_safe, '', class: 'close-new_row_content' %>
          </td>
        </tr>
        </table>
      </div>

      <div class="dyna_block">
        <label>Títulos</label>
        <table>
        <tr>
          <th>Título</th>
          <th>Centro</th>
          <th>Fecha inicio</th>
          <th>Fecha fin</th>
          <th class="edit_cell"></th>
        </tr>
        <tr>
          <td>Licenciada en Derecho</td>
          <td>Universidad Complutense de Madrid</td>
          <td>1969</td>
          <td>1974</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>

        <tr class="new_row_add">
          <td colspan="4">
            <%= link_to '', class: "open-new_row_content" do %>
              <i class="fas fa-plus-circle"></i>
              Añadir nuevo registro
            <% end %>
          </td>
        </tr>
        <tr class="new_row_content">
          <td colspan="4" class="">
            <h4>Añadir nuevo registro</h4>
            <input type="text" placeholder="Título">
            <input type="text" placeholder="Centro">
            <input type="text" placeholder="Fecha de inicio">
            <input type="text" placeholder="Fecha de fin">
            <button>Añadir</button>
            <%= link_to '<i class="fas fa-trash"></i> Cancelar'.html_safe, '', class: 'close-new_row_content' %>
          </td>
        </tr>
        </table>
      </div>

      <div class="dyna_block">
        <label>Carrera profesional</label>
        <table>
        <tr>
          <th>Puesto</th>
          <th>Organización</th>
          <th>Desde</th>
          <th>Hasta</th>
          <th class="edit_cell"></th>
        </tr>
        <tr>
          <td>Jefa de Sección de Publicidad de Turismo</td>
          <td>Secretaria de Turismo, Ministro de Industria</td>
          <td>1976</td>
          <td>1982</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr>
          <td>Jefa de Sección de Publicidad de Turismo</td>
          <td>Secretaria de Turismo, Ministro de Industria</td>
          <td>1982</td>
          <td>1983</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr>
          <td>Jefa Gabinete Director General del Libro y Cinematografía</td>
          <td>Ministerio de Cultura</td>
          <td>1983</td>
          <td>1984</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr>
          <td>Subdirectora General de Fundaciones e Instituciones Culturales</td>
          <td>Ministerio de Cultura</td>
          <td>1976</td>
          <td>1982</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr>
          <td>Concejal Oposición Unión Liberal Coalición AP-PDP-UL</td>
          <td>Ayuntamiento de Madrid</td>
          <td>1976</td>
          <td>1982</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr>
          <td>Concejal-Delegada Medio Ambiente</td>
          <td>Ayuntamiento de Madrid</td>
          <td>1976</td>
          <td>1982</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr>
          <td>Tercer Teniente de Alcade</td>
          <td>Ayuntamiento de Madrid</td>
          <td>1976</td>
          <td>1982</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr>
          <td>Presidenta Consejo Asesor</td>
          <td>Ayuntamiento de Madrid</td>
          <td>1976</td>
          <td>1982</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr>
          <td>Conferenciante</td>
          <td>Thinking Heads</td>
          <td>1976</td>
          <td>1982</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>

        <tr class="new_row_add">
          <td colspan="4">
            <%= link_to '', class: "open-new_row_content" do %>
              <i class="fas fa-plus-circle"></i>
              Añadir nuevo registro
            <% end %>
          </td>
        </tr>
        <tr class="new_row_content">
          <td colspan="4" class="">
            <h4>Añadir nuevo registro</h4>
            <input type="text" placeholder="Título">
            <input type="text" placeholder="Centro">
            <input type="text" placeholder="Fecha de inicio">
            <input type="text" placeholder="Fecha de fin">
            <button>Añadir</button>
            <%= link_to '<i class="fas fa-trash"></i> Cancelar'.html_safe, '', class: 'close-new_row_content' %>
          </td>
        </tr>
        </table>
      </div>

      <div class="dyna_block new_block">
        <label>
          <%= link_to '', class: "open-new_block" do %>
            <i class="fas fa-plus-circle"></i>
            Añadir nuevo bloque
          <% end %>
        </label>
      </div>

      <div class="new_block_content">

        <div class="form_item input_text">
          <label for="name">Nombre del bloque</label>
          <input type="text" id="name" value="Datos personales">
        </div>

        <h4>Columnas</h4>

        <div class="block_column_field">
          <select>
            <option>Campo de texto</option>
            <option>Campo de fecha</option>
            <option>Campo de moneda</option>
          </select>
          <input type="text" placeholder="Título">
          <%= link_to '<i class="fas fa-trash"></i>'.html_safe, '', class: 'delete-new_block_row' %>
        </div>

        <div class="block_column_field">
          <select>
            <option>Campo de texto</option>
            <option>Campo de fecha</option>
            <option>Campo de moneda</option>
          </select>
          <input type="text" placeholder="Título">
          <%= link_to '<i class="fas fa-trash"></i>'.html_safe, '', class: 'delete-new_block_row' %>
        </div>

        <div class="block_column_field">
          <%= link_to '', class: "open-new_block" do %>
            <i class="fas fa-plus-circle"></i>
            Añadir columna
          <% end %>
        </div>

        <button>Guardar</button>


      </div>

    </form>

  </div>

  <div class="pure-u-1 pure-u-md-2-24"></div>

  <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

    <%= render partial: "admin_widget_save", locals: { password_protected: true }  %>

  </div>

</div>
