
<h1>Sitios</h1>

<div class="admin_tools right">
  <%= link_to '<i class="fas fa-cog"></i> Configuración'.html_safe, '' %>
  <button class="btn">Nuevo</button>
</div>

<table>
<tr>
  <th></th>
  <th>Sitio</th>
  <th>Dominio</th>
  <th>Creado</th>
  <th>Estado</th>
  <th></th>
</tr>

<tr class="odd">
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_sites_site' %></td>
  <td><%= link_to '<strong>Transparencia</strong> Ayuntamiento de Burjassot'.html_safe, 'admin_sites_site' %></td>
  <td><%= link_to 'gobierto.burjassot.es', '' %></td>
  <td>12 sep 2016 <span class="soft ip">222.111.222.11</td>
  <td><i class="fas fa-lock"></i> Borrador</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver sitio'.html_safe, '', class: 'view_item' %></td>
</tr>
<tr class="even">
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_sites_site' %></td>
  <td><%= link_to '<strong>Transparencia</strong> Ayuntamiento de Burjassot'.html_safe, 'admin_sites_site' %></td>
  <td><%= link_to 'gobierto.burjassot.es', '' %></td>
  <td>12 sep 2016 <span class="soft ip">222.111.222.11</td>
  <td><i class="fas fa-unlock"></i>  Activo</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver sitio'.html_safe, '', class: 'view_item' %></td>
</tr>

</table>
