<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  <%= link_to 'Personas', 'admin_people' %> »
  <%= link_to 'Rafa García García', 'admin_people_person' %> »
  Agenda
</div>

<% if params[:from_global_agendas] %>
  <div class="nav_back"><%= link_to '« Volver a Agendas', 'admin_agendas'  %></div>
<% end %>

<h1>Rafa García García</h1>

<div class="tabs">
  <ul>
    <li><%= link_to 'Persona', 'admin_people_person' %></li>
    <li class="active"><%= link_to 'Agenda', 'admin_people_person_agenda' %></li>
    <li><%= link_to 'Declaraciones', 'admin_people_person_declarations' %></li>
    <li><%= link_to 'Blog', 'admin_people_person_blog' %></li>
  </ul>
</div>

<div class="pure-g">

  <div class="pure-u-1 pure-u-md-3-5 sub_filter">
    <ul>
      <li class='warn active'><%= link_to 'Pendientes de moderar', '' %> (1)</li>
      <li><%= link_to 'Eventos publicados' %> (12)</li>
      <li><%= link_to 'Eventos pasados' %> (123)</li>
    </ul>
  </div>

  <div class="pure-u-1 pure-u-md-2-5">
    <div class="admin_tools right">
      <%= link_to '<i class="fas fa-cog"></i> Configuración'.html_safe, 'admin_people_person_agenda_conf' %>
      <button class="btn">Nuevo evento</button>
    </div>
  </div>

</div>

<table>
<tr>
  <th></th>
  <th>Evento</th>
  <th>Fecha</th>
  <th>Lugar</th>
  <th></th>
</tr>
<tr>
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_people_person_agenda_event' %></td>
  <td><%= link_to 'Reunión del Alcalde con la Asociación de Vecinos MAS Burjassot', 'admin_people_person_agenda_event' %></td>
  <td>12 oct 2016</td>
  <td>Salón de Plenos, Ayuntamiento de Burjassot</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver evento'.html_safe, '#FRONT_PERSON_EVENT', class: 'view_item' %></td>
</tr>
<tr>
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_people_person_agenda_event' %></td>
  <td><%= link_to 'Reunión del Alcalde con la Asociación de Vecinos MAS Burjassot', 'admin_people_person_agenda_event' %></td>
  <td>12 oct 2016</td>
  <td>Salón de Plenos, Ayuntamiento de Burjassot</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver evento'.html_safe, '#FRONT_PERSON_EVENT', class: 'view_item' %></td>
</tr>
<tr>
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_people_person_agenda_event' %></td>
  <td><%= link_to 'Reunión del Alcalde con la Asociación de Vecinos MAS Burjassot', 'admin_people_person_agenda_event' %></td>
  <td>12 oct 2016</td>
  <td>Salón de Plenos, Ayuntamiento de Burjassot</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver evento'.html_safe, '#FRONT_PERSON_EVENT', class: 'view_item' %></td>
</tr>
<tr>
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_people_person_agenda_event' %></td>
  <td><%= link_to 'Reunión del Alcalde con la Asociación de Vecinos MAS Burjassot', 'admin_people_person_agenda_event' %></td>
  <td>12 oct 2016</td>
  <td>Salón de Plenos, Ayuntamiento de Burjassot</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver evento'.html_safe, '#FRONT_PERSON_EVENT', class: 'view_item' %></td>
</tr>

</table>
