<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  <%= link_to 'Participación', 'admin_part' %> »
  Grupo
</div>

<h1>Comisión de Fiestas de Carnaval</h1>

<div class="tabs">
  <ul>
    <li class="active"><%= link_to 'Grupo', '' %></li>
    <!-- <li><%= link_to 'Información', 'admin_part_group_info' %></li> -->
    <!-- <li><%= link_to 'Encuestas', 'admin_part_group_polls' %></li> -->
    <!-- <li><%= link_to 'Aportaciones', 'admin_part_group_contributions' %></li> -->
    <!-- <li><%= link_to 'Votaciones', 'admin_part_group_votaciones' %></li> -->
    <li><%= link_to 'Agenda', 'admin_part_group_agenda' %></li>
    <li><%= link_to 'Noticias', 'admin_part_group_news' %></li>
    <li><%= link_to 'Documentos', 'admin_part_group_docs' %></li>
  </ul>
</div>

<div class="pure-g">

  <div class="pure-u-1 pure-u-md-16-24">

    <form>

      <div class="globalized_fields">

        <div class="globalize_tool">
          <label>Traducir</label>
          <a href="#" class="locale_option selected completed tipsit" title="Define el contenido en su versión en Español">
            <span class="locale">ES</span>
            <span class="status"></span>
          </a>
          <a href="#" class="locale_option completed tipsit" title="Define el contenido en su versión en Catalán">
            <span class="locale">CA</span>
            <span class="status"></span>
          </a>
          <a href="#" class="locale_option tipsit" title="Define el contenido en su versión en Inglés">
            <span class="locale">EN</span>
            <span class="status"></span>
          </a>
        </div>

        <div class="form_item input_text">
          <label for="name">Nombre</label>
          <input type="text" id="name" value="Comisión de Fiestas de Carnaval">
        </div>

        <!-- warning, this is not code, do not add the code class to the .form_item -->
        <div class="form_item textarea">
          <label for="entity">Descripción corta (280 caracteres)</label>
          <textarea>¿Qué tiene que ver la violencia contra las mujeres contigo? ¿y con nuestra ciudad? es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad.</textarea>
          <div class="inline_help">Podrás ampliar en la sección Información</div>
        </div>

      </div>

      <div class="form_block">

        <h3>Fases - Herramientas</h3>

        <ul class="block_list">

        <% for i in ['Información', 'Reuniones', 'Encuestas', 'Ideas', 'Resultados'] %>

          <div class="list_item">

            <i class="fas fa-bars"></i>
            <div class="main">

              <div class="group">
                <label>
                  <%= i %>
                  <span class="interaction_tool">
                    <i class="fas fa-stethoscope"></i>
                    Encuestas
                  </span>
                </label>
              </div>

              <div class="group secondary">
                <div class="date">
                  <i class="fas fa-clock-o"></i>
                  Del 1 ene 18 al 5 feb 18
                </div>
                <div class="">
                  <i class="fas fa-cog"></i>
                  <a href="admin_part_group_polls">Gestionar</a>
                </div>
              </div>

              <div class="group secondary right">
                <label><input type="radio" name="active_phase"> Activa</label>
                <span>
                  <i class="fas fa-check"></i>
                  Publicada

                  <!--
                  <i class="fas fa-lock"></i>
                  Borrador
                  -->
                </span>
              </div>

            </div>

            <div class="tools">
              <%= link_to '<i class="fas fa-edit"></i>'.html_safe, '#edit_phase_1', title: 'Editar fase', class: 'tipsit open_modal' %>
              <%= link_to '<i class="fas fa-trash"></i>'.html_safe, '', title: 'Eliminar fase', class: 'tipsit' %>
            </div>

          </div>

          <!-- modal -->
          <div class="modal mfp-hide" id="edit_phase_1">

            <h2>Editar fase: <%= i %></h2>

            <div class="form_item select_control">
              <label for="entity">Herramienta</label>
              <select>
                <option disabled selected value> -- seleccionar -- </option>
                <option>Encuestas</option>
                <option>Aportaciones</option>
                <option>Votaciones</option>
                <option>Información</option>
                <option>Agenda</option>
                <option>Noticias</option>
                <option>Documentos</option>
              </select>
            </div>

            <div class="globalized_fields">

              <div class="globalize_tool">
                <label>Traducir</label>
                <a href="#" class="locale_option selected completed tipsit" title="Define el contenido en su versión en Español">
                  <span class="locale">ES</span>
                  <span class="status"></span>
                </a>
                <a href="#" class="locale_option completed tipsit" title="Define el contenido en su versión en Catalán">
                  <span class="locale">CA</span>
                  <span class="status"></span>
                </a>
                <a href="#" class="locale_option tipsit" title="Define el contenido en su versión en Inglés">
                  <span class="locale">EN</span>
                  <span class="status"></span>
                </a>
              </div>

              <div class="form_item input_text">
                <label for="name">
                  Menú / Literal
                  <%= attribute_length_indication 140 %>
                </label>
                <input type="text" id="name" value="Encuesta">
              </div>

              <div class="form_item input_text">
                <label for="name">
                  Título de la fase
                  <%= attribute_length_indication 140 %>
                </label>
                <input type="text" id="name" value="Encuesta previa sobre las Fiestas de Carnaval">
              </div>

              <!-- warning, this is not code, do not add the code class to the .form_item -->
              <div class="form_item textarea">
                <label for="entity">
                  Descripción
                  <%= attribute_length_indication 480 %>
                </label>
                <textarea>Ponemos en marcha una encuesta para conocer la opinión inicial de los vecinos sobre algunos aspectos generales de las fiestas de carnaval. El objetivo es comenzar a recopilar información de cara al diseño de las fiestas.</textarea>
                <div class="inline_help"></div>
              </div>

              <div class="form_item input_text">
                <label for="name">
                  Caja CTA / Descripción corta
                  <%= attribute_length_indication 140 %>
                </label>
                <input type="text" id="name" value="Opina sobre cómo deberían ser las fiestas de carnaval">
              </div>

              <div class="form_item input_text">
                <label for="name">
                  Caja CTA / Botón / Texto
                  <%= attribute_length_indication 140 %>
                </label>
                <input type="text" id="name" value="Contesta la encuesta">
              </div>

              <div class="pure-g">

                <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">
                  <div class="form_item input_text">
                    <label for="phase_1_starts_at">Fecha de comienzo</label>
                    <input data-language="es" data-timepicker="true" data-date-format="yyyy-mm-dd" data-time-format="hh:ii" data-startDate="2017-06-23T12:00:00+00:00" class="air-datepicker" readonly="readonly" type="text" value="2017-06-23 12:00" name="phase_1[starts_at]" id="phase_1_starts_at" />
                  </div>
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                  <div class="form_item input_text">
                    <label for="phase_1_starts_at">Fecha de fin</label>
                    <input data-language="es" data-timepicker="true" data-date-format="yyyy-mm-dd" data-time-format="hh:ii" data-startDate="2017-06-23T12:00:00+00:00" class="air-datepicker" readonly="readonly" type="text" value="2017-06-23 12:00" name="phase_1[starts_at]" id="phase_1_starts_at" />
                  </div>
                </div>

              </div>

              <div class="form_block">

                <div class="form_item">

                  <div class="options compact">

                    <h3>Estado</h3>

                    <input type="hidden" name="site[default_locale]" value="" />

                    <div class="option">
                      <input type="radio" value="es" name="phase_status" id="phase_status" />
                      <label for="phase_status">
                        <span></span>
                        Borrador
                      </label>
                    </div>

                    <div class="option">
                      <input type="radio" value="es" name="phase_status" id="phase_status" />
                      <label for="phase_status">
                        <span></span>
                        Publicada
                      </label>
                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        <% end %>

        <div class="m_1 p_h_2" >
          <!-- it generates another .list_item_with_editable_content element -->
          <%= link_to '<i class="fas fa-plus-circle"></i> Añadir nueva fase'.html_safe, '#edit_phase_1', class: 'open_modal'  %>
        </div>

      </div>



      <div class="form_item file_field">
        <img src="https://pbs.twimg.com/profile_images/305246290/Foto_2_400x400.jpg" width="150" height="150">
        <label for="site_logo_file">Imagen de cabecera (proporción 2:1, recomendado 1000x500px)</label>
        <input type="file" name="site[logo_file]" id="site_logo_file">
      </div>

      <div class="pure-g">

        <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">

          <div class="form_item select_control">
            <label for="entity">Tema</label>
            <select>
              <option>Cultura</option>
              <option>Educación</option>
              <option>Ocio y deporte</option>
              <option>Empleo y comercio</option>
              <option>Mujer</option>
              <option>Urbanismo y vivienda</option>
              <option>Economía y Hacienda</option>
              <option>Mayores</option>
            </select>
          </div>

        </div>

        <div class="pure-u-1 pure-u-md-1-2 ">

          <div class="form_item select_control">
            <label for="entity">Ámbito</label>
            <select>
              <option>Centro</option>
              <option>Polígonos</option>
              <option>Valdelasfuentes</option>
              <option>Urbanizaciones</option>
            </select>
          </div>

        </div>

      </div>

      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">
          <div class="form_item input_text">
            <label for="person_event_starts_at">Fecha de comienzo</label>
            <input data-language="es" data-timepicker="true" data-date-format="yyyy-mm-dd" data-time-format="hh:ii" data-startDate="2017-06-23T12:00:00+00:00" class="air-datepicker" readonly="readonly" type="text" value="2017-06-23 12:00" name="person_event[starts_at]" id="person_event_starts_at" />
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="form_item input_text">
            <label for="person_event_ends_at">Fecha de finalización</label>
            <input data-language="es" data-timepicker="true" data-date-format="yyyy-mm-dd" data-time-format="hh:ii" data-startDate="2017-06-23T13:00:00+00:00" class="air-datepicker" readonly="readonly" type="text" value="2017-06-23 13:00" name="person_event[ends_at]" id="person_event_ends_at" />
          </div>
        </div>
      </div>

      <div class="form_block">

        <div class="form_item">

          <div class="options compact">

            <h3>Tipo de grupo</h3>

            <input type="hidden" name="site[default_locale]" value="" />

            <div class="option">
              <input type="radio" value="es" name="site[default_locale]" id="site_default_locale_es" />
              <label for="site_default_locale_es">
                <span></span>
                Proceso
              </label>
            </div>

            <div class="option">
              <input type="radio" value="es" name="site[default_locale]" id="site_default_locale_es" />
              <label for="site_default_locale_es">
                <span></span>
                Grupo
              </label>
            </div>

          </div>

        </div>

      </div>

    </form>

  </div>

  <div class="pure-u-1 pure-u-md-2-24"></div>

  <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

    <%= render partial: "admin_widget_save"   %>

  </div>

</div>
