<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  <%= link_to 'Participación', 'admin_part' %> »
  <%= link_to 'Comisión de Fiestas de Carnaval', 'admin_part_group' %></a>
</div>

<h1>Comisión de Fiestas de Carnaval</h1>

<div class="tabs">
  <ul>
    <li ><%= link_to 'Grupo', 'admin_part_group' %></li>
    <li><%= link_to 'Agenda', 'admin_part_group_agenda' %></li>
    <li><%= link_to 'Noticias', 'admin_part_group_news' %></li>
    <li><%= link_to 'Documentos', 'admin_part_group_docs' %></li>
  </ul>
</div>

<div class="pure-g">
  <div class="pure-u-3-4">
    <strong><a href="admin_part_group_polls">Encuestas</a></strong> » ¿Crees que habría que modificar la ordenanza sobre terrazas?
  </div>
  <div class="pure-u-1-4 admin_tools right">
    <%= link_to '<i class="fa fa-cog"></i> Configuración'.html_safe, 'admin_people_conf' %>
    <button class="btn">Nueva</button>
  </div>
</div>
<div class="pure-g">

  <div class="pure-u-1 pure-u-md-16-24">


    <!-- if poll has started and received some vote -->
    <div class="flash notice">
      <p>La encuesta ya está activa y ha recibido votos, por lo que no puedes editarla.</p>
      <p>Se han recibido <strong>123 votos</strong>. A este ritmo se pueden esperar 123. <a href="#front">Ver encuesta</a>.</p>
      <p>Podrás consultar los resultados cuando finalice.</p>
    </div>

    <!-- if poll has started and received some vote -->
    <div class="flash notice">
      <p>Encuesta finalizada. <a href="admin_part_group_polls_poll_results">Resultados</a>.</p>
    </div>


    <form>

      <div class="globalized_fields">

        <div class="globalize_tool">
          <label>Traducir</label>
          <a href="#" class="locale_option selected completed tipsit" title="Define el contenido en su versión en Español">
            <span class="locale">ES</span>
            <span class="status"></span>
          </a>
          <a href="#" class="locale_option completed tipsit" title="Define el contenido en su versión en Catalán">
            <span class="locale">CA</span>
            <span class="status"></span>
          </a>
          <a href="#" class="locale_option tipsit" title="Define el contenido en su versión en Inglés">
            <span class="locale">EN</span>
            <span class="status"></span>
          </a>
        </div>

        <div class="form_item input_text">
          <label for="name">
            Título Máx
            <%= attribute_indication_tag max_length: 140 %>
          </label>

          <input type="text" id="name" value="¿Crees que habría que modificar la ordenanza sobre terrazas?">
        </div>

        <!-- warning, this is not code, do not add the code class to the .form_item -->
        <div class="form_item textarea">
          <label for="entity">Descripción</label>
          <textarea>Más info... </textarea>
          <div class="inline_help"></div>
        </div>

        <h2>Preguntas de esta encuesta</h2>

        <% for i in [
          '¿Consideras que habría que modificar la ordenanza?',
          '¿Qué aspecto consideras más prioritario modificar o mejorar?',
          '¿Te afectan (porque las usas o eres vecino) directamente alguna terraza?']
        %>

          <div class="list_item">

            <i class="fa fa-bars"></i>
            <label class="main"><%= i %></label>
            <div class="tools">
              <%= link_to '<i class="fa fa-edit"></i>'.html_safe, '#edit_poll_response', title: 'Editar', class: 'tipsit open_modal' %>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe, '', title: 'Eliminar', class: 'tipsit' %>
            </div>

          </div>

          <div class="modal mfp-hide" id="edit_poll_response">

            <h2>Editar pregunta</h2>

            <div class="globalized_fields">

              <div class="globalize_tool">
                <label>Traducir</label>
                <a href="#" class="locale_option selected completed tipsit" title="Define el contenido en su versión en Español">
                  <span class="locale">ES</span>
                  <span class="status"></span>
                </a>
                <a href="#" class="locale_option completed tipsit" title="Define el contenido en su versión en Catalán">
                  <span class="locale">CA</span>
                  <span class="status"></span>
                </a>
                <a href="#" class="locale_option tipsit" title="Define el contenido en su versión en Inglés">
                  <span class="locale">EN</span>
                  <span class="status"></span>
                </a>
              </div>

              <div class="form_item input_text">
                <label for="name">
                  Pregunta
                  <%= attribute_indication_tag max_length: 140 %>
                </label>
                <input type="text" id="name" value="<%= i %>">
              </div>



              <div class="form_item">

                <h4>Tipo de pregunta</h4>

            		<div class="options compact">

	                <div class="option">
                    <input type="radio" id="opt_1" name="opt" value="1" checked />
                    <label for="opt_1">
                      <span></span>
                      Respuesta única
                    </label>
                  </div>

                  <div class="option">
                    <input type="radio" id="opt_2" name="opt" value="2"/>
                    <label for="opt_2">
                      <span></span>
                      Respuesta múltiple
                    </label>
                  </div>

            	  </div>

            	</div>

              <h4>Posibles respuestas</h4>

              <% for i in [
                'Si',
                'No',
                'A medias']
              %>

                <div class="list_item">

                  <i class="fa fa-bars"></i>
                  <label class="main">
                    <%= i %>
                    <div class="media">
                      <img src="https://images.unsplash.com/photo-1451943744133-d6335204a0a3?auto=format&fit=crop&w=1489&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
                    </div>
                  </label>
                  <div class="tools">
                    <%= link_to '<i class="fa fa-edit"></i>'.html_safe, 'javascript:void(0)', title: 'Editar', class: 'tipsit', onclick: "$(this).parent().parent().hide(); $('#edit_response').show();" %>
                    <%= link_to '<i class="fa fa-paperclip"></i>'.html_safe, 'javascript:void(0)', title: 'Añadir media', class: 'tipsit' %>
                    <%= link_to '<i class="fa fa-trash"></i>'.html_safe, 'javascript:void(0)', title: 'Eliminar', class: 'tipsit' %>
                  </div>

                </div>

                <div class="list_item_with_editable_content" style="display: none;" id="edit_response">

                  <i class="fa fa-bars"></i>
                  <input type="text" value="<%= i %>">
                  <div class="tools">
                    <%= link_to 'cancelar', '#' %>
                  </div>

                </div>

              <% end %>

              <div class="m_1 p_h_2" >
                <!-- it generates another .list_item_with_editable_content element -->
                <%= link_to '<i class="fa fa-plus-circle"></i> Añadir nueva pregunta'.html_safe, 'javascript:void(0)', onclick: "$(this).parent().hide(); $('#add_new_question').show();" %>
              </div>

              <div class="list_item_with_editable_content" style="display: none;" id="add_new_question">

                <i class="fa fa-bars"></i>
                <input type="text" value="" placeholder="¿Deseas que pongamos un Rey Mago gigante para Navidad?">
                <div class="tools">
                  <%= link_to 'cancelar', '#' %>
                </div>

              </div>

            </div>

            <div class="actions right">
              <button class="light">Cancelar</button>
              <input type="submit" value="Guardar">
            </div>

          </div>

        <% end %>

        <div class="m_1 p_h_2" >
          <!-- it generates another .list_item_with_editable_content element -->
          <%= link_to '<i class="fa fa-plus-circle"></i> Añadir nueva respuesta'.html_safe, '#edit_poll_response', class: 'open_modal'  %>
        </div>

      </div>

      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 p_h_r_1">
          <div class="form_item input_text">
            <label for="person_event_starts_at">Fecha de comienzo</label>
            <input data-language="es" data-timepicker="true" data-date-format="yyyy-mm-dd" data-time-format="hh:ii" data-startDate="2017-06-23T12:00:00+00:00" class="air-datepicker" readonly="readonly" type="text" value="2017-06-23 12:00" name="person_event[starts_at]" id="person_event_starts_at" />
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="form_item input_text">
            <label for="person_event_ends_at">Fecha de finalización</label>
            <input data-language="es" data-timepicker="true" data-date-format="yyyy-mm-dd" data-time-format="hh:ii" data-startDate="2017-06-23T13:00:00+00:00" class="air-datepicker" readonly="readonly" type="text" value="2017-06-23 13:00" name="person_event[ends_at]" id="person_event_ends_at" />
          </div>
        </div>
      </div>

      <div class="form_block">

        <div class="form_item">

          <div class="options compact">

            <h3>Pueden participar</h3>

            <div class="option">
              <input type="radio" value="es" name="can_interact" id="can_interact_1" checked />
              <label for="can_interact_1">
                <span></span>
                Todos los usuarios registrados
              </label>
            </div>

            <div class="option">
              <input type="radio" value="es" name="can_interact" id="can_interact_2" />
              <label for="can_interact_2">
                <span></span>
                Solo usuarios verificados
              </label>
            </div>

          </div>

        </div>

      </div>

    </form>

  </div>

  <div class="pure-u-1 pure-u-md-2-24"></div>

  <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

    <%= render partial: "admin_widget_save"   %>

  </div>

</div>
