<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  <%= link_to 'Personas', 'admin_people' %> »
  <%= link_to 'Rafa García García', 'admin_people_person' %> »
  <%= link_to 'Agenda', 'admin_people_person_agenda' %> »
  Evento
</div>

<%= link_to '« Volver a Agendas', 'admin_agendas' if params[:from_global_agendas] %>

<h1>Rafa García García</h1>

<div class="tabs">
  <ul>
    <li><%= link_to 'Persona', 'admin_people_person' %></li>
    <li class="active"><%= link_to 'Agenda', 'admin_people_person_agenda' %></li>
    <li><%= link_to 'Declaraciones', 'admin_people_person_declarations' %></li>
    <li><%= link_to 'Blog', 'admin_people_person_blog' %></li>
  </ul>
</div>

<div class="pure-g">

  <div class="pure-u-1 pure-u-md-16-24">

    <form>

      <div class="form_item input_text">
        <label for="name">Evento</label>
        <input type="text" id="name" value="Reunión con la asociación de vecinos MAS Burjassot">
      </div>

      <div class="form_item textarea">
        <label for="entity">Descripción</label>
        <textarea></textarea>
      </div>

      <div class="form_item file_field">
        <label for="site_logo_file">Adjuntar fichero (PDF)</label>
        <input type="file" name="site[logo_file]" id="site_logo_file">
      </div>


      <div class="dyna_block">
        <label>Lugar de celebración</label>
        <table>
        <tr>
          <th>Lugar</th>
          <th>Dirección</th>
          <th class="edit_cell"></th>
        </tr>
        <tr>
          <td>Salón de Plenos del Ayuntamiento de Burjassot</td>
          <td>Plaza Mayor, 1, Burjassot</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr class="new_row_add">
          <td colspan="4">
            <%= link_to '', class: "open-new_row_content" do %>
              <i class="fas fa-plus-circle"></i>
              Añadir nuevo registro
            <% end %>
          </td>
        </tr>
        <tr class="new_row_content">
          <td colspan="4" class="">
            <h4>Añadir nuevo registro</h4>
            <input type="text" placeholder="Lugar">
            <input type="text" placeholder="Dirección">
            <button>Añadir</button>
            <%= link_to '<i class="fas fa-trash"></i> Cancelar'.html_safe, '', class: 'close-new_row_content' %>
          </td>
        </tr>
        </table>
      </div>

      <div class="dyna_block">
        <label>Asistentes</label>
        <table>
        <tr>
          <th>Persona</th>
          <th>Cargo</th>
          <th class="edit_cell"></th>
        </tr>
        <tr>
          <td>Rafa García García</td>
          <td>Alcalde de Burjassot</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>
        <tr>
          <td>María Gómez Silva</td>
          <td>Concejala Delegada de Medio Ambiente</td>
          <td class="edit_cell">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe %>
          </td>
        </tr>

        <tr class="new_row_add">
          <td colspan="4">
            <%= link_to '', class: "open-new_row_content" do %>
              <i class="fas fa-plus-circle"></i>
              Añadir nuevo registro
            <% end %>
          </td>
        </tr>
        <tr class="new_row_content">
          <td colspan="4" class="">
            <h4>Añadir nuevo registro</h4>
            <input type="text" placeholder="Título">
            <input type="text" placeholder="Centro">
            <input type="text" placeholder="Fecha de inicio">
            <input type="text" placeholder="Fecha de fin">
            <button>Añadir</button>
            <%= link_to '<i class="fas fa-trash"></i> Cancelar'.html_safe, '', class: 'close-new_row_content' %>
          </td>
        </tr>
        </table>
      </div>

    </form>

  </div>

  <div class="pure-u-1 pure-u-md-2-24"></div>

  <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

    <%= render partial: "admin_widget_save", locals: { password_protected: true }  %>

  </div>

</div>
