<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  <%= link_to 'Usuarios', 'admin_users' %> »
</div>


<h1>Campos personalizados</h1>

<p>Campos que se piden en el registro</p>

<% for i in ['Corre-e', 'Nombre', 'Contraseña', 'Confirmar contraseña', 'Fecha de nacimiento', 'Genero'] %>

  <div class="list_item with_mandatory_option disabled">

    <i class="fas fa-bars"></i>
    <label class="main"><%= i %></label>
    <div class="mandatory">
      <label><input type="checkbox" disabled> Obligatorio</label>
    </div>
    <div class="inline_notice">
      Campo de sistema. No se puede editar, borrar, ni reordenar
    </div>

  </div>

<% end %>

<% for i in ['Llogaret', 'Interés', 'Aficiones'] %>

  <div class="list_item with_mandatory_option">

    <i class="fas fa-bars"></i>
    <label class="main"><%= i %></label>
    <div class="mandatory">
      <label><input type="checkbox"> Obligatorio</label>
    </div>
    <div class="tools">
      <%= link_to '<i class="fas fa-edit"></i>'.html_safe, '', title: 'Editar', class: 'tipsit' %>
      <%= link_to '<i class="fas fa-trash"></i>'.html_safe, '', title: 'Eliminar', class: 'tipsit' %>
    </div>

  </div>

<% end %>

<div class="m_2">
  <%= link_to '<i class="fas fa-plus-circle"></i> Añadir nuevo campo'.html_safe, 'admin_users_fields_new' %>
</div>
