<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  Personas
</div>

<h1>Personas</h1>

<div class="admin_tools right">
  <%= link_to '<i class="fas fa-cog"></i> Configuración'.html_safe, 'admin_people_conf' %>
  <button class="btn">Nueva</button>
</div>

<table>
<tr>
  <th></th>
  <th>Persona</th>
  <th>Cargo</th>
  <th>Eventos</th>
  <th>Declaraciones</th>
  <th>Posts</th>
  <th></th>
</tr>

<tr class="odd">
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_people_person' %></td>
  <td><%= link_to 'Rafa García García', 'admin_people_person' %></td>
  <td>5</td>
  <td>5</td>
  <td>5</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver persona'.html_safe, '#FRONT_PERSON_PROFILE', class: 'view_item' %></td>
</tr>
<tr class="even">
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_people_person' %></td>
  <td><%= link_to 'Rafa García García', 'admin_people_person' %></td>
  <td>5</td>
  <td>5</td>
  <td>5</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver persona'.html_safe, '#FRONT_PERSON_PROFILE', class: 'view_item' %></td>
</tr>
<tr class="odd">
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_people_person' %></td>
  <td><%= link_to 'Rafa García García', 'admin_people_person' %></td>
  <td>5</td>
  <td>5</td>
  <td>5</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver persona'.html_safe, '#FRONT_PERSON_PROFILE', class: 'view_item' %></td>
</tr>
<tr class="even">
  <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, 'admin_people_person' %></td>
  <td><%= link_to 'Rafa García García', 'admin_people_person' %></td>
  <td>5</td>
  <td>5</td>
  <td>5</td>
  <td><%= link_to '<i class="fas fa-eye"></i> Ver persona'.html_safe, '#FRONT_PERSON_PROFILE', class: 'view_item' %></td>
</tr>

</table>
