<div class="admin_breadcrumb">
   <%= link_to 'Inicio', 'admin' %> »
   <%= link_to 'Consultas sobre presupuestos', 'admin_consultations' %> »
   Editar consulta
</div>

<h1>Consulta sobre los presupuestos de Burjassot 2016</h1>

<div class="tabs">
  <ul>
    <li><a href="" data-tab-target="consultation_meta">Consulta</a></li>
    <li><a href="" data-tab-target="consultation_lines">Partidas</a></li>
    <li class="active"><a href="" data-tab-target="consultation_report">Reporte</a></li>
  </ul>
</div>

<div class="pure-g" >

  <div class="pure-u-1 pure-u-md-16-24 tab" data-tab="consultation_meta">

    <div class="box">
      <div class="inner">

        <% # si la consulta está activa: %>
          <div>Participaciones hasta el momento: <strong>123</strong></div>
          <!-- num. participaciones / días que lleva activa la consulta * días totales -->
          <div>Quedan 3 días. A este ritmo se pueden esperar: <strong>234</strong></div>
        <% # elsif la consulta esta activa pero no hay participaciones todavía %>
          <div>Todavía no se ha recibido ninguna participación. <%= link_to 'Promociona la consulta', '#FRONT_CONSULTA', target: '_blank' %>.</div>
        <% # elsif la consulta esta activa pero no hay participaciones todavía %>
          <div>La consulta todavía no está activa.</div>
        <% # end %>

      </div>
    </div>

    <% # si la consulta está activa y hay participaciones %>
    <div class="box p_1 m_v_1">
      <div id="check_participation_start">
        <%= link_to 'Comprobar la participación de un ID', '#', class: 'check_participation_control'  %>
        <div>(para añadir una nueva participación, busca si el ID ya ha participado)</div>
      </div>

      <div id="check_participation">
        <div class="form_item input_text">
          <label for="name">Buscar ID</label>
          <input type="text" id="name" placeholder="DNI, tarjeta de residencia...">
        </div>

        <input type="submit" name="commit" value="Buscar" class="check_participation_search">
      </div>

      <div id="check_participation_results">
        <% # si no se encuentra participación para ese ID %>
          <div>Este ID todavía no ha participado</div>
          <p><%= link_to 'Añade una participación para este ID', 'admin_consultations_consultation_add' %></p>
        <% # elsif la consulta esta activa pero no hay participaciones todavía %>
          <div>Este ID <strong>ya ha participado</strong>.</div>

          <!-- esta acción lanza un JS alert: "¿Estás seguro que quieres borrar esta participación? Esta acción NO SE PUEDE DESHACER" -->
          <p><%= link_to '¿Quieres eliminar su participación para poder cargar otra?', 'admin_consultations_consultation_add' %></p>
        <% # end %>
        <p><%= link_to 'Buscar otro', '#', class: 'check_participation_start' %></p>
      </div>

    </div>


    <form>
      <div class="form_block">

        <div class="form_item input_text">
          <label for="name">Título</label>
          <input type="text" id="name" value="Consulta sobre los presupuestos de Burjassot 2016">
          <div class="inline_help">
            Te recomendamos poner un título concreto y que identifique la consulta del año en cuestión.
          </div>
        </div>

      </div>

      <div class="form_block">

        <div class="form_item textarea">
          <label for="entity">Descripción</label>
          <textarea></textarea>
          <div class="inline_help">
            Te recomendamos poner un título concreto y que identifique la consulta del año en cuestión.
          </div>
        </div>

      </div>

      <div class="form_block ">

        <div class="form_item input_text">
          <label for="start_date">Fecha inicio - fin</label>
          DATEPICKER
        </div>

      </div>

    </form>


  </div>

  <div class="pure-u-1 pure-u-md-16-24 tab " data-tab="consultation_lines">

    <ul class="block_list">
      <li>
        <%= link_to '<i class="fas fa-edit"></i> 1. <span>Instalaciones deportivas</span> <i class="fas fa-bars f_right"></i>'.html_safe, '#budget_line_1', class: 'open_modal'  %>
      </li>
      <li>
        <%= link_to '<i class="fas fa-edit"></i> 2. <span>Pavimentación de vías públicas</span> <i class="fas fa-bars f_right"></i>'.html_safe %>
      </li>
      <li>
        <%= link_to '<i class="fas fa-edit"></i> 3. <span>Museos y artes plásticas</span> <i class="fas fa-bars f_right"></i>'.html_safe %>
      </li>
      <li>
        <%= link_to '<i class="fas fa-edit"></i> 4. <span>Bomberos y protección civil</span> <i class="fas fa-bars f_right"></i>'.html_safe %>
      </li>
      <li>
        <%= link_to '<i class="fas fa-edit"></i> 1. <span>Instalaciones deportivas</span> <i class="fas fa-bars f_right"></i>'.html_safe %>
      </li>

      <li class="sep">
        <%= link_to '<i class="fas fa-add"></i> <span>Añadir nueva partida</span>'.html_safe %>
      </li>
    </ul>
  </div>

  <div class="pure-u-1 pure-u-md-24-24 tab active consultation_report" data-tab="consultation_report">
    <div id="consultation-indicators">
      <h2>Estadísticas</h2>

      <div class="pure-g">

        <div class="pure-u-1 pure-u-md-1-5 card_container">
          <div class="indicator_widget slim">
            <div class="front">
              <div class="widget_headline"><h3 class="m_v_0">Participaciones</h3></div>
              <div class="widget_body">
                <span class="widget_figure"><span class="total-participants"></span> respuestas</span>
              </div>
            </div>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-5 card_container">
          <div class="indicator_widget slim">
            <div class="front">
              <div class="widget_headline"><h3 class="m_v_0">Género</h3></div>
              <div class="widget_body categories">
                <div class="half">
                  <div class="category">Hombres</div>
                  <div class="widget_figure ratio-participants-m"></div>
                </div>
                <div class="half">
                  <div class="category">Mujeres</div>
                  <div class="widget_figure ratio-participants-w"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-5 card_container">
          <div class="indicator_widget slim">
            <div class="front">
              <div class="widget_headline"><h3 class="m_v_0">Propuestas</h3></div>
              <div class="widget_body categories">
                <div class="figure-row">Superávit <span class="f_right ratio-responses-sp"></span></div>
                <div class="figure-row">Equilibrio <span class="f_right ratio-responses-eq"></span></div>
                <div>Déficit <span class="f_right ratio-responses-df"></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-5 card_container">
          <div class="indicator_widget slim">
            <div class="front">
              <div class="widget_headline"><h3 class="m_v_0">Media de edad</h3></div>
              <div class="widget_body">
                <span class="widget_figure"><span class="avg-participants"></span> años</span>
              </div>
            </div>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-5 card_container">
          <div class="indicator_widget slim">
            <div class="front">
              <div class="widget_headline"><h3 class="m_v_0">Lugares</h3></div>
              <div class="widget_body categories">
                <div class="location-participants"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="age_report">
      <h2>Participación por grupos de edad</h2>
    </div>

    <div id="table_report">
      <h2>Tabla de respuestas</h2>
    </div>
  </div>

  <div class="modal mfp-hide" id="budget_line_1">

    <h2>Editar partida</h2>

    <form>

      <div class="form_item input_text">
        <label for="name">Partida</label>
        <input type="text" id="name" value="Bienestar comunitario > Cultura > Deporte > Instalaciones deportivas">
      </div>

      <div class="form_item input_text">
        <label for="email">Titulo a mostrar</label>
        <input type="email" id="email" value="Instalaciones deportivas">
      </div>

      <div class="form_item textarea">
        <label for="entity">Descripción</label>
        <textarea>Esta política de gasto comprende los originados por los servicios a que se refiere su denominación, tales como promoción y difusión deportiva, gastos de creación, conservación y funcionamiento de los edificios destinados a piscinas, instalaciones deportivas de todo tipo o cualquier otra actuación directamente relacionada con el deporte o la política deportiva de la respectiva Entidad local. Los gastos incluidos en el grupo de programas de Administración General corresponderán a actividades dirigidas a la planificación, coordinación, control, organización, gestión administrativa y desarrollo de funciones de apoyo de los distintos centros directivos que integran la política de gasto.</textarea>
      </div>

      <div class="actions right">
        <button class="light">Cancelar</button>
        <input type="submit" value="Guardar">
      </div>

    </form>

  </div>


</div>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.consultation_responses_controller.index();
  <% end %>
<% end %>
