<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  <%= link_to 'Participación', 'admin_part' %> »
  <%= link_to 'Comisión de Fiestas de Carnaval', 'admin_part_group' %></a>
</div>

<h1>Comisión de Fiestas de Carnaval</h1>

<div class="tabs">
  <ul>
    <li ><%= link_to 'Grupo', 'admin_part_group' %></li>
    <li><%= link_to 'Agenda', 'admin_part_group_agenda' %></li>
    <li><%= link_to 'Noticias', 'admin_part_group_news' %></li>
    <li><%= link_to 'Documentos', 'admin_part_group_docs' %></li>
  </ul>
</div>

<div class="pure-g">
  <div class="pure-u-3-4">
    <strong><a href="admin_part_group_polls">Encuestas</a></strong> » <a href="admin_part_group_polls_edit">¿Crees que habría que modificar la ordenanza sobre terrazas?</a> » Resultados
  </div>
  <div class="pure-u-1-4 admin_tools right">
    <%= link_to 'Configuración', 'admin_part_group_contributions_contribution_edit' %>
    <%= link_to 'Nueva', '#LINK TO NEW CONTRIBUTION', class: 'button' %>
  </div>
</div>

<h3>Información sociodemográfica</h3>

<table class="results_report">
<tr>
  <th>Participaciones</th>
  <td>234</td>
</tr>
<tr>
  <th>Hombres</th>
  <td>57%</td>
</tr>
<tr>
  <th>Mujeres</th>
  <td>43%</td>
</tr>
</table>

<h2>Respuestas</h2>

<h3>1. Lo primero... ¿cuánto sabes sobre el presupuesto de Alcobendas?</h3>

<table class="results_report">
<tr>
  <th>No se cual es el presupuesto</th>
  <th>Conozco el presupuesto (importe total) de forma aproximada</th>
  <th>No lo se, pero se que puedo entrar en la web del ayuntamiento a consultarlo</th>
</tr>
<tr>
  <td>123</td>
  <td>234</td>
  <td>54</td>
</tr>
</table>


<h3>2. ¿Qué información crees que debería conocer alguien antes de participar?</h3>

<table class="results_report">
<tr>
  <th>La cantidad</th>
  <th>Las áreas principales de gasto</th>
  <th>El origen de los ingresos</th>
  <th>La cifra de deuda y su evolución</th>
  <th>La proporción en la que cada ciudadano aporta al presupuesto</th>
</tr>
<tr>
  <td>123</td>
  <td>234</td>
  <td>54</td>
  <td>23</td>
  <td>52</td>
</tr>
</table>


<h3>3. ¿Sobre qué temas del presupuesto crees que tiene sentido que opinen los ciudadanos?</h3>

<table class="results_report">
<tr>
  <th>Sobre temas generales</th>
  <th>Sobre proyectos específicos</th>
</tr>
<tr>
  <td>123</td>
  <td>234</td>
</tr>
</table>
