
<header class="place">
  <h1>Compara</h1>
  
</header>

<table class="comparison_table" cellspacing="0" cellpadding="0">
<thead>
  <th colspan="2"></th>
  <th class="location">
    <%= link_to 'Madrigal de la Vera' %>
    <%= link_to 'X', '', class: 'remove tipsit', title: 'Eliminar de la comparación' %>
  </th>
  <th class="location">
    <%= link_to 'Jarandilla de la Vera' %>
    <%= link_to 'X', '', class: 'remove tipsit', title: 'Eliminar de la comparación' %>
  </th>
  <th class="location">
    <%= link_to 'Villanueva de la Vera' %>
    <%= link_to 'X', '', class: 'remove tipsit', title: 'Eliminar de la comparación' %>
  </th> 
  <th class="location">
    <%= link_to 'Candeleda' %>
    <%= link_to 'X', '', class: 'remove tipsit', title: 'Eliminar de la comparación' %>
  </th>
  <th class="location add_location_cont">
    <%= link_to '+', '', class: 'add', title: 'Añadir otro municipio' %>
    <div class="add_location">
      Añade otro municipio: 
      <input type="text">
    </div>
  </th>
</thead>
<tbody>
  <tr>
    <td class="budget_line"><a href="#">Deuda Pública</a></td>
    <td class="variable_names">
      <ul>
        <li>Total</li>
        <li>Por Habitante</li>
        <li>%/total</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>15.350 €</li>
        <li>8,77 €</li>
        <li>1,09 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>95.468 €</li>
        <li>31,89 €</li>
        <li>4,91 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>113.186 €</li>
        <li>52,52 €</li>
        <li>3,22 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>163.000 €</li>
        <li>31,69 €</li>
        <li>3,34 %</li>
      </ul>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td class="budget_line"><a href="#">Servicios Públicos Básicos</a></td>
    <td class="variable_names">
      <ul>
        <li>Total</li>
        <li>Por Habitante</li>
        <li>%/total</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>250.910 €</li>
        <li>143,29 €</li>
        <li>17,80 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>737.936 €</li>
        <li>246,47 €</li>
        <li>37,94 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>533.858 €</li>
        <li>247,73 €</li>
        <li>15,18 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>2.159.560 €</li>
        <li>419,90 €</li>
        <li>44,21 %</li>
      </ul>
    </td>
    <td></td>
  </tr>
  <tr>
    <td class="budget_line"><a href="#">Actuaciones de protección y promoción social</a></td>
    <td class="variable_names">
      <ul>
        <li>Total</li>
        <li>Por Habitante</li>
        <li>%/total</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>250.910 €</li>
        <li>143,29 €</li>
        <li>17,80 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>737.936 €</li>
        <li>246,47 €</li>
        <li>37,94 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>533.858 €</li>
        <li>247,73 €</li>
        <li>15,18 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>2.159.560 €</li>
        <li>419,90 €</li>
        <li>44,21 %</li>
      </ul>
    </td>
    <td></td>
  </tr>
  <tr>
    <td class="budget_line"><a href="#">Actuaciones de protección y promoción social</a></td>
    <td class="variable_names">
      <ul>
        <li>Total</li>
        <li>Por Habitante</li>
        <li>%/total</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>250.910 €</li>
        <li>143,29 €</li>
        <li>17,80 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>737.936 €</li>
        <li>246,47 €</li>
        <li>37,94 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>533.858 €</li>
        <li>247,73 €</li>
        <li>15,18 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>2.159.560 €</li>
        <li>419,90 €</li>
        <li>44,21 %</li>
      </ul>
    </td>
    <td></td>
  </tr>
  <tr>
    <td class="budget_line"><a href="#">Producción de bienes públicos de carácter preferente</a></td>
    <td class="variable_names">
      <ul>
        <li>Total</li>
        <li>Por Habitante</li>
        <li>%/total</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>250.910 €</li>
        <li>143,29 €</li>
        <li>17,80 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>737.936 €</li>
        <li>246,47 €</li>
        <li>37,94 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>533.858 €</li>
        <li>247,73 €</li>
        <li>15,18 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>2.159.560 €</li>
        <li>419,90 €</li>
        <li>44,21 %</li>
      </ul>
    </td>
    <td></td>
  </tr>
  <tr>
    <td class="budget_line"><a href="">Actuaciones de carácter económico</a></td>
    <td class="variable_names">
      <ul>
        <li>Total</li>
        <li>Por Habitante</li>
        <li>%/total</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>250.910 €</li>
        <li>143,29 €</li>
        <li>17,80 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>737.936 €</li>
        <li>246,47 €</li>
        <li>37,94 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>533.858 €</li>
        <li>247,73 €</li>
        <li>15,18 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>2.159.560 €</li>
        <li>419,90 €</li>
        <li>44,21 %</li>
      </ul>
    </td>
    <td></td>
  </tr>
  <tr>
    <td class="budget_line"><a href="">Actuaciones de carácter general</a></td>
    <td class="variable_names">
      <ul>
        <li>Total</li>
        <li>Por Habitante</li>
        <li>%/total</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>250.910 €</li>
        <li>143,29 €</li>
        <li>17,80 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>737.936 €</li>
        <li>246,47 €</li>
        <li>37,94 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>533.858 €</li>
        <li>247,73 €</li>
        <li>15,18 %</li>
      </ul>
    </td>
    <td class="variable_values">
      <ul>
        <li>2.159.560 €</li>
        <li>419,90 €</li>
        <li>44,21 %</li>
      </ul>
    </td>
    <td></td>
  </tr>
</tbody>
</table>