<% content_for :javascript_module_link do %>
  <%= javascript_packs_with_chunks_tag 'dashboards' %>
<% end %>

<% content_for :stylesheet_module_link do %>
  <%= stylesheet_packs_with_chunks_tag 'dashboards' %>
<% end %>

<div class="column">
  Ejemplo del visor (usar la directiva <i>dashboard-viewer-app</i>)
  <br>
  <div dashboard-viewer-app data-context="<%= @context %>" data-id="<%= 0 %>"></div>
  <hr>
  <div dashboard-viewer-app data-context="<%= @context %>" data-id="<%= 2 %>"></div>
</div>