<%= content_for :body_attributes do %> class="gobierto_investments" <% end %> <% content_for :javascript_module_link do %> <%=
javascript_packs_with_chunks_tag 'sandbox', 'data-turbolinks-track': true %> <% end %>

<div class="column">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-4">
      <aside class="investments-aside--gap">
        <h4 class="investments-aside--heading">Detalle de proyecto</h4>
        <div class="investments-aside--block">
          <h6 class="investments-aside--block-head">Estado</h6>

          <% steps = ['Totes', 'En estudi · 28 / 04 / 16', 'Programat · 28 / 05 / 16', 'Redacció · 28 / 04 / 16', 'Licitació · 13 / 11 /
          17', 'Execució · 6 / 04 / 18', 'Finalitzat · 28 / 04 / 19'] %>

          <nav class="investments-aside--steps">
            <ul>
              <% steps.each do |step| %>
              <li><a href=""><%= step %></a></li>
              <% end %>
            </ul>
          </nav>

          <a href="" class="investments-aside--link">ver detalle de evolución</a>
        </div>
      </aside>
    </div>

    <div class="pure-u-1 pure-u-lg-3-4">
      <main>
        <h1 class="investments-main--heading">EDXXX-1 Actuacions i millores col·lectives</h1>

        <!-- WIDGET READ MORE -->
        <%= render partial: 'shared/widget_read_more', locals: { 
          
          snippet: "La remodelació i reurbanització de la C-245 integrarà una nou carril bici, i un carril bus segregat i continu de 13 quilòmetres entre Castelldefels i Cornellà. La plataforma segregada per als autobusos permetrà augmentar la velocitat comercial almenys en un 25% en els trams urbans i guanyar puntualitat en Mataró.",
        
          hidden_text: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum doloremque aperiam laboriosam ad, nulla autem maiores aliquid eum, illum beatae nam natus magni temporibus! Totam ipsum laboriosam nulla officia ducimus similique rerum laborum
          doloremque id obcaecati, cum reprehenderit temporibus! Omnis voluptates debitis suscipit, facere mollitia, officia excepturi vero culpa asperiores voluptatem eligendi voluptate aut consequuntur aliquam sint ipsa eius impedit dicta veritatis voluptatum eveniet
          laudantium necessitatibus ea repellat. Fuga reprehenderit illum error enim aliquid fugiat nihil. Voluptatem esse aperiam quam, id doloribus ipsam animi cum corrupti expedita veniam recusandae culpa atque distinctio placeat quos, ea natus, minima nemo non.
          Itaque!" 

        } %>

        <div class="m_v_2"></div>

        <!-- WIDGET HORIZONTAL CAROUSEL -->
        <%= render layout: 'shared/widget_horizontal_carousel', locals: { items: 3 } do %>

          <% sizes = [240, 320, 360, 480, 540] %>
          <% 8.times do |i| %>

            <% random_img = "https://loremflickr.com/"+ sizes.sample.to_s + "/" + sizes.sample.to_s + "/building?random=" + i.to_s %>
            <img class="investments-main--carousel js-image-lightbox" src="<%= random_img %>" />

          <% end %>

        <% end %>

        <div class="m_v_2"></div>

        <div>
          <div class="investments-main--table-row">
            <div class="investments-main--cell-heading">Edificio</div>
            <div>Edificis educatius</div>
          </div>
          <div class="investments-main--table-row">
            <div class="investments-main--cell-heading">Servicio</div>
            <div>Direcció d'Ensenyament</div>
          </div>
          <div class="investments-main--table-row">
            <div class="investments-main--cell-heading">Presupuesto</div>
            <div><strong class="investments-main--strong">1.150.000 €</strong></div>
          </div>
          <div class="investments-main--table-row">
            <div class="investments-main--cell-heading">Tareas</div>
            <% tareas = [ "Actuacions instal·lació de línies de vida", "Actuacions a l'instal.lació d'alarmes (adequació normativa)",
            "Actuacions derivades de normativa de baixa tensió", "Actuacions derivades de normativa eficiència energètica", "Actuacions
            derivades compliment normativa legionel.la", "Actuacions derivades compliment normativa extinció incendis", "Millores -
            Substitució de tubs fluorescents pet TL8 (13 equip)", "Millores - Domòtica (21 equipaments)"] %>
            <div>
              <% tareas.each do |tarea| %>
              <div class="investments-main--inner-table-row">
                <div><%= tarea %></div>
                <div><%= number_to_currency(SecureRandom.random_number(100000), locale: :es) %></div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="investments-main--table-row">
            <div class="investments-main--cell-heading">Contrato y facturación</div>
            <div>
              <div class="investments-main--icon-text"><i class="fas fa-file-signature"></i> <a href="">Ver ficha del contrato</a></div>
              <div class="investments-main--icon-text"><i class="fas fa-receipt"></i> <a href="">Ver facturas</a></div>
            </div>
          </div>
          <div class="investments-main--table-row">
            <div class="investments-main--cell-heading">Documentos</div>
            <div class="investments-main--icon-text"><i class="fas fa-file-pdf"></i> <a href="">Memoria del proyecto (PDF, 2.5 MB)</a></div>
          </div>
        </div>

      </main>
    </div>
  </div>
</div>
