<%= content_for :body_attributes do %> class="gobierto_investments" <% end %>

<% content_for :javascript_module_link do %>
  <%= javascript_packs_with_chunks_tag 'investments', 'data-turbolinks-track': true %>
<% end %>

<% content_for :stylesheet_module_link do %>
  <%= stylesheet_packs_with_chunks_tag 'investments', 'data-turbolinks-track': true %>
<% end %>

<div class="column">
  <div class="pure-g block header_block_inline m_b_1">
    <div class="pure-u-1 pure-u-md-12-24">
      <h2 class="with_description">inversiones</h2>
      <p>
        Consulta los proyectos que tiene en marcha el Ayuntamiento, los que empezarán proximamente, y los planes a medio plazo. Detalle
        sobre el plan anual de inversiones y mecanismos de seguimiento de las obras en marcha.
      </p>
    </div>

    <div class="pure-u-1 pure-u-md-12-24 right">
      <%= image_pack_tag('media/images/illustrations/presupuestos.jpg', class: 'medium_img') %>
    </div>
  </div>

  <!-- In order to match html-js elements -->
  <% seed = SecureRandom.hex(6) %>

  <div class="pure-g m_b_1">
    <div class="pure-u-1 pure-u-lg-1-4"><!-- Empty block --></div>

    <div class="pure-u-1 pure-u-lg-3-4">
      <%= render "investments_home_menu", seed: seed %>
    </div>
  </div>

  <div class="pure-g m_b_4">
    <div class="pure-u-1 pure-u-lg-1-4">
      <%= render "investments_home_aside" %>
    </div>

    <div class="pure-u-1 pure-u-lg-3-4">
      <%= render "investments_home_main", seed: seed %>
    </div>
  </div>

  <%= render "investments_home_article" %>
</div>
