
<header class="place">
  <div class="breadcrumb">
    <%= link_to 'Andalucía' %> <span class="sep">»</span>
    <%= link_to 'Almería' %>
  </div>
  <h1>El Ejido</h1>
  <menu>
    <ul>
      <li><%= link_to 'Presupuesto' %></li>
      <li><%= link_to 'Ejecución' %></li>
      <li><%= link_to 'Indicadores' %></li>
      <li><%= link_to 'Rankings' %></li>
      <li><%= link_to 'Contexto' %></li>
    </ul>
  </menu>
</header>

<%= render 'main_metrics_and_graphs' %>

<div class="section_separator">
  <div class="sep"></div>
  Explora ingresos y gastos de El Ejido
  <div class="sep"></div>
</div>

<div class="ie_intro">

  <div class="col-1-2 income">
    
    <header class="cat">
      <h2>Ingresos</h2>
      <div class="qty">4.678.987.123 €</div>
    </header>

    <div class="graph_placeholder">TREEMAP</div>

    <div class="items">
      <table>
      <tr>
        <td>Impuestos directos</td>
        <td class="right">2.034.123.456 €</td>
        <td class="right"><strong>43,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Impuestos indirectos</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 3.2%"></div></td>
      </tr>
      <tr>
        <td>Tasas y otros ingresos</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>10,5%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 10.5%"></div></td>
      </tr>
      <tr>
        <td>Transferencias y otros ingresos</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>5,3%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 5.3%"></div></td>
      </tr>
      <tr>
        <td>Ingresos patrimoniales</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Enajenación de inversiones reales</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Transferencias de capital</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Activos financieros</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Pasivos financieros</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      </table>
  
      <div class="show_all">
        <a href="municipio_cat" class="list_view_more">Ver desglose de ingresos</a>
      </div>
      
    </div>



  </div>

  <div class="col-2-2">

    <header class="cat expenses">
      <h2>Gastos</h2>

      <div class="form_filters">
        <ul>
          <li><%= link_to 'Funcional', '', class: 'buttonSelected' %></li>
          <li><%= link_to 'Económica' %></li>
        </ul>
      </div>

      <div class="qty">4.678.987.123 €</div>
    </header>

    <div class="graph_placeholder">TREEMAP</div>

    <div class="items">
      <table>
      <tr>
        <td>Impuestos directos</td>
        <td class="right">2.034.123.456 €</td>
        <td class="right"><strong>43,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Impuestos indirectos</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Tasas y otros ingresos</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Transferencias y otros ingresos</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Ingresos patrimoniales</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Enajenación de inversiones reales</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Transferencias de capital</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Activos financieros</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      <tr>
        <td>Pasivos financieros</td>
        <td class="right">110.123.456 €</td>
        <td class="right"><strong>3,23%</strong></td>
        <td class="bar_cont"><div class="bar" style="width: 43%"></div></td>
      </tr>
      </table>

      <div class="show_all">
        <a href="municipio_cat" class="list_view_more">Ver desglose de gastos</a>
      </div>

    </div>

  </div>

</div>
