<%= content_for :body_attributes do %>
  class="theme-participation gobierto_participation"
<% end %>

<div class="column">
  <div class="pure-g contributions_home">
    <div class="pure-u-1 center m_v_2">
      <h2>¿Cómo podríamos mejorar el Medio Ambiente y nuestra calidad de vida?</h2>
    </div>

    <div class="pure-u-1">
      <div class="pure-g four_by_four small_column">
        <div class="pure-u-1 pure-u-md-1-4">
          <%= render 'theme_teaser_question', question: '¿Consideras que restringir el acceso de vehículos a ciertas zonas de tu distrito reduciría la contaminación y mejoraría la calidad del espacio público?', meta: true %>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <%= render 'theme_teaser_question', question: '¿Cuáles es tu principal preocupación respecto al Medio Ambiente en Alcobendas?', meta: true %>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <%= render 'theme_teaser_question', question: '¿Qué medidas te gustaría que impulsara el Ayuntamiento para reducir la polución del aire?', meta: true %>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <%= render 'theme_teaser_question', question: '¿Consideras que restringir el acceso de vehículos a ciertas zonas de tu distrito reduciría la contaminación y mejoraría la calidad del espacio público?', meta: true %>
        </div>
      </div>
    </div>
  </div>
</div>
