<%= content_for :body_attributes do %>
  class="theme-participation gobierto_participation"
<% end %>

<div class="gradient-bg">
  <div class="column">
    <div class="pure-g agenda processes_home two_by_two">
      <div class="pure-u-1 pure-u-md-2-3">

        <a href="participation_group_info" class="p_1  content_block align_bottom mask_bottom" style="background-image: url(<%= image_url('samples/process.jpg') %>)">
          <div>
            <h2>Pacto social por el fin de la violencia contra la mujer</h2>
          </div>
        </a>

        <h3 class="with_light_separator">Sobre este proceso</h3>
        <p>¿Qué tiene que ver la Violencia contra las mujeres contigo? ¿y con nuestra ciudad? Es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad.</p>
        <a href="participation_group_info.html" class="button outline rounded">Más información</a>

      </div>

      <div class="pure-u-1 pure-u-md-1-3 center news_teaser">

        <div class="phase_action">
          <h3 class="agenda_title">Fase actual</h3>
          <div class="content_block">
            <div class="p_1 center">
              <h4>Mesas de diálogo</h4>
              <a href="" class="button outline rounded">Participa en las mesas</a>
            </div>
            <div class="p_2 bt">
              <div class="dots-container">
                <div class="dots">
                  <a href="#timeline" class="dot dot-tooltip">
                    <span class="tooltip-text">Tooltip text 1</span>
                  </a>
                  <div class="dot-join"></div>
                  <a href="#timeline" class="dot dot-tooltip">
                    <span class="tooltip-text">Tooltip text 2</span>
                  </a>
                  <div class="dot-join"></div>
                  <a href="#timeline" class="dot dot-tooltip">
                    <div class="dot-current"></div>
                    <span class="tooltip-text">Tooltip text 3</span>
                  </a>
                  <div class="dot-join disabled"></div>
                  <a href="#timeline" class="dot disabled dot-tooltip">
                    <span class="tooltip-text">Tooltip text 4</span>
                  </a>
                  <div class="dot-join disabled"></div>
                  <a href="#timeline" class="dot disabled dot-tooltip">
                    <span class="tooltip-text">Tooltip text 5</span>
                  </a>
                  <div class="dot-join disabled"></div>
                  <a href="#timeline" class="dot disabled dot-tooltip">
                    <span class="tooltip-text">Tooltip text 6</span>
                  </a>
                  <div class="dot-join disabled"></div>
                  <a href="#timeline" class="dot disabled dot-tooltip">
                    <span class="tooltip-text">Tooltip text 7</span>
                  </a>
                  <div class="dot-join disabled"></div>
                  <a href="#timeline" class="dot disabled dot-tooltip">
                    <span class="tooltip-text">Tooltip text 7</span>
                  </a>
                  <div class="dot-join disabled"></div>
                  <a href="#timeline" class="dot disabled dot-tooltip">
                    <span class="tooltip-text">Tooltip text 7</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="agenda_title">Noticias</h3>
        <div class="p_1  content_block">
          <%= render 'place_news', {date: '26 Abr', title: 'Inicio de la campaña de previsión de robos en viviendas'} %>
          <%= render 'place_news', {date: '15 Jun', title: 'Un hotel de negocios en Alcobendas'} %>
          <%= render 'place_news', {date: '18 Jun', title: 'Concierto de música clásica'} %>
          <%= render 'place_news', {date: '20 Jul', title: 'Pierre Gonnord, el fotógrafo de los mil retratos'} %>
        </div>

        <a href="participation_news.html">Ver más noticias</a>
      </div>
    </div>

  </div>
</div>

<div class="gradient-bg">
  <div class="column">
    <div class="pure-g agenda three_by_three">
      <div class="pure-u-1 pure-u-md-1-3">
        <h2 class="with_separator">Información de interés</h2>

        <div class="pure-g meta_info">
          <div class="pure-u-1 pure-u-md-1-4">
            <span class="accent"><i class="fas fa-calendar"></i> Duración</span>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <time>01/03/17</time> al <time>20/03/17</time>
          </div>
        </div>

        <div class="pure-g meta_info">
          <div class="pure-u-1 pure-u-md-1-4">
            <span class="accent"><i class="fas fa-question-circle"></i> Temas</span>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <a href="#">Mujer</a>, <a href="#">Derechos</a>
          </div>
        </div>

        <div class="pure-g meta_info">
          <div class="pure-u-1 pure-u-md-1-4">
            <span class="accent"><i class="fas fa-folder"></i> Ámbito</span>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <a href="#">Estratégico</a>
          </div>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title">Citas presenciales</h3>
        <div class="p_1  content_block fixed_height">
          <%= render 'place_event', {date: '26 Abr', hour: '19:30', name: 'Club de lectura intensivo en inglés', place: 'Casa de la Mujer'} %>
          <%= render 'place_event', {date: '15 Jun', hour: '19:30', name: '2º Gala de Cortos', place: 'Espacio Miguel Delibes'} %>
          <%= render 'place_event', {date: '18 Jun', hour: '19:30', name: 'Concierto de música clásica', place: 'Jardín de la Vega'} %>
          <%= render 'place_event', {date: '20 Jul', hour: '19:30', name: 'Acciones concretas para cumplir compromisos', place: 'Jardín de la Vega'} %>
        </div>

        <a href="participation_agenda.html">Ver más eventos</a>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 center">
        <h3 class="agenda_title">Lo último</h3>
        <div class="p_1  content_block fixed_height">
          <%= render 'place_latest', {date: '20 Abr', title: 'Nuevo hilo de debate'} %>
          <%= render 'place_latest', {date: '21 Abr', title: 'Nuevo documento adjunto compartido'} %>
          <%= render 'place_latest', {date: '23 Abr', title: 'Mañana: Cita presencial'} %>
          <%= render 'place_latest', {date: '24 Abr', title: 'Comentario en Pacto Social'} %>
          <%= render 'place_latest', {date: '24 Abr', title: 'Mensaje de los administradores sobre el sistema de vídeo por streaming'} %>
        </div>

        <a href="#">Ver más actualizaciones</a>
      </div>

    </div>
  </div>
</div>

<div class="gradient-bg" id="timeline">
  <div class="column">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <h2 class="with_separator">Fases del proceso</h2>

        <%= image_tag 'illustrations/forum.svg', class: 'pure-img m_v_1' %>
      </div>

      <div class="pure-u-1 pure-u-md-2-3">
        <%= render 'timeline' %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
$('.toggle_description').click(function() {
  $(this).parents('.timeline_row').toggleClass('toggled');

  $(this).find('.fa').toggleClass('fa-caret-right fa-caret-down');
  $(this).siblings('.description').toggle();
});

// REVIEW: This snippet would be useful all over the website
$('.dots').on('click', 'a', function(event){
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
});
</script>
