<%= content_for :body_attributes do %>
  class="theme-participation gobierto_participation"
<% end %>

<div class="gradient-bg">
  <div class="column">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <h2 class="with_separator">Encuestas activas</h2>
        <p class="soft">Selecciona alguna de las encuestas y participa.</p>
      </div>

      <div class="pure-u-1 pure-u-md-2-3 groups">
        <div class="pure-g three_by_three">
          <div class="pure-u-1 pure-u-md-1-3">
            <%= render 'theme_teaser_poll', negative: false, question: 'Consulta ciudadana sobre la mejora urbana de Alcobendas', meta: false %>
          </div>

          <div class="pure-u-1 pure-u-md-1-3">
            <%= render 'theme_teaser_poll', negative: false, question: 'Consulta sobre las luces de Navidad', meta: false %>
          </div>

          <div class="pure-u-1 pure-u-md-1-3">
            <%= render 'theme_teaser_poll', negative: false, question: 'Encuesta sobre el equipamiento del Parque Hormiguero', meta: false %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="gradient-bg">
  <div class="column">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <h2 class="with_separator">Encuestas pasadas</h2>
        <p class="soft">Consulta los resultados de encuestas cerradas.</p>
      </div>

      <div class="pure-u-1 pure-u-md-2-3 groups">
        <div class="pure-g three_by_three">
          <div class="pure-u-1 pure-u-md-1-3">
            <%= render 'theme_teaser_poll', negative: true, question: 'Consulta ciudadana sobre la mejora urbana de Alcobendas', meta: false %>
          </div>

          <div class="pure-u-1 pure-u-md-1-3">
            <%= render 'theme_teaser_poll', negative: true, question: 'Consulta sobre las luces de Navidad', meta: false %>
          </div>

          <div class="pure-u-1 pure-u-md-1-3">
            <%= render 'theme_teaser_poll', negative: true, question: 'Encuesta sobre el equipamiento del Parque Hormiguero', meta: false %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
