<%= content_for :body_attributes do %>
  class="theme-participation gobierto_participation"
<% end %>



<div class="gradient-bg">
  <div class="column">
    <div class="pure-g two_by_two">
      <div class="pure-u-1 pure-u-md-16-24">
        <a href="#" class="p_1  content_block" style="background-image: url(<%= image_url('illustrations/city.svg') %>)">
          <h2>Conoce los mecanismos de participación que te ofrece Alcobendas</h2>
          <p class="lead">¿Votar cada cuatro años? Implícate en el día a día.</p>
        </a>
      </div>

      <div class="pure-u-1 pure-u-md-8-24">
        <div class="p_1 filled_block content_block" style="background-image: url(<%= image_url('illustrations/emojis.svg') %>)">
          <h2>Opina</h2>
          <p class="lead">¿Crees que habría que modificar la ordenanza sobre terrazas?</p>

          <div class="center">
            <div class="questions">
              <label class="control radio open_modal" href="#signin_register">
                <input id="radio1" name="radio" type="radio">
                <span class="control-indicator"></span>
                <strong>Sí</strong>, toca actualizarla.
              </label>
              <label class="control radio open_modal" href="#signin_register">
                <input id="radio2" name="radio" type="radio">
                <span class="control-indicator"></span>
                <strong>No</strong>, está bien como está.
              </label>
              <label class="control radio button_toggle">
                <input id="radio3" name="radio" type="radio">
                <span class="control-indicator"></span>
                <strong>No sé</strong>, cuéntame más.
              </label>
            </div>

            <a href="" class="button outline rounded fat hidden">Enviar</a>
          </div>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-8-24">
        <a href="#" class="p_1  content_block cover_bottom_left align_right" style="background-image: url(<%= image_url('illustrations/oldlady.svg') %>)">
          <div class="f_right">
            <h2>Pregunta al alcalde</h2>
            <p>¿Qué quieres saber de boca del Alcalde? Envíale tu pregunta.</p>
          </div>
        </a>
      </div>

      <div class="pure-u-1 pure-u-md-16-24">
        <a href="participation_themes.html" class="p_1  content_block cover_bottom_left align_bottom_right" style="background-image: url(<%= image_url('illustrations/mobile.svg') %>)">
          <div>
            <h2>Mejoremos la ciudad juntos</h2>
            <p>Comparte tus ideas para mejorar la ciudad. Opina sobre las de los demás.</p>
          </div>
        </a>
      </div>


    </div>

  </div>
</div>

<%= render 'participation_latest_info' %>

<%= render 'participation_proccesses' %>

<%= render 'participation_themes_list_a' %>

<div class="gradient-bg">
  <div class="column">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <h2 class="with_separator">Selecciona tu distrito</h2>
        <p class="soft">Aporta tus mejores ideas para mejorar Alcobendas y la vida de todos los que residimos aquí.</p>

      </div>

      <div class="pure-u-1 pure-u-md-2-3 groups">

        <div class="map_zones">
          <svg viewBox="0 0 850 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- <svg viewBox="-150 0 1120 569" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> -->
            <g id="Mapa" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Tema" transform="translate(-230.000000, -350.000000)">
                <g id="Group-2" transform="translate(230.000000, 350.000000)">
                  <g id="Page-1">
                    <path d="M526.5952,494.2572 C524.6052,494.2572 522.6452,493.5462 521.1072,492.2002 L462.3982,440.8972 L381.8842,457.2682 C380.4652,457.5562 378.9872,457.4692 377.6132,457.0152 L336.8172,443.5882 L301.0072,456.7322 C298.8172,457.5362 296.3712,457.3802 294.3012,456.3062 L224.3822,420.0452 L224.3822,420.6222 C224.3822,424.2022 222.2012,427.2862 218.8262,428.4782 C215.4482,429.6692 211.8192,428.6412 209.5712,425.8572 L183.1812,393.1642 C180.9892,393.0482 178.8632,391.9962 177.4572,390.1032 L177.0752,389.5892 L172.5712,378.4352 C171.8872,377.2682 171.5152,375.9232 171.5152,374.5692 L171.5152,362.7852 L168.6082,360.1842 L168.3762,359.7022 L148.5322,343.7062 L136.2522,349.1602 C133.8062,350.2462 130.9902,350.0512 128.7212,348.6402 L112.7922,338.7672 C110.6402,337.4312 109.2642,335.2222 109.0152,332.7062 C108.7832,330.3512 109.5692,328.0692 111.1812,326.3692 L131.5262,300.1202 L95.8282,256.1952 L95.8282,214.4722 L53.7972,147.0752 C52.9512,145.7232 52.5292,144.1602 52.5782,142.5602 L53.7752,103.8762 L40.7732,111.4272 C36.9852,113.6312 32.1972,112.4442 29.8762,108.7202 L1.7222,63.5772 C0.4622,61.5552 0.1592,59.0962 0.8932,56.8292 C1.6272,54.5622 3.3132,52.7462 5.5192,51.8462 L129.7222,1.1082 C133.2482,-0.3318 137.2302,0.8462 139.4012,3.9772 L240.0652,148.8652 L282.3852,146.7852 L282.6902,146.8082 C286.6112,147.0952 289.7122,150.1082 290.1222,154.0002 L295.1202,189.4342 C303.3302,189.2842 304.8182,189.2592 304.9892,189.2592 C310.3282,189.2592 317.6552,192.5672 322.2412,208.3312 C322.5972,209.5582 323.5152,210.5072 324.6982,210.8732 L341.2142,216.0262 C351.5522,220.6742 358.3882,230.6162 359.0552,241.9762 L359.0582,242.0172 C361.9792,242.8442 364.2442,245.2542 364.8682,248.2592 L389.5682,248.2592 C392.4562,248.2592 395.0952,249.7202 396.6282,252.1682 L409.7272,273.1022 L659.7562,303.5892 L712.8232,290.4822 C714.1412,290.1612 715.5232,290.1632 716.8302,290.4862 L789.5892,308.6682 C793.3082,309.5972 795.8452,312.7982 795.8992,316.6332 C795.9422,319.6432 794.4462,322.3062 792.0162,323.8132 L818.2152,356.5592 C820.6082,359.5522 820.6572,363.7712 818.3332,366.8192 L818.3322,366.8202 L792.4222,400.7942 L806.5102,428.3362 C807.8422,430.9412 807.7252,433.9862 806.1992,436.4822 C804.6732,438.9762 802.0172,440.4662 799.0952,440.4662 L756.6712,440.4662 C754.4362,440.4662 752.3392,439.5922 750.7632,438.0062 C749.1872,436.4192 748.3272,434.3132 748.3432,432.0772 L748.4332,417.0802 L529.3412,493.7912 C528.4452,494.1042 527.5162,494.2572 526.5952,494.2572 Z" id="Stroke-7" stroke="#26A2D7"></path>
                    <g id="Urbanizaciones" transform="translate(184.000000, 253.000000)">
                      <a xlink:href="#">
                        <path class="Distritos" d="M0.4678,130.4552 C-0.2002,131.6432 -0.0772,133.1212 0.7798,134.1842 L29.4618,169.7162 C31.4358,172.1602 35.3818,170.7632 35.3818,167.6222 L35.3818,164.3012 C35.3818,161.8022 38.0278,160.1922 40.2428,161.3412 L112.6058,198.8682 C113.4348,199.2992 114.4058,199.3602 115.2838,199.0382 L151.6428,185.6932 C152.3468,185.4342 153.1168,185.4222 153.8278,185.6562 L195.1848,199.2682 C195.7338,199.4492 196.3208,199.4832 196.8878,199.3682 L278.2128,182.8332 C279.2298,182.6272 280.2838,182.9062 281.0668,183.5892 L340.3988,235.4362 C341.3008,236.2252 342.5568,236.4692 343.6888,236.0722 L565.0188,158.5782 C567.1928,157.8182 569.4618,159.4402 569.4478,161.7442 L569.3418,179.1112 C569.3298,180.9602 570.8248,182.4662 572.6708,182.4662 L615.0938,182.4662 C617.5828,182.4662 619.1928,179.8302 618.0588,177.6132 L603.4918,149.1372 C602.9068,147.9932 603.0318,146.6162 603.8088,145.5962 L630.3568,110.7882 C631.2838,109.5712 631.2668,107.8772 630.3108,106.6832 L602.7668,72.2552 C601.2758,70.3902 602.1708,67.6062 604.4688,66.9622 C607.7588,66.0392 607.6928,61.3472 604.3768,60.5182 L531.6278,42.3402 C531.0998,42.2092 530.5498,42.2082 530.0228,42.3372 L476.6558,55.5172 C476.2628,55.6152 475.8558,55.6392 475.4548,55.5892 L224.3298,24.9682 C223.3338,24.8462 222.4448,24.2802 221.9108,23.4302 L208.3898,1.8212 C207.7808,0.8502 206.7158,0.2592 205.5688,0.2592 L167.6478,0.2592 C166.9058,0.2592 166.1868,0.5062 165.6018,0.9632 L161.9368,3.8202 C161.7898,4.1932 161.5508,4.5442 161.2028,4.8462 L122.9488,37.9472 C121.6948,39.0332 119.7578,38.6852 118.9568,37.2292 L114.3098,28.7702 C113.4568,27.2192 111.3528,26.9632 110.1428,28.2322 C110.1418,28.7522 103.6218,35.2202 103.2788,35.6972 L0.4678,130.4552 Z" id="Fill-9" fill="#26A2D7"></path>
                        <path d="M0.4678,130.4552 C-0.2002,131.6432 -0.0772,133.1212 0.7798,134.1842 L29.4618,169.7162 C31.4358,172.1602 35.3818,170.7632 35.3818,167.6222 L35.3818,164.3012 C35.3818,161.8022 38.0278,160.1922 40.2428,161.3412 L112.6058,198.8682 C113.4348,199.2992 114.4058,199.3602 115.2838,199.0382 L151.6428,185.6932 C152.3468,185.4342 153.1168,185.4222 153.8278,185.6562 L195.1848,199.2682 C195.7338,199.4492 196.3208,199.4832 196.8878,199.3682 L278.2128,182.8332 C279.2298,182.6272 280.2838,182.9062 281.0668,183.5892 L340.3988,235.4362 C341.3008,236.2252 342.5568,236.4692 343.6888,236.0722 L565.0188,158.5782 C567.1928,157.8182 569.4618,159.4402 569.4478,161.7442 L569.3418,179.1112 C569.3298,180.9602 570.8248,182.4662 572.6708,182.4662 L615.0938,182.4662 C617.5828,182.4662 619.1928,179.8302 618.0588,177.6132 L603.4918,149.1372 C602.9068,147.9932 603.0318,146.6162 603.8088,145.5962 L630.3568,110.7882 C631.2838,109.5712 631.2668,107.8772 630.3108,106.6832 L602.7668,72.2552 C601.2758,70.3902 602.1708,67.6062 604.4688,66.9622 C607.7588,66.0392 607.6928,61.3472 604.3768,60.5182 L531.6278,42.3402 C531.0998,42.2092 530.5498,42.2082 530.0228,42.3372 L476.6558,55.5172 C476.2628,55.6152 475.8558,55.6392 475.4548,55.5892 L224.3298,24.9682 C223.3338,24.8462 222.4448,24.2802 221.9108,23.4302 L208.3898,1.8212 C207.7808,0.8502 206.7158,0.2592 205.5688,0.2592 L167.6478,0.2592 C166.9058,0.2592 166.1868,0.5062 165.6018,0.9632 L161.9368,3.8202 C161.7898,4.1932 161.5508,4.5442 161.2028,4.8462 L122.9488,37.9472 C121.6948,39.0332 119.7578,38.6852 118.9568,37.2292 L114.3098,28.7702 C113.4568,27.2192 111.3528,26.9632 110.1428,28.2322 C110.1418,28.7522 103.6218,35.2202 103.2788,35.6972 L0.4678,130.4552 Z" id="Stroke-11" stroke="#FEFEFE"></path>
                      </a>
                    </g>
                    <g id="Norte" transform="translate(5.000000, 4.757000)">
                      <a xlink:href="#">
                        <path class="Distritos" d="M228.3916,257.0361 C228.5496,256.6851 228.7746,256.3561 229.1006,256.0881 L264.2736,227.1501 C264.5006,226.9631 264.6946,226.7391 264.8476,226.4871 L264.9086,226.3861 L285.4666,192.3851 C285.8026,191.8311 285.9536,191.1861 285.8986,190.5421 L280.1566,149.8351 C280.0286,148.3341 278.8286,147.1471 277.3246,147.0371 L233.8826,149.1731 C232.9586,149.1051 232.1146,148.6251 231.5866,147.8641 L130.2916,2.0691 C129.4736,0.8891 127.9436,0.4361 126.6126,0.9801 L2.4086,51.7191 C0.6486,52.4361 -0.0394,54.5641 0.9646,56.1751 L29.1196,101.3181 C29.9956,102.7241 31.8296,103.1801 33.2626,102.3471 L49.2746,93.0481 C51.3546,91.8391 53.9546,93.3881 53.8806,95.7931 L52.5766,137.9571 C52.5586,138.5621 52.7186,139.1601 53.0386,139.6731 L95.3636,207.5381 C95.6666,208.0241 95.8286,208.5851 95.8286,209.1581 L95.8286,249.6451 L95.8286,249.6631 L131.4286,293.4681 C132.4156,294.7181 132.2796,296.5151 131.1176,297.6021 L109.9466,324.9181 C108.4746,326.2961 108.7116,328.6951 110.4266,329.7601 L126.3606,339.6371 C127.2226,340.1731 128.2936,340.2461 129.2226,339.8341 L142.5796,333.9011 C143.6306,333.4341 144.8556,333.5961 145.7506,334.3161 L166.9696,351.4191" id="Fill-13" fill="#26A2D7"></path>
                        <path d="M228.3916,257.0361 C228.5496,256.6851 228.7746,256.3561 229.1006,256.0881 L264.2736,227.1501 C264.5006,226.9631 264.6946,226.7391 264.8476,226.4871 L264.9086,226.3861 L285.4666,192.3851 C285.8026,191.8311 285.9536,191.1861 285.8986,190.5421 L280.1566,149.8351 C280.0286,148.3341 278.8286,147.1471 277.3246,147.0371 L233.8826,149.1731 C232.9586,149.1051 232.1146,148.6251 231.5866,147.8641 L130.2916,2.0691 C129.4736,0.8891 127.9436,0.4361 126.6126,0.9801 L2.4086,51.7191 C0.6486,52.4361 -0.0394,54.5641 0.9646,56.1751 L29.1196,101.3181 C29.9956,102.7241 31.8296,103.1801 33.2626,102.3471 L49.2746,93.0481 C51.3546,91.8391 53.9546,93.3881 53.8806,95.7931 L52.5766,137.9571 C52.5586,138.5621 52.7186,139.1601 53.0386,139.6731 L95.3636,207.5381 C95.6666,208.0241 95.8286,208.5851 95.8286,209.1581 L95.8286,249.6451 L95.8286,249.6631 L131.4286,293.4681 C132.4156,294.7181 132.2796,296.5151 131.1176,297.6021 L109.9466,324.9181 C108.4746,326.2961 108.7116,328.6951 110.4266,329.7601 L126.3606,339.6371 C127.2226,340.1731 128.2936,340.2461 129.2226,339.8341 L142.5796,333.9011 C143.6306,333.4341 144.8556,333.5961 145.7506,334.3161 L166.9696,351.4191" id="Stroke-15" stroke="#FEFEFE"></path>
                      </a>
                    </g>
                    <g id="Empresarial" transform="translate(172.000000, 254.757000)">
                      <a xlink:href="#">
                        <path class="Distritos" d="M115.961,34.3389 C115.206,34.8899 114.199,35.0079 113.325,34.6049 L63.279,11.4299 C61.929,10.8049 61.459,9.2569 62.005,8.0269 L43.459,10.2149 C43.417,10.2209 43.375,10.2089 43.331,10.2129 C43.216,10.2169 43.102,10.2149 42.986,10.2059 C42.821,10.1959 42.662,10.1709 42.502,10.1309 C42.388,10.1039 42.276,10.0699 42.165,10.0279 C42.127,10.0129 42.085,10.0119 42.047,9.9939 L22.838,1.1999 C21.283,0.4889 19.444,1.1799 18.75,2.7369 L1.131,42.2349 C0.665,43.2779 0.823,44.4949 1.54,45.3879 L11.615,57.9369 C12.247,58.7239 12.371,59.7999 11.938,60.7089 L0.671,84.2809 C0.475,84.6929 0.373,85.1419 0.373,85.5969 L0.373,101.0499 C0.373,101.5179 0.488,101.9609 0.682,102.3619 L2.444,103.9399 C3.655,104.2059 4.516,105.2739 4.516,106.5079 L4.516,119.8129 C4.516,120.3739 4.697,120.9219 5.032,121.3739 L9.473,132.3649 C10.607,133.8939 12.944,133.7569 13.888,132.1049 L18.17,124.6139 C18.56,123.9329 19.235,123.4589 20.011,123.3249 L31.69,122.0369 C32.372,121.9619 33.03,121.7349 33.615,121.3739 L41.75,114.5679 C42.573,113.8769 43.564,113.4119 44.623,113.2169 L45.473,113.0599 C46.978,112.7819 48.326,111.9639 49.264,110.7589 L53.402,105.4389 L63.829,92.0319 L63.83,92.0319 L64.289,91.4429 C65.233,90.2279 67.021,90.0759 68.157,91.1139 L70.589,93.3349 C72.079,94.6959 74.435,94.4309 75.58,92.7719 L115.961,34.3389" id="Fill-17" fill="#26A2D7"></path>
                        <path d="M115.961,34.3389 C115.206,34.8899 114.199,35.0079 113.325,34.6049 L63.279,11.4299 C61.929,10.8049 61.459,9.2569 62.005,8.0269 L43.459,10.2149 C43.417,10.2209 43.375,10.2089 43.331,10.2129 C43.216,10.2169 43.102,10.2149 42.986,10.2059 C42.821,10.1959 42.662,10.1709 42.502,10.1309 C42.388,10.1039 42.276,10.0699 42.165,10.0279 C42.127,10.0129 42.085,10.0119 42.047,9.9939 L22.838,1.1999 C21.283,0.4889 19.444,1.1799 18.75,2.7369 L1.131,42.2349 C0.665,43.2779 0.823,44.4949 1.54,45.3879 L11.615,57.9369 C12.247,58.7239 12.371,59.7999 11.938,60.7089 L0.671,84.2809 C0.475,84.6929 0.373,85.1419 0.373,85.5969 L0.373,101.0499 C0.373,101.5179 0.488,101.9609 0.682,102.3619 L2.444,103.9399 C3.655,104.2059 4.516,105.2739 4.516,106.5079 L4.516,119.8129 C4.516,120.3739 4.697,120.9219 5.032,121.3739 L9.473,132.3649 C10.607,133.8939 12.944,133.7569 13.888,132.1049 L18.17,124.6139 C18.56,123.9329 19.235,123.4589 20.011,123.3249 L31.69,122.0369 C32.372,121.9619 33.03,121.7349 33.615,121.3739 L41.75,114.5679 C42.573,113.8769 43.564,113.4119 44.623,113.2169 L45.473,113.0599 C46.978,112.7819 48.326,111.9639 49.264,110.7589 L53.402,105.4389 L63.829,92.0319 L63.83,92.0319 L64.289,91.4429 C65.233,90.2279 67.021,90.0759 68.157,91.1139 L70.589,93.3349 C72.079,94.6959 74.435,94.4309 75.58,92.7719 L115.961,34.3389" id="Stroke-19" stroke="#FEFEFE"></path>
                      </a>
                    </g>
                    <g id="Centro" transform="translate(231.000000, 193.757000)">
                      <a xlink:href="#">
                        <path class="Distritos" d="M125.8301,52.9521 L125.3271,52.9521 C124.2271,52.9521 123.2731,52.0491 123.2081,50.9431 L123.0641,48.5121 C122.5091,39.0561 116.7651,30.6961 108.1641,26.8301 L92.2201,21.8921 C89.4221,21.0261 87.2611,18.7981 86.4401,15.9711 C84.7301,10.0931 80.8861,0.5021 73.9891,0.5021 C73.7471,0.5021 65.0601,0.6601 61.8761,0.7181 C61.1551,0.7311 60.4951,1.1151 60.1221,1.7371 L42.2671,31.4511 C40.8091,33.8771 38.9061,36.0061 36.6591,37.7221 L0.9671,64.9771 C-0.8379,67.4751 0.1841,70.3561 2.3891,71.3691 L69.7671,102.3461 C71.6461,102.7941 73.6241,102.2651 75.0321,100.9381 L121.1611,59.4081 L125.8301,59.4081 C127.6021,59.4081 129.0401,57.9631 129.0401,56.1811 C129.0401,54.3971 127.6021,52.9521 125.8301,52.9521" id="Fill-21" fill="#22A3D8"></path>
                        <path d="M125.8301,52.9521 L125.3271,52.9521 C124.2271,52.9521 123.2731,52.0491 123.2081,50.9431 L123.0641,48.5121 C122.5091,39.0561 116.7651,30.6961 108.1641,26.8301 L92.2201,21.8921 C89.4221,21.0261 87.2611,18.7981 86.4401,15.9711 C84.7301,10.0931 80.8861,0.5021 73.9891,0.5021 C73.7471,0.5021 65.0601,0.6601 61.8761,0.7181 C61.1551,0.7311 60.4951,1.1151 60.1221,1.7371 L42.2671,31.4511 C40.8091,33.8771 38.9061,36.0061 36.6591,37.7221 L0.9671,64.9771 C-0.8379,67.4751 0.1841,70.3561 2.3891,71.3691 L69.7671,102.3461 C71.6461,102.7941 73.6241,102.2651 75.0321,100.9381 L121.1611,59.4081 L125.8301,59.4081 C127.6021,59.4081 129.0401,57.9631 129.0401,56.1811 C129.0401,54.3971 127.6021,52.9521 125.8301,52.9521" id="Stroke-23" stroke="#FEFEFE"></path>
                      </a>
                    </g>
                  </g>
                  <g id="Group" transform="translate(265.000000, 238.000000)" fill="#0072BC">
                    <a xlink:href="#">
                      <g id="Rectangle">
                          <use fill-rule="evenodd" xlink:href="#path-1"></use>
                          <rect stroke="#FFFFFF" stroke-width="1" x="0.5" y="0.5" width="133" height="18" rx="9"></rect>
                      </g>
                      <text id="Distrito-Centro-Copy" font-family="SourceSansPro-Bold, Source Sans Pro" font-size="14" font-weight="bold" fill="#FFFFFF">
                          <tspan x="11" y="14">Distrito Centro</tspan>
                      </text>
                    </a>
                  </g>
                  <g id="Group-Copy-3" transform="translate(388.000000, 358.000000)" fill="#0072BC">
                    <a xlink:href="#">
                      <g id="Rectangle">
                          <use fill-rule="evenodd" xlink:href="#path-2"></use>
                          <rect stroke="#FFFFFF" stroke-width="1" x="0.5" y="0.5" width="194" height="18" rx="9"></rect>
                      </g>
                      <text id="Distrito-urbanizacio" font-family="SourceSansPro-Bold, Source Sans Pro" font-size="14" font-weight="bold" fill="#FFFFFF">
                          <tspan x="11" y="14">Distrito urbanizaciones</tspan>
                      </text>
                    </a>
                  </g>
                  <g id="Group-Copy" transform="translate(40.000000, 348.000000)" fill="#0072BC">
                    <a xlink:href="#">
                      <g id="Rectangle">
                          <use fill-rule="evenodd" xlink:href="#path-3"></use>
                          <rect stroke="#FFFFFF" stroke-width="1" x="0.5" y="0.5" width="166" height="18" rx="9"></rect>
                      </g>
                      <text id="Distrito-Empresarial" font-family="SourceSansPro-Bold, Source Sans Pro" font-size="14" font-weight="bold" fill="#FFFFFF">
                          <tspan x="11" y="14">Distrito Empresarial</tspan>
                      </text>
                    </a>
                  </g>
                  <g id="Group-Copy-2" transform="translate(114.000000, 191.000000)" fill="#0072BC">
                    <a xlink:href="#">
                      <g id="Rectangle">
                          <use fill-rule="evenodd" xlink:href="#path-4"></use>
                          <rect stroke="#FFFFFF" stroke-width="1" x="0.5" y="0.5" width="123" height="18" rx="9"></rect>
                      </g>
                      <text id="Distrito-Norte" font-family="SourceSansPro-Bold, Source Sans Pro" font-size="14" font-weight="bold" fill="#FFFFFF">
                          <tspan x="11" y="14">Distrito Norte</tspan>
                      </text>
                    </a>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>


      </div>

    </div>
  </div>
</div>


<div class="pure-g">
  <div class="pure-u-1">
    <div class="p_1 content_block align_right">
      </div>
  </div>
</div>


<%= render 'user_signin_modal' %>
