
<div class="column">


	<div class="block">
		<h2>Tus notificaciones</h2>
	</div>

	<div class="activity_feed">
		
		<div class="activity_item">
			<h2>
				<%= link_to '' do %>
					Actualización de la declaración de bienes
					<span class="secondary">de Rafa García García (Alcalde de Burjassot)</span>
				<% end %>	
			</h2>
			<div class="date">27 sep 2017</div>
		</div>

		<div class="activity_item">
			<h2>
				<%= link_to '' do %>
					Nuevo viaje: Burjassot - Barcelona, para asistir a la conferencia Wadus
					<span class="secondary">de Rafa García García (Alcalde de Burjassot)
				<% end %>	
			</h2>
			<div class="date">27 sep 2017</div>
		</div>

		<div class="activity_item">
			<h2>
				<%= link_to '' do %>
					Actualización del blog: Título del post
					<span class="secondary">de Rafa García García (Alcalde de Burjassot)</span>
				<% end %>	
			</h2>
			<div class="date">27 sep 2017</div>
		</div>

		<div class="activity_item">
			<h2>
				<%= link_to '' do %>
					Nuevos datos de ejecución del presupuesto de Burjassot
				<% end %>	
			</h2>
			<div class="date">27 sep 2017</div>
		</div>

		<div class="activity_item">
			<h2>
				<%= link_to '' do %>
					Actualización de la declaración de bienes
					<span class="secondary">de Rafa García García (Alcalde de Burjassot)
				<% end %>	
			</h2>
			<div class="date">27 sep 2017</div>
		</div>

		<div class="activity_item">
			<h2>
				<%= link_to '' do %>
					Nueva consulta sobre presupuestos
					<span class="secondary">Participa hasta el 12 de febrero</span>
				<% end %>	
			</h2>
			<div class="date">27 sep 2017</div>
		</div>

	</div>


</div>