<div class="column">
	<h1>Punchcard</h1>
	<div id="punchcard-<%= SecureRandom.random_number(100) %>" class="punchcard"></div>
	<h1>Pair punchcards</h1>
	<div class="pure-g gutters">
		<div class="pure-u-1 pure-u-md-1-2">
			<div id="punchcard-<%= SecureRandom.random_number(100) %>" class="punchcard"></div>
		</div>
		<div class="pure-u-1 pure-u-md-1-2">
			<div id="punchcard-<%= SecureRandom.random_number(100) %>" class="punchcard"></div>
		</div>
	</div>
	<!-- <h1>Rowchart</h1>
	<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div> -->
	<!-- <h1>Three-in-a-row rowcharts</h1>
	<div class="pure-g gutters">
		<div class="pure-u-1 pure-u-md-1-3">
			<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
		</div>
		<div class="pure-u-1 pure-u-md-1-3">
			<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
		</div>
		<div class="pure-u-1 pure-u-md-1-3">
			<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
		</div>
	</div> -->
	<!-- <h1>Pair rowcharts</h1>
	<div class="pure-g gutters">
		<div class="pure-u-1 pure-u-md-1-2">
			<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
		</div>
		<div class="pure-u-1 pure-u-md-1-2">
			<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
		</div>
	</div> -->
</div>

<!-- Scripting -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript">
	// Charts
	const rowchart = (context, data, options = {}) => {
		// options
		let itemHeight = options.itemHeight || 25
	  let gutter = options.gutter || 20
	  let margin = options.margins || {
	    top: gutter / 1.5,
	    right: gutter,
	    bottom: gutter * 1.5,
	    left: gutter
	  }

		// dimensions
		let container = d3.select(context)
	  let width = +container.node().getBoundingClientRect().width - margin.left - margin.right
	  let height = (data.length * itemHeight) + margin.top + margin.bottom
	  let svg = container.append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)

		// TODO: implementar tooltip
	  // let tooltip = container.append("div").attr("class", "toolTip")

		// scales
	  let x = d3.scaleLinear().range([0, width])
	  let y = d3.scaleBand().range([height, 0])

	  let g = svg.append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

		// TODO: configurable?
	  data.sort((a, b) => a.value - b.value);

	  x.domain([0, d3.max(data, d => d.value)]);
	  y.domain(data.map(d => d.key)).padding(0.1);

	  g.append("g")
	    .attr("class", "x axis")
	    .attr("transform", "translate(0," + (height + (gutter / 4)) + ")")
	    .call(d3.axisBottom(x).ticks(5).tickSizeOuter(0));

	  g.selectAll(".bar")
	    .data(data)
	    .enter().append("rect")
	    .attr("class", "bar")
	    .attr("x", 0)
	    .attr("height", y.bandwidth())
	    .attr("y", d => y(d.key))
	    .transition()
	    .duration(750)
	    .attr("width", d => x(d.value))
	  // .on("mousemove", function(d) {
	  //   tooltip
	  //     .style("left", d3.event.pageX - 50 + "px")
	  //     .style("top", d3.event.pageY - 70 + "px")
	  //     .style("display", "inline-block")
	  //     .html((d.key) + "<br>" + "£" + (d.value));
	  // })
	  // .on("mouseout", d => tooltip.style("display", "none"));

	  g.append("g")
	    .attr("class", "y axis")
	    .attr("transform", "translate(" + gutter + ", 0)")
	    .call(d3.axisLeft(y));
	}
	const punchcard = (context, data, options = {}) => {
	  // options
		let itemHeight = options.itemHeight || 50
	  let gutter = options.gutter || 20
	  let margin = options.margins || {
	    top: gutter / 1.5,
	    right: gutter,
	    bottom: gutter * 1.5,
	    left: gutter * 15
	  }

	  // dimensions
	  let container = d3.select(context)
	  let width = +container.node().getBoundingClientRect().width - margin.left - margin.right
	  let height = (data.length * itemHeight) + margin.top + margin.bottom
	  let svg = container.append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)

	  // scales
	  let x = d3.scaleTime().range([0, width]);
	  let y = d3.scalePoint().range([height, 0]);
	  let r = d3.scaleSqrt().range([0, 10]) // tamaño de las bolas

	  // domains
	  x.domain([
			d3.min(data.map(d => d3.min(d.value.map(v => v.key)))),
			d3.max(data.map(d => d3.max(d.value.map(v => v.key))))
		]);
	  // x.domain([
	  //   d3.timeMonth(new Date(d3.min(data.map(d => d3.min(d.value.map((t) => d3.timeFormat("%Y/%m/%d")(new Date(t.key)))))))),
	  //   d3.timeMonth(new Date(d3.max(data.map(d => d3.max(d.value.map((t) => d3.timeFormat("%Y/%m/%d")(new Date(t.key))))))))
	  // ]);
	  y.domain(data.map(d => d.key)).padding(0.5);

	  let g = svg.append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

	  // Custom X-axis
	  function xAxis(g) {
	    g.call(d3.axisTop(x).tickSizeOuter(0).tickSizeInner(0).tickFormat((d, i, arr) => ((arr.length + i) % 3) ? null : d3.timeFormat("%b %y")(d)))
	    g.selectAll(".domain").remove()
	    g.selectAll(".tick line")
	      .attr("y1", margin.top / 2)
	      .attr("y2", height)
	  }

	  // Custom Y-axis
	  function yAxis(g) {
	    g.call(d3.axisLeft(y).tickSizeOuter(0).tickSizeInner(0))
	    g.selectAll(".domain").remove()
	  }

	  // axis
	  g.append("g")
	    .attr("class", "x axis")
	    .call(xAxis)
	  g.append("g")
	    .attr("class", "y axis")
	    .attr("transform", "translate(" + (-margin.left + gutter) + ",0)")
	    .call(yAxis)

	  // circles
	  for (var i = 0; i < data.length; i++) {

	    svg.append("rect")
	      .attr("x", 0)
	      .attr("y", y(data[i].key) - (itemHeight / 4))
	      .attr("rx", 6)
	      .attr("ry", 6)
	      .attr("width", +container.node().getBoundingClientRect().width)
	      .attr("height", itemHeight);

	    // PREPROCESS
	    // TODO: Esto tiene q ir fuera
	    let nest = d3.nest()
	      .key(d => d3.timeMonth(new Date(d.key)))
	      .rollup(d => _.sumBy(d, 'value'))
	      .entries(data[i].value)

	    let g = svg.append("g")
	      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

	    r.domain([0, d3.max(data[i].value, d => d.value)]);

	    g.selectAll("circle")
	      .data(nest)
	      .enter()
	      .append("circle")
	      .attr("class", "circle")
	      .attr("cx", d => x(new Date(d.key))) // TODO: quitar tipos de dato
	      .attr("cy", d => y(data[i].key))
	      .transition()
	      .duration(800)
	      .attr("r", d => r(d.value));
	  }
	};

	// datas
	$.getJSON("data/rowchart.json", (data) => {
	  $(".rowchart").each((i, container) => {
	    rowchart(`#${container.id}`, data)
	  })
	});
	$.getJSON("data/punchcard.json", (data) => {

		// preprocess data sample
		for (var i = 0; i < data.length; i++) {
			for (var j = 0; j < data[i].value.length; j++) {
				let d = data[i].value[j]

				d._key = d.key // replace old key
				d.key = d3.timeMonth(new Date(d3.timeFormat("%Y/%m/%d")(new Date(d.key))))
			}
		}

	  $(".punchcard").each((i, container) => {
	    punchcard(`#${container.id}`, data)
	  })
	});
</script>
