<div class="column">
	<section style="display:none">
		<h1>Punchcard</h1>
		<div id="punchcard-<%= SecureRandom.random_number(100) %>" class="punchcard"></div>
		<h1>Pair punchcards</h1>
		<div class="pure-g gutters">
			<div class="pure-u-1 pure-u-md-1-2">
				<div id="punchcard-<%= SecureRandom.random_number(100) %>" class="punchcard"></div>
			</div>
			<div class="pure-u-1 pure-u-md-1-2">
				<div id="punchcard-<%= SecureRandom.random_number(100) %>" class="punchcard"></div>
			</div>
		</div>
	</section>
	<section>
		<h1>Rowchart</h1>
		<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
		<h1>Three-in-a-row rowcharts</h1>
		<div class="pure-g gutters">
			<div class="pure-u-1 pure-u-md-1-3">
				<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
			</div>
		</div>
		<h1>Pair rowcharts</h1>
		<div class="pure-g gutters">
			<div class="pure-u-1 pure-u-md-1-2">
				<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
			</div>
			<div class="pure-u-1 pure-u-md-1-2">
				<div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart"></div>
			</div>
		</div>
	</section>
</div>

<!-- Scripting -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript">
	// Charts
	const rowchart = (context, data, options = {}) => {
		// Markup has already a svg inside
		if ($(`${context} svg`).length !== 0) return

	  // options
	  let itemHeight = options.itemHeight || 25
	  let gutter = options.gutter || 20
	  let margin = options.margins || {
	    top: gutter / 1.5,
	    right: gutter,
	    bottom: gutter * 1.5,
	    left: gutter
	  }
	  let xTickFormat = options.xTickFormat || (d => d)
	  let yTickFormat = options.yTickFormat || (d => d)

	  // dimensions
	  let container = d3.select(context)
	  let width = +container.node().getBoundingClientRect().width - margin.left - margin.right
	  let height = (data.length * itemHeight) + margin.top + margin.bottom
	  let svg = container.append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)

	  // TODO: implementar tooltip
	  // let tooltip = container.append("div").attr("class", "toolTip")

	  // scales
	  let x = d3.scaleLinear().range([0, width])
	  let y = d3.scaleBand().range([height, 0])

	  let g = svg.append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

	  x.domain([0, d3.max(data, d => d.value)])
	  y.domain(data.map(d => d.key)).padding(0.1)

	  g.append("g")
	    .attr("class", "x axis")
	    .attr("transform", "translate(0," + (height + (gutter / 4)) + ")")
	    .call(d3.axisBottom(x).ticks(5).tickSizeOuter(0).tickFormat(xTickFormat))

	  g.selectAll(".bar")
	    .data(data)
	    .enter()
			.append("a")
			.attr("xlink:href", d => (d.properties || {}).url)
			.append("rect")
	    .attr("class", "bar")
	    .attr("x", 0)
			.attr("y", d => y(d.key))
	    .attr("height", y.bandwidth())
	    .transition()
	    .duration(750)
			.attr("width", d => x(d.value))

	  // .on("mousemove", function(d) {
	  //   tooltip
	  //     .style("left", d3.event.pageX - 50 + "px")
	  //     .style("top", d3.event.pageY - 70 + "px")
	  //     .style("display", "inline-block")
	  //     .html((d.key) + "<br>" + "£" + (d.value));
	  // })
	  // .on("mouseout", d => tooltip.style("display", "none"));

	  g.append("g")
	    .attr("class", "y axis")
	    .attr("transform", "translate(" + gutter + ", 0)")
	    .call(d3.axisLeft(y).tickFormat(yTickFormat))
	}




	// manage data BEFORE chart call
	$.getJSON("data/rowchart.json", (data) => {

		// preprocess the data
		data.sort((a, b) => a.value - b.value)

		$(".rowchart").each((i, container) => {
	    rowchart(`#${container.id}`, data)
	  })
	});
	$.getJSON("data/punchcard.json", (data) => {

		// preprocess data sample
		for (var i = 0; i < data.length; i++) {

			// reduce data, group by month
			let nest = d3.nest()
				.key(d => d3.timeMonth((new Date(d.key))))
				.rollup(d => _.sumBy(d, 'value'))
				.entries(data[i].value)
				.map(g => {
					g.key = d3.timeMonth(new Date(d3.timeFormat("%Y/%m/%d")(new Date(g.key))))
					return g
				})

			// update original data
			data[i].value = nest
		}

		// edit options
		let opts = {
			title: 'Reuniones por alto cargo y mes',
			xTickFormat: (d, i, arr) => ((arr.length + i) % 3) ? null : d3.timeFormat("%b %y")(d)
		}

	  $(".punchcard").each((i, container) => {
	    // punchcard(`#${container.id}`, data, opts)
	  })
	});
</script>
