<% form_builder.object.content_blocks.each do |content_block| %>

  <div class="dyna_block" data-title="<%=content_block.title%>">
    <label>
      <%= content_block.title %>
      &nbsp;

      <% if GobiertoAdmin::GobiertoCommon::ContentBlockPolicy.new(current_admin, content_block).update? %>
        <%= link_to edit_admin_common_content_block_path(content_block.id) do %>
          <i class="fas fa-edit"></i>
          <%= t(".edit_content_block") %>
        <% end %>
      <% end %>

      <% if GobiertoAdmin::GobiertoCommon::ContentBlockPolicy.new(current_admin, content_block).delete? %>
        <%= link_to admin_common_content_block_path(content_block.id), method: :delete, data: { confirm: t(".delete_content_block_confirm") } do %>
          <i class="fas fa-trash"></i>
          <%= t(".delete_content_block") %>
        <% end %>
      <% end %>
    </label>

    <table id="content-block-<%= content_block.id %>" class="dynamic-content-wrapper" data-locale="<%= I18n.locale %>">
      <tr>
        <% content_block.header.each do |content_block_header| %>
          <th><%= content_block_header %></th>
        <% end %>
        <th><%= t(".attachment") %></th>
        <th class="edit_cell">
          <i class="fas fa-trash"></i>
        </th>
      </tr>

      <%= form_builder.fields_for :content_block_records, content_block.records do |content_block_record_form| %>
        <tbody id="content-block-record-<%= content_block_record_form.object.id %>" class="dynamic-content-record-wrapper content-block-record-<%= content_block_record_form.object.id || "new" %>">
          <tr class="dynamic-content-record-view <%= cycle("odd", "even") %>">
            <% content_block_record_form.object.fields.each do |record_field| %>
              <% field_value = record_field.value %>
              <td class="content-block-record-value">
                <%= link_to_if (field_value && record_field.url?), field_value, field_value %>
              </td>
            <% end %>

            <td>
              <% if content_block_record_form.object.attachment_url.present? %>
                <%= link_to content_block_record_form.object.attachment_url, title: t(".download_attachment"), target: 'blank', data: { class: 'attachment_link', remove_component: true } do %>
                  <i class="fas fa-paperclip"></i><%= pretty_filename_url(content_block_record_form.object.attachment_url) %>
                <% end %>
              <% end %>
              <span class="<%= class_if('hidden', content_block_record_form.object.attachment_url.present?) %>" data-class="attachment_link_placeholder">-</span>
            </td>

            <td class="edit_cell">
              <%= content_block_record_form.hidden_field :id, data: { clear_value: true } %>
              <%= content_block_record_form.hidden_field :content_block_id %>
              <%= content_block_record_form.check_box :_destroy, class: "hidden destroy-content-block-record" %>

              <%= link_to "#", data: { behavior: "edit_record" } do %>
                <i class="fas fa-edit"></i>
              <% end %>

              <%= link_to "#", data: { behavior: "delete_record" } do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </td>
          </tr>
          <tr class="dynamic-content-record-form">
            <td colspan=<%= content_block.header.size + 1 %>>
              <%= content_block_record_form.fields_for :fields do |record_field_form| %>
                <%= record_field_form.hidden_field :name %>

                <div class="content-block-field content-block-field-<%= record_field_form.object.name.parameterize %>">
                  <%= record_field_form.text_field :value, placeholder: record_field_form.object.label, data: { type: record_field_form.object.field_type } %>
                </div>
              <% end %>

              <div class="attach_file">

                <%= content_block_record_form.label :attachment_file, t('.attachment_file') %>

                <div class="pure-g">

                  <div class="pure-u-1-2">
                    <%= content_block_record_form.file_field :attachment_file, data: { behavior: 'add_attachment' } %>
                  </div>

                  <% if content_block_record_form.object.attachment_url.present? %>
                    <div class="pure-u-1-2">
                      <div class="option" data-remove-component="true">
                        <%= content_block_record_form.check_box :remove_attachment, include_hidden: false, data: { behavior: 'remove_attachment', clear_value: true } %>
                        <%= content_block_record_form.label :remove_attachment do %>
                          <span></span><%= t(".remove_attachment") %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>

                </div>

              </div>

              <%= link_to "#", class: "button", data: { behavior: "add_record" } do %>
                <%= t(".save_record") %>
              <% end %>

              <%= link_to "#", data: { behavior: "cancel_record" } do %>
                <i class="fas fa-trash"></i>
                <%= t(".cancel_record") %>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>

      <tr class="new_row_add">
        <td colspan="<%= content_block.header.size + 1 %>">
          <%= link_to "#", data: { behavior: "add_child" } do %>
            <i class="fas fa-plus-circle"></i>
            <%= t(".add_child") %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

<% end %>

<% if GobiertoAdmin::GobiertoCommon::ContentBlockPolicy.new(current_admin).create? %>
  <div class="dyna_block new_block">
    <label>
      <%= link_to new_admin_common_content_block_path(content_context: form_builder.object.content_context.model_name.name) do %>
        <i class="fas fa-plus-circle"></i>
        <%= t(".add_content_block") %>
      <% end %>
    </label>
  </div>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.dynamic_content_component.handle(".dynamic-content-wrapper", "content_block_records_attributes");
  <% end %>
<% end %>
