<div class="modal_like_control">
  <a href="<%= gobierto_participation_process_contribution_containers_path(@contribution_container.process.slug) %>" class=" mfp-close">×</a>
</div>

<div class="contributions_container">

  <div class="contributions_header pure-g">
    <div class="wrapper">
      <div class="pure-u-1 pure-u-md-2-24">
        <div class="circle"><span>?</span></div>
      </div>

      <div class="pure-u-1 pure-u-md-15-24 meta">
        <h2 class="m_v_0"><%= @contribution_container.title %></h2>
        <p><%= @contribution_container.description %></p>
      </div>

      <div class="pure-u-1 pure-u-md-2-24"></div>

        <div class="pure-u-1 pure-u-md-5-24 contribution_action">
          <% if @contribution_container.contributions_allowed? %>
            <% if current_user %>
              <%= link_to(
                    t(".put_#{@contribution_container.contribution_type}"),
                    new_gobierto_participation_process_contribution_container_contribution_path(
                      process_id: current_process.slug,
                      contribution_container_id: @contribution_container.slug
                    ),
                    class: "button",
                    remote: true
                  ) %>
            <% else %>
              <%= link_to t(".login_signup_#{@contribution_container.contribution_type}"), new_user_sessions_path(open_modal: true), class: 'button open_remote_modal' %>
            <% end %>
            <p><%= t('.term_html', date: l(@contribution_container.ends, format: :day_month)) %></p>
          <% else %>
            <%= link_to t(".put_#{@contribution_container.contribution_type}"), nil, class: 'button disabled-grayed disabled-cursor js-disabled' %></a>
          <% end %>

          <% if @contribution_container.past? %>
            <p><%= t('.contributions_ended') %></p>
          <% end %>

          <% if @contribution_container.future? %>
            <p><%= t('.contributions_start_html', date: l(@contribution_container.starts, format: :short)) %></p>
          <% end %>

        </div>
    </div>

    <div class="pure-u-1 contributions_control">
      <div class="pure-g">
        <div class="wrapper">
          <div class="pure-u-1 pure-u-md-12-24 pure-u-lg-15-24">
            <p><%= t(".show_#{@contribution_container.contribution_type}s") %></p>

            <a class="button rounded outline cardControl checked" data-filter="all"><%= t('.all') %></a>
            <a class="button rounded outline cardControl" data-filter="best_ratings"><%= t('.best_ratings') %></a>
            <a class="button rounded outline cardControl" data-filter="worst_ratings"><%= t('.worst_ratings') %></a>
            <a class="button rounded outline cardControl" data-filter="recent"><%= t('.recent') %></a>
            <% if current_user %>
              <a class="button rounded outline cardControl" data-filter="self"><%= t('.self') %></a>
            <% end %>
          </div>

          <div class="pure-u-1 pure-u-md-1-24"></div>

          <div class="pure-u-1 pure-u-md-5-24 pure-u-lg-3-24">
            <div class="radio_toggle">
              <span><%= t('.organize') %></span>
              <input id="contributions_checkbox" type="checkbox">
              <label for="contributions_checkbox" class="toggleLayout" data-toggle="false"></label>
            </div>
          </div>

          <div class="pure-u-1 pure-u-md-6-24 pure-u-lg-5-24">
            <ul id="circles_progress" class="circles_progress">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contributions_content"></div>
</div>

<%= content_for(:javascript_hook) do %>
  window.GobiertoParticipation.contribution_containers_controller.show(<%== @contribution_container_data.to_json %>);

  function getPageAnchor() {
    var splittedUrl = window.location.href.split("#");

    if (splittedUrl.length > 1) {
      return splittedUrl[splittedUrl.length - 1];
    } else {
      return undefined;
    }
  }

  var anchor = getPageAnchor();

  if (anchor) {
    $.ajax({
      url: '<%= @contribution_container.to_path %>/contributions/' + anchor,
      dataType: 'script',
      method: 'GET'
    });
  }
<% end %>
