<%= render 'gobierto_admin/gobierto_participation/shared/breadcrumb', last_breadcrumb_item: t('gobierto_admin.gobierto_cms.pages.index.title'), process: current_process %>

<h1><%= current_process.title %></h1>

<%= render 'gobierto_admin/gobierto_participation/shared/navigation' %>

<div class="admin_tools right">
  <%= link_to edit_admin_common_collection_path(@collection, item_type: 'Page'), class: 'open_remote_modal' do %>
    <i class="fas fa-cog"></i>
    <%= t(".configuration") %>
  <% end %>
  <%= link_to t("gobierto_admin.gobierto_cms.pages.index.new"), new_admin_cms_page_path(collection_id: @collection), class: 'button' %>
</div>

<%= render 'gobierto_admin/gobierto_common/collections/show/pages', collection: @collection %>
