<div class="pure-g data_block" id="section-people">

  <div class="pure-u-1 pure-u-md-7-24">
    <h2><%= t("gobierto_budgets.exports.title") %></h2>
    <p></p>
  </div>

  <div class="pure-u-1 pure-u-md-17-24 main_content">
    <div class="data_block subblock">
      <p><%= t("gobierto_budgets.exports.description") %></p>
      <% GobiertoBudgets::SearchEngineConfiguration::Year.all.each do |year| %>
        <% if GobiertoBudgets::BudgetLine.any_data?(site: current_site, year: year) %>
          <div class="data_subitem">
            <h3> <%= year %> </h3>
            <%= link_to 'CSV', gobierto_budgets_budgets_export_path(year, format: :csv), class: 'button small', role: 'button' %>
            <%= link_to 'JSON', gobierto_budgets_budgets_export_path(year, format: :json), class: 'button small', role: 'button' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
