<div class="column">
  <%= form_for(@user_subscription_preferences_form, as: :user_subscription_preferences, url: :user_subscription_preferences, method: :patch) do |f| %>
    <div class="block">
      <h2><%= title t(".title") %></h2>
    </div>

    <div class="pure-g padded_cols">

      <div class="pure-u-1 pure-u-md-1-3 ">
        <div class="padded padded_line_box compact">
          <h3><%= t('.frequency') %></h3>

          <div class="form_item compact">
            <%= f.collection_radio_buttons(:notification_frequency, @user_notification_frequencies, :first, :first) do |b| %>
              <div class="option ">
                <%= b.radio_button %>
                <%= b.label do %>
                  <span></span>
                  <%= t(".notification_frequency.#{b.text}") %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 ">
        <div class="padded padded_line_box compact">
          <h3><%= t('.areas') %></h3>
          <div class="form_item">
            <div class="options compact">
              <div class="option ">
                <%= f.check_box :site_to_subscribe, {}, current_site.id %>
                <%= f.label :site_to_subscribe do %>
                  <span></span>
                  <%= t('.whole_site') %>
                <% end %>
              </div>
              <% if @user_notification_modules.any? %>
                <% site_subscription = @user_subscription_preferences_form.site_to_subscribe.present? %>
                <div id="modules_selection">
                  <hr>
                  <%= f.collection_check_boxes(:modules, @user_notification_modules, :first, :last) do |b| %>
                    <div class="option ">
                      <%= b.check_box({"disabled" => site_subscription, "data-selected" => f.object.module_level_subscriptions.include?(b.value), "data-area" => b.value}) %>
                      <%= b.label do %>
                        <span></span>
                        <%= t(".modules.#{b.text}") %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-3 ">
        <div class="padded padded_line_box compact">

          <% if current_site.configuration.available_module?("GobiertoPeople") && current_site.configuration.gobierto_people_enabled? && @user_notification_gobierto_people_people.any? %>
            <% mod_name = "gobierto_people"
               disabled = site_subscription || @user_subscription_preferences_form.module_level_subscriptions.include?(mod_name) %>
            <h3><%= t('.people') %></h3>
            <div class="form_item" id="<%= "area_#{mod_name}" %>">
              <div class="options compact">
                <%= f.collection_check_boxes(:gobierto_people_people, @user_notification_gobierto_people_people, :id, :name) do |b| %>
                  <div class="option ">
                    <%= b.check_box({"disabled" => disabled, "data-selected" => f.object.specific_subscriptions.include?(b.object)}) %>
                    <%= b.label do %>
                      <span></span>
                      <%= b.text %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

          <% if current_site.configuration.available_module?("GobiertoParticipation") && current_site.configuration.gobierto_participation_enabled? && @user_notification_gobierto_participation_processes.any? %>
            <% mod_name = "gobierto_participation"
               disabled = site_subscription || @user_subscription_preferences_form.module_level_subscriptions.include?(mod_name) %>
            <h3><%= t('.participation') %></h3>
            <div class="form_item" id="<%= "area_#{mod_name}" %>">
              <div class="options compact">
                <%= f.collection_check_boxes(:gobierto_participation_processes, @user_notification_gobierto_participation_processes, :id, :title) do |b| %>
                  <div class="option ">
                    <%= b.check_box({"disabled" => disabled, "data-selected" => f.object.specific_subscriptions.include?(b.object)}) %>
                    <%= b.label do %>
                      <span></span>
                      <%= b.text %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="actions_block">
      <%= f.submit t(".submit"), class: "button" %>
    </div>
  <% end %>
</div>
