<%= render "gobierto_admin/shared/validation_errors", resource: @admin_form %>

<%= form_for(@admin_form, as: :admin, url: @admin_form.persisted? ? admin_admin_path(@admin_form) : :admin_admins) do |f| %>

  <div class="pure-g">

    <div class="pure-u-1 pure-u-md-16-24">

      <div class="form_item input_text">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: t(".placeholders.name"), disabled: !@admin_policy.update? %>
      </div>

      <div class="form_item input_text">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: t(".placeholders.email"), disabled: !@admin_policy.update? %>
      </div>

      <% if !f.object.admin.new_record? && @admin_policy.update? %>
        <div class="form_block">

          <h2><%= t(".password_block") %></h2>

          <div class="form_item input_text">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>

          <div class="form_item input_text">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>

        </div>
      <% end %>

      <% unless @admin && @admin.god? %>
        <!-- Admin groups -->
        <div class="form_block" id="admin_groups" style="<%= @admin&.regular? && @admin.sites.include?(current_site) ? '' : 'display: none;' %>">

          <h2><%= t(".admin_groups_block") %></h2>

          <div class="form_item">

            <div class="options compact">
              <%= f.collection_check_boxes(:admin_group_ids, Array(@admin_groups), :id, :name) do |b| %>
                <div class="option" data-class="site_admin_group" data-site-id="<%= b.object.site_id %>" style="<%= @admin&.site_ids&.include?(b.object.site_id) ? '' : 'display: none;' %>">
                  <%= b.check_box %>
                  <%= b.label do %>
                    <span></span>
                    <%= b.text %>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>

        </div>
        <!-- ./ Admin groups -->


        <!-- Site permissions -->
        <div class="form_block" id="sites_permissions" style="<%= @admin.nil? || @admin.regular? ? '' : 'display: none;' %>">

          <h2><%= t(".sites_block") %></h2>

          <div class="form_item">
          <p><%= t(".sites_block_description") %></p>

            <div class="options compact">
              <%= f.collection_check_boxes(:permitted_sites, Array(@sites), :id, :domain) do |b| %>
                <div class="option">
                  <%= b.check_box(data: { behavior: 'toggle_site', site_id: b.object.id }) %>
                  <%= b.label do %>
                    <span></span>
                    <%= b.text %>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>

        </div>
        <!-- ./ Site permissions -->


      <% end %>

      <% if @admin_form.persisted? %>
        <div class="form_block">

          <h2><%= t(".activity_block") %></h2>

          <%= render "gobierto_admin/activities/activities_list" %>

        </div>
      <% end %>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 ">

      <div class="widget_save stick_in_parent">

        <% if @admin_authorization_levels.present? %>
          <div class="form_item admin-authorization-level-radio-buttons">

            <div class="options compact">
              <%= f.collection_radio_buttons(:authorization_level, Array(@admin_authorization_levels), :first, :first) do |b| %>
                <div class="option">
                  <%= b.radio_button(data: { behavior: "authorization-level-#{b.text}" }) %>
                  <%= b.label do %>
                    <span></span>
                    <%= t(".authorization_level.#{b.text}") %>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>
        <% end %>

        <%= f.submit class: "button", disabled: !@admin_policy.update? %>
      </div>

    </div>

  </div>

<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.admins_controller.form();
  <% end %>
<% end %>
