<% filters = @form.send("#{filter}_values") %>
<% all_value = @form.respond_to?("#{filter}_all_value") ? @form.send("#{filter}_all_value") : filters.values.map(&:count).sum %>
<% row_active = @form.filter_params == [filter.to_s] %>
<div class="i_filter">
  <label><%= t(".#{filter}") %></label>
  <div class="i_f_options_text">
    <div class="i_f_option <%= "i_f_option_active" if @form.filter_params.blank? %>">
      <%= link_to_if(
            @form.filter_params.present?,
            "#{content_tag(:span, t(".all"))} (#{all_value})".html_safe,
            admin_plans_plan_projects_path(@plan)
          ) %>
    </div>
    <% filters.each do |filter_option, value| %>
      <% option_active = row_active && @form.send(filter) == value.id.to_s %>
      <div class="i_f_option <%= "i_f_option_active" if option_active %>">
        <%= link_to_unless(
              option_active,
              "#{content_tag(:span, t(".#{filter}_value.#{filter_option}"))} (#{value.count})".html_safe,
              admin_plans_plan_projects_path(@plan, projects_filter: { filter => value.id })
            ) %>
      </div>
    <% end %>
  </div>
</div>

