<div class="i_filter">
  <label><%= t(".filter") %></label>

  <%= form_for(
        @form,
        method: :get,
        as: :projects_filter,
        url: admin_plans_plan_projects_path(@plan),
        enforce_utf8: false,
        html: { class: "i_f_options_forms f_flex_col f_flex_col_7" }
      ) do |f| %>

    <div class="form_item input_text compact">
      <%= f.text_field :name, placeholder: t(".search") %>
    </div>

    <% [:category, :progress, :author].each do |filter| %>
      <% filter_value = @form.send(filter) %>
      <div class="form_item select_control select_compact">
        <%= f.select(
              filter,
              @form.send("#{filter}_options"),
              { title: t(".#{filter}"),
                disabled: filter_value.present? ? [] : [nil],
                selected: filter_value.present? ? filter_value : [nil] },
              { data: { "behavior": "submit_change" } }
            ) %>
      </div>
    <% end %>

    <div class="form_item input_text compact">
      <%= f.text_field :interval, data: {
              "multiple_dates_separator": ",",
              "range": "true",
              "language": I18n.locale,
              "date_format": "dd/mm/yyyy",
              "behavior": "submit_change"
            },
            class: "air-datepicker",
            placeholder: t(".interval")
      %>
    </div>

    <button class="button small rounded submit" style="display: none;"><%= t(".submit") %></button>
    <% if @form.filter_params.present? %>
      <%= link_to t(".clear_filters"), admin_plans_plan_projects_path(@plan), class: "button small rounded submit", data: { turbolinks: false } %>
    <% end %>
  <% end %>
</div>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.gobierto_plans_plan_projects_controller.form()
  <% end %>
<% end %>
