<%= render "gobierto_admin/shared/validation_errors", resource: @project_form %>

<%= form_for(@project_form, as: :project, url: @project_form.persisted? ? admin_plans_plan_project_path(@plan, @project_form) : admin_plans_plan_projects_path(@plan), data: { "globalized-form-container" => true }) do |f| %>

<%= f.hidden_field :admin_actions, value: current_admin_allowed_update_actions.join(',') %>

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-17-24">
    <div class="form_item select_control p_1">
      <%= label_tag "project[category_id]" do %>
        <%= @project_form.class.human_attribute_name(:category_id) %>
        <%= attribute_indication_tag required: true %>
      <% end %>
      <%= f.select(
            :category_id,
            @project_form.category_options,
            { disabled: "disabled", include_blank: @project_form.category_id.present? ? nil : "-" },
            disabled: !@project_form.allow_edit_attributes?
          ) %>
    </div>

    <div class="globalized_fields">
      <%= render "gobierto_admin/shared/form_locale_switchers" %>

      <% current_site.configuration.available_locales.each do |locale| %>
        <div class="form_item input_text" data-locale="<%= locale %>">
          <%= label_tag "project[name_translations][#{locale}]" do %>
            <%= @project_form.class.human_attribute_name(:name) %>
            <%= attribute_indication_tag required: true %>
          <% end %>
          <%= text_field_tag "project[name_translations][#{locale}]", f.object.name_translations && f.object.name_translations[locale], placeholder: t('.placeholders.name', locale: locale), disabled: !@project_form.allow_edit_attributes? %>
        </div>
      <% end %>

    </div>

    <div class="f_flex_col">
      <div class="form_item input_text">
        <%= label_tag "project[starts_at]]" do %>
          <%= f.object.class.human_attribute_name(:starts_at) %>
        <% end %>
        <%= f.text_field :starts_at,
              data: {
                "language": I18n.locale,
                "date-format": "yyyy-mm-dd",
                "startDate": microseconds_since_epoch(f, :starts_at),
                "allow-blank": true
              },
              class: "air-datepicker",
              autocomplete: "off",
              disabled: !@project_form.allow_edit_attributes?
        %>
      </div>

      <div class="form_item input_text">
        <%= label_tag "project[ends_at]]" do %>
          <%= f.object.class.human_attribute_name(:ends_at) %>
        <% end %>
        <%= f.text_field :ends_at,
              data: {
                "language": I18n.locale,
                "date-format": "yyyy-mm-dd",
                "startDate": microseconds_since_epoch(f, :ends_at),
                "allow-blank": true
              },
              class: "air-datepicker",
              autocomplete: "off",
              disabled: !@project_form.allow_edit_attributes?
        %>
      </div>

      <% if @project_form.statuses_vocabulary.present? %>
        <div class="form_item select_control">
          <%= label_tag "project[status_id]]" do %>
            <%= f.object.class.human_attribute_name(:status_id) %>
          <% end %>
          <%= f.select(
                :status_id,
                @project_form.statuses_options,
                {},
                disabled: !@project_form.allow_edit_attributes?
              ) %>
        </div>
      <% end %>

      <div class="form_item select_control">
        <%= label_tag "project[progress]" do %>
          <%= @project_form.class.human_attribute_name(:progress) %>
        <% end %>
        <%= f.select(:progress, @project_form.progress_options, { include_blank: "-", disabled: "disabled", selected: @project_form.progress_value }, disabled: !@project_form.allow_edit_attributes?) %>
      </div>
    </div>

    <%= render(
      partial: "gobierto_admin/gobierto_common/custom_fields/forms/custom_fields",
      locals: {
        f: f,
        item: @custom_fields_form,
        form_name: "project"
      }
    ) %>
  </div>

  <div class="pure-u-1 pure-u-md-1-24"></div>

  <%= render partial: "gobierto_admin/shared/admin_widget_save_v2", locals: { f: f, resource: @project_form.persisted? ? @project : @project_form.project, permissions_policy: @project_form.permissions_policy } %>
</div>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.gobierto_plans_plan_projects_controller.form()
  <% end %>
<% end %>
