<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_plans.plans.index.title"), admin_plans_plans_path %> »
  <%= link_to @plan.title, edit_admin_plans_plan_path(@plan) %> »
  <%= link_to t("gobierto_admin.gobierto_plans.shared.navigation.projects_tab"), admin_plans_plan_projects_path(@plan) %> »
  <%= @project.name %>
</div>

<h1><%= @project.name %></h1>

<%= render "gobierto_admin/gobierto_plans/shared/navigation" %>

<%= render "form" %>
