<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_plans.plans.index.title"), admin_plans_plans_path %> »
  <%= link_to @plan.title, current_admin_can_manage_plans? ? admin_plans_plan_categories_path(@plan) : admin_plans_plan_projects_path(@plan) %> »
  <%= t("gobierto_admin.gobierto_plans.shared.navigation.projects_tab") %>
</div>

<h1><%= t(".title", name: @plan.title) %></h1>

<%= render 'gobierto_admin/gobierto_plans/shared/navigation' %>

<div class="i_filters">
  <%= render partial: "filters_row", locals: { filter: :versions_visibility_level } %>
  <%= render partial: "filters_row", locals: { filter: :moderation_stage } %>
  <%= render partial: "filter_form" %>
</div>

<% if current_controller_allowed_actions.include? :new %>
<div class="admin_tools right">
  <%= link_to t(".new"), new_admin_plans_plan_project_path(@plan), data: { turbolinks: false }, class: "button" %>
</div>
<% end %>

<table id="projects">
  <tr>
    <th class="icon"></th>
    <th><%= t(".headers.project") %></th>
    <th><%= t(".headers.visibility_level") %></th>
    <th><%= t(".headers.progress") %></th>
    <th><%= t(".headers.status") %></th>
    <th><%= t(".headers.updated") %></th>
    <th></th>
    <th class="icon"></th>
  </tr>
  <% @projects.each do |project| %>
    <% project_actions = admin_projects_actions[project.id] || admin_projects_actions[:default] || {} %>
    <% controller_actions = project_actions.fetch(:controller_actions, []) %>
    <tr id="<%= "project-item-#{project.id}" %>">
      <td>
        <% if controller_actions.include?(:edit) %>
          <%= link_to edit_admin_plans_plan_project_path(@plan, project), data: { turbolinks: false } do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if controller_actions.include?(:edit) %>
          <%= link_to project.name, edit_admin_plans_plan_project_path(@plan, project), data: { turbolinks: false } %>
        <% elsif controller_actions.include?(:show) %>
          <%= link_to project.name, admin_plans_plan_project_path(@plan, project), data: { turbolinks: false } %>
        <% else %>
          <%= project.name %>
        <% end %>
      </td>
      <td><%= t(project.versions_visibility_level, scope: "gobierto_admin.gobierto_plans.projects.filters_row.versions_visibility_level_value") %></td>
      <td><%= format_percentage(project.progress) %></td>
      <td><%= project.status&.name %></td>
      <td><%= time_ago_in_words(project.updated_at) %></td>
      <td>
        <% if project.published? %>
          <%= link_to gobierto_plans_project_path(slug: @plan.plan_type.slug, year: @plan.year, id: project.id), class: 'view_item' do %>
            <i class="fas fa-eye"></i>
            <%= t(".view") %>
          <% end %>
        <% else %>
          <%= link_to gobierto_plans_project_path(slug: @plan.plan_type.slug, year: @plan.year, id: project.id, preview_token: current_admin.preview_token), class: 'view_item' do %>
            <i class="fas fa-eye"></i>
            <%= t(".view") %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if controller_actions.include?(:destroy) %>
          <%= link_to admin_plans_plan_project_path(@plan, project, projects_filter: @filter_params),
            title: t("views.delete"),
            method: :delete,
            class: "tipsit p_h_1",
            data: { confirm: t("views.delete_confirm") } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
