<p>
<%= t('.hi') %>,
</p>

<p>
  <%= t('.click_link') %>
</p>

<p>
  <%= link_to new_user_confirmations_url(confirmation_token: @user.confirmation_token, host: @site_host),
              new_user_confirmations_url(confirmation_token: @user.confirmation_token, host: @site_host) %>
</p>

<p>
  (<%= t('.ignore_link', site_name: @site.name) %>)
</p>

<p>
  <%= t('.bye') %>
</p>
