<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="twitter:site" content="gobierto">
  <%= display_meta_tags site: [site_name, 'Gobierto'].join(' · '), reverse: true, separator: '·' %>
  <!-- module styles -->
  <%= yield(:stylesheet_module_link) %>
  <!-- application styles -->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- vendor libraries -->
  <%= javascript_include_tag 'commons', 'data-turbolinks-track': true %>

  <!-- module libraries -->
  <%= yield(:javascript_module_link) %>

  <%= yield(:javascript_include) %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
    window.tbiToken = "<%= current_site.configuration.populate_data_api_token %>";
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
</head>

<body <%= data_attributes %> <%= yield(:body_attributes) %>>

<% if @site.configuration.demo? %>
  <div class="demo_bar pure-g">
    <div class="pure-u-lg-4-24 pure-u-1-5">
    <%= link_to image_pack_tag('LogoGobierto.png', width: '100'), 'http://gobierto.es' %></div>
    <div class="pure-u-lg-12-24 pure-u-2-5"><%= t('.disclaimer') %></div>
    <div class="pure-u-lg-8-24 pure-u-2-5">
      <%= link_to t('.more_information'), 'http://gobierto.es' %></div>
    </div>
  </div>
<% end %>

<% unless full_layout? %>
  <%= render 'layouts/header' %>
<% end %>

<div class="container">

  <%= render "user/shared/flash_messages" %>
  <%= content_for?(:content) ? yield(:content) : yield %></div>

</div>

<% unless full_layout? %>
  <%= render 'layouts/footer' %>
<% end %>

<%= yield :javascript_hook %>

</body>
</html>
