<%= render 'gobierto_admin/gobierto_people/people/person_events/person_calendar_configuration/navigation' %>

<%= form_for @calendar_configuration_form, as: :calendar_configuration, url: admin_people_person_calendar_configuration_path,  method: :patch do |f| %>
  <div class="pure-g">

    <% if current_site.calendar_integration == ::GobiertoPeople::IbmNotes::CalendarIntegration %>
      <%= render 'gobierto_admin/gobierto_people/people/person_events/person_calendar_configuration/ibm_notes_fields', f: f %>
    <% elsif current_site.calendar_integration == ::GobiertoPeople::GoogleCalendar::CalendarIntegration %>
      <div class="pure-u-1 pure-u-md-16-24">
        <% if @google_calendar_configuration.nil? || @google_calendar_configuration.google_calendar_credentials.blank? %>
          <div class="form_item input_text">
            <p><%= t('.share_link') %></p>
            <p><input type="text" name="google_calendar_invitation_url" value="<%= new_gobierto_people_google_calendar_authorization_url(token: @person.google_calendar_token) %>"/></p>
          </div>
        <% else %>
          <div class="form_item site-check-boxes">
            <p><%= t('.calendar_configured') %></p>
            <div class="options compact">
              <div class="option">
                <%= f.check_box :clear_google_calendar_configuration %>
                <%= f.label :clear_google_calendar_configuration do %>
                  <span></span>
                  <%= t('.remove_integration') %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">
      <div class="widget_save">
        <%= f.submit t(".update"), class: "button" %>
      </div>
    </div>

  </div>
<% end %>
