<h1>Usuarios</h1>

<div class="tabs">
  <ul>
    <li class="active">
      <%= link_to admin_users_path do %>
        <%= t(".users") %>
      <% end %>
    </li>
    <li>
      <%= link_to admin_admins_path do %>
        <%= t(".administrators") %>
      <% end %>
    </li>
  </ul>
</div>

<div class="admin_tools right">
  <%= link_to "#" do %>
    <i class="fa fa-table"></i>
    <%= t(".load_census_files") %>
  <% end %>
</div>

<table class="user-list">
<tr>
  <th></th>
  <th>Usuario</th>
  <th>Correo-e</th>
  <th>Último login</th>
  <th>Creado</th>
  <th>Verificado</th>
  <th></th>
</tr>

<tbody>
  <% @users.each do |user| %>
    <tr id="user-item-<%= user.id %>" class="<%= cycle("odd", "even") %>">
      <td>
        <%= link_to edit_admin_user_path(user) do %>
          <i class="fa fa-edit"></i>
        <% end %>
      </td>
      <td>
        <% if !user.confirmed? %>
          <i class="fa fa-eye-slash"></i>
        <% end %>
        <%= link_to edit_admin_user_path(user) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td>
        <%= mail_to user.email %>
      </td>
      <td>
        <%= time_ago_in_words(user.last_sign_in_at) if user.last_sign_in_at %>
        <span class="soft ip"><%= user.last_sign_in_ip %></span>
      </td>
      <td>
        <%= l(user.created_at, format: :short) if user.created_at %>
        <span class="soft ip"><%= user.creation_ip %></span>
      </td>
      <td>
        <%= t(user.verified? ? ".yes" : ".no") %>
      </td>
      <td>
        <%= link_to [:admin, user], class: "view_item" do %>
          <i class="fa fa-eye"></i>
          <%= t(".view_user") %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
