<% title t('gobierto_investments.layouts.application.investments') %>

<div class="column">
  <div class="pure-g block header_block_inline m_b_1">
    <div class="pure-u-1 pure-u-md-12-24">
      <h2 class="with_description">
        <%= I18n.t("gobierto_investments.layouts.application.investments") %>
      </h2>
      <p>
        <%= I18n.t("gobierto_investments.layouts.application.investments_paragraph") %>
      </p>
    </div>

    <div class="pure-u-1 pure-u-md-12-24 right">
      <%= image_tag('illustrations/presupuestos.jpg', class: 'medium_img') %>
    </div>
  </div>

  <div id="investments-app"
       data-site-name="<%= @site.name %>"
       data-logo-url="<%= @site.configuration.logo_with_fallback %>"
       data-home-url="<%= root_url %>"
       data-tour-url="<%= gobierto_investments_tour_url %>">
  </div>

</div>
