<div class="column">
  <div id="taxes_receipt" class="block">
    <div class="pure-g header_block_inline m_b_1">
      <div class="pure-u-1 pure-u-md-12-24">
        <h2 class="with_description"><%= t('.title', site_name: whom(current_site.name)) %></h2>
        <p><%= t('.description') %></p>
      </div>

      <div class="pure-u-1 pure-u-md-12-24 right">
        <%= image_tag('media/images/illustrations/presupuestos.jpg', class: 'medium_img', alt: '') %>
      </div>
    </div>

    <div class="pure-g m_b_4">
      <div class="pure-u-1">
        <div class="receipt">
          <div class="padding">
            <div class="desktop_only">
              <div class="pure-g m_b_1">
                <div class="pure-u-1 pure-u-md-14-24 pure-u-xl-15-24"></div>
                <div class="pure-u-1 pure-u-md-10-24 pure-u-xl-9-24 receipt_calc">
                  <div class="bg bg--transparent center" v-for="(year, i) in categories">
                    <span><small v-if="manual"><%= t('.explanation') %>&nbsp;</small><strong>{{ getYear(i) }}</strong></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="pure-g m_b_1" v-for="(row, index) in data">
              <div class="pure-u-1 receipt_item" :class="[ manual ? 'pure-u-md-13-24' : 'pure-u-md-6-24' ]">{{ localizedName(row) }}</div>

              <div class="pure-u-1 pure-u-md-7-24 receipt_dropdown" v-if="!manual">
                <select name="select" v-model="selected[index]" aria-label="receipt">
                  <option :value="0.0"><%= t('.pick_to_calculate') %></option>
                  <option :value="option.value" v-for="option in row.options">{{ localizedName(option) }}</option>
                </select>
              </div>

              <div class="pure-u-1 pure-u-md-1-24 pure-u-xl-2-24" :class="{ 'receipt_separator': !manual }"></div>

              <div class="pure-u-1 pure-u-md-10-24 pure-u-xl-9-24 receipt_calc">
                <div class="bg" v-for="(year, i) in categories">
                  <template v-if="!manual">
                    <small>{{ getYear(i) }}</small>
                    <small v-if="i !== 0">{{ getDiff(selected[index], i) | percent }}</small>
                    <small v-else></small>
                    <span>{{ getValue(selected[index], i) | format }}</span>
                  </template>
                  <template v-else>
                    <input type="text" v-model.lazy.number="selected[index]"
                      @keyup.enter.exact="toggleEdit(row, false)" @blur.exact="toggleEdit(row, false)" @keydown.tab.exact="toggleEdit(data[index + 1])" @keydown.shift.tab.exact="toggleEdit(data[index - 1])"
                      v-if="row.toggleEdit" v-focus>
                    <span class="toggle-clickable" v-if="!row.toggleEdit" @click="toggleEdit(row, true)">{{ selected[index] | format }}</span>
                  </template>
                </div>
              </div>
            </div>

          </div>

          <div class="padding receipt_result">
            <div class="desktop_only">
              <div class="pure-g m_b_1">
                <div class="pure-u-1 pure-u-md-14-24 pure-u-xl-15-24"></div>
                <div class="pure-u-1 pure-u-md-10-24 pure-u-xl-9-24 receipt_calc">
                  <div class="bg bg--transparent" v-for="(year, i) in categories">
                    <span><strong>{{ getYear(i) }}</strong></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="pure-g">
              <div class="pure-u-1 pure-u-md-14-24 pure-u-xl-15-24"><h3><%= t('.your_contribution', site_name: whom(current_site.name)) %></h3></div>
              <div class="pure-u-1 pure-u-md-10-24 pure-u-xl-9-24 receipt_calc">
                <div class="bg" v-for="(year, i) in categories">
                  <template v-if="!manual">
                    <small>{{ getYear(i) }}</small>
                    <small v-if="i !== 0">{{ (total(i) - total(i - 1)) / total(i) | percent }}</small>
                    <small v-else></small>
                    <span>{{ total(i) | format }}</span>
                  </template>
                  <template v-else>
                    <span></span>
                    <span>{{ total() | format }}</span>
                  </template>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <h2 class="m_v_1"><%= t('.detail') %></h2>

        <div class="desktop_only">
          <p class="ib m_v_0 p_h_r_0_5"><%= t('.share') %></p>

          <div class="social_links_container ib" data-share>
            <a href="#" class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|Header" data-share-text="<%= t('.share_text') %>"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|Header" data-share-text="<%= t('.share_text') %>"><i class="fab fa-facebook"></i></a>
          </div>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-2-3">
        <div class="receipt_bill">
          <% @interesting_expenses.group_by(&:parent_code).each do |parent_code, budget_lines| %>
            <% parent = @parents.detect{ |p| p.code == parent_code } %>
            <div class="bill_row">
              <div class="toggle"><i class="fas fa-plus"></i></div>
              <div class="line"><%= parent.name %></div>
              <div class="figure">{{ ratio(<%= parent.percentage_of_total %>) | format }}</div>

              <div class="hidden children">
                <% budget_lines.each do |budget_line| %>
                  <div class="bill_row_child">
                    <div class="line"><%= budget_line.name %></div>
                    <div class="figure">{{ ratio(<%= budget_line.percentage_of_total %>) | format }}</div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript_hook do %>
  window.GobiertoBudgets.receipt_controller.show({
    receiptConfiguration: JSON.parse(<%== budgets_receipt_configuration.to_json %>),
  });
<% end %>
