<menu class="sub_sections">
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable" >
    <ul>
      <li><%= link_to 'Acerca de', 'participation_info' %></li>
      <li><%= link_to 'Temas', 'participation_themes' %></li>
      <li><%= link_to 'Procesos', 'participation_proccesses' %></li>
      <li><%= link_to 'Pregunta', 'participation_info' %></li>
      <li><%= link_to 'Ideas', 'participation_info' %></li>
    </ul>
  </div>
</menu>
