<div class="sep"></div>

<% if @success %>
  <p><small><%= t('.success') %></small></p>
<% else %>
  <p><small><%= t('.error') %></small></p>
<% end %>

<p data-share>
  <%= t('.share') %>
  <a class="small_button popup" data-share-network="twitter" data-rel="Twitter" href="#" data-share-text="<%= t('.share_text', place_name: current_site.place.name) %>">Twitter</a>
  <a class="small_button popup" data-share-network="facebook" data-rel="Facebook" href="#" data-share-text="<%= t('.share_text', place_name: current_site.place.name) %>">Facebook</a>
  ?
</p>
