<div class="column">

  <div class="block">
    <h2><%= title t(".title") %></h2>
  </div>

	<div class="activity_feed">
    <% if @user_notifications.any? %>
      <% @user_notifications.each do |user_notification| %>
        <div class="activity_item">
          <h2>
            <%= link_to(user_notification.url) do %>
              <%= user_notification.translated_action %>
              <span class="secondary"><%= user_notification.subject.subscribable_label %></span>
            <% end %>
          </h2>
          <div class="date"><%= l(user_notification.created_at.to_date, format: :short) %></div>
        </div>
      <% end %>
    <% else %>
      <p><%= t(".no_new_notifications") %></p>
    <% end %>
  </div>

</div>
