<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.layouts.application.edit_site"), edit_admin_site_path(current_site) %> »
  <%= t(".title") %>
</div>

<h1><%= title t(".title") %></h1>

<div class="admin_tools right">
  <%= link_to t(".new"), new_admin_issue_path, class: 'button open_remote_modal' %>
</div>

<table>
  <tr>
    <th class="icon_col"></th>
    <th><%= t('.name') %></th>
    <th><%= t('.created_at') %></th>
    <th></th>
    <th></th>
  </tr>

  <tbody data-behavior="sortable" data-sortable-target="<%= admin_issue_sort_path %>">
    <% @issues.each do |issue| %>
      <tr id="issue-item-<%= issue.id %>" data-id="<%= issue.id %>" class="<%= cycle("odd", "even") %>">
        <td>
          <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_admin_issue_path(issue), class: 'open_remote_modal' %>
        </td>
        <td>
          <%= link_to issue.name, edit_admin_issue_path(issue), class: 'open_remote_modal' %>
        </td>
        <td>
          <%= time_ago_in_words(issue.created_at) %>
        </td>
        <td>
          <%= link_to gobierto_participation_issue_path(issue.slug ,host: current_site.domain), target: "_blank", class: "view_item" do %>
            <i class="fa fa-eye"></i>
            <%= t(".view") %>
          <% end %>
        </td>
        <td>
          <i class="sort-handler fa fa-bars tipsit" title="<%= t('.drag_to_sort') %>"></i>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.issues_controller.index();
  <% end %>
<% end %>
