<div class="social_share_container">

  <a class="social_share twitter"
     data-share-network="twitter"
     target="_blank"
     href="https://twitter.com/intent/tweet?text=<%= URI.encode(text) %>&url=<%= url %>">
     <i class="fas fa-twitter"></i> Twitter
  </a>

  <a class="social_share facebook"
     data-share-network="facebook"
     target="_blank"
     href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>">
     <i class="fas fa-facebook"></i> Facebook
  </a>

  <a class="social_share linkedin"
     data-share-network="linkedin"
     target="_blank"
     href="https://www.linkedin.com/shareArticle?mini=true&url=<%= url %>&title=<%= URI.encode(text) %>">
     <i class="fas fa-linkedin"></i> LinkedIn
  </a>

  <a class="social_share email"
     data-share-network="email"
     target="_blank"
     href="mailto:?subject=<%= URI.encode(text) %>&body=<%= url %>">
     <i class="fas fa-envelope"></i> Correo-e
  </a>

</div>
