<%= render "gobierto_admin/shared/validation_errors", resource: @service_form %>

<%= form_for(@service_form, as: :service, url: @service_form.persisted? ? admin_citizens_charters_service_path(@service_form) : :admin_citizens_charters_services, data: { "globalized-form-container" => true }) do |f| %>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-16-24">

      <div class="globalized_fields">
        <%= render "gobierto_admin/shared/form_locale_switchers" %>

        <% current_site.configuration.available_locales.each do |locale| %>
          <div class="form_item input_text" data-locale="<%= locale %>">
            <%= label_tag "service[title_translations][#{locale}]" do %>
              <%= f.object.class.human_attribute_name(:title) %>
              <%= attribute_indication_tag required: true %>
            <% end %>
            <%= text_field_tag "service[title_translations][#{locale}]", f.object.title_translations && f.object.title_translations[locale], placeholder: t(".placeholders.title", locale: locale.to_sym) %>
          </div>
        <% end %>
      </div>

      <div class="form_item select_control">
        <%= f.label :category_id do %>
          <% if @vocabulary %>
            <%= t(".category", vocabulary: @vocabulary.name) %>
          <% else %>
            <%= link_to t(".set_vocabulary"), edit_admin_citizens_charters_configuration_settings_path %>
          <% end %>

          <%= attribute_indication_tag required: true %>
        <% end %>

        <%= f.select :category_id,
                     options_from_collection_for_select(@service_form.available_categories, :id, :name, f.object.category_id),
                     include_blank: !@service_form.persisted? %>
      </div>

      <% if @service_form.persisted? %>
        <div class="form_item input_text">
          <%= label_tag "service[slug]" do %>
            <%= f.object.class.human_attribute_name(:slug) %>
            <%= attribute_indication_tag required: true %>
          <% end %>
          <%= f.text_field :slug, placeholder: t(".placeholders.slug") %>
        </div>
      <% end %>

      <%= render(
        partial: "gobierto_admin/gobierto_common/custom_fields/forms/custom_fields",
        locals: {
          f: f,
          item: @custom_fields_form,
          form_name: "service"
        }
      ) if services_enabled? %>

    </div>
    <div class="pure-u-1 pure-u-md-2-24"></div>
    <%= render partial: 'gobierto_admin/shared/save_widget', locals: { f: f, levels: @service_form.available_visibility_levels } %>
  </div>
<% end %>
