<tr id="service-item-<%= service.id %>" data-id="<%= service.id %>">
  <td>
    <%= link_to edit_admin_citizens_charters_service_path(service) do %>
      <i class="fas fa-edit"></i>
    <% end %>
  </td>
  <td>
    <%= link_to edit_admin_citizens_charters_service_path(service) do %>
      <%= service.title %>
    <% end %>
  </td>
  <td>
    <%= service.category.name %>
  </td>
  <% if charters_enabled? %>
    <td>
      <% service.charters.active.each do |charter| %>
        <%= link_to(charter.title, edit_admin_citizens_charters_charter_path(charter)) %>
        <br>
      <% end %>
    </td>
  <% end %>
  <td>
    <%= l(service.created_at, format: :short) %>
  </td>
  <td>
    <%= l(service.updated_at, format: :short) %>
  </td>
  <td class="visibility_level">
    <% if service.draft? %>
      <i class="fas fa-lock"></i>
    <% else %>
      <i class="fas fa-check"></i>
    <% end %>
    <%= t("gobierto_admin.shared.save_widget.visibility_level.#{service.visibility_level}") %>
  </td>
  <td>
    <%= link_to preview_url(service, host: current_site.domain), target: "_blank", class: "view_item" do %>
      <i class="fas fa-eye"></i>
      <%= t(".view_service") %>
    <% end %>
  </td>
  <td>
    <% if service.archived? %>
      <%= link_to t("gobierto_admin.shared.recover.element"),
                    admin_citizens_charters_service_recover_path(service),
                    title: t("gobierto_admin.shared.recover.element"),
                    method: :put,
                    data: { confirm: t("gobierto_admin.shared.recover.confirm") } %>
    <% else %>
      <%= link_to admin_citizens_charters_service_path(service),
                  title: t("gobierto_admin.shared.archive.element"),
                  method: :delete,
                  data: { confirm: t("gobierto_admin.shared.archive.confirm") } do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
    <% end %>
  </td>
</tr>
