<nav class="navigation js-mobile-nav">

  <div class="navigation-wrap">
    <div class="navigation-item column">
      <div class="main-nav-item">
        <div class="search-box">
          <i class="fa fa-search"></i>
          <input id="gobierto_search" name="q" class="search-box_input" type="text" placeholder="<%= t('layouts.application.search') %>" aria-label="<%= t('layouts.application.search') %>">
          <div id="search_results" class="search_result_list"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modules loop -->
  <% current_site.configuration.modules.each do |site_module| %>
    <div class="navigation-wrap">
      <div class="navigation-item column">
        <%= render_if_exists "#{site_module.underscore}/layouts/navigation.main", { show_active: false } %>
        <div class="dropdown-button js-item-toggle">
          <div class="button-container">
            <i class="fa fa-caret-down"></i>
          </div>
        </div>
      </div>
      <div class="navigation-subitem-container">
        <div class="navigation-subitem js-slider">
          <div class="subitem-container">
            <%= render "#{site_module.underscore}/layouts/navigation.sub" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="navigation-wrap">
    <% if user_signed_in? %>
      <div class="navigation-item column">
        <div class="main-nav-item">
          <a href="#">
            Hola, <%= current_user.name %>
          </a>
        </div>
        <div class="dropdown-button js-item-toggle">
          <div class="button-container">
            <i class="fa fa-caret-down"></i>
          </div>
        </div>
      </div>
      <div class="navigation-subitem-container">
        <div class="navigation-subitem js-slider">
          <div class="subitem-account">
            <div class="account-out">
              <%= link_to user_sessions_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>
                <%= t("layouts.application.session.sign_out") %>
              <% end %>
            </div>
            <div class="account-details">
              <%= link_to user_settings_path do %>
                <%= t("layouts.application.session.title") %>
              <% end %>
              <%= link_to user_notifications_path do %>
                <%= t("layouts.application.session.notifications") %>
              <% end %>
              <%= link_to user_subscriptions_path do %>
                <%= t("layouts.application.session.alerts") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="navigation-item column">
        <div class="main-nav-item">
          <%= link_to t('layouts.application.session.login'), new_user_sessions_path, data: { turbolinks: false } %>
        </div>
        <div class="dropdown-button js-item-toggle">
          <div class="button-container">
            <i class="fa fa-caret-down"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- nav-footer -->
  <div class="navigation-wrap">
    <div class="navigation-footer">

      <% if current_module == "gobierto_participation" %>
        <div class="footer-top js-secondary_nav">
          <%= render "gobierto_participation/layouts/secondary_nav" %>
        </div>
      <% end %>

      <div class="footer-bottom p_v_1">
        <div class="column">
          <% if @site.configuration.links_markup.present? %>
            <%== @site.configuration.links_markup %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</nav>
