<header class="meta home-cms">

  <div class="slim_nav_bar">

    <div class="column pure-g">
      <div class="desktop_only">

        <div class="pure-u-md-1-2">
          <% if @site.configuration.links_markup.present? %>
            <%= raw @site.configuration.links_markup %>
          <% end %>
        </div>

        <div class="pure-u-md-1-2 right">

          <div class="user_links">

            <div class="pure-menu pure-menu-horizontal">

              <% if user_signed_in? %>
                <ul class="pure-menu-list left">
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" class="pure-menu-link">
                      <%= t(".session.title") %>
                    </a>
                    <ul class="pure-menu-children">
                      <li class="pure-menu-item">
                        <%= link_to user_settings_path, class: "pure-menu-link" do %>
                          <i class="fa fa-ship"></i>
                          <%= t(".session.title") %>
                        <% end %>
                      </li>
                      <li class="pure-menu-item">
                        <%= link_to user_notifications_path, class: "pure-menu-link" do %>
                          <i class="fa fa-th"></i>
                          <%= t(".session.notifications") %>
                        <% end %>
                      </li>
                      <li class="pure-menu-item">
                        <%= link_to user_subscriptions_path, class: "pure-menu-link" do %>
                          <i class="fa fa-envelope-o"></i>
                          <%= t(".session.alerts") %>
                        <% end %>
                      </li>
                      <li class="pure-menu-item">
                        <%= link_to user_sessions_path, method: :delete, class: "pure-menu-link" do %>
                          <i class="fa fa-sign-out"></i>
                          <%= t(".session.sign_out") %>
                        <% end %>
                      </li>
                    </ul>
                  </li>
                </ul>
              <% else %>
                <ul class="pure-menu-list left">
                  <li class="pure-menu-item">
                    <%= link_to new_user_sessions_path, class: "pure-menu-link" do %>
                      <i class="fa fa-sign-in"></i>
                      <%= t(".session.sign_in") %>
                    <% end %>
                  </li>
                </ul>
              <% end %>

            </div>

          </div>

          <div class="language_selector">
            <%= render "layouts/locale_selector" %>
          </div>

        </div>
      </div>
      <div class="mobile_only right">
        <%= link_to "#", class: "nav_control" do %>
          <i class="fa fa-bars" aria-label="<%= t('.start') %>"></i>
        <% end %>
      </div>
    </div>
  </div>

  <% if @site.configuration.head_markup.present? %>
    <%= render_liquid @site.configuration.head_markup %>
  <% end %>

  <div class="site_header">
    <div class="column site_header_block">

      <div class="site_header_logo">
        <%= link_to(image_tag(@site.configuration.logo_with_fallback, alt: @site.name), root_url) %>
      </div>

      <div class="site_header_social">

        <span id="subscribable_button">
          <%= yield(:subscribable_button) %>
        </span>

        <div class="search-box">
          <i class="fa fa-search"></i>
          <input id="gobierto_search" name="q" class="search_box_input" type="text" placeholder="<%= t('layouts.application.search') %>" aria-label="<%= t('layouts.application.search') %>">
        </div>

        <div class="social_links_container" data-share>
          <% if show_social_links? %>
            <a class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|Header"><i class="fa fa-twitter"></i></a>
            <a class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|Header"><i class="fa fa-facebook"></i></a>
          <% end %>

          <!-- TODO: lo del position:absolute es una ñapa -->
          <div id="search_results" class="search_result_list" style="position:absolute;"></div>
        </div>
      </div>
    </div>

    <nav class="main-nav" role="navigation" aria-hidden="false">
      <div class="column">
        <% current_site.configuration.modules.each do |site_module| %>
          <%= render_if_exists "#{site_module.underscore}/layouts/navigation.main" %>
        <% end %>
      </div>
    </nav>
    <nav class="sub-nav" role="navigation" aria-hidden="false">
      <div class="column">
        <% current_site.configuration.modules.each do |site_module| %>
          <%= render_if_exists "#{site_module.underscore}/layouts/navigation.sub" %>
        <% end %>
      </div>
    </nav>

  </div>
</header>
