<%= render 'layouts/demo' %>

<% unless full_layout? %>
  <header role="banner" class="meta">

    <div class="slim_nav_bar">
      <div class="column pure-g">
        <div class="desktop_only">

          <div class="pure-u-1-2 pure-u-md-1-2">
            <% if @site.configuration.links_markup.present? %>
              <%== @site.configuration.links_markup %>
            <% end %>
          </div>

          <div class="pure-u-1-2 pure-u-md-1-2 right">
            <%= render "layouts/user_links" %>

            <span id="subscribable_button">
              <%= yield(:subscribable_button) %>
            </span>

            <div class="language_selector">
              <%= render "layouts/locale_selector" %>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="site_header">

      <div class="column site_header_block">

        <div class="site_header_logo">

          <div class="site_header_image">
              <%= link_to(logo_image_tag(@site.configuration.logo_with_fallback, { alt: @site.name }), root_url) %>
          </div>

          <div class="mobile_only right">
            <div class="hamburger_container">
              <%= link_to "#", class: "nav_control" do %>
                <i class="fas fa-bars" aria-label="<%= t('layouts.application.start') %>"></i>
              <% end %>
            </div>
          </div>

        </div>

        <div class="site_header_social">

          <%= render "shared/search_box" %>

          <div class="social_links_container js-mobile-buttons" data-share>
            <% if show_social_links? %>
              <a class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|Header"><i class="fab fa-twitter"></i></a>
              <a class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|Header"><i class="fab fa-facebook"></i></a>
            <% end %>
          </div>

          <div class="mobile_only js-mobile-buttons">
            <div class="scroll-up">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-angle-up fa-stack-1x fa-inverse"></i>
              </span>
            </div>
          </div>

        </div>

      </div>

      <%= render "layouts/navigation" %>

      <div class="mobile_only site_header--mobile">
        <!-- static menu -->
        <%= render "layouts/navigation_mobile" %>

        <!-- hamburger menu -->
        <%= render "layouts/hamburger_mobile" %>
      </div>

    </div>

  </header>
<% end %>
