<div class="user_links">
  <div class="pure-menu pure-menu-horizontal">
    <% if user_signed_in? %>
      <ul class="pure-menu-list left">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="#" class="pure-menu-link">
            <%= t("layouts.application.session.title") %>
          </a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item">
              <%= link_to user_settings_path, class: "pure-menu-link" do %>
                <i class="fas fa-ship"></i>
                <%= t("layouts.application.session.title") %>
              <% end %>
            </li>
            <li class="pure-menu-item">
              <%= link_to user_notifications_path, class: "pure-menu-link" do %>
                <i class="fas fa-th"></i>
                <%= t("layouts.application.session.notifications") %>
              <% end %>
            </li>
            <li class="pure-menu-item">
              <%= link_to user_subscriptions_path, class: "pure-menu-link" do %>
                <i class="fas fa-envelope-o"></i>
                <%= t("layouts.application.session.alerts") %>
              <% end %>
            </li>
            <li class="pure-menu-item">
              <%= link_to user_sessions_path, method: :delete, class: "pure-menu-link" do %>
                <i class="fas fa-sign-out"></i>
                <%= t("layouts.application.session.sign_out") %>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    <% else %>
      <% unless current_site.configuration.registration_disabled? %>
        <ul class="pure-menu-list left">
          <li class="pure-menu-item">
            <%= link_to new_user_sessions_path, class: "pure-menu-link" do %>
              <i class="fas fa-sign-in"></i>
              <%= t("layouts.application.session.sign_in") %>
            <% end %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>

