<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<%= render 'layouts/head' %>

<body class="<%= current_module_body_class %> <%= controller_name %> <%= action_name %> <%= controller_name %>_<%= action_name %>" <%= yield(:body_attributes) %>>
  <%= render 'layouts/demo' %>

  <% unless full_layout? %>
    <%= render 'layouts/header' %>
  <% end %>

  <div class="container">

    <%= render "user/shared/flash_messages" %>
    <%= content_for?(:content) ? yield(:content) : yield %>

  </div>

  <% unless full_layout? %>
    <%= render 'layouts/footer' %>
  <% end %>

  <% if Rails.env.production? %>
    <%= render 'layouts/analytics_footer_site' %>
  <% end %>

  <%= yield :javascript_hook %>

</body>
</html>
