<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<%= render 'layouts/head' %>

<body class="<%= current_module_body_class %> <%= controller_name %> <%= action_name %> <%= controller_name %>_<%= action_name %>" <%= yield(:body_attributes) %>>

  <%= render 'layouts/header' %>

  <div class="container">
    <%= render "user/shared/flash_messages" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>

  <%= render 'layouts/footer' %>

  <%= render 'layouts/analytics_footer_site' %>

  <%= yield :javascript_hook %>

</body>
</html>
