<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= render 'layouts/gobierto_head' %>
  </head>

  <body class="<%= body_css_classes %>" <%= yield(:body_attributes) %>>

    <%= render 'layouts/header' %>

    <div class="container">
      <%= render "user/shared/flash_messages" %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <%= render 'layouts/footer' %>

    <%= render 'layouts/analytics_footer_site' %>

    <%= yield :javascript_hook %>

  </body>
</html>
