<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <%= render partial: "layouts/gobierto_head" %>
  </head>

  <body class="<%= body_css_classes %>" <%= yield :body_attributes %>>

    <%= render partial: 'layouts/header_minimal' %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
