<%= render "admin/shared/validation_errors", resource: @site_form %>

<%= form_for(@site_form, url: @site_form.persisted? ? admin_site_path(@site_form) : :admin_sites) do |f| %>

  <div class="pure-g">

    <div class="pure-u-1 pure-u-md-16-24">

      <div class="form_item input_text">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Transparencia y Participción" %>
      </div>

      <div class="form_item input_text">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Ayuntamiento de Burjassot" %>
      </div>

      <div class="form_item input_text">
        <%= f.label :location_name %>
        <%= f.text_field :location_name, placeholder: "Burjassot" %>
      </div>

      <div class="form_item input_text">
        <%= f.label :domain %>
        <%= f.text_field :domain, placeholder: "gobierto.burjassot.es" %>

        <div class="inline_help">
          Importante: este dominio deberá estar creado previamente para que el site funcione correctamente. Instrucciones: 
          <p>
            <strong>Si es un dominio</strong>:
            Entrada A a <%= @dns_config.a_record_target %>
          </p>
          <p>
            <strong>Si es un subdominio</strong>:
            Entrada CNAME a <%= @dns_config.cname_record_target %>
          </p>
        </div>
      </div>

      <div class="form_block">

        <div class="form_item textarea code">
          <%= f.label :head_markup %>
          <%= f.text_area :head_markup %>
        </div>

        <div class="form_item textarea code">
          <%= f.label :foot_markup %>
          <%= f.text_area :foot_markup %>
        </div>

      </div>

      <div class="form_block">

        <h2>Módulos activados para este sitio</h2>

        <div class="form_item site-module-check-boxes">

          <div class="options compact">
            <%= f.collection_check_boxes(:site_modules, @site_modules, :namespace, :name) do |b| %>
              <div class="option">
                <%= b.check_box %>
                <%= b.label do %>
                  <span></span>
                  <%= b.text %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>

      </div>

    </div>

    <div class="pure-u-1 pure-u-md-2-24"></div>

    <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

      <div class="widget_save">

        <div class="form_item site-visibility-level-radio-buttons">

          <div class="options compact">
            <%= f.collection_radio_buttons(:visibility_level, @site_visibility_levels, :first, :first) do |b| %>
              <div class="option">
                <%= b.radio_button %>
                <%= b.label do %>
                  <span></span>
                  <%= b.text.capitalize %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>

        <%= f.submit "Save", class: "button" %>
      </div>

      <div class="proto_note">
        <p>Opciones:</p>
        <p>- Protegido</p>
        <p>- Público</p>

      </div>

    </div>

  </div>

<% end %>
