<%= render 'gobierto_admin/gobierto_participation/shared/breadcrumb', last_breadcrumb_item: t('gobierto_admin.gobierto_attachments.file_attachments.index.title'), process: current_process %>

<h1><%= current_process.title %></h1>

<%= render 'gobierto_admin/gobierto_participation/shared/navigation' %>

<%= render "gobierto_admin/shared/validation_errors", resource: @contribution_container_form %>

<div class="pure-g m_v_2">
  <div class="pure-u-3-4">
    <strong><%= link_to @contribution_container.title, admin_participation_process_contribution_container_path(@contribution_container.id, process_id: current_process.id) %></strong> » Configuración
  </div>
  <div class="pure-u-1-4 admin_tools right"></div>
</div>

<%= render "form" %>
