<%= render 'gobierto_admin/gobierto_participation/shared/breadcrumb', last_breadcrumb_item: nil, process: current_process %>

<h1><%= current_process.title %></h1>

<%= render 'gobierto_admin/gobierto_participation/shared/navigation' %>

<div class="pure-g">
  <div class="pure-u-3-4">
    <strong><%= t('.title') %></strong>
  </div>
  <div class="pure-u-1-4 admin_tools right">
    <%= link_to t('.new'), new_admin_participation_process_contribution_container_path, class: 'button' %>
  </div>
</div>

<table>
  <tr>
    <th></th>
    <th><%= t('.request_ideas') %></th>
    <th><%= t('.contributions_votes') %></th>
    <th><%= t('.status') %></th>
    <th><%= t('.start') %></th>
    <th><%= t('.end') %></th>
    <th></th>
    <th></th>
  </tr>
  <% @contribution_containers.each do |contribution_container| %>
    <tr id="contribution_container-item-<%= contribution_container.id %>" data-id="<%= contribution_container.id %>">
      <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_admin_participation_process_contribution_container_path(contribution_container.id,process_id: contribution_container.process.id) %></td>
      <td><%= link_to contribution_container.title, admin_participation_process_contribution_container_path(contribution_container.id, process_id: contribution_container.process.id) %></td>
      <td><%= contribution_container.contributions.size %>/ <%= contribution_container.contributions.sum(:votes_count) %></td>
      <td class="visibility_level">
        <% if contribution_container.draft? %>
          <i class="fas fa-lock"></i>
          <%= t(".visibility_level.draft") %>
        <% else %>
          <%= t(".visibility_level.active") %>
        <% end %>
      </td>
      <td><%= l(contribution_container.starts, format: :short) %></td>
      <td><%= l(contribution_container.ends, format: :short) %></td>
      <td>
        <%= link_to admin_participation_process_contribution_container_path(contribution_container.id, process_id: contribution_container.process.id), target: "_blank", class: "view_item" do %>
          <i class="fas fa-eye"></i>
          <%= t(".see_ideas") %>
        <% end %>
      </td>
      <td>
        <%= link_to "<i class='fas fa-trash'></i>".html_safe,
                    admin_participation_process_contribution_container_path(contribution_container, process_id: contribution_container.process.id),
                    title: t("gobierto_admin.shared.archive.element"),
                    method: :delete,
                    data: { confirm: t("gobierto_admin.shared.archive.confirm") } %>
      </td>
    </tr>
  <% end %>
</table>

<% unless @archived_contribution_containers.empty? %>
  <div class="m_v_1 right">
    <%= link_to t("gobierto_admin.shared.archive.elements"), 'javascript:;', data: { toggle: true} %>
  </div>

  <div id="archived-list" style="display:none">
    <table>
      <tr>
        <th></th>
        <th><%= t('.request_ideas') %></th>
        <th><%= t('.contributions_votes') %></th>
        <th><%= t('.status') %></th>
        <th><%= t('.start') %></th>
        <th><%= t('.end') %></th>
        <th></th>
      </tr>
      <% @archived_contribution_containers.each do |contribution_container| %>
        <tr id="contribution_container-item-<%= contribution_container.id %>" data-id="<%= contribution_container.id %>">
          <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_admin_participation_process_contribution_container_path(contribution_container.id,process_id: contribution_container.process.id) %></td>
          <td><%= contribution_container.title %></td>
          <td><%= contribution_container.contributions.size %>/ <%= contribution_container.contributions.sum(:votes_count) %></td>
          <td class="visibility_level">
            <%= t(".visibility_level.archived") %>
          </td>
          <td><%= l(contribution_container.starts, format: :short) %></td>
          <td><%= l(contribution_container.ends, format: :short) %></td>
          <td>
            <%= link_to t("gobierto_admin.shared.recover.element"),
                        admin_participation_process_contribution_container_recover_path(contribution_container, process_id: contribution_container.process.id),
                        title: t("gobierto_admin.shared.recover.element"),
                        method: :put,
                        data: { confirm: t("gobierto_admin.shared.recover.confirm") } %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<%= javascript_tag do %>
  $('a[data-toggle]').on('click', function(e){
     $("div#archived-list").toggle();
  });
<% end %>
