<%= render 'gobierto_admin/gobierto_participation/shared/breadcrumb', last_breadcrumb_item: t('gobierto_admin.gobierto_participation.processes.process_contribution_containers.index.title'), process: current_process %>

<h1><%= current_process.title %></h1>

<%= render 'gobierto_admin/gobierto_participation/shared/navigation' %>

<div class="admin_tools right">
  <%= link_to t('.new'), new_admin_participation_process_contribution_container_path, class: 'button' %>
</div>

<table>
  <tr>
    <th></th>
    <th><%= t('.request_ideas') %></th>
    <th><%= t('.contributions_votes') %></th>
    <th><%= t('.status') %></th>
    <th><%= t('.start') %></th>
    <th><%= t('.end') %></th>
    <th></th>
  </tr>
  <% @contribution_containers.each do |contribution_container| %>
    <tr>
      <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_admin_participation_process_contribution_container_path(contribution_container.id,process_id: contribution_container.process.id) %></td>
      <td><%= link_to contribution_container.title, admin_participation_process_contribution_container_path(contribution_container.id, process_id: contribution_container.process.id) %></td>
      <td><%= contribution_container.contributions.size %>/ <%= contribution_container.contributions.sum(:votes_count) %></td>
      <td class="visibility_level">
        <% if contribution_container.draft? %>
          <i class="fa fa-lock"></i>
          <%= t(".visibility_level.draft") %>
        <% else %>
          <%= t(".visibility_level.active") %>
        <% end %>
      </td>
      <td><%= l(contribution_container.starts, format: :short) %></td>
      <td><%= l(contribution_container.ends, format: :short) %></td>
      <td>
        <%= link_to admin_participation_process_contribution_container_path(contribution_container.id, process_id: contribution_container.process.id), target: "_blank", class: "view_item" do %>
          <i class="fa fa-eye"></i>
          <%= t(".see_ideas") %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
