<%= render 'gobierto_admin/gobierto_participation/shared/breadcrumb', last_breadcrumb_item: t('gobierto_admin.gobierto_attachments.file_attachments.index.title'), process: current_process %>

<h1><%= @process.title %></h1>

<%= render 'gobierto_admin/gobierto_participation/shared/navigation' %>

<div class="pure-g">
  <div class="pure-u-3-4">
    <strong><%= @contribution_container.title  %></strong> » Aportaciones
  </div>
  <div class="pure-u-1-4 admin_tools right">
    <%= link_to 'Configuración', edit_admin_participation_process_contribution_container_path(@contribution_container.id, process_id: @contribution_container.process.id) %>
    <%= link_to 'Nueva', new_admin_participation_process_contribution_container_path, class: 'button' %>
  </div>
</div>


<table>
<tr>
  <!-- <th></th> -->
  <th>Aportación</th>
  <th>Participantes</th>
  <th>Valoraciones</th>
  <th>Comentarios</th>
  <th>Marcada</th>
  <th>Estado</th>
  <th></th>
</tr>

<% for i in ['Guiñol', 'Circuito de bicicletas', 'Gymkana', 'Olimpiada matemática', 'Pintacaras', 'Rol', 'Juegos de mesa'] %>
<tr>
  <!-- <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, '' %></td> -->
  <td><%= i %></td>
  <td>123</td>
  <td>12</td>
  <td>456</td>
  <td>-</td>
  <td><%= cycle 'Publicada', 'Moderada' %></td>
  <td><%= link_to '<i class="fa fa-eye"></i> Ver aportación'.html_safe, '#public_view', class: 'view_item' %></td>
</tr>
<% end %>

</table>
