<%= render 'gobierto_admin/gobierto_participation/shared/breadcrumb',
    last_breadcrumb_item: link_to(t('gobierto_admin.gobierto_participation.processes.process_contribution_containers.index.title'),
                                  admin_participation_process_contribution_containers_path(current_process)),
    process: current_process %>

<h1><%= @process.title %></h1>

<%= render 'gobierto_admin/gobierto_participation/shared/navigation' %>

<div class="pure-g">
  <div class="pure-u-3-4">
    <strong>
      <%= link_to(t('gobierto_admin.gobierto_participation.processes.process_contribution_containers.index.title'),
                  admin_participation_process_contribution_containers_path(current_process)) %>
    </strong>
    » <%= @contribution_container.title  %>
  </div>
  <div class="pure-u-1-4 admin_tools right">
    <%= link_to edit_admin_participation_process_contribution_container_path(@contribution_container.id, process_id: @contribution_container.process.id) do %>
      <i class="fas fa-cog"></i>
      <%= t('.config') %>
    <% end %>
    <%= link_to gobierto_participation_process_contribution_container_url(@contribution_container.slug, process_id: @process.slug, host: current_site.domain), target: '_blank' do %>
      <i class="fas fa-eye"></i>
      <%= t('.see_container') %>
    <% end %>
  </div>
</div>

<table>
  <tr>
    <!-- TODO: Edit <th></th> -->
    <th><%= t('.contribution') %></th>
    <th><%= t('.participants') %></th>
    <% @votes_headers.each do |weight, values| %>
      <th title="<%= t(values[:label]) %>"><%= values[:short_form] %></th>
    <% end %>
    <th><%= t('.comments') %></th>
    <th><%= t('.marked') %></th>
    <% if false #TODO: Publicada/Moderada %>
      <th><%= t('.status') %></th>
    <% end %>
    <th></th>
  </tr>

  <% @contribution_container.contributions.each do |contribution| %>
    <% contribution = GobiertoParticipation::ContributionDecorator.new(contribution) %>
    <tr>
      <!-- TODO: Edit <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, '' %></td> -->
      <td><%= contribution.title %></td>
      <td><%= contribution.participants_count %></td>
      <% @votes_headers.each do |weight, values| %>
        <td><%= contribution.votes_distribution[weight] %></td>
      <% end %>
      <td><%= contribution.comments_count %></td>
      <td><!-- TODO: Marcada --></td>
      <% if false #TODO: Publicada/Moderada %>
        <td>
          <% if true %>
            <i class="fas fa-lock"></i>
            <%= t(".status_level.published") %>
          <% else %>
            <%= t(".status_level.moderate") %>
          <% end %>
        </td>
      <% end %>
      <td>
        <%= link_to gobierto_participation_process_contribution_container_url(@contribution_container.slug, process_id: @process.slug, host: current_site.domain, anchor: contribution.slug), target: "_blank", class: "view_item" do %>
          <i class="fas fa-eye"></i>
          <%= t(".see_contribution") %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
