<% input_base_name = "#{ form_name }[custom_records]" %>
<% disabled = local_assigns[:disabled] || false %>

<% if item.has_localized_records? %>
  <div class="globalized_fields">
    <%= render "gobierto_admin/shared/form_locale_switchers" %>

    <% item.localized_custom_field_records.select().each do |record| %>
      <% current_site.configuration.available_locales.each do |locale| %>
        <%= render(
          partial: "gobierto_admin/gobierto_common/custom_fields/forms/#{ record.partial }",
          locals: {
            locale: locale,
            record: record,
            input_base_name: input_base_name,
            disabled:
          }
        ) %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% item.not_localized_custom_field_records.each do |record| %>
  <%= render(
    partial: "gobierto_admin/gobierto_common/custom_fields/forms/#{ record.partial }",
    locals: {
      f: f,
      record: record,
      input_base_name: input_base_name,
      multiple: record.custom_field.configuration.multiple && record.value.is_a?(Array),
      disabled:
    }
  ) %>
<% end %>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.gobierto_common_custom_field_records_controller = new GobiertoAdmin.GobiertoCommonCustomFieldRecordsController;
    window.GobiertoAdmin.gobierto_common_custom_field_records_controller.handleForm({
    image_fields: <%== item.image_fields_options.to_json %>
    });
  <% end %>
<% end %>
