<% multiple ||= false %>

<div class="<%= record.class_names %>">

  <%= label_tag "#{ input_base_name }[#{ record.uid }][value]" do %>
    <%= record.name %>
    <%= attribute_indication_tag required: record.required? %>
  <% end %>

  <div id="<%= "crop-popup_#{ record.uid }" %>" class="modal mfp-hide">
    <div style="margin-right: 1em">
      <img id="<%= "image_#{ record.uid }" %>" width="100%" src="">
    </div>

    <div class="actions m_v_1 right">
      <button type="button" id="<%= "btnCrop_#{ record.uid }" %>"><%= t("gobierto_admin.gobierto_common.custom_fields.custom_fields.form.crop") %></button>
    </div>
  </div>

  <% if multiple %>
    <% (record.input_content || []).each_with_index do |content, index| %>
      <%= render(
            partial: "gobierto_admin/gobierto_common/custom_fields/forms/gallery_image",
            locals: {
              record: record,
              content: content,
              index: index,
              input_base_name: input_base_name,
              disabled:,
              f: f
            }
          ) %>
    <% end %>
  <% else %>
    <% if record.input_content.present? %>
      <%= image_tag record.input_content, height: 150, id: "saved_image_#{ record.uid }" %>
    <% end %>
  <% end %>

  <% unless disabled %>
    <% if multiple %>
      <%= render(
        partial: "gobierto_admin/gobierto_common/custom_fields/forms/new_gallery_image",
        locals: {
          record: record,
          input_base_name: input_base_name,
          f: f
        }
      ) %>
    <% else %>
      <%= f.file_field "[custom_records][#{record.uid}][value]", id: record.uid %>
      <%= hidden_field_tag "#{ input_base_name }[#{ record.uid }][custom_field_id]", record.custom_field_id %>
    <% end %>
  <% end %>
</div>
