<div class="<%= record.class_names %>" data-locale="<%= locale %>">
  <%= label_tag "#{ input_base_name }[#{ record.uid }][value][#{ locale }]" do %>
    <%= record.name %>
    <%= attribute_indication_tag required: record.required? %>
  <% end %>
  <%= hidden_field_tag "#{ input_base_name }[#{ record.uid }][custom_field_id]", record.custom_field_id %>
  <%= send(record.field_tag, "#{ input_base_name }[#{ record.uid }][value][#{ locale }]", record.input_content[locale], record.tag_attributes.merge(lang: locale, disabled:)) %>
</div>
