<% record_configuration = record.custom_field.configuration %>
<% disabled = local_assigns[:disabled] || false %>

<div class="<%= record.class_names %> <%= record_configuration ? record_configuration["plugin_type"] : nil %>"
     id="<%= "custom_field_#{ record.uid }" %>"
     data-uid="<%= record.uid %>"
     data-vocabulary-id="<%= record.custom_field.vocabulary_id %>"
     data-organization-id="<%= current_site.organization_id %>"
     data-configuration="<%= record.custom_field.configuration.plugin_configuration.to_json %>"
     data-disabled="<%= disabled %>">
  <%= label_tag :custom_field_id, record.custom_field.name %>
  <%= hidden_field_tag "#{ input_base_name }[#{ record.uid }][custom_field_id]", record.custom_field_id %>

  <div class="custom_field_value">
    <%= send(record.field_tag, "#{ input_base_name }[#{ record.uid }][value]", record.payload.to_json, record.tag_attributes) %>

    <div class="data-container"></div>

    <% if @dashboards_list_path.present? && record.dashboards? %>
    <a class="open_remote_modal"
        href="<%= @dashboards_list_path %>"
        add-dashboard-btn
        data-indicator-context="<%= record.item.to_global_id.to_s %>"
      >
        <i class="fas fa-plus-circle"></i>
        <span><%= t("gobierto_admin.gobierto_plans.projects.form.button.add_dashboard") %></span>
      </a>
    <% end %>
  </div>
</div>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    <%== "window.GobiertoAdmin.gobierto_common_custom_field_records_#{record.custom_field.configuration["plugin_type"]}_plugin_controller.form({ uid: '#{record.uid}' })" %>
  <% end %>
<% end %>
